  <div class="dialog" id="disable_mask"></div>
  <div class="dialog darkgrey_box" id="add_service">
    <div class="box box-shadow">
      <h2 class="box-header">Add a Source Service</h2>

      <% Service.available.each do |service| %>
        <% object_id = "new_service_#{service[:name]}" %>
        <div class="show_left" id="<%= object_id %>" onclick="window.location = '<%= url_for :action => :add_or_move_service, :id => object_id, :position => -1, :package => @package, :project => @project %>'" >
          <a name="<%= service[:name] %>"><%= service[:summary] %></a>
          <div style="color: #999; font-size: 8pt"><%= service[:name] %></div>
        </div>
      <% end %>
      <div class="buttons">
        <%= link_to_function 'Cancel', 'remove_dialog()'%>
      </div>
    </div>
  </div>
