<div id="package_buildstatus">
  <% if not @project.has_element?(:repository) %>
    <p><i>The project this package belongs to currently has no <%= link_to "build targets", :controller => :project, :action => 'add_repository_from_default_list', :project => @project %> defined. </i></p>
  <% elsif @buildresult.blank? %>
    <p><i>No build result available</i></p>
  <% else %>

    <table class="repostatus">
      <% @buildresult.each do |r,archs|
        index = 0
        archs.each do |a|
          -%>
          <tr>
            <% if index == 0 %>
              <td class="nowrap" title="<%= h r %>" rowspan="<%= archs.length %>">
                <%= link_to(elide(r, 26), {:action => :binaries, :controller => :package, :project => @project, :package => @package, :repository => r}, {:title => "Binaries for #{r}"}) %>
              </td>
              <% index += 1 -%>
            <% end # if -%>
            <td class="arch">
              <div class="nowrap" style="margin: 0 0.5ex">
                <%= repo_status_icon @repostatushash[r][a] %> <%= h(a) %>
              </div>
            </td>
            <%= arch_repo_table_cell r, a, @package.name %>
          </tr>
        <% end # all archs -%>
      <% end # all builds -%>
    </table>

  <% end # if -%>
</div>
