<% unless @files.empty? %>
  <table id="files_table">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Changed</th>
        <th style="width: 1%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @files.each do |file| %>
         <tr id="file-<%= valid_xml_id(file[:name]) %>"><td>
            <%= link_to_if(file[:viewable], nbsp(file[:name]), :action => :view_file, :project => @project, :package => @package, :file => file[:name], :rev => file[:srcmd5], :expand => @expand ) %>
            <% if @link && @link.has_add_patch?( file[:name] ) %>
              (Added Patch)
            <% elsif @link && @link.has_patch?( file[:name] ) %>
              (Global Patch)
            <% end %>
          </td>
          <td><span class="hidden"><%= file[:size].rjust(10, '0') %></span><%= human_readable_fsize(file[:size]) %></td>
          <td><span class="hidden"><%= file[:mtime] %></span><%= fuzzy_time_string(Time.at(file[:mtime].to_i).to_s) %></td>
          <!-- limit download for anonymous user to avoid getting killed by crawlers -->
          <td><%= if @user or file[:size].to_i < ( 4 * 1024 * 1024 )
                    link_to image_tag('page_white_get.png', :alt => "Download", :title => "Download File"), file_url( @project, @package, file[:name], file[:srcmd5] )
                  end %>
            <% unless file[:name].match(/^_service:/) %>
              <% if @package.can_edit?( session[:login] ) %>
                <%= link_to image_tag('page_white_delete.png', :alt => "Remove", :title => "Remove File"), {:action => :remove_file, :project => @project,
                  :package => @package, :filename => file[:name]},
                  {:confirm => "Really remove file '#{file[:name]}'?", :method => :post }%>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#files_table').dataTable({
        'aoColumns': [null, null, null, {'bSortable': false}],
      });
    });
  <% end %>
<% else %>
  <p><i>This package has no files yet</i></p>
<% end %>

<% if @package.can_edit?( session[:login] ) %>
  <p>
    <%= link_to image_tag('page_white_add.png', :alt => "Add", :title => "Add file"),
      :action => :add_file, :project => @project, :package => @package %>
    <%= link_to 'Add file', :action => :add_file, :project => @project, :package => @package %>
  </p>
<% end %>

<% unless @files.empty? or @spider_bot %>
  <% if @revision && !(@revision == @current_rev)%>
    <h3>Revision <%= @revision %> (latest revision is <%=  @current_rev %>)</h3>
  <% else %>
    <h3>Latest Revision</h3>
  <% end %>
  <div style="margin-left: 1.2em">
    <%= render :partial => 'commit_item', :locals => {:rev => @revision } %>
  </div>
<% end %>
