<% # locals:
#   file_list: list of source files in package
-%>

<div id="files_view">

  <% unless @files.empty? %>
    <table cellspacing='1' id="file_table" class="tablesorter">
      
      <!-- table header -->
      <thead>
        <tr>
          <th class="header">Filename</th>
          <th class="header">Size</th>
          <th class="header">Changed</th>
          <th>Actions</th>
        </tr>
      </thead>

      <!-- files -->
      <tbody>
        <% @files.each do |file| %>
          <tr><td>
              <% if file[:viewable] %>
                <% if @current_revision %>
                  <%= link_to(h(file[:name]), :action => :view_file, :project => @project, :package => @package, :file => file[:name], :expand => @expand ) %>
                <% else %>
                  <%= link_to(h(file[:name]), :action => :view_file, :project => @project, :package => @package, :file => file[:name], :srcmd5 => file[:srcmd5], :expand => @expand ) %>
                <% end %>
              <% else %>
                <%= h file[:name] %>
              <% end %>
              <% if @link && @link.has_add_patch?( file[:name] ) %>
                (Added Patch)
              <% elsif @link && @link.has_patch?( file[:name] ) %>
                (Global Patch)
              <% end %>
            </td>
            <td><!-- <%= file[:size].rjust(10, '0') %> --><%=h human_readable_fsize( file[:size] )%></td>
            <td><!-- <%= file[:mtime] %> --><%= fuzzy_time_string( Time.at(file[:mtime].to_i).to_s ) %></td>
            <td><%= link_to image_tag('icons/page_white_get.png', :alt => "Download", :title => "Download File"), file_url( @project, @package, file[:name], file[:srcmd5] ) %>
              <% unless file[:name].match(/^_service:/) %>
                <% if @package.can_edit?( session[:login] ) %>
                  <%= link_to image_tag('icons/page_white_delete.png', :alt => "Remove", :title => "Remove File"), {:action => :remove_file, :project => @project,
                    :package => @package, :filename => file[:name]},
                    {:confirm => "Really remove file '#{file[:name]}'?", :method => :post }%>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

<% if @package.can_edit?( session[:login] ) %>
  <p><%= link_to image_tag('icons/page_white_add.png', :alt => "Add", :title => "Add File"),
     :action => :add_file, :project => @project, :package => @package %>
    <%= link_to 'Add File', :action => :add_file, :project => @project, :package => @package %>
  </p>
<% end %>
 
<% unless @current_revision %>
 <h3>Revision <%= @revision %></h3>
<% else %>
 <h3>Current Revision</h3>
<% end %>
    <div style="margin-left: 1em">
      <%= render :partial => 'commit_item', :locals => {:rev => @revision } %>
    </div>

<!-- Simplified for now.
    <p>
    Source MD5: <%= text_field_tag :srcmd5, @files[0][:srcmd5], { :size => 33, :disabled => true } %> 
    </p>
-->
  <% else %>
    <p><i>This package has no files yet</i></p>
  <% end %>

</div>

