<% unless @files.blank? %>
  <table id="files_table">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Changed</th>
        <th style="width: 1%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @files.each do |file| %>
         <tr id="file-<%= valid_xml_id(file[:name]) %>"><td>
	     <% link_opts = { action: :view_file, project: @project, package: @package, file: file[:name], expand: @expand }
	     unless @is_current_rev
	       link_opts[:rev] = file[:srcmd5]
	     end %>
            <%= link_to_if(file[:viewable], nbsp(file[:name]), link_opts ) %>
            <% if @link && @link.has_add_patch?( file[:name] ) %>
              (Added Patch)
            <% elsif @link && @link.has_patch?( file[:name] ) %>
              (Global Patch)
            <% end %>
          </td>
          <td><span class="hidden"><%= file[:size].rjust(10, '0') %></span><%= human_readable_fsize(file[:size]) %></td>
          <td><span class="hidden"><%= file[:mtime] %></span><%= fuzzy_time_string(Time.at(file[:mtime].to_i).to_s) %></td>
          <!-- limit download for anonymous user to avoid getting killed by crawlers -->
          <td><%= if @user or file[:size].to_i < ( 4 * 1024 * 1024 )
                    link_to image_tag('page_white_get.png', :alt => "Download", :title => "Download File"), 
                            :controller => :package, :action => :rawsourcefile, :package => @package,
                           :project => @project, :file => file[:name], :srcmd5 => file[:srcmd5]
                  end %>
            <% unless file[:name].match(/^_service:/) %>
              <% if @package.can_edit?( @user ) %>
                <%= link_to image_tag('page_white_delete.png', :alt => "Remove", :title => "Remove File"), {:action => :remove_file, :project => @project,
                  :package => @package, :filename => file[:name]},
                  {:confirm => "Really remove file '#{file[:name]}'?", :method => :post }%>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% content_for :ready_function do %>
      $('#files_table').dataTable({
        'aoColumns': [null, null, null, {'bSortable': false}],
      });
  <% end %>
<% else %>
  <p><i>This package has no files yet</i></p>
<% end %>

<% if @package.can_edit?( @user ) %>
  <p>
    <%= link_to sprite_tag('page_white_add'),
      :action => :add_file, :project => @project, :package => @package %>
    <%= link_to 'Add file', :action => :add_file, :project => @project, :package => @package %>
  </p>
<% end %>

<% unless @files.blank? or @spider_bot %>
  <%= render :partial => 'links' if (@linkinfo && !@linkinfo.has_attribute?('error')) %>
  <% if @is_current_rev %>
    <h3>Revision <%= @revision %> (latest revision is <%=  @current_rev %>)</h3>
  <% else %>
    <h3>Latest Revision</h3>
  <% end %>
  <div style="margin-left: 1.2em">
    <%= render :partial => 'commit_item', :locals => {:rev => @revision } %>
  </div>
<% end %>
