
<!-- Links -->
<div id="package_link">
  <% if @package.linkinfo %>
    <h3>Link</h3>
    <p>
      <% if @package.linkinfo.value :error %>
        The link contains errors: <i><%= @package.linkinfo.error %></i>
      <% else -%>
        <%- linked_project = @package.linkinfo.project -%>
        <%- linked_package = @package.linkinfo.package -%>

        This package links to the sources of the package
        <% if Project.is_remote? linked_project %>
          <%= linked_package %>
          of project <%= linked_project %>.
        <% else %>
          <%= link_to linked_package, :action => :files, :project => linked_project, :package => linked_package %>
          of project <%= link_to_project linked_project %>.
        <% end %>
        Show <%= link_to 'diff', :action => :rdiff, :oproject => linked_project,
          :opackage => linked_package, :project => @project, :package => @package %>
        <% if @project.is_maintainer?( session[:login] ) || @package.is_maintainer?( session[:login] ) %>
          or <%=link_to_remote 'submit', :url => { :action => :create_submit_request_dialog, :project => @project, :package => @package} %> these changes back.
        <% end %>
      <% end %>
    </p>
  <% end %>
</div>

