
<!-- Links -->
<div id="package_link">
    <h3>Link</h3>
    <p>
      <%- linked_project = @package.linkinfo.project -%>
      <%- linked_package = @package.linkinfo.package -%>

      This package links to the sources of the package
      <% if Project.is_remote? linked_project %>
        <%= linked_package %>
        of project <%= linked_project %>.
      <% else %>
        <%= link_to linked_package, :action => :files, :project => linked_project, :package => linked_package %>
        of project <%= link_to linked_project, :controller => 'project', :action => 'show', :project => linked_project %>.
      <% end %>

      <% if @package.linkinfo.value :error %>
        </p><p>The link contains errors: <i><%= @package.linkinfo.error %>.</i>
        <% if @package.can_edit?( session[:login] ) -%>
           The webui has no support to resolve conflicts yet. Please use <i>osc checkout</i> and <i>osc pull</i> 
           commands on command line to fix this conflict.</p><p>
        <% end -%>
      <% else %>
        <% text_label="diff"
           if @package.can_edit?( session[:login] )
              text_label="diff and submit these changes back"
           end %>
        Show the <%= link_to text_label, :action => :rdiff, :oproject => linked_project,
          :opackage => linked_package, :project => @project, :package => @package, :rev => @revision %>.
      <% end%>
    </p>
</div>

