<div id="services_container">
  <ul id="services" data-package="<%= @package.name %>" data-project="<%= @project.name %>" 
      data-url="<%= url_for(action: :reorder_services) %>" >
    
    <% @services.each_with_index do |service, number| %>
    <% object_id = "service_#{number}" %>
    <li class="service" id="<%= object_id %>">
      <%= sprite_tag('cog') %> 
      <b><%= Service.summary(service.name) %></b>
      <div class="actions">
	<%= link_text = "Show Parameters"
            link_text = sprite_tag('cog_edit') + " Edit Parameters" if @package.can_edit?( @user )
            link_to(link_text, {:action => :service_parameter, :project => @project, 
        :package => @package, :servicename => service.name, 
        :serviceid => number}, :remote => true) %>
	<% if @package.can_edit?( @user ) %>
	| <%= sprite_tag('cog_delete') %>
	<%= link_to( "Remove this service", {:action => :remove_service, :project => @project, :package => @package, :id => number}, :confirm => "Remove this service (#{service.name}) ?") %>
	<% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
