
<!-- Service elements -->
<% if @services || @package.can_edit?( session[:login] )%>
  <h3>Source Services</h3>

  <% unless @services.blank? %>
    <p><i>Services are applied in the displayed order. You can use drag&amp;drop to re-order them.</i></p>

    <%= render partial: "service_list" %>
    <% content_for :ready_function do %>
       makeServicesDragable(); 
    <% end %>
  <% end %>

  <!-- source is currently broken due to an error -->
  <% if @serviceerror %>
    <div id="error" class="error">
      <br/><h4>
        Source processing is currently broken:
      </h4>
      <pre id="code" class="text">
        <%= @serviceerror %>
      </pre>
    </div>
  <% end %>
<% end %>

<% if @package.can_edit?( session[:login] ) %>
  <p>
    <%= link_to(sprite_tag('cog_add'), {:action => :add_service, :project => @project, :package => @package}, :remote => true) %>
    <%= link_to('Add service for source processing', {:action => :add_service, :project => @project, :package => @package}, :remote => true) %>

    <%= link_to sprite_tag('cog_go'), {:action => :execute_services, :project => @project, :package => @package },
      {:confirm => "Execute all services now?", :method => :post } unless @services.blank? %>
    <%= link_to 'Run services now', {:action => :execute_services, :project => @project, :package => @package },
      {:confirm => "Execute all services now?", :method => :post } unless @services.blank? %>
  </p>
<% end %>
