
<% # rev
   # servicename : Service name
   # parameter   : Parameter name
   # number      : List counter 
   # value       : Default value
   # setid       : Default value
%>

<% setid = "parameter_"+number.to_s+"_"+parameter unless setid %>

<% if @values and @values.length > 0 %>
  <select name="<%=setid%>" id="<%=setid%>" >
  <% @values.each do |v| %>
    <% if v == value %>
       <option value="<%=v%>" selected><%=v%></option>
    <% else %>
       <option value="<%=v%>"><%=v%></option>
    <% end %>
  <% end %>
  </select>
<% else %>
  <input type="text" id="<%=setid%>" name="<%=setid%>" value="<%=value%>" />
<% end %>

