<% content_for :ready_function do %>
  $("#advanced_tabs_trigger").click(function() {
    $("#advanced_tabs").show();
    $("#advanced_tabs_trigger").remove();
  });
<% end %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "package", :media => "all" %>
<% end %>

<div class="box-header header-tabs">
  <ul id="package_tabs">
    <%= tab 'Overview', :controller => 'package', :action => 'show' %>
    <%= tab 'Sources', :controller => 'package', :action => 'files' %>
    <%= tab 'Repositories', :controller => 'package', :action => 'repositories' %>
    <%= tab 'Revisions', :controller => 'package', :action => 'revisions' %>
    <%= tab "Requests", :controller => 'package', :action => 'list_requests' %>
    <%= tab 'Users', :controller => 'package', :action => 'users' %>

    <% if @controller.is_advanced_tab? %>
      <% content_for :ready_function do %>
        $("#advanced_tabs").show();
      <% end %>
    <% else %>
      <li><a href="#" id="advanced_tabs_trigger">Advanced</a></li>
    <% end %>
  </ul>
  <div id="advanced_tabs">
    <ul>
      <%= tab 'Attributes', :controller => 'package', :action => 'attributes' %>
      <%= tab 'Raw Config', :controller => 'package', :action => 'meta' %>
    </ul>
  </div>
</div>
