<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "package", :media => "all" %>
<% end %>

<div class="box-header grid_16 alpha omega">
  <ul id="package_tabs">
    <%= package_tab 'Files', :action => :files %>
    <%= package_tab 'Repositories', :action => :repositories %>
    <%= package_tab 'Attributes', :action => :attributes %>
    <%= package_tab 'Users', :action => :users %>
  </ul>

</div>
<div class="clear"></div>
