<% content_for :ready_function do %>
  $("#advanced_tabs_trigger").click(function() {
    $("#advanced_tabs").show();
    $("#advanced_tabs_trigger").remove();
  });
<% end %>

<div class="box-header header-tabs">
  <ul id="package_tabs">
    <% if @package.name == "patchinfo" %>
      <%= tab 'Details', :controller => 'patchinfo', :action => 'show' %>
    <% end %>
    <%= tab 'Overview', :controller => 'package', :action => 'show' %>
    <%= tab 'Sources', :controller => 'package', :action => 'files' %>
    <% unless @spider_bot -%>
      <%= tab 'Repositories', :controller => 'package', :action => 'repositories' %>
      <%= tab 'Revisions', :controller => 'package', :action => 'revisions' %>
      <%= tab "Requests", :controller => 'package', :action => 'requests' %>
      <%= tab 'Users', :controller => 'package', :action => 'users' %>
    <% end -%>
    <% if @controller.is_advanced_tab? %>
      <% content_for :ready_function do %>
        $("#advanced_tabs").show();
      <% end %>
    <% else %>
      <li><a href="#" id="advanced_tabs_trigger">Advanced</a></li>
    <% end %>
  </ul>
  <% unless @spider_bot -%>
    <div id="advanced_tabs" class="hidden">
      <ul>
        <%= tab 'Attributes', :controller => 'package', :action => 'attributes' %>
        <%= tab 'Meta', :controller => 'package', :action => 'meta' %>
      </ul>
    </div>
  <% end -%>
</div>
