<% @pagetitle = "Attributes for Package #{@project} / #{@package}" %>
<%
@crumb_list = [
  link_to( 'Projects', :action => :list_public),
  link_to( @project, :action => :show, :project => @project),
  'Attributes'
]
-%>

<%= render :partial => "tabs" %>

<% if @project.has_element? :remoteurl -%>
<h3>Remote OBS Instance:</h3>
<%= @project.remoteurl %><p>
<% end -%>

<%= render :partial => 'url' %>

<h3>Attributes for Project <%= @project %>: </h3>

<!-- Attributes -->
<%= render :partial => "attribute/attributes.rhtml" %>
