<% @pagetitle = "Attributes for Package #{@project} / #{@package}" %>
<% package_bread_crumb 'Attributes' -%>

<%= render :partial => "tabs" %>

<% if @project.has_element? :remoteurl -%>
<h3>Remote OBS Instance:</h3>
<p><%= @project.remoteurl %></p>
<% end -%>

<%= render :partial => 'url' %>

<h3>Attributes for Package <%= "#{@project} / #{@package}" %></h3>

<!-- Attributes -->
<%= render :partial => "attribute/attributes.rhtml" %>
