
<% @pagetitle = "Files of Package #{@package} (Project #{@project})" %>
<%
@crumb_list = [
  link_to( 'Projects', :controller => 'project', :action => :list_public),
  link_to( @project, :controller => 'project', :action => :show, :project => @project ),
  link_to( @package, :controller => 'package', :action => :show, :project => @project, :package => @package ),
  "Packages for Repository '#{@repository}'"
]
-%>

<%= render :partial => "tabs" %>

<% @buildresult.data.find( 'result').each do |result| %>

  <h3><%= repo_status_icon result.find('status').first.attributes['code'] %> Architecture: <%= result.attributes['arch'] %></h3>

  <%= link_to image_tag( 'icons/drive_go.png' ), repo_url( @project, @repository ) %>
  <%= image_tag 'icons/drive_burn.png' %>

  <ul>
    <% result.find( 'binarylist/binary' ).each do |binary| %>

      <% if binary.attributes['filename'] == 'rpmlint.log' %>
        <li><%= binary.attributes['filename'] %></li>
      <% else %>
        <li><%= link_to binary.attributes['filename'], :action => 'binary', :project => @project, :package => @package,
            :repository => @repository, :arch => result.attributes['arch'], :filename => binary.attributes['filename'] %></li>
      <% end %>

    <% end %>
  </ul>

<% end %>