
<% @pagetitle = "Files of Package #{@package} (Project #{@project})" %>
<%
@crumb_list = [
  link_to( 'Projects', :controller => 'project', :action => :list_public),
  link_to( @project, :controller => 'project', :action => :show, :project => @project ),
  link_to( @package, :controller => 'package', :action => :show, :project => @project, :package => @package ),
  'Built Packages'
]
-%>

<%= render :partial => "tabs" %>



<% @buildresult.data.find( 'result' ).each do |result| %>

  <h3>Architecture: <%= result.attributes['arch'] %>,
  State: <%= result.attributes['state'] %></h3>

  <ul>
  <% result.find( 'binarylist/binary' ).each do |binary| %>

    <li><%= link_to binary.attributes['filename'], rpm_url( @project, @package, @repository, result.attributes['arch'], binary.attributes['filename'] ) %>
    <% if result.attributes['state'] == 'published' %>
    (<%= link_to( 'mirror', repo_url( @project, @repository ) + "/#{result.attributes['arch']}/#{binary.attributes['filename']}" ) %>)
    <% end %>
    </li>

  <% end %>
  </ul>

<% end %>