<% @pagetitle = "Detailed Informations About #{@filename}" %>
<%
@crumb_list = [
  link_to( 'Projects', :controller => 'project', :action => :list_public),
  link_to( truncate(@project.name, :length => 20), :controller => 'project', :action => :show, :project => @project ),
  link_to( truncate(@package.name, :length => 20), :controller => 'package', :action => :show, :project => @project, :package => @package ),
  link_to( "Binaries", :controller => 'package', :action => :binaries, :project => @project, :package => @package, :repository => @repository, :arch => @arch ),
  link_to( truncate(@filename, :length => 30), :controller => 'package', :action => :binaries, :project => @project, 
           :package => @package, :repository => @repository, :arch => @arch ),
  "Dependencies"
]
-%>

<%= render :partial => "tabs" %>

<h1>Dependency of <%= @filename %></h1>

<div>
<p><strong>Name:</strong> <%= @fileinfo.name %></p>
<p><strong>Project:</strong> <%= @dproject %></p>
<p><strong>Repository:</strong> <%= @drepository %></p>
<p><strong>Title:</strong> <%= @fileinfo.summary %></p>
<p><strong>Description:</strong><br/>
        <% description = @fileinfo.description.text %>
        <% if description %>
          <% description.split( /\n/ ).each do |line| %>
            <%= h line -%><br/>
          <% end %>
        <% else %>
          <i>No description set</i>
        <% end %>
      </p>
<p><strong>Version:</strong> <%= @fileinfo.version %></p>
<p><strong>Release:</strong> <%= @fileinfo.release %></p>
<p><strong>Architecture:</strong> <%= @fileinfo.arch %></p>
<p><strong>Size:</strong> <%= human_readable_fsize(@fileinfo.size.to_s.to_i) %></p>
<p><strong>Build Time:</strong> <%= btime = Time.at(@fileinfo.mtime.to_s.to_i)
   btime.to_s + " (" + fuzzy_time_string(btime.ctime) + ")" %></p>

</div>

<%= render :partial => "deps" %>

