<% @pagetitle = "Edit File #{@filename}" %>

<% package_bread_crumb(
  link_to( 'Files', :action => :files, :project => @project, :package => @package ),
  @filename ) -%>

<%= render :partial => "tabs" %>


<h2>Editing file <%=h @filename %> for package <%=h @package %> (Project <%=h @project %>)</h2>

<% form_tag :action => :save_modified_file, :project => @project, :package => @package, "class" => "edit" do %>
  <p>
    <%= text_area_tag( "file", @file, :cols => "80",
      :rows => "40" ) %>
  </p>

  <p>
    <strong>Comment your changes (optional):</strong><br/>
    <%= text_field_tag 'comment', '', :size => 50 %>
  </p>

  <p>
    <%= submit_tag %>
    <%= hidden_field_tag( "filename", @filename ) %>
  </p>
<% end %>
