<% @pagetitle = "Edit Raw Config for #{@package}" %>
<% package_bread_crumb 'Edit raw config' -%>

<%= render :partial => "tabs" %>

<h2>Editing Raw Config for <%=h @package %></h2>

<% form_tag :action => :save_meta do %>
  <p><strong>Config:</strong><br/>
  <%= text_area_tag "meta", @meta, :rows => 20, :cols => 40 %><br/>
  <%= hidden_field_tag "project", @project.name %>
  <%= hidden_field_tag "package", @package.name %>
  </p>
  <p><%= submit_tag %></p>
<% end %>

