<% @pagetitle = "Edit File #{@filename} of Package #{@package}" %>

<% package_bread_crumb(
  link_to( 'Files', :action => :files, :project => @project, :package => @package ),
  @filename ) -%>

<%= render :partial => "tabs" %>


<h3><%= h @pagetitle %> (Project <%=h @project %>)</h3>

<% form_tag :action => :save_modified_file, :project => @project, :package => @package, "class" => "edit" do %>
  <p>
    <%= text_area_tag( "file", @file, :cols => "80", :rows => "40" ) %>
  </p>
  <p>
    <strong>Comment your changes (optional):</strong><br/>
    <%= text_field_tag 'comment', '', :size => 100 %>
  </p>
  <p>
    <%= submit_tag %>
    <%= hidden_field_tag( "filename", @filename ) %>
  </p>
<% end %>
