<% @pagetitle = "Edit File #{@filename}" %>

<% package_bread_crumb(
  link_to( 'Files', :action => :files, :project => @project, :package => @package ),
  @filename ) -%>

<%= render :partial => "tabs" %>

<% content_for :content_for_head do %>
  <%= javascript_include_tag 'codemirror/codemirror-0.7.min' %>
<% end %>

<h2>Editing file <%=h @filename %> for package <%=h @package %> (Project <%=h @project %>)</h2>

<% if File.extname(@filename) == ".spec" %>
  <% content_for :ready_function do %>
    CodeMirror.fromTextArea("file", {
      basefiles: ["/javascripts/codemirror/codemirror_base.js"],
      parserfile: "/javascripts/codemirror/parsespec.js",
      stylesheet: "/stylesheets/codemirror.speccolors.css"
    });
  <% end %>
<% end %>

<% form_tag :action => :save_modified_file, :project => @project, :package => @package, "class" => "edit" do %>
  <p>
    <%= text_area_tag( "file", @file, :cols => "80",
      :rows => "40" ) %>
  </p>

  <p>
    <strong>Comment your changes (optional):</strong><br/>
    <%= text_field_tag 'comment', '', :size => 50 %>
  </p>

  <p>
    <%= submit_tag %>
    <%= hidden_field_tag( "filename", @filename ) %>
  </p>
<% end %>
