
<% @pagetitle = "Files of Package #{@package} (Project #{@project})" %>
<% package_bread_crumb 'Files' -%>

<%= render :partial => "tabs" %>

<%= javascript_include_tag 'jquery.tablesorter.js' %>

<% content_for :head_javascript do %>


  function insertRow() {
    var name = document.getElementById('add_new_parameter').value;
    var value = document.getElementById('add_new_value').value;
    var number = document.getElementById('count_parameters').value;

    number = number + 1;
    $('#pTable tr:last').before('<tr class=\"row_'+number+'\">'+
      '<td>'+name+'</td>'+
      '<td><input type=\"text\" name=\"parameter_'+number+'_'+name+'\" value=\"'+value+'\"></td>'+
      '<td><a href=\"#\" onclick=\"\$(\'tr.row_'+number+'\').remove(); return false;\">X</a></td>'+
      '</tr>');
    
    document.getElementById('count_parameters').value = number;
  }

  function slide_history_up() {
    var number = parseInt(document.getElementById('history_browser_revision').value);
    number = number + 1;
    document.getElementById('history_browser_revision').value = number;
    $('#go_down_button').show();
    if (number == <%=@maxrevision%>) {
      $('#go_up_button').hide();
    }

    $('#historyTable tr:last').remove();
    $('#historyTable tr:first').before('<tr>'+
      '<td id=\"commit_item_'+number+'\">...</td>'+
      '</tr>');

    var path = "/package/commit?revision="+number+"&package=<%=@package%>&project=<%=@project%>";
    $.ajax({type: "GET", url: path, success: function(data){$("#historyTable td#commit_item_"+number).text(data)} })
  }

  function slide_history_down() {
    var number = parseInt(document.getElementById('history_browser_revision').value);
    number = number - 1;
    document.getElementById('history_browser_revision').value = number;

    number = number - parseInt(<%=@visible_commits%>) + 1;
    $('#go_up_button').show();
    if (number == 1) {
      $('#go_down_button').hide();
    }
    $('#historyTable tr:first').remove();
    $('#historyTable tr:last').after('<tr>'+
      '<td id=\"commit_item_'+number+'\">...</td>'+
      '</tr>');

    var path = "/package/commit?revision="+number+"&package=<%=@package%>&project=<%=@project%>";
    $.ajax({type: "GET", url: path, success: function(data){$("#historyTable td#commit_item_"+number).text(data)} })
  }

<% end %>


<% content_for :ready_function do %>
  $("#files_table").tablesorter( {
  sortList: [[0,1]],
  widgets: ['zebra'],
  headers: {
  3: { sorter: false }
  }
  } );
<% end %>


<% if @link %>
  <%= render :partial => 'links' %>
<% end %>

<!-- Source history -->
<div class="grid_7 alpha">
<div class="show_left box">
 <div class="box-header aligncenter">
   Commit History <%= image_tag('ajax-loader.gif', :id => 'spinner_history', :class => 'hidden') %>
 </div>
 <div id="package_history">
    <h3>
    </h3>

    <%= render :partial => 'sources_history', :locals => {:currentRevision => @revision, :history => @history} %>

    <%= observe_field( :mergesettings, :frequency => 0.5, :update => :sources_history,
      :url => { :controller => 'package', :action  => 'source_history', :project => @project, :package => @package, :revision => @revision },
      :loading => "$('#spinner_files').show();", :complete => "$('#spinner_files').hide();",
      :with => "'rev=' + escape($('#revision').attr('value')) + '&expand=' + $('#mergesettings')[0].checked") %>
  </div>
</div>
</div>

<!-- File list -->
<div class="grid_9 omega">
<div class="show_right box">
 <div class="box-header aligncenter">
   Files <%= image_tag('ajax-loader.gif', :id => 'spinner_files', :class => 'hidden') %>
 </div>

  <div id="package_files">
    <% unless @files.empty? %>
      <% if @link %>
        <%= check_box_tag 'mergesettings', 'merge', (@showmergedsources.nil? ? false : true) -%> Show merged sources
      <% end %>
  
      <%= render :partial => 'files_view', :locals => {:file_list => @files} %>
  
      <%= observe_field( :mergesettings, :frequency => 0.5, :update => :files_view,
        :url => { :controller => 'package', :action  => 'file_table', :project => @project, :package => @package },
        :loading => "$('#spinner_files').show();", :complete => "$('#spinner_files').hide();",
        :with => "'rev=' + escape($('#revision').attr('value')) + '&expand=' + $('#mergesettings')[0].checked") %>
    <% end %>
  
    <% if @project.is_maintainer?( session[:login] ) || @package.is_maintainer?( session[:login] ) %>
      <p><%= link_to image_tag('icons/page_white_add.png', :alt => "Add", :title => "Add File"),
  	:action => :add_file, :project => @project, :package => @package %>
        <%= link_to 'Add File', :action => :add_file, :project => @project, :package => @package %>
      </p>
    <% end %>
  
  </div>
</div>
</div>

<%= render :partial => 'services' if @services %>
