<% @pagetitle = "Sources of #{@package} (Project #{@project.name})" %>
<% package_bread_crumb 'Sources' %>

<%= render :partial => "tabs" %>

<%= content_for :head_javascript do %>
  function insertRow() {
    var name     = document.getElementById('add_new_parameter').value;
    var service  = document.getElementById('servicename').value;
    var value    = document.getElementById('add_new_value').value;
    var number   = document.getElementById('count_parameters').value + 1;

    $('#pTable tr:last').before('<tr class=\"row_'+number+'\">'+
      '<td>'+name+'</td>'+
      '<td id="added_parameter_'+number+'">...</td>'+
      '<td><a href=\"#\" onclick=\"\$(\'tr.row_'+number+'\').remove(); return false;\">X</a></td>'+
      '</tr>');
    
    document.getElementById('count_parameters').value = number;

    var path="/package/service_parameter_value?number="+number+"&servicename="+encodeURIComponent(service)+"&parameter="+encodeURIComponent(name)+"&value="+encodeURIComponent(value)+"&package=<%= CGI.escape(@package.name) %>&project=<%= CGI.escape(@project.name) %>";
    $("#pTable td#added_parameter_"+number).load(path);
  }
<% end %>

<%= render :partial => 'links' if (@package.linkinfo && !@package.linkinfo.has_attribute?('error')) %>
<%= render :partial => 'services' %>

<h3>Source Files <%= image_tag('ajax-loader.gif', :id => 'spinner_files', :class => 'hidden') %>
<% if @package.linkinfo && @revision_parameter.nil? %>
  <span style="font-size: small; font-weight: normal">
    <% if @expand && @expand.to_s == "1" %>
      <%= link_to '(show unmerged sources)', :project => @project.name, :package => @package.name, :action => :files, :rev => @revision_parameter, :expand => "0" %>
    <% else %>
      <%= link_to '(show merged sources derived from linked package)', :project => @project.name, :package => @package.name, :action => :files, :rev => @revision_parameter, :expand => "1" %>
    <% end %>
  </span>
<% end %>
</h3>

<%= render :partial => 'files_view', :locals => {:file_list => @files} %>
