
<% @pagetitle = "Files of Package #{@package} (Project #{@project})" %>
<% package_bread_crumb 'Files' -%>

<%= render :partial => "tabs" %>

<%= javascript_include_tag 'jquery.tablesorter.js' %>

<% content_for :head_javascript do %>


  function insertRow() {
    var name = document.getElementById('add_new_parameter').value;
    var value = document.getElementById('add_new_value').value;
    var number = document.getElementById('count_parameters').value;

    number = number + 1;
    $('#pTable tr:last').before('<tr class=\"row_'+number+'\">'+
      '<td>'+name+'</td>'+
      '<td><input type=\"text\" name=\"parameter_'+number+'_'+name+'\" value=\"'+value+'\"></td>'+
      '<td><a href=\"#\" onclick=\"\$(\'tr.row_'+number+'\').remove(); return false;\">X</a></td>'+
      '</tr>');
    
    document.getElementById('count_parameters').value = number;
  }
<% end %>


<% content_for :ready_function do %>
  $("#files_table").tablesorter( {
  sortList: [[0,1]],
  widgets: ['zebra'],
  headers: {
  3: { sorter: false }
  }
  } );
<% end %>


<% if @link %>
  <%= render :partial => 'links' %>
<% end %>

<!-- File list -->
<div id="package_files">
  <h3>
    Files <%= image_tag('ajax-loader.gif', :id => 'spinner_files', :class => 'hidden') %>
  </h3>

  <% unless @files.empty? %>
    <% if @link %>
      <%= check_box_tag 'mergesettings', 'merge', (@showmergedsources.nil? ? false : true) -%> Show merged sources
    <% end %>

    <%= render :partial => 'files_view', :locals => {:file_list => @files} %>

    <%= observe_field( :mergesettings, :frequency => 0.5, :update => :files_view,
      :url => { :controller => 'package', :action  => 'file_table', :project => @project, :package => @package },
      :loading => "$('#spinner_files').show();", :complete => "$('#spinner_files').hide();",
      :with => "'rev=' + escape($('#revision').attr('value')) + '&expand=' + $('#mergesettings')[0].checked") %>
  <% end %>

  <% if @project.is_maintainer?( session[:login] ) || @package.is_maintainer?( session[:login] ) %>
    <p><%= link_to image_tag('icons/page_white_add.png', :alt => "Add", :title => "Add File"),
        :action => :add_file, :project => @project, :package => @package %>
      <%= link_to 'Add File', :action => :add_file, :project => @project, :package => @package %>
    </p>
  <% end %>

</div>

<%= render :partial => 'services' if @services %>
