<% @pagetitle = "Sources of #{@package} (Project #{@project.name})" %>
<% package_bread_crumb 'Sources' %>

<%= render :partial => "tabs" %>

<%= render :partial => 'links' if (@package.linkinfo && !@package.linkinfo.has_attribute?('error')) %>
<%= render :partial => 'services' %>

<h3>Source Files <%= image_tag('ajax-loader.gif', :id => 'spinner_files', :class => 'hidden') %>
<% if @package.linkinfo && @revision_parameter.nil? %>
  <span style="font-size: small; font-weight: normal">
    <% if @expand && @expand.to_s == "1" %>
      <%= link_to '(show unmerged sources)', :project => @project.name, :package => @package.name, :action => :files, :rev => @revision_parameter, :expand => "0" %>
    <% else %>
      <%= link_to '(show merged sources derived from linked package)', :project => @project.name, :package => @package.name, :action => :files, :rev => @revision_parameter, :expand => "1" %>
    <% end %>
  </span>
<% end %>
</h3>

<%= render :partial => 'files_view', :locals => {:file_list => @files} %>
