
<% @pagetitle = "Files of Package #{@package} (Project #{@project})" %>
<% package_bread_crumb 'Files' -%>

<%= render :partial => "tabs" %>

<%= javascript_include_tag 'jquery.tablesorter.js' %>

<% content_for :head_javascript do %>


  function insertRow() {
    var name     = document.getElementById('add_new_parameter').value;
    var service  = document.getElementById('servicename').value;
    var value    = document.getElementById('add_new_value').value;
    var number   = document.getElementById('count_parameters').value + 1;

    $('#pTable tr:last').before('<tr class=\"row_'+number+'\">'+
      '<td>'+name+'</td>'+
      '<td id="added_parameter_'+number+'">...</td>'+
      '<td><a href=\"#\" onclick=\"\$(\'tr.row_'+number+'\').remove(); return false;\">X</a></td>'+
      '</tr>');
    
    document.getElementById('count_parameters').value = number;

    var path="/package/service_parameter_value?number="+number+"&servicename="+escape(service)+"&parameter="+escape(name)+"&value="+escape(value)+"&package=<%=@package%>&project=<%=@project%>";
    $("#pTable td#added_parameter_"+number).load(path);
  }

<% end %>


<% content_for :ready_function do %>
  $("#files_table").tablesorter( {
    sortList: [[0,1]],
    widgets: ['zebra'],
    headers: {
      3: { sorter: false }
    }
  } );
<% end %>


<%= render :partial => 'links' if @link %>

<!-- Service list -->
<h3>Source Services</h3>
<%= render :partial => 'services' %>

<!-- Source file list -->
<h3>Source Files <%= image_tag('ajax-loader.gif', :id => 'spinner_files', :class => 'hidden') %></h3>

<% unless @files.empty? %>
  <%= render :partial => 'files_view', :locals => {:file_list => @files} %>

  <% mergejs = "" %>
  <% if @expand %>
    <%= check_box_tag 'mergesettings', 'merge', true -%>
    <% mergejs = "'&expand=' + $('#mergesettings')[0].checked" %>
  <% elsif @link %>
    <%= check_box_tag 'mergesettings', 'merge', false -%>
    <% mergejs = "'&expand=' + $('#mergesettings')[0].checked" %>
  <% end %>
  <% if @link %>
    Show merged sources derived from linked package.
  <% end %>

  <%= observe_field( :mergesettings, :frequency => 0.5, :update => :files_view,
    :url => { :controller => 'package', :action  => 'file_table', :project => @project, :package => @package },
    :loading => "$('#spinner_files').show();", :complete => "$('#spinner_files').hide();",
    :with => "'rev=' + escape($('#revision').attr('value'))" + mergejs ) %>
  <%= observe_field( :revision, :frequency => 1, :update => :files_view,
    :url => { :controller => 'package', :action  => 'file_table', :project => @project, :package => @package },
    :loading => "$('#spinner_files').show();", :complete => "$('#spinner_files').hide();",
    :with => "'rev=' + escape($('#revision').attr('value'))" + mergejs ) %>
  <%= observe_field( :srcmd5, :frequency => 1, :update => :files_view,
    :url => { :controller => 'package', :action  => 'file_table', :project => @project, :package => @package },
    :loading => "$('#spinner_files').show();", :complete => "$('#spinner_files').hide();",
    :with => "'rev=' + escape($('#revision').attr('value'))" + mergejs ) %>
<% end %>

<% if @package.can_edit?( session[:login] ) %>
  <p><%= link_to image_tag('icons/page_white_add.png', :alt => "Add", :title => "Add File"),
     :action => :add_file, :project => @project, :package => @package %>
    <%= link_to 'Add File', :action => :add_file, :project => @project, :package => @package %>
  </p>
<% end %>
 

