<% @pagetitle = "Show Package #{@package} (Project #{@project})" %>
<% project_bread_crumb @package.name -%>

<%= render :partial => "tabs" %>

<div class="grid_9 alpha">

  <div class="box show_left">
    <h2 style="display: inline"><%=h @package %></h2>

    <span style="float: right; margin-right: 0.5em" >
      <% if @project.is_maintainer?( session[:login] ) || @package.is_maintainer?( session[:login] ) %>
        <span>
          <%= link_to image_tag('icons/package_edit.png', :title => 'Edit Package Information'), :action => :edit, :project => @project, :package => @package, :spec_count => @spec_count %>
        </span>
        <span>
          <%= link_to image_tag('icons/package_delete.png', :title => 'Remove Package'), {:action => :remove, :project => @project, :package => @package},
            {:confirm => "Really remove package '#{@package}'?", :method => :post } %>
        </span>
      <% end %>

      <% if session[:login] %>
        <span>
          <%= link_to image_tag('icons/arrow_branch.png', :title => 'Branch package'), {:action => :branch, :project => @project, :package => @package},
            {:confirm => "Branch package '#{@package}'?", :method => :post } %>
        </span>
      <% end %>

      <% if @bugowner_mail and BUGZILLA_HOST %>
        <span>
          <%= link_to image_tag('tools-report-bug.png', :title => 'Report Bug'), bugzilla_url(@bugowner_mail, "#{@project.name}/#{@package.name}: Bug") %>
        </span>
      <% end %>

    </span>

    <!-- Package meta -->
    <div id="package_meta">

      <p>
        <%=h @package.title %>
      </p>

      <p>
        <% description = @package.description.text %>
        <% unless description.blank? %>
          <% description.split( /\n/ ).each do |line| %>
            <%=h line -%><br/>
          <% end %>
        <% else %>
          <i>No description set</i>
        <% end %>
      </p>

      <%- if @package.has_element? :devel %>
        <p id="develproject_note">
          <strong>
            <% dpackage = @package.devel.data["package"] || @package.name %>
            This package is maintained in project <%= link_to @package.devel.project, :action => :show, :controller => :package, :project => @package.devel.project, :package => dpackage %>
          </strong>
        </p>
      <%- end -%>

      <%- if @package.files.blank?  %>
        <p>
          <%= image_tag 'icons/information.png' %> This package doesn't contain any
          <%= link_to 'files', :action => :files, :project => @project, :package => @package %> yet.
        </p>
      <%- end -%>

      <div>
        <% unless @current_requests.blank? %>
          <div>
            <p>
              <%= image_tag 'icons/information.png' %> There <%= plural(@current_requests.size, "is", "are") %>
              <%= @current_requests.size %> open <%= link_to "request#{@current_requests.size > 1 ? "s" : ""}", :action => :list_requests, :project => @project, :package => @package %>
            </p>
          </div>
        <% end %>

        <% if @failures and @failures > 0 %>
          <div>
            <p>
              <%= image_tag 'icons/exclamation.png' %> There <%= plural(@failures, "is", "are") %>
              <%= @failures %> <%= link_to plural(@failures, "failure", "failures"), :action => :monitor, :project => @project, :succeeded => 0, :blocked => 0, :finished => 0, :signing => 0, :dispatching => 0, :scheduled => 0, :building => 0, :controller => :project, :pkgname => @package.name %>
            </p>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
<!-- Build status -->
<div class="grid_7 omega">
  <div class="box show_right">

    <div class="box-header aligncenter">
      Build Status
      <%= link_to_remote(image_tag('arrow_refresh.png', :id => 'reload_status', :alt => "Reload Status", :title => "reload status") +
          image_tag('ajax-loader.gif', :id => 'spinner_stat', :style => 'display:none;'),
        :url => { :action => 'reload_buildstatus', :project => @project, :package => @package },
        :update => 'package_buildstatus',
        :loading => "$('#spinner_stat').show(); $('#reload_status').hide()", :complete => "$('#spinner_stat').hide(); $('#reload_status').show()") %>
    </div>

    <%= render :partial => 'buildstatus' %>

  </div>
</div>

