<% @pagetitle = "Show #{@project} / #{@package}" %>
<% @layouttype = 'custom' %>
<% package_bread_crumb %>

<div class="grid_16 alpha omega box box-shadow">
  <%= render :partial => 'tabs' %>
  <div class="grid_10 alpha">
    <h3 id="package_title"><%=h @package.title %><%= h(@package) if @package.title.to_s.blank? -%></h3>
    <% if @package.description.text.empty? %>
     <p><i>No description</i></p>
    <% else %>
      <pre class="plain"><%= @package.description.text %></pre>
    <% end %>
  </div>
  <div class="grid_6 omega">
    <ul class="clean_list">
      <% if @failures and @failures > 0 %>
        <li>
          <%= image_tag 'icons/exclamation.png' %>
          <%= @failures %>
          <%= link_to "error#{@failures == 1 ? "" : "s"}", :action => :monitor, :project => @project, :succeeded => 0, :blocked => 0, :finished => 0, :signing => 0, :dispatching => 0, :scheduled => 0, :building => 0, :controller => :project, :pkgname => @package.name %>
        </li>
      <% end %>

      <%= render :partial => "shared/open_requests" %>

      <% if @package.has_element? :devel %>
        <li>
          <% dpackage = @package.devel.value("package") || @package.name %>
          <%= image_tag 'icons/information.png' %>
          Developed at <%= link_to(elide(@package.devel.project, 44), :action => :show, :controller => :package, :project => @package.devel.project, :package => dpackage) %>
        </li>
      <% end %>
      <% if not @package.developed_packages.blank? %>
        <li>
          <%= image_tag 'icons/information.png' %>
          Devel package for
          <% @package.developed_packages.each_with_index do |pkg, index| %>
            <%= ',' if index > 0 %>
            <%= link_to("#{elide(pkg.project, 40)}", :action => 'show', :project => pkg.project, :package => pkg.name) %>
          <% end %>
        </li>
      <% end %>
      <% if @package.name =~ %r{^_patchinfo} %>
        <li>
          <%= image_tag 'icons/information.png' %>
          Has a <%= link_to 'patchinfo', :controller => :patchinfo, :action => :show, :package => @package, :project => @project %>
          for <%= link_to 'maintenance updates', 'http://wiki.opensuse.org/openSUSE:Maintenance' %>
          <%#TODO: Fix this hard link %>
        </li>
      <% end %>
      <% if @linking_packages and @linking_packages.size > 0 %>
        <li>
          <%= image_tag 'icons/information.png' %>
          <%= @linking_packages.size %> <%= link_to_remote "derived packages", :url => { :action => :linking_packages, :project => @project, :package => @package } %>
        </li>
      <% end %>
      <% if @package.linkinfo %>
        <% linked_project, linked_package = @package.linkinfo.project, @package.linkinfo.package %>
        <li>
          <%= image_tag 'icons/package_link.png' %> Links to
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => linked_project, :package => linked_package, :short => true} %>
        </li>
        <% if @package.linkinfo.value :error %>
          <li><%= image_tag 'icons/exclamation.png' %> Link has errors: <i><%= @package.linkinfo.error %></i></li>
        <% else %>
          <%#TODO: Only display if there is really a diff: %>
          <li>
            <%= image_tag 'icons/information.png' %>
            Could have <%= link_to 'a link diff', :action => :rdiff, :oproject => linked_project, :opackage => linked_package, :project => @project, :package => @package, :rev => @revision %>
          </li>
        <% end%>
      <% end %>
    </ul>
  </div>
  <% if (not @bugowners_mail.empty? and !BUGZILLA_HOST.nil?) or session[:login] %>
    <div class="grid_16 alpha omega">
      <ul class="horizontal-list">
        <% unless @bugowners_mail.empty? or BUGZILLA_HOST.nil? %>
          <li>
            <%= link_to image_tag('tools-report-bug.png', :title => 'Report Bug'), bugzilla_url(@bugowners_mail, "#{@project.name}/#{@package.name}: Bug") %>
            <%= link_to 'Report Bug', bugzilla_url(@bugowners_mail, "#{@project.name}/#{@package.name}: Bug") %>
          </li>
        <% end %>
        <% if session[:login] %>
          <% if @current_rev %>
            <li>
              <%= link_to_remote image_tag('icons/arrow_branch.png', :title => 'Branch package'), :url => {:action => :branch_dialog, :project => @project, :package => @package} %>
              <%= link_to_remote 'Branch package', :url => { :action => :branch_dialog, :project => @project, :package => @package} %>
            </li>
            <li>
              <%= link_to_remote image_tag('icons/package_go.png', :title => 'Submit package'), :url => { :action => :submit_request_dialog, :project => @project, :package => @package} %>
              <%= link_to_remote 'Submit package', :url => { :action => :submit_request_dialog, :project => @project, :package => @package} %>
            </li>
          <% end %>
          <% if @package.can_edit?(session[:login]) %>
            <li>
              <%= link_to image_tag('icons/package_edit.png', :title => "Edit description"), :action => 'edit', :project => @project, :package => @package, :spec_count => @spec_count -%>
              <%= link_to "Edit description", :action => 'edit', :project => @project, :package => @package, :spec_count => @spec_count -%>
            </li>
            <li>
              <%= link_to_remote image_tag('icons/package_delete.png', :title => 'Delete package'), :url => { :action => :delete_dialog, :package => @package, :project => @project } -%>
              <%= link_to_remote 'Delete package', :url => { :action => :delete_dialog, :package => @package, :project => @project } -%>
            </li>
          <% else %>
            <li>
              <%= link_to_remote(image_tag('icons/user_add.png', :title => "Request role addition"), :url => {:controller => :request, :action => :add_role_request_dialog, :project => @project, :package => @package}) %>
              <%= link_to_remote("Request role addition", :url => {:controller => :request, :action => :add_role_request_dialog, :project => @project, :package => @package}) %>
            </li>
            <li>
              <%= link_to_remote image_tag('icons/package_delete.png', :title => 'Request deletion'), :url => {:controller => :request, :action => :delete_request_dialog, :project => @project, :package => @package} %>
              <%= link_to_remote 'Request deletion', :url => {:controller => :request, :action => :delete_request_dialog, :project => @project, :package => @package} %>
            </li>
          <% end %>
          <%# TODO: only users w/o rights should see this, maintainers should get a different dialog: %>
          <% if @package.has_element?(:devel) %>
            <li>
              <%= link_to_remote(image_tag('icons/arrow_switch.png', :title => 'Request devel project change'), :url => {:controller => 'request', :action => 'change_devel_request_dialog', :project => @project, :package => @package}) %>
              <%= link_to_remote('Request devel project change', :url => {:controller => 'request', :action => 'change_devel_request_dialog', :project => @project, :package => @package}) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="grid_10 alpha box box-shadow">
  <h2 class="box-header">Sources <% if @revision && @revision != @current_rev %>(Revision <%= @revision %>)<% end %></h2>
  <%= render :partial => 'commit_item', :locals => {:rev => @current_rev } %>
  <% if @files && @files.length > 0 %>
    <table id="files_table">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Size</th>
          <th>Changed</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @files.each do |file| %>
          <tr>
            <td>
              <%= link_to_if(file[:viewable], nbsp(h(file[:name])), :action => :view_file, :project => @project, :package => @package, :file => file[:name], :rev => file[:srcmd5], :expand => @expand) %>
              <% if @link && @link.has_add_patch?(file[:name]) %>
                (Added Patch)
              <% elsif @link && @link.has_patch?(file[:name]) %>
                (Global Patch)
              <% end %>
            </td>
            <td><%=h human_readable_fsize(file[:size]) %></td>
            <td><%= fuzzy_time_string(Time.at(file[:mtime].to_i).to_s) %></td>
            <td>
              <%# limit download for anonymous user to avoid getting killed by crawlers %>
              <% if @user or file[:size].to_i < ( 4 * 1024 * 1024 ) %>
                <%= link_to image_tag('icons/page_white_get.png', :alt => "Download", :title => "Download File"), file_url(@project, @package, file[:name], file[:srcmd5]) %>
              <% end %>
              <% if @package.can_edit?( session[:login] ) %>
                <%= link_to image_tag('icons/page_white_delete.png', :alt => "Remove", :title => "Remove File"), {:action => :remove_file, :project => @project,
                  :package => @package, :filename => file[:name]},
                  {:confirm => "Really remove file '#{file[:name]}'?", :method => :post }%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><i>This package has no files yet</i></p>
  <% end %>
  <div class="clearfix"></div><%# TODO: Not nice, dataTables should clear %>
  <p>
    <% if @package.linkinfo && @revision_parameter.nil? %>
       <%= image_tag('ajax-loader.gif', :id => 'spinner_files', :class => 'hidden') %>
      <span style="font-size: small; font-weight: normal">
        <% if @expand && @expand.to_s == "1" %>
          <%= link_to '(show unmerged sources)', :project => @project.name, :package => @package.name, :action => :files, :rev => @revision_parameter, :expand => "0" %>
        <% else %>
          <%= link_to '(show merged sources derived from linked package)', :project => @project.name, :package => @package.name, :action => :files, :rev => @revision_parameter, :expand => "1" %>
        <% end %>
      </span>
    <% end %>
    <% if @package.can_edit?( session[:login] ) %>
      <%= link_to image_tag('icons/page_white_add.png', :title => "Add file"), :action => :add_file, :project => @project, :package => @package %>
      <%= link_to 'Add file', :action => :add_file, :project => @project, :package => @package %>
    <% end %>
  </p>
</div>

<div class="grid_6 omega box box-shadow">
  <%= render :partial => 'shared/buildresult_box', :locals => {:project => @project.value('name'), :package => @package.value('name')} %>
</div>

<% if @files && @files.length > 0 %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $.extend($.fn.dataTable.defaults, {
        'iDisplayLength': 25,
      });

      $('#files_table').dataTable({
        'aoColumns': [null, null, null, {'bSortable': false}]
      });
    });
  <% end %>
<% end %>

