<% @pagetitle = "Show Package #{@package} (Project #{@project})" %>
<% project_bread_crumb @package.name -%>

<%= render :partial => "tabs" %>

<div class="grid_9 alpha">

  <div class="box show_left">
    <h3 style="display: inline"><%=h @package %></h3>

    <% if (@bugowners_mail and defined? BUGZILLA_HOST) or session[:login] %>
      <div id="local-actions">
        <div id="local-actions-items">
          <a href="#" class="dropdown-menu"><strong>Actions</strong></a>
          <ul class="dropdown-menu-content">
            <% if @bugowners_mail and defined? BUGZILLA_HOST %>
              <li>
                <%= link_to image_tag('tools-report-bug.png', :title => 'Report Bug'), bugzilla_url(@bugowners_mail, "#{@project.name}/#{@package.name}: Bug") %>
                <%= link_to 'Report Bug', bugzilla_url(@bugowners_mail, "#{@project.name}/#{@package.name}: Bug") %>
              </li>
            <% end %>
            <% if session[:login] %>
              <% if @package.can_edit?( session[:login] ) %>
                <li>
                <%= link_to_remote image_tag('icons/package_delete.png', :title => 'Delete Package'), :url => { :action => :delete_dialog, :package => @package, :project => @project } -%>
                <%= link_to_remote 'Delete Package', :url => { :action => :delete_dialog, :package => @package, :project => @project } -%>
                </li>
                <li>
                  <%= link_to image_tag('icons/package_edit.png', :title => "Edit Package Information"), :action => 'edit', :project => @project, :package => @package, :spec_count => @spec_count -%>
                  <%= link_to "Edit Package Information", :action => 'edit', :project => @project, :package => @package, :spec_count => @spec_count -%>
                </li>
                <li>
                  <%= link_to_remote image_tag('icons/package_go.png', :title => 'Submit Package'), :url => { :action => :submit_request_dialog, :project => @project, :package => @package} %>
                  <%= link_to_remote 'Submit Package', :url => { :action => :submit_request_dialog, :project => @project, :package => @package} %>
                </li>
              <% else %>
                <li>
                  <%= link_to_remote image_tag('icons/package_delete.png', :title => 'Request Deletion'), :url => { :action => :delete_request_dialog, :project => @project, :package => @package} %>
                  <%= link_to_remote 'Request Deletion', :url => { :action => :delete_request_dialog, :project => @project, :package => @package} %>
                </li>
              <% end %>
              <li>
                <%= link_to_remote image_tag('icons/arrow_branch.png', :title => 'Branch Package'), :url => {:action => :branch_dialog, :project => @project, :package => @package} %>
                <%= link_to_remote 'Branch Package', :url => { :action => :branch_dialog, :project => @project, :package => @package} %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Package meta -->
    <div id="package_meta">

      <p>
        <%=h @package.title %>
      </p>

      <p>
        <% description = @package.description.text %>
        <% unless description.blank? %>
          <% description.split( /\n/ ).each do |line| %>
            <%=h line -%><br/>
          <% end %>
        <% else %>
          <i>No description set</i>
        <% end %>
      </p>

      <%- if @package.has_element? :devel %>
        <p id="develproject_note">
          <strong>
            <% dpackage = @package.devel.data["package"] || @package.name %>
            This package is maintained in project <%= link_to @package.devel.project, :action => :show, :controller => :package, :project => @package.devel.project, :package => dpackage %>
          </strong>
        </p>
      <%- end -%>

      <%- if @package.files.blank?  %>
        <p>
          <%= image_tag 'icons/information.png' %> This package doesn't contain any
          <%= link_to 'files', :action => :files, :project => @project, :package => @package %> yet.
        </p>
      <%- end -%>

      <% unless @requests.blank? %>
        <p>
          <%= image_tag 'icons/information.png' %> There <%= plural(@requests.size, "is", "are") %>
          <% if @requests.size == 1 -%>
            1 open <%= link_to "request", :action => :show, :controller => :request, :id => @requests[0].value(:id) %>
          <% else -%>
            <%= @requests.size %> open <%= link_to "requests", :action => :list_requests, :project => @project, :package => @package %>
          <% end -%>
        </p>
      <% end %>

      <% if @failures and @failures > 0 %>
        <p>
          <%= image_tag 'icons/exclamation.png' %> There <%= plural(@failures, "is", "are") %>
          <%= @failures %> <%= link_to plural(@failures, "failure", "failures"), :action => :monitor, :project => @project, :succeeded => 0, :blocked => 0, :finished => 0, :signing => 0, :dispatching => 0, :scheduled => 0, :building => 0, :controller => :project, :pkgname => @package.name %>
        </p>
      <% end %>

      <% if @package.name =~ %r{^_patchinfo} %>
        <p>
          <%= image_tag 'icons/information.png' %> This package creates a patchinfo used for <%= link_to 'maintenance updates', 'http://wiki.opensuse.org/openSUSE:Maintenance' %>.
          Please use the <%= link_to 'wizard', :controller => :patchinfo, :action => :show, :package => @package, :project => @project %> to edit it.
        </p>
      <% end %>

      <% if @linking_packages and @linking_packages.size > 0 %>
        <p>
          <%= image_tag 'icons/information.png' %> There <%= plural(@linking_packages.size, "is", "are") %>
          <%= @linking_packages.size %> <%= link_to_remote "derived packages", :url => { :action => :linking_packages, :project => @project, :package => @package } %>
          from this package.
        </p>
      <% end %>


    </div>
  </div>

</div>
<!-- Build status -->
<div class="grid_7 omega">
  <div class="box show_right">

    <div class="box-header aligncenter">
      Build Status
      <%= link_to_remote(image_tag('arrow_refresh.png', :id => 'reload_status', :alt => "Reload Status", :title => "reload status") +
          image_tag('ajax-loader.gif', :id => 'spinner_stat', :style => 'display:none;'),
        :url => { :action => 'reload_buildstatus', :project => @project, :package => @package },
        :update => 'package_buildstatus',
        :loading => "$('#spinner_stat').show(); $('#reload_status').hide()", :complete => "$('#spinner_stat').hide(); $('#reload_status').show()") %>
    </div>

    <%= render :partial => 'buildstatus' %>

  </div>
</div>

