<% @pagetitle = "Show #{@project} / #{@package}" %>
<% @layouttype = 'custom' %>
<% package_bread_crumb %>

<div class="grid_16 alpha omega box box-shadow">
  <%= render :partial => 'tabs' %>
  <div class="grid_10 alpha">
    <h3 id="package_title"><%= @package.title %><%= @package if @package.title.to_s.blank? -%></h3>
    <%= description_wrapper(@package.description.text) %>
  </div>
  <div class="grid_6 omega">
    <% if @failures && @failures > 0 || @package.has_element?(:devel) || !@package.developed_packages.blank? || @package.name =~ %r{^_patchinfo} || @linking_packages && @linking_packages.size > 0 || @linkinfo %>
      <ul class="clean_list">
        <% if @failures && @failures > 0 %>
          <li>
            <%= image_tag 'exclamation.png' %>
            <%= @failures %>
            <%= link_to "error#{@failures == 1 ? "" : "s"}", :action => :monitor, :project => @project, :succeeded => 0, :blocked => 0, :finished => 0, :signing => 0, :dispatching => 0, :scheduled => 0, :building => 0, :controller => :project, :pkgname => @package.name %>
          </li>
        <% end %>

        <%= render :partial => "shared/open_requests" %>

        <% if @package.has_element? :devel %>
          <li>
            <% dpackage = @package.devel.value("package") || @package.name %>
            <%= image_tag 'information.png' %>
            Developed at <%= link_to(elide(@package.devel.project, 44), :action => :show, :controller => :package, :project => @package.devel.project, :package => dpackage) %>
          </li>
        <% end %>
        <% if !@package.developed_packages.blank? %>
          <li>
            <%= image_tag 'information.png' %>
            Devel package for
            <% @package.developed_packages.each_with_index do |pkg, index| %>
              <%= ',' if index > 0 %>
              <%= link_to("#{elide(pkg.project, 40)}", :action => 'show', :project => pkg.project, :package => pkg.name) %>
            <% end %>
          </li>
        <% end %>
        <% if @package.name =~ %r{^_patchinfo} %>
          <li>
            <%= image_tag 'information.png' %>
            Has a <%= link_to 'patchinfo', :controller => :patchinfo, :action => :show, :package => @package, :project => @project %>
            for <%= link_to 'maintenance updates', 'http://wiki.opensuse.org/openSUSE:Maintenance' %>
            <%#TODO: Fix this hard link %>
          </li>
        <% end %>
        <% if @linking_packages && @linking_packages.size > 0 %>
          <li>
            <%= image_tag 'information.png' %>
            <%= @linking_packages.size %> <%= link_to("derived packages", {:action => :linking_packages, :project => @project, :package => @package }, :remote => true) %>
          </li>
        <% end %>
        <% if @linkinfo %>
          <% linked_project, linked_package = @linkinfo.project, @linkinfo.package %>
          <li>
            <%= sprite_tag 'package_link' %> Links to
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => linked_project, :package => linked_package, :short => true} %>
          </li>
          <% if @linkinfo.value :error %>
            <li><%= sprite_tag 'exclamation' %> Link has errors: <i><%= @linkinfo.error %></i></li>
          <% else %>
            <%#TODO: Only display if there is really a diff: %>
            <li>
              <%= sprite_tag 'information' %>
              Could have <%= link_to_if !Project.is_remote?(linked_project), 'a link diff', :action => :rdiff, :oproject => linked_project, :opackage => linked_package, :project => @project, :package => @package, :rev => @revision %>
            </li>
          <% end%>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if (not @bugowners_mail.empty? and !CONFIG['bugzilla_host'].nil?) or session[:login] %>
    <div class="grid_16 alpha omega">
      <ul class="horizontal-list">
        <% unless @bugowners_mail.empty? or CONFIG['bugzilla_host'].nil? %>
          <li>
            <%= link_to image_tag('tools-report-bug.png', :title => 'Report Bug'), bugzilla_url(@bugowners_mail, "#{@project.name}/#{@package.name}: Bug") %>
            <%= link_to 'Report Bug', bugzilla_url(@bugowners_mail, "#{@project.name}/#{@package.name}: Bug") %>
          </li>
        <% end %>
        <% if session[:login] %>
          <% if @current_rev %>
            <li>
              <%= link_to(sprite_tag('arrow_branch'), {:action => :branch_dialog, :project => @project, :package => @package}, :remote => true) %>
              <%= link_to('Branch package', {:action => :branch_dialog, :project => @project, :package => @package}, :remote => true) %>
            </li>
            <li>
              <%= link_to(sprite_tag('package_go'), {:action => :submit_request_dialog, :project => @project, :package => @package}, :remote => true) %>
              <%= link_to('Submit package', {:action => :submit_request_dialog, :project => @project, :package => @package}, :remote => true) %>
            </li>
          <% end %>
          <% if @package.can_edit?(session[:login]) %>
            <li>
              <%= link_to sprite_tag('package_edit'), :action => 'edit', :project => @project, :package => @package, :spec_count => @spec_count -%>
	      <%= link_to "Edit description", { :action => 'edit', :project => @project, :package => @package, :spec_count => @spec_count }, id: 'edit-description' -%>
            </li>
            <li>
              <%= link_to(sprite_tag('package_delete'), {:action => :delete_dialog, :package => @package, :project => @project}, :remote => true) %>
              <%= link_to('Delete package', {:action => :delete_dialog, :package => @package, :project => @project}, :remote => true, id: 'delete-package') %>
            </li>
          <% else %>
            <li>
              <%= link_to(image_tag('user_add.png', :title => "Request role addition"), {:controller => :request, :action => :add_role_request_dialog, :project => @project, :package => @package}, :remote => true) %>
              <%= link_to("Request role addition", {:controller => :request, :action => :add_role_request_dialog, :project => @project, :package => @package}, :remote => true) %>
            </li>
            <li>
              <%= link_to(image_tag('package_delete.png', :title => 'Request deletion'), {:controller => :request, :action => :delete_request_dialog, :project => @project, :package => @package}, :remote => true) %>
              <%= link_to('Request deletion', {:controller => :request, :action => :delete_request_dialog, :project => @project, :package => @package}, :remote => true) %>
            </li>
          <% end %>
          <%# TODO: only users w/o rights should see this, maintainers should get a different dialog: %>
          <% if @package.has_element?(:devel) %>
            <li>
              <%= link_to(image_tag('arrow_switch.png', :title => 'Request devel project change'), {:controller => 'request', :action => 'change_devel_request_dialog', :project => @project, :package => @package}, :remote => true) %>
              <%= link_to('Request devel project change', {:controller => 'request', :action => 'change_devel_request_dialog', :project => @project, :package => @package}, :remote => true) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="grid_10 alpha box box-shadow">
  <h2 class="box-header">Sources</h2>
  <% unless @forced_unexpand.blank? %>
  <i>Sources could not be expanded: <%= @forced_unexpand %></i>
  <% end %>
  <%= render :partial => 'files_view' %>
</div>

<div class="grid_6 omega box box-shadow">
  <%= render :partial => 'shared/buildresult_box', :locals => {:project => @project.value('name'), :package => @package.value('name')} %>
</div>

