<% @pagetitle = "File #{@filename} of Package #{@package}" %>
<% package_bread_crumb(@filename) %>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %> <% if @rev %>(Revision <%= @rev %>)<% end %></h3>
<% if @rev %>
  <p>Currently displaying revision <i><%= @rev %></i>, <%= link_to('show latest', :project => @project, :package => @package, :file => @filename, :expand => @expand ) %></p>
<% end %>

<% if @addeditlink %>
    <% if @filename.ends_with?('.changes') %>
  <p>
      <%# Rather hacky attempt to provide 'osc vc'-like functionality, would benefit of proper 'snippet' support for editor: %>
      <%= link_to_function('Insert changes entry template',
	  'addChangesEntryTemplate()', data: { 'email' => @user.email },
      class: "changes-link") %>
  </p>
    <% end %>

    <%= render :partial => "shared/editor", :locals => {text: @file, mode: guess_code_class(@filename), 
			save: {url: url_for(controller: 'package', action: 'save_modified_file'), 
			method: 'POST', 
			data: {project: @project.name, package: @package.name, submit: 'file', comment: '', filename: @filename, rev: @rev}}} %>
    <%# TODO: Provide a comments field thru a callback!! %>
<% else %>
    <%= render :partial => "shared/editor", :locals => {:text => @file, :mode => guess_code_class(@filename), :read_only => true} %>
<% end %>
