<% @pagetitle = "New Package" %>

<h2><%= @wizard.label %></h2>
<p><%= @wizard.legend.to_s.gsub(URI.regexp, '<a href="\0">\0</a>') %></p>
<%
if @wizard.last == "true"
  action = "show"
  submit = "Finish"
else
  action = "wizard"
  submit = "Next"
end
%>
<% form_tag({:action => action}, {:multipart => true}) do %>
  <% @wizard.each_entry do |entry| %>
    <p>
      <strong><label for="wizard[<%= entry.name %>]"><%= entry.label %></label></strong><br/>
      <%= typ3 = entry.value("type") # entry.type would call Oject#type
      case typ3
      when "text" then
          text_field_tag("wizard[#{entry.name}]", entry.value)
      when "longtext" then
          text_area_tag("wizard[#{entry.name}]", entry.value)
      when "file" then
          file_field_tag("wizard_files[#{entry.name}]")
      when "url" then
          text_field_tag("wizard[#{entry.name}]", entry.value)
      when "select" then
          options = []
        entry.each_option do |option|
          options << [option.label, option.name]
        end
        select_tag("wizard[#{entry.name}]", options_for_select(options,
            entry.value.to_s))
      else
        raise RuntimeError.new("WizardError: unknown entry type #{typ3}")
      end
    %>
      <br/>
      <i><%= entry.legend.to_s.gsub(URI.regexp, '<a href="\0">\0</a>') %></i>
    </p>
  <% end %>
  <%= submit_tag(submit) %>
  <%= hidden_field_tag 'project', @project.name %>
  <%= hidden_field_tag 'package', @package.name %>
<% end %>
<%# vim:ts=2:sw=2:et
%>
