#kiwi-description
  .nested-fields
    %h2#image-name
      = @image.name
    %p.detailed-info{ class: "#{'hidden' if @is_edit_software_action}" }
      %span.fill{ data: { tag: 'specification' } }
        = @description
    %ul.inline.detailed-info{ class: "#{'hidden' unless @is_edit_details_action}" }
      %li
        %strong Author:
        %span.fill{ data: { tag: 'author' } }= @author
      %li
        %strong Contact:
        %span.fill{ data: { tag: 'contact' } }= @contact
    %p
      = link_to(sprited_text('package', 'View Package'), package_show_path(@package.project, @package))
      = link_to(sprited_text('package_edit', 'Edit details'), '#', class: "description_edit detailed-info #{'hidden' unless @is_edit_details_action}")
      - if Feature.active?(:cloud_upload) && !User.current.is_nobody?
        = link_to(sprited_text('drive_web', 'Cloud Upload'), cloud_upload_index_path, id: 'cloud-upload')
    - if action_name == 'edit'
      = render partial: 'description_form', locals: { f: f }
