.dialog.darkgrey_box.hidden{ style: "width: 500px; left: 45%;" }
  .box.box-shadow
    %h2.box-header Edit Kiwi Details

    .dialog-content
      %p
        = f.label :name
        = f.text_field :name, data: { default: f.object.name }

      %p
        = f.fields_for :description, f.object.description do |description_fields|
          %p
            = description_fields.label :author
            = description_fields.text_field :author, data: { default: description_fields.object.author }
          %p
            = description_fields.label :contact
            = description_fields.text_field :contact, data: { default: description_fields.object.contact }
          %p
            = description_fields.label :specification
            = description_fields.text_field :specification, data: { default: description_fields.object.specification }

    %p#flash-messages
      %p.ui-state-error.ui-widget-shadow.hidden
        Kiwi Image name can not be empty!

    .dialog-buttons
      = link_to('Cancel', '#', title: 'Cancel', class: 'revert-dialog')
      = link_to('Continue', '#', title: 'Continue', class: 'close-description-dialog')
