%tr.nested-fields
  %td= link_to_remove_association "Remove", f
  %td= f.text_field :name
  %td= f.text_field :arch
  %td= f.text_field :replaces
  %td= f.check_box :bootinclude
  %td= f.check_box :bootdelete
