.nested-fields.kiwi_fields
  .kiwi_list_item
    %span
      = link_to '#', class: "package_edit kiwi_element_name" do
        = f.object.name
        - if f.object.arch.present?
          %small (#{f.object.arch})
    %span.kiwi_actions.hidden
      = link_to_remove_association sprite_tag("req-decline", title: 'remove'), f

  .dialog.darkgrey_box{ style: "width: 500px; left: 45%;", class: "#{'hidden' if f.object.name.present?}" }
    .box.box-shadow
      %h2.box-header #{f.object.name.present? ? 'Edit' : 'Add'} package

      .dialog-content
        %p
          = f.label :name, 'Name:'
          = f.text_field :name
        %p
          = f.label :arch, 'Arch:'
          = f.text_field :arch
          = f.label :replaces, 'Replaces:'
          = f.text_field :replaces
      %p
        = f.check_box :bootinclude
        = f.label :bootinclude
        = f.check_box :bootdelete
        = f.label :bootdelete

      %p#flash-messages
        %p.ui-state-error.ui-widget-shadow.hidden
          The name can not be empty!

      .dialog-buttons
        = link_to('Continue', '#', title: 'Continue', class: 'close-dialog')
