.kiwi-repository-container
  .nested-fields
    .triple
      .field
        = f.label :repo_type, 'Type:'
        = f.select :repo_type, Kiwi::Repository::REPO_TYPES
      .field
        = f.label :priority, 'Priority:'
        = f.number_field :priority, maxlength: 4
      .field
        = f.label :alias, 'Alias:'
        = f.text_field :alias
    .single
      .field
        = f.label :source_path, 'Source:'
        = f.text_field :source_path
    .double
      .field
        = f.label :username, 'User:'
        = f.text_field :username
      .field
        = f.label :password, 'Password:'
        = f.text_field :password
    %p
      = f.check_box :prefer_license
      = f.label :prefer_license
      = f.check_box :imageinclude
      = f.label :imageinclude, 'Image include'
      = f.check_box :replaceable
      = f.label :replaceable
