- @layouttype = 'custom'
= content_for :ready_function do
  is_outdated_url = '#{url_for(controller: 'kiwi/images', action: :show, id: @image)}'

= form_for @image, html: { id: 'kiwi-image-update-form' } do |f|
  .grid_16.alpha.omega.box.box-shadow
    = render partial: 'webui/kiwi/tabs'
    = render partial: 'base_info', locals: { f: f }

  .grid_16.alpha.omega.box.box-shadow#kiwi-preferences{ class: "#{'hidden' if @is_edit_software_action}" }
    = render partial: 'webui/kiwi/images/preferences', locals: { f: f }

  .grid_16.alpha.omega.box.box-shadow#kiwi-image-repositories-section{ class: "#{'hidden' unless @is_edit_software_action}" }
    = render partial: 'webui/kiwi/images/repositories', locals: { f: f }

  .grid_16.alpha.omega.box.box-shadow#kiwi-image-packages-section{ class: "#{'hidden' unless @is_edit_software_action}" }
    = render partial: 'webui/kiwi/images/packages', locals: { f: f }

  .grid_2.alpha.omega.box.box-shadow.kiwi-button
    %h3
      #kiwi-image-update-form-save= sprite_tag("page_save", title: 'Save') + ' Save'
  .grid_2.alpha.omega.box.box-shadow.kiwi-button
    %h3
      #kiwi-image-update-form-revert{ class: "#{'enabled' if flash[:error]}" }= sprite_tag("page_save", title: 'Revert') + ' Revert'
