- @layouttype = 'custom'

= form_for @image, html: { id: 'kiwi-image-update-form' } do |f|
  .grid_16.alpha.omega.box.box-shadow
    = render partial: 'webui/kiwi/tabs'
    = render partial: 'base_info'
  .grid_10.alpha.box.box-shadow
    = render partial: 'details_overview'
  .grid_6.omega.box.box-shadow
    = render partial: 'build_info'
