- @layouttype = 'custom'

= form_for @image, html: { id: 'kiwi-image-update-form' } do |f|

  .grid_16.alpha.omega.box.box-shadow
    = render partial: 'webui/kiwi/tabs'
    %h2
      = @image.name
    %ul.horizontal-list
      %li
        = button_tag('Save', id: 'kiwi-image-update-form-save', type: 'button', disabled: true)

  .grid_16.alpha.omega.box.box-shadow
    %h3 Repositories
    - if @image.repositories.empty?
      %p There are no repositories.
    - else
      %div
        = f.fields_for :repositories do |repository_fields|
          = render 'repository_fields', f: repository_fields
        %p
          = link_to_add_association 'Add repository', f, :repositories


  .grid_16.alpha.omega.box.box-shadow
    %h3 Packages
    - if @image.kiwi_packages.empty?
      %p There are no packages.
    - else
      %div
        = f.fields_for :package_groups, @image.default_package_group do |package_group_fields|
          = package_group_fields.fields_for :packages do |kiwi_package_fields|
            = render 'package_fields', f: kiwi_package_fields
          %p
            = link_to_add_association 'Add package', package_group_fields, :packages

:javascript
  function save_image() {
    $.ajax({ url: "#{url_for(controller: 'kiwi/images', action: :show, id: @image)}",
      dataType: 'json',
      success: function(json) {
        var is_outdated = json['is_outdated'];
        if (is_outdated && !confirm("This image has been modified while you were editing it.\nDo you want to apply the changes anyway?"))
          return;
        $('#kiwi-image-update-form').submit();
      }
    });
  }

  $('#kiwi-image-update-form-save').click(save_image);

  $('#kiwi-image-update-form').change(function() {
    $(this).find('#kiwi-image-update-form-save').prop('disabled', false);
  });
