<% content_for :head_javascript do %>
function useOpenSUSE(){
	document.getElementById('name').value = "openSUSE.org";
	document.getElementById('remoteurl').value = "https://api.opensuse.org/public";
	document.getElementById('title').value = "Standard OBS instance at build.opensuse.org";
	document.getElementById('description').value = "This instance delivers the default build targets for OBS.";
}
function useMeeGo(){
	document.getElementById('name').value = "MeeGo.com";
	document.getElementById('remoteurl').value = "https://api.meego.com/public";
	document.getElementById('title').value = "Official MeeGo Project OBS instance at build.meego.com";
	document.getElementById('description').value = "This instance can be used to access resources from the MeeGo project.";
}
<% end %>



<% @pagetitle = "Connect Remote OBS Instance" %>

<% name = nil -%>
<% remoteurl = nil -%>

<h2>Connect a remote Open Build Service instance</h2>

<div>
<h3>Use a public OBS for default base distributions</h3>

<%# unless Project.exists?("openSUSE.org") -%>
  <% name = "openSUSE.org" -%>
  <% remoteurl = "https://api.opensuse.org/public" -%>
<%# end -%>

<%= button_to_function "build.openSUSE.org", "useOpenSUSE()" %>
<input type='button' onclick='javascript:useMeeGo()' value='build.MeeGo.com'/>

</div>

<h3>Add custom OBS instance</h3>
<% form_tag  :action => :save_instance do -%>
  <table id="instance">
    <tr>
      <td><strong>Local Project Name:</strong></td>
      <td><%= text_field_tag( "name", name, :size => 80 ) %></td></tr>
    <tr>
      <td><strong>Remote OBS api url:</strong></td>
      <td><%= text_field_tag( "remoteurl", remoteurl, :size => 80 ) %></td>
    </tr>
    <tr>
      <td><strong>Title:</strong></td>
      <td><%= text_field_tag( "title", "Remote OBS instance", :size => 80 ) %></td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td><%= text_field_tag( "description", "This project is representing a remote build service instance.", :size => 80 ) %></td>
    </tr>

  </table>
  <p><%= submit_tag %></p>
<% end -%>

