- if notifications.total_count == 0
  .card
    .card-body
      %p
        There are no notifications for the current filter selection

- else
  :ruby
    update_path = my_notifications_path(kind: selected_filter[:kind], state: selected_filter[:state],
                                        project: selected_filter[:project], group: selected_filter[:group],
                                        page: params[:page])
  = form_tag(update_path, method: :put, remote: true) do
    .card
      .card-body.pt-1
        = render(NotificationActionBarComponent.new(state: selected_filter[:state],
                                                update_path: update_path,
                                                counted_notifications: counted_notifications))
        .text-center
          %span.ms-3= page_entries_info notifications, entry_name: ''
        .list-group.list-group-flush.mt-3
          = render partial: 'notification', collection: notifications, locals: { selected_filter: selected_filter, page: params[:page] }

  = paginate notifications, views_prefix: 'webui', window: 2, params: { action: 'index', id: nil }
  = render partial: 'page_size_navigation', locals: { paginated_objects: notifications }

- content_for(:content_for_head, javascript_include_tag('webui/notification'))

- content_for :ready_function do
  handleNotificationCheckboxSelection();
  applySmartOverflow();
  window.onresize = applySmartOverflow;
