.row.list-group-flush
  = filter_notification_link('Unread', notifications_count['unread'], type: 'unread')
  = filter_notification_link('Read', nil, type: 'read')
.row.list-group-flush.mt-5
  %h5.ml-3 Filter
  = filter_notification_link('Comments', notifications_count['Comment'], type: 'comments')
  = filter_notification_link('Requests', notifications_count['BsRequest'], type: 'requests')
.row.list-group-flush.mt-5
  %h5.ml-3 Projects
  - projects_for_filter.each_pair do |project_name, amount|
    = filter_notification_link(project_name, amount, project: project_name)
