.row
  .col-md-4.col-lg-3#notifications-filter-desktop
    .card.mb-3
      %strong.d-block.d-md-none.p-3{ data: { toggle: 'collapse', target: '#filters' },
                                   aria: { expanded: true, controls: 'filters' } }
        Filtered by: #{(params[:type] || 'Inbox').humanize}
        %i.float-right.mt-1.fa.fa-chevron-down

      .card-body.collapse#filters
        .row.list-group-flush
          = user_notification_link('Inbox', 'inbox', filter: params[:type])
          = user_notification_link('Done', 'done', filter: params[:type])
        .row.list-group-flush.mt-5
          %h5.ml-3 Filter
          = user_notification_link('Reviews', 'reviews', filter: params[:type])
          = user_notification_link('Comments', 'comments', filter: params[:type])
          = user_notification_link('State changes', 'state_changes', filter: params[:type])

  .col-md-8.col-lg-9#notifications-list
    .card
      .card-body
        .list-group.list-group-flush
          - @notifications.each do |n|
            - notification = NotificationPresenter.new(n)
            .list-group-item.d-flex.flex-column.flex-sm-row.justify-content-sm-between
              .content
                .text-nowrap
                  %span.badge.badge-secondary= notification.notification_badge
                  %small.text-muted= time_ago_in_words(notification.created_at)
                = link_to(n.title, notification.link_to_notification_target, class: 'text-word-break-all')
              - unless params[:type] == 'done'
                .actions.align-self-end.align-self-sm-start.pl-3.pt-3.pt-sm-0
                  = link_to(user_notification_path(user_login: User.session, id: notification),
                                    method: :put, class: 'btn btn-sm btn-outline-success px-4', title: 'Done') do
                    %i.fas.fa-check
