- @pagetitle = "Edit Label Template \"#{@label_template.name}\""
.card
  = render partial: 'webui/configuration/tabs'

  .card-body
    %h3= @pagetitle
    .row
      .col-12.col-md-10.col-lg-8
        = form_with(model: @label_template, url: label_template_path(id: @label_template)) do |f|
          = render partial: 'form', locals: { form: f, label_template: @label_template }
          .actions
            = link_to('Cancel', label_templates_path, title: 'Cancel', class: 'btn btn-outline-secondary px-4 me-3 mt-3 mt-sm-0')
            = f.submit('Update', class: 'btn btn-primary px-4 mt-3 mt-sm-0')
