- @pagetitle = "Label Templates"
.card
  = render(partial: 'webui/configuration/tabs')

  .card-body
    %h3= @pagetitle
    %p Define instance wide Label Templates used for labeling projects.
    %ul.list-unstyled
      - @label_templates.each do |label_template|
        %li.mb-2
          = render partial: 'webui/shared/label', locals: { label: label_template }
          = link_to(edit_label_template_path(label_template)) do
            %i.fas.fa-edit
            Edit
          = link_to(label_template_path(label_template), method: :delete, class: 'text-danger',
            data: { confirm: 'Are you sure you want to delete this label template?'}) do
            %i.fas.fa-trash-can
            Delete
    .pt-4
      = link_to new_label_template_path, class: 'me-2' do
        %i.fas.fa-plus-circle.text-primary
        Create Label Template
