<div class="dialog" id="disable_mask"></div>

  <div class="dialog darkgrey_box">
    <div class="box box-shadow">
      <h2 class="box-header">Add new reply</h2>
        <%= form_tag :controller => "comments", :action => "add_new" do %>
        <p>
          <strong>Comment:</strong><br/>
          <%= text_area_tag 'body', @body, :cols => 80, :rows => 10 %><br/>

          <%if params[:package]%>
            <%= hidden_field_tag 'project', params[:project] %>
            <%= hidden_field_tag 'package', params[:package] %>
            <%= hidden_field_tag 'parent_id', params[:parent_id] %>
            <%= hidden_field_tag 'object_type', "package"%>
          <%elsif params[:id]%>
            <%= hidden_field_tag 'request_id', params[:id]%>
            <%= hidden_field_tag 'parent_id', params[:parent_id] %>
            <%= hidden_field_tag 'object_type', "request"%>
          <%else%>
            <%= hidden_field_tag 'object_type', "project"%>
            <%= hidden_field_tag 'parent_id', params[:parent_id] %>
            <%= hidden_field_tag 'project', params[:project] %>
          <%end%>
        </p>

        <p>
          <div class="buttons">
            <%= submit_tag("Post reply") %>
            <%= remove_dialog_tag('Cancel') %>
          </div>
        </p>
        <% end %>
      </div>
    </div>
  </div>
