<% level ||= 0 %>
 
<% if children and !children.empty? %>
	<% children.each do |comment| %>
		<div class="child_comment level-<%=level%>">
			<div class="grid_2 alpha box box-shadow">
				<div class="comment_image">
					<%= user_icon(comment[:user], 80)%>
					By <%=comment[:user]%>
				</div>
			</div>
			<div class="grid_10 alpha box box-shadow">
				<p><%= comment[:body] %></p>
				<p>
					<%=render partial: 'comments/request_package_or_project_reply_links', locals: {level: level, comment: comment} %>
				</p>
			</div>
		</div>

		<% unless comment[:children].empty? %>
			<%if params[:id]%>
				<%= render partial: 'comments/child_comment', locals: { id: params[:id], children: comment[:children], level: level+1 } %>
			<%elsif params[:package] %>
				<%= render partial: 'comments/child_comment', locals: { package: params[:package], project: params[:project], children: comment[:children], level: level+1 } %>
			<%else%>
				<%= render partial: 'comments/child_comment', locals: { project: params[:project], children: comment[:children], level: level+1 } %>
			<%end %>
		<% end %>
			
	<% end %>
<% end %>