 <div class="grid_16 alpha box box-shadow">
	<h2 class="box-header">Add a comment</h2>
	<%= form_tag :controller => "comments", :action => "add_new" do %>
		<p>
  			<strong>Title:</strong><br/>
  			<%= text_field_tag 'title', @title%><br/>
 			 <strong>Body:</strong><br/>
  			<%= text_area_tag 'body', @body, :cols => 80, :rows => 10 %><br/>

 		 	<%if params[:package] && params[:project]%>
 		 		<%= hidden_field_tag 'project', params[:project] %>
 		 		<%= hidden_field_tag 'package', params[:package] %>
 		 		<%= hidden_field_tag 'object_type', "package"%>
 		 	<%elsif params[:id]%>
 		 		<%= hidden_field_tag 'request_id', params[:id]%>
 		 		<%= hidden_field_tag 'object_type', "request"%>
 		 	<%else%>
 		 		<%= hidden_field_tag 'object_type', "project"%>
 		 		<%= hidden_field_tag 'project', params[:project] %>
 		 	<%end%>
		</p>
		<p><%= submit_tag "Add comment"%></p>
	<% end %>
</div>