%ul.nav.nav-tabs.pt-2.px-3.flex-nowrap.collapsible
  %li.nav-item
    %a.nav-link.active.result-select-link#result-select-link{ href: '#' } Build Results

.result-display
.card-body
  .btn.btn-sm.btn-outline-primary.build-refresh{ onclick: 'update_build_result()', title: 'Refresh Build Results' }
    Refresh
    %i.fas.fa-sm.fa-sync-alt{ id: 'result_spinner' }
%hr.m-0
#result-display

:ruby
  ajax_data = []
  ajax_data.push("'switch': 'true'")
  ajax_data.push("'project': '#{h(@project)}'")
  ajax_data.push("'package': '#{h(@package)}'")
  ajax_data = raw(ajax_data.join ', ')

= javascript_tag do
  :plain
    function update_build_result() {
      $('#result_spinner').addClass('fa-spin');
      $.ajax({
        url: '#{url_for(controller: '/webui/kiwi/images', action: 'build_result')}',
        data: {#{ajax_data}},
        success: function(data) {
          $('#result-display').html(data);
        },
        error: function(data) {
          $('#result-display').html('<p class="card-body">No build results available</p>');
        },
        complete: function(data) {
          $('#result_spinner').removeClass('fa-spin');
        }
      });
    }

    update_build_result();
