<% @pagetitle = "Submit Request ##{@id}" %>
<%
@crumb_list = [
 link_to( 'Requests', :controller => 'request', :action => :list_req), 
 "Submit Request #{h @id}"
]
-%>

<h2>Submit Request #<%=h @id%></h2>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "SyntaxHighlighter" %>
  <%= javascript_include_tag 'syntax/shCore', 'syntax/shBrushDiff' %>
<% end %>
<% content_for :ready_function do %>
    dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
<% end %>

<%= render :partial => 'request_table', :locals => {:requests => [@request], :options => false, :by_me => false } %>

<% if @diff_text %>
<pre id="code" class="patch">
  <%= h @diff_text %>
</pre>
<% elsif @diff_error %>
  <p>
    <i><div class="message">Can't get diff for request #<%= @id %>: <%= h @diff_error %></div></i>
  </p>
<% end %>


<% if !["accepted", "declined", "revoked"].include? @state and (@is_maintainer || @is_author) %>
<div class="section">
  <h3>
  <% if @is_maintainer %>
    Do you want to accept or decline this request?
  <% elsif @is_author %>
    Do you want to revoke your request?
  <% end %>
  </h3>

  <% form_tag :action => "submitreq" do %>
    <div>
    <p>
    <strong>Reason:</strong>
    <%= text_field_tag :reason, 'Reviewed ok' , :size => 80 %><br/>
    <%= hidden_field_tag( "id", @id) %>
    </p>
    <% if @is_maintainer %>
      <% linked = @target_pkg.linked_to if @target_pkg -%>
      <% if linked and not linked.empty? and @request.action.data["type"] == "submit" -%>
         <%= hidden_field_tag( "forward_project", linked[0]) %>	
         <%= hidden_field_tag( "forward_package", linked[1]) %>		
         <%= submit_tag "Forward to %s" % linked, :name => 'forward' %>
      <% end -%>
      <%= submit_tag "Accept", :name => 'accepted' %>
      <%= submit_tag "Decline", :name => 'declined' %>
    <% elsif @is_author %>
      <%= submit_tag "Revoke", :name => 'revoked' %>
    <% end %>
    </div>
  <% end %>
</div>

<% end %>

