<% @pagetitle = "Submit Request ##{@id}" %>
<%
@crumb_list = [
 link_to( 'Requests', :controller => 'request', :action => :list_req), 
 "Submit Request #{h @id}"
]
-%>

<h2>Submit Request #<%=h @id%></h2>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "SyntaxHighlighter" %>
  <%= javascript_include_tag 'syntax/shCore', 'syntax/shBrushDiff' %>
<% end %>
<% content_for :ready_function do %>
    dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
<% end %>

<p>
  <%= render :partial => 'request_table', :locals => {:requests => @requests, :options => false, :by_me => false } %>
</p>


<% if @diff_text %>
<pre name="code" class="patch">
  <%= @diff_text %>
</pre>
<% elsif @diff_error %>
  <p>
    <i><div class="message">Can't get diff for request #<%= @id %>: <%= @diff_error %></div></i>
  </p>
<% end %>


<% if !["accepted", "declined", "revoked"].include? @state and (@is_maintainer || @is_author) %>
<div class="section">
  <h3>
  <% if @is_maintainer && !@revoke_own%>
    Do you want to accept or decline this request?
  <% elsif @is_author && @revoke_own%>
    Do you want to revoke your request?
  <% end %>
  </h3>

  <% form_tag :action => "submitreq" do %>
    <b>Reason:</b>
    <%= text_field_tag :reason, '' , :size => 80 %><br/>
    <%= hidden_field_tag( "id", @id) %>
    <% if @is_maintainer && !@revoke_own %>
      <%= submit_tag "Accept" %>
      <%= submit_tag "Decline" %>
    <% elsif @is_author && @revoke_own %>
      <%= submit_tag "Revoke" %>
    <% end %>
  <% end %>
</div>

<% end %>
