<% @pagetitle = "Submit Request ##{@id}" %>
<%
req = @therequest
@crumb_list = [
  link_to( 'Requests', :controller => :home, :action => :list_requests),
  "Submit Request #{h @id}"
]
-%>

<h2>Submit Request #<%=h @id%></h2>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "SyntaxHighlighter" %>
  <%= javascript_include_tag 'syntax/shCore', 'syntax/shBrushDiff' %>
<% end %>
<% content_for :ready_function do %>
  dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
<% end %>

<%-
setup_buildresult_trigger
%>

<div id="build_result_popup"><div id="build_result_html"></div></div>

<table class='request_table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>State</th>
      <th>Requester</th>
      <th>Type</th>
      <th>Source</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
      <%  if req.has_element? :action
          actions = req.each_action
          length = actions.length
      else
          actions = [req.submit]
          length = 1
      end
      first = true %>
      <% req.each_action do |action| %>
        <tr>
          <% if first %>
             <td rowspan="<%= length %>"><%= req.value :id %></td>
             <td rowspan="<%= length %>"><%= req.state.name %></td>
             <td rowspan="<%= length %>"><%= link_to req.state.who, :controller => :project, :action => "show", :project => "home:"+req.state.who %></td>
             <% first = nil %>
          <% end %>
          <td>
            <% if req.has_element? :action %>
              <%= action.data.attributes["type"] %>
            <% else %>
              submit
            <% end -%>
          </td>
          <td>
            <%= if action.has_element? :source
              package_link(action.source.project, action.source.package)
            end -%>
          </td>
          <td>
            <%= if action.has_element? :target
              package_link(action.target.project, action.target.package)
            end -%>
          </td>
        </tr>
      <% end -%>
    <tr>
      <td colspan="6"><pre><%= h(req.value('description') || "-") %></pre></td>
    </tr>
  </tbody>
</table>

<% if @diff_text %>
  <pre id="code" class="patch">
    <%= h @diff_text %>
  </pre>
<% end %>

<% if !["accepted", "declined", "revoked"].include? @state and (@is_maintainer || @is_author) and !@diff_error %>
  <p/>
  <div class="section">
    <h3>
      <% if @is_maintainer %>
        Do you want to accept or decline this request?
      <% elsif @is_author %>
        Do you want to revoke your request?
      <% end %>
    </h3>

    <% form_tag :action => "submitreq" do %>
      <div>
        <p>
          <strong>Reason:</strong>
          <%= text_field_tag :reason, 'Reviewed ok' , :size => 80 %><br/>
          <%= hidden_field_tag( "id", @id) %>
        </p>
        <p>
          <% if @is_maintainer %>
            <% linked = @target_pkg.linked_to if @target_pkg -%>
            <% if linked and not linked.empty? and @therequest.action.data["type"] == "submit" -%>
              <%= hidden_field_tag( "forward_project", linked[0]) %>
              <%= hidden_field_tag( "forward_package", linked[1]) %>
              <%= submit_tag "Forward to %s" % linked, :name => 'forward' %>
            <% end -%>
            <%= submit_tag "Accept", :name => 'accepted' %>
            <%= submit_tag "Decline", :name => 'declined' %>
          <% elsif @is_author %>
            <%= submit_tag "Revoke", :name => 'revoked' %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>

<% end %>

