<% @pagetitle = "Request #{@id}" %>
<% @layouttype = 'custom' %>
<% @crumb_list = [link_to('Requests', :controller => :home, :action => :requests), @id] %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag 'jquery.autocomplete', 'jquery.tooltip' %>
<% end %>
<%= javascript_include_tag 'jquery.autocomplete.pack', 'jquery.expander.min', 'jquery.tooltip.min' %>

<% content_for :ready_function do %>
  $('#expandable_comment').expander({slicePoint: 320, expandText: '[+]', expandPrefix: ' ', userCollapseText: '[-]',});
<% end %>

<div id="request_navigation_box" style="position: absolute; right: 0.3em;">
  <% if @request_before -%>
    <%= link_to "<<", :controller => :request, :action => :show, :id => @request_before %>
  <% end -%>
  <% if @request_after -%>
    <%= link_to ">>", :controller => :request, :action => :show, :id => @request_after %>
  <% end -%>
</div>

<div class="grid_16 box box-shadow alpha omega">
  <div class="grid_10 alpha">
    <div class="box show_left show_bottom">
      <% if @superseded_by %>
        <h3><%= @pagetitle %> (<%= @state %> by request <%= link_to @superseded_by, :id => @superseded_by %>)</h3>
      <% else %>
        <h3><%= @pagetitle %> (<%= @state %>)</h3>
      <% end %>
      <% if @req.value(:description).empty? %>
        <p><i>No request description</i></p>
      <% else %>
        <p id="expandable_comment"><%= format_comment(@req.value(:description)) %></p>
      <% end %>

      <% if @other_open_reviews.length > 0 %>
        <div class="grid_5 alpha">
          <h4>Open Reviews</h4>
          <%= render :partial => 'other_open_reviews' %>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
  </div>

  <div class="grid_6 omega">
    <div class="box show_right">
      <div class="box-header aligncenter"><b>Request History</b></div>
      <%= render :partial => 'recent_events_table' %>
    </div>
  </div>
</div>

<div class="grid_16 alpha omega box box-shadow">
  <% if @actions.length > 1 %>
    <div class="box-header header-tabs">
      <ul id="action_select">
        <% @actions.each_with_index do |action, index| %>
          <li class="<%= 'selected' if index == 0 %>">
            <a class="action_select_link" id="action_select_link_<%= index %>" href="#"><%= action[:name] %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <% javascript_tag do %>
      $('.action_select_link').click(function (event) {
        $('#action_select li.selected').attr('class', '');
        $(event.target).parent().attr('class', 'selected')
        $('.action_display').hide();
        index = event.target.id.split('action_select_link_')[1]
        $('#action_display_' + index).show();
      });
    <% end %>
  <% end %>
  <% @actions.each_with_index do |action, action_index| %>
    <div class="action_display <%= 'hidden' if action_index > 0 %>" id="action_display_<%= action_index %>">
      <p>
        <% if action[:type] == 'submit' %>
          Submit
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:sprj], :package => action[:spkg], :short => true} %>
          to
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg], :short => true} %>

          <% if action[:creator_is_target_maintainer] %>
            <%# TODO: Make this work for each submit action individually: %>
            <%= check_box_tag(:add_submitter_as_maintainer) %> Add
            <%= render :partial => 'shared/user_with_realname_and_gravatar', :locals => {:user => @req.creator()} %> as target maintainer<br/>
          <% end %>
          <% if action[:forward] %>
            <% action[:forward].each do |forward| %>
              <% index = 0 %>
              <% if forward[:type] == 'link' %>
                <%= check_box_tag('forward_link', "#{forward[:project]}_#_#{forward[:package]}") %> Forward to linked package
                <%= link_to("#{forward[:project]} / #{forward[:package]}", :controller => 'package', :action => 'show', :project => forward[:project], :package => forward[:package]) %><br/>
              <% else %>
                <%= check_box_tag("forward_devel_#{index}", "#{forward[:project]}_#_#{forward[:package]}", true) %> Forward to developed package
                <%= link_to("#{forward[:project]} / #{forward[:name]}", :controller => 'package', :action => 'show', :project => forward[:project], :package => forward[:name]) %><br/>
                <% index += 1 %>>
              <% end %>
            <% end %>
          <% end %>


        <% elsif action[:type] == 'delete' %>
          Delete
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg]} %>
        <% elsif action[:type] == 'add_role' %>
          <%= render :partial => 'shared/user_with_realname_and_gravatar', :locals => {:user => action[:user]} %>
          wants the role <b><%= action[:role] %></b> for
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg]} %>
        <% elsif action[:type] == 'change_devel' %>
          Set the devel project to
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:sprj], :package => action[:spkg]} %>
          for
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg]} %>
        <% elsif action[:type] == 'maintenance_incident' %>

        <% elsif action[:type] == 'maintenance_release' %>
        <% end %>
      </p>



      <%#TODO: Add buildsresult partial on the right %>

      <% if action[:sourcediff] %>
        <% action[:sourcediff].each_with_index do |sourcediff, sourcediff_index| %>
          <% if action[:type] == 'delete' %>
            <% project, package, rev = sourcediff[:old].project, sourcediff[:old].package, sourcediff[:old].rev %>
          <% else %>
            <% project, package, rev = sourcediff[:new].project, sourcediff[:new].package, sourcediff[:new].rev %>
          <% end %>

          <% if action[:sourcediff].length != 1 %>
            <h4>
              <%= sourcediff[:new].project %> / <%= sourcediff[:new].package %> (rev <%= sourcediff[:new].rev %>) -
              <%= sourcediff[:old].project %> / <%= sourcediff[:old].package %> (rev <%= sourcediff[:old].rev %>)
            </h4>
          <% end %>

          <%#TODO: Move issue rendering into seperate partial on the right %>
          <%#TODO: Redo source/target link display %>
          <%= render(:partial => 'shared/sourcediff', :locals => {:filenames => sourcediff[:filenames], :files => sourcediff[:files], :issues => sourcediff[:issues], :source => {:project => project, :package => package, :rev => rev}, :css_id => "diff_action_#{action_index}_#{action[:type]}_#{sourcediff_index}"}) %>
        <% end %>
        <p><%= link_to('Back to top', '#') %></p>
      <% end %>


    </div>
  <% end %>
</div>

