<% @pagetitle = "Request ##{@id}" %>
<%
req = @therequest
@crumb_list = [
  link_to( 'Requests', :controller => :home, :action => :list_requests),
  "Request #{h @id}"
]
-%>

<% if req.state.name == "review" %>
<h2>Review of Request #<%=h @id%></h2>
<% else %>
<h2>Request #<%=h @id%></h2>
<% end %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "SyntaxHighlighter" %>
  <%= javascript_include_tag 'syntax/shCore', 'syntax/shBrushDiff' %>
<% end %>
<% content_for :ready_function do %>
  dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
<% end %>

<%-
setup_buildresult_trigger
%>

<div id="build_result_popup"><div id="build_result_html"></div></div>

<table class='request_table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>State</th>
      <th>Requester</th>
      <th>Type</th>
      <th>Source</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
      <%  if req.has_element? :action
          actions = req.each_action
          length = actions.length
      else
          actions = [req.submit]
          length = 1
      end
      first = true %>
      <% req.each_action do |action| %>
        <tr>
          <% if first %>
             <td rowspan="<%= length %>"><%= req.value :id %></td>
             <td rowspan="<%= length %>"><%= req.state.name %></td>
             <td rowspan="<%= length %>"><%= link_to req.state.who, :controller => :project, :action => "show", :project => "home:"+req.state.who %></td>
             <% first = nil %>
          <% end %>
          <td>
            <% if req.has_element? :action %>
              <%= action.data.attributes["type"] %>
            <% else %>
              submit
            <% end -%>
          </td>
          <td>
            <%= if action.has_element? :source
              package_link(action.source.project, action.source.value(:package))
            end -%>
          </td>
          <td>
            <%= if action.has_element? :target
              package = action.target.value(:package)
              package_link(action.target.project, package) if package
            end -%>
          </td>
        </tr>
      <% end -%>
    <tr>
      <td colspan="6"><code><%= h(req.value('description') || "-") %></code></td>
    </tr>
  </tbody>
</table>

<% if @newpackage.length > 0 %>
  <h3>
    New package will be added:
    <% @newpackage.each do |p| %>
      <%=  link_to( p[:package], :controller => :package, :action => :show, :project => p[:project], :package => p[:package]) %>
    <% end %>
  </h3>
<% end %>

<% if @diff_text %>
  <pre id="code" class="patch">
    <%= h @diff_text %>
  </pre>
<% end %>

<% if !["accepted", "declined", "revoked"].include? @state and (@is_maintainer || @is_author) and !@diff_error %>
  <p/>
  <div class="section">
    <h3>
      <% if req.state.name == "review" %>
        Do you approve this request?
      <% elsif @is_maintainer %>
        Do you want to accept or decline this request?
      <% elsif @is_author %>
        Do you want to revoke your request?
      <% end %>
    </h3>

    <% form_tag :action => "changerequest" do %>
      <div>
<!-- IMPLEMENT ME: ask another user for review -->
        <% if req.state.name == "review" %>
          <p>To be reviewed by:</p>
          <% req.each_review do |r|%>
            <% if r.has_attribute? :by_user %>
              <p>User <b><%=r.by_user%></b>
              <% if @is_reviewer and r.state.to_s == "new" and r.by_user.to_s == @user.login.to_s %>
                <%= submit_tag("Approve", :name => 'modify_by_user') %>
                <%= submit_tag("Reject", :name => 'modify_by_user') %>
              <% else %>
                <%= r.state %>
                <% unless r.text.blank? %> <!-- show comment, if existing -->
                 (<%= r.text %>)
                <% end %>
              <% end %>
              </p>
            <%end%>

            <% if r.has_attribute? :by_group %>
              <p>Group <b><%=r.by_group%></b>
              <% if @is_reviewer and r.state.to_s == "new" and @user.is_in_group? r.by_group %>
                <%= submit_tag("Approve_#{r.by_group}", :name => "modify_by_group") %>
                <%= submit_tag("Reject_#{r.by_group}", :name => "modify_by_group") %>
              <% else %>
                <%= r.state %>
                <% unless r.text.blank? %> <!-- show comment, if existing -->
                 (<%= r.text %>)
                <% end %>
              <% end %>
              </p>
            <%end%>
          <%end%>
        <% end %>

        <% if @is_maintainer %>
          <p>
            <strong>Reason:</strong>
            <%= text_field_tag :reason, '' , :size => 80 %><br/>
            <%= hidden_field_tag( "id", @id) %>
          </p>
          <% linked = @target_pkg.linked_to if @target_pkg -%>
          <% if linked and not linked.empty? and @therequest.action.data["type"] == "submit" -%>
            <%= hidden_field_tag( "forward_project", linked[0]) %>
            <%= hidden_field_tag( "forward_package", linked[1]) %>
            <%= submit_tag "Forward to %s" % linked, :name => 'forward' %>
          <p>Note: Accepting will apply the changes.</p>
          <% end -%>
          <% if req.state.name.to_s == "review" %>
            <%= submit_tag "Accept", :name => 'accepted', :confirm => "Do you really wan't to approve this request, despite of open review requests ?" %>
          <% else %>
            <%= submit_tag "Accept", :name => 'accepted' %>
          <% end %>
          <%= submit_tag "Decline", :name => 'declined' %>
        <% elsif @is_author %>
          <%= submit_tag "Revoke", :name => 'revoked' %>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>

