<% @pagetitle = "Request #{@id}" %>
<% @layouttype = 'custom' %>
<% @crumb_list = [link_to('Requests', :controller => :home, :action => :requests), @id] %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag 'jquery.autocomplete' %>
<% end %>
<%= javascript_include_tag 'jquery.autocomplete.pack', 'jquery.expander.min' %>

<% content_for :ready_function do %>
  $('#expandable_comment').expander({slicePoint: 320, expandText: '[+]', expandPrefix: ' ', userCollapseText: '[-]',});
<% end %>

<div id="request_navigation_box" style="position: absolute; right: 0.3em;">
  <% if @request_before -%>
    <%= link_to "<<", :controller => :request, :action => :show, :id => @request_before %>
  <% end -%>
  <% if @request_after -%>
    <%= link_to ">>", :controller => :request, :action => :show, :id => @request_after %>
  <% end -%>
</div>

<div class="grid_16 box box-shadow alpha omega">
  <div class="grid_10 alpha">
    <div class="box show_left show_bottom">
      <h3><%= @pagetitle %></h3>
      <% if @req.value(:description).empty? %>
        <p><i>No request description</i></p>
      <% else %>
        <p id="expandable_comment"><%= format_comment(@req.value(:description)) %></p>
      <% end %>

      <div class="grid_5 alpha">
        <h4>Information</h4>
        <ul class="clean_list">
          <li><%= image_tag 'icons/information.png' %> In state <b><%= @state %></b></li>
          <% if @superseded_by %>
            <li><%= image_tag 'icons/exclamation.png' %> Superseded by <%= link_to @superseded_by, :id => @superseded_by %></li>
          <% end %>
          <% if @other_open_reviews.length > 0 %>
            <%= render :partial => 'other_open_reviews' %>
          <% end %>
        </ul>
      </div>

      <%#TODO: Only display actions if there's sth. to do for the current user %>
      <div class="grid_5 omega">
        <h4>Actions</h4>
        <ul class="clean_list">
          <li></li>
          <% if @my_open_reviews.length > 0 %>
            <% @my_open_reviews.each do %>
              <li>
                accept review...
              <%# render :partial => 'other_open_reviews' %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="grid_6 omega">
    <div class="box show_right">
      <div class="box-header aligncenter"><b>Request History</b></div>
      <%= render :partial => 'recent_events_table' %>
    </div>
  </div>
</div>

<div class="grid_16 alpha omega box box-shadow">
  <% if @actions.length > 1 %>
    <div class="box-header header-tabs">
      <ul id="action_select">
        <% @actions.each_with_index do |action, index| %>
          <li class="<%= 'selected' if index == 0 %>">
            <a class="action_select_link" id="action_select_link_<%= index %>" href="#"><%= action[:name] %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <% javascript_tag do %>
      $('.action_select_link').click(function (event) {
        $('#action_select li.selected').attr('class', '');
        $(event.target).parent().attr('class', 'selected')
        $('.action_display').hide();
        index = event.target.id.split('action_select_link_')[1]
        $('#action_display_' + index).show();
      });
    <% end %>
  <% end %>
  <% @actions.each_with_index do |action, action_index| %>
    <div class="action_display <%= 'hidden' if action_index > 0 %>" id="action_display_<%= action_index %>">
      <p>
        <% if action[:type] == 'submit' %>
          <b>Submit
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:sprj], :package => action[:spkg], :short => true} %>
          <% if action[:srev] && action[:srev] != Package.current_rev(action[:sprj], action[:spkg]) %>
            (<%= link_to("(revision #{action[:srev]}", :controller => 'package', :action => 'files', :project => action[:sprj], :package => action[:spkg], :rev => action[:srev]) %>)
          <% end %>
          to
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg], :short => true} %>
          </b>
          <% if !action[:creator_is_target_maintainer] %>
            <%# TODO: Make this work for each submit action individually: %>
            <br/><%= check_box_tag(:add_submitter_as_maintainer) %> Add
            <%= render :partial => 'shared/user_with_realname_and_icon', :locals => {:user => @req.creator().login, :no_icon => true} %> as maintainer for
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg], :short => true} %> if request is accepted
            <br/>
          <% end %>

          <% if action[:forward] %>
            <% action[:forward].each do |forward| %>
              <% index = 0 %>
              <% if forward[:type] == 'link' %>
                <%= check_box_tag('forward_link', "#{forward[:project]}_#_#{forward[:package]}") %> Forward to linked package
                <%= link_to("#{forward[:project]} / #{forward[:package]}", :controller => 'package', :action => 'show', :project => forward[:project], :package => forward[:package]) %><br/>
              <% else %>
                <%= check_box_tag("forward_devel_#{index}", "#{forward[:project]}_#_#{forward[:package]}", true) %> Forward to developed package
                <%= link_to("#{forward[:project]} / #{forward[:name]}", :controller => 'package', :action => 'show', :project => forward[:project], :package => forward[:name]) %><br/>
                <% index += 1 %>>
              <% end %>
            <% end %>
          <% end %>


        <% elsif action[:type] == 'delete' %>
          <b>Delete
          <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg]} %>
          </b>
        <% elsif action[:type] == 'add_role' %>
          <b>
            <%= render :partial => 'shared/user_with_realname_and_icon', :locals => {:user => action[:user]} %>
            wants the role <b><%= action[:role] %></b> for
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg]} %>
          </b>
        <% elsif action[:type] == 'change_devel' %>
          <b>
            Set the devel project to
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:sprj], :package => action[:spkg]} %>
            for
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg]} %>
          </b>
        <% elsif action[:type] == 'maintenance_incident' %>
          <b>
            Start new incident from
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:sprj], :package => action[:spkg]} %>
            in
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg]} %>
          </b>
        <% elsif action[:type] == 'maintenance_release' %>
          <b>
            Release
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:sprj], :package => action[:spkg]} %>
            to
            <%= render :partial => 'shared/project_or_package_link', :locals => {:project => action[:tprj], :package => action[:tpkg]} %>
          </b>
        <% end %>
      </p>

      <% if action[:sourcediff] %>
        <% action[:sourcediff].each_with_index do |sourcediff, sourcediff_index| %>
          <div class="grid_10 alpha">
            <div class="box show_left show_bottom">
              <div class="box-header aligncenter"><b>Source Diff</b></div>
              <% if action[:type] == 'delete' %>
                <% project, package, rev = sourcediff[:old].project, sourcediff[:old].package, sourcediff[:old].rev %>
              <% else %>
                <% project, package, rev = sourcediff[:new].project, sourcediff[:new].package, sourcediff[:new].rev %>
              <% end %>

              <% if action[:sourcediff].length != 1 %>
                <h4>
                  <%= sourcediff[:new].project %> / <%= sourcediff[:new].package %> (rev <%= sourcediff[:new].rev %>) -
                  <%= sourcediff[:old].project %> / <%= sourcediff[:old].package %> (rev <%= sourcediff[:old].rev %>)
                </h4>
              <% end %>

              <%#TODO: Redo source/target link display %>
              <%= render(:partial => 'shared/sourcediff', :locals => {:filenames => sourcediff[:filenames], :files => sourcediff[:files], :source => {:project => project, :package => package, :rev => rev}, :css_id => "diff_action_#{action_index}_#{action[:type]}_#{sourcediff_index}"}) %>
              <p><%= link_to('Back to top', '#') %></p>
            </div>
          </div>

          <div class="grid_6 omega">
            <div class="box show_right show_bottom">
              <div class="box-header aligncenter">
                <b>Build Results</b>
                <%= image_tag('ajax-loader.gif', :id => "buildresult_spinner_#{action_index}", :class => "hidden") %>
              </div>
              <% javascript_tag do %>
                $('#buildresult_spinner_<%= action_index %>').show();
                $.ajax({
                  url: '<%= url_for(:controller => :package, :action => :reload_buildstatus) %>',
                  data: {
                    <%= "'project': '" + project + "'," unless not defined?(project) %>
                    <%= "'package': '" + package + "'," unless not defined?(package) %>
                  },
                  success: function(data) {
                    $('#buildresult_display_<%= action_index %>').html(data);
                  },
                  error: function(data) {
                    $('#buildresult_display_<%= action_index %>').html('<p>No build result available</p>');
                  },
                  complete: function(data) {
                    $('#buildresult_spinner_<%= action_index %>').hide();
                  }
                });
              <% end %>
              <div id="buildresult_display_<%= action_index %>"></div>
            </div>
          </div>

          <% if sourcediff[:issues].length > 0 %>
            <div class="grid_6 omega">
              <div class="box show_right show_bottom">
                <div class="box-header aligncenter"><b>Mentioned Issues</b></div>
                <%= render :partial => 'issues_table', :locals => {:issues => sourcediff[:issues]} %>
              </div>
            </div>
          <% end %>

          <% if sourcediff[:rpmlint] %>>
            <div class="grid_6 omega">
              <div class="box show_right">
                <div class="box-header aligncenter"><b>Rpmlint Output</b></div>
                <%#TODO: Add issues partial on the right %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

