<% @pagetitle = "Request ##{@id}" %>
<% @crumb_list = [link_to('Requests', :controller => :home, :action => :list_requests), @pagetitle] %>

<% content_for :content_for_head do %>
  <%= javascript_include_tag 'jquery.tablesorter.js' %>
  <%= javascript_include_tag 'jquery.tooltip.min'  %>
  <%= stylesheet_link_tag "jquery.tooltip" %>
<% end %>

<h3><%= @pagetitle %></h3>

<% if @superseded_by %>
  <p>This request has been superseded by request #<%= link_to @superseded_by, :id => @superseded_by %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th style="width: 1%">Date</th>
      <th style="width: 40%">Source</th>
      <th style="width: 40%">Target</th>
      <th style="width: 5%">Requester</th>
      <th style="width: 1%">Type</th>
      <th style="width: 1%">State</th>
      <th style="width: 1%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%  if @req.has_element? :action
      actions = @req.each_action
      length = actions.length
    else
      actions = [@req.submit]
      length = 1
    end
    first = true %>
    <% @req.each_action do |ae| %>
      <tr>
        <td rowspan="<%= length %>" class="nowrap"><!-- <%= @req.value :id %> --><%= fuzzy_time_string( @req.state.value "when" ) %></td>
        <%= render :partial => 'shared/request_table_source_and_target', :locals => {:ae => ae} %>
        <% if first %>
          <td rowspan="<%= length %>"><%= link_to(elide(@req.state.who, 12), :controller => :home, :user => @req.state.who) %></td>
          <td>
            <% if @req.has_element? :action %>
              <%= ae.data.attributes["type"] %>
            <% else %>
              submit
            <% end -%>
          </td>
          <td rowspan="<%= length %>"><%= @req.state.name %></td>
          <td>
            <% if ae.has_element? :source %>
              <%= link_to(image_tag('icons/information.png', :size => '16x16', :alt => 'Build Results', :id => "req_#{@req.value(:id)}"), :controller => :project, :action => :package_buildresult, :project => ae.source.project, :package => ae.source.package) %>
              <script type="text/javascript">
                setup_buildresult_tooltip( <%= @req.value(:id) %>, '<%= url_for :controller => :project, :action => :package_buildresult, :project => ae.source.project, :package => ae.source.package %>' )
              </script>
            <% end %>
          </td>
          <% first = nil %>
        <% end %>
      </tr>
    <% end -%>
  </tbody>
</table>
<p><%= format_comment(@req.value('description')) %></p>

<% content_for :head_javascript do %>
  function insertRow() {
    var type = document.getElementById('add_review_type').value;
    var value = document.getElementById('add_review_name').value;
    var comment = document.getElementById('add_review_comment').value;
    var id = "id_"+type+"_"+value
    var path = "/request/addreviewer/<%=@id%>?comment="+encodeURIComponent(comment)+"&"
    if (type == "User") {
      path = path + "user="+encodeURIComponent(value)
    } else {
      path = path + "group="+encodeURIComponent(value)
    }

    $('#pTable tr:last').before('<tr>'+
      '<td>'+type+'</td>'+
      '<td>'+value+'</td>'+
      '<td>'+comment+'</td>'+
      '<td id="'+id+'">adding...</td>'+
      '</tr>');
    $.ajax({type: "POST", url: path, success: function(data){$("#pTable td#"+id).text(data)} })
  }

  function modifyReview(group, new_state, field_id) {
    var path = "/request/modifyreviewer/<%=@id%>?new_state="+encodeURIComponent(new_state)
    var comment
    if (group != "") {
      path = path + "&group="+encodeURIComponent(group)
      comment = document.getElementById('review_comment_'+group).value;
    } else {
      comment = document.getElementById('review_comment').value;
    }
    path = path + "&comment=" + encodeURIComponent(comment);

    $.ajax({type: "POST", url: path, success: function(data){$("#pTable td#"+field_id).text(data)} })
    $("#pTable td#comment_"+field_id).text(comment)
  }
<% end %>
<% if !["accepted", "declined", "revoked", "superseded"].include?(@state) && (@is_reviewer || @is_maintainer || @is_author) %>
  <div class="section">
    <% form_tag :action => "changerequest" do %>
      <div>
        <h3>Edit Request</h3>
        <% if !@diff_error && (@is_maintainer || @is_reviewer || @is_author || @req.each_review.length > 0) %>
          <!-- handle existing reviews -->
          <p>
            <strong>Reviewers:</strong>
          </p>
          <table id="pTable">
            <tr>
              <th style="width: 1%">Type</th>
              <th style="width: 8%">Owner</th>
              <th style="width: 90%">Comment</th>
              <th style="width: 1%">State</th>
            </tr>
            <% @req.each_review do |r|%>
              <%- comment=nil
              comment=r.comment if r.has_element? :comment %>
              <tr>
                <% if r.has_attribute? :by_user %>
                  <td>User</td> <td><%=r.by_user%></td>
                  <% if @is_reviewer and @req.state.name == "review" and r.state.to_s == "new" and r.by_user.to_s == @user.login.to_s %>
                    <td id="comment_user_<%=r.by_user%>"><%=text_field_tag "review_comment", comment, :size => "50x2" %></td>
                    <td id="user_<%=r.by_user%>">
                      <%= button_to_function "Approve", :onclick => "modifyReview(\"\", \"accepted\", \"user_#{r.by_user}\")" %>
                      <%= button_to_function "Reject", :onclick => "modifyReview(\"\", \"declined\", \"user_#{r.by_user}\")" %>
                    </td>
                  <% else %>
                    <td><%= comment%></td>
                    <td><%= r.state %></td>
                  <% end %>
                <%end%>

                <% if r.has_attribute? :by_group %>
                  <td>Group</td> <td><%=r.by_group%></td>
                  <% if @is_reviewer and @req.state.name == "review" and r.state.to_s == "new" and @user.is_in_group? r.by_group %>
                    <td id="comment_group_<%=r.by_group%>"><%=text_field_tag "review_comment_#{r.by_group}", comment, :size => "50x2" %></td>
                    <td id="group_<%=r.by_group%>">
                      <%= button_to_function "Approve", :onclick => "modifyReview(\"#{r.by_group}\", \"accepted\", \"group_#{r.by_group}\")" %>
                      <%= button_to_function "Reject", :onclick => "modifyReview(\"#{r.by_group}\", \"declined\", \"group_#{r.by_group}\")" %>
                    </td>
                  <% else %>
                    <td><%= comment%></td>
                    <td><%= r.state %></td>
                  <% end %>
                <%end%>
              </tr>
            <%end%>

            <!-- add another review -->
            <% if !@diff_error && (@req.state.name == "review" || @req.state.name == "new") %>
              <% if @is_maintainer || @is_reviewer || @is_author %>
                <tr class="add_reviewer">
                  <td><%= select_tag "add_review_type", options_for_select(["User", "Group"]) %></td>
                  <td><%= text_field_tag "add_review_name" %></td>
                  <td><%= text_field_tag "add_review_comment", nil, :style => "width: 99%" %></td>
                  <td><%= link_to_function(image_tag("icons/user_add.png", :alt => "Add reviewer"), "insertRow()") %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>

        <!-- handle the request itself -->
        <%= hidden_field_tag( "id", @id) %>
        <p>
          <strong>Your Comment:</strong><br/>
          <%= text_field_tag :reason, '' , :style => "width: 99%" %><br/>
        </p>
        <p>
          <% if @is_maintainer %>
            <% linked = @target_pkg.linked_to if @target_pkg -%>
            <% if !@diff_error -%>
              <% if linked and not linked.empty? and @req.action.data["type"] == "submit" -%>
                <%= hidden_field_tag( "forward_project", linked[0]) %>
                <%= hidden_field_tag( "forward_package", linked[1]) %>
                <%= submit_tag "Forward to %s" % linked, :name => 'forward' %>
              <% end -%>
              <% if @req.state.name.to_s == "review" %>
                <%= submit_tag "Accept Request", :name => 'accepted', :confirm => "Do you really wan't to approve this request, despite of open review requests ?" %>
              <% else %>
                <%= submit_tag "Accept Request ", :name => 'accepted' %>
              <% end %>
            <% end %>
            <%= submit_tag "Decline Request", :name => 'declined' %>
          <% elsif @is_author %>
            <%= submit_tag "Revoke Request", :name => 'revoked' %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>

<% if @diff_text and not @diff_text.empty? %>
  <h3>Diff</h3>
  <%= render :partial => "shared/syntaxhighlighter", :locals => {:code => @diff_text, :type => 'diff'} %>
<% end %>
