<div id="project_buildstatus">
  <% if @buildresult.blank? %>
      <% if @project.remoteurl %>
          <p><i>This project is just used to get referenced for using remote resources. </i></p>
      <% elsif @project.repositories.count == 0 %>
          <p><i>This project currently has
            no <%= link_to "build targets", controller: :repositories, action: :distributions, project: @project %>
            defined. </i></p>
      <% else %>
          <p><i>No build result available</i></p>
      <% end %>
  <% else %>
      <table class="repostatus">
        <% @buildresult.each do |repo, archarray| %>
            <% index = 0
               archarray.each do |arch, counts| %>
                <tr>
                  <% if index == 0 %>
                      <td class="repo" rowspan="<%= archarray.length %>">
                        <%= link_to(word_break(repo, 13), { action: :state, project: @project.name, repository: repo, controller: :repositories }, { title: "Repository #{repo}"}) %>
                      </td>
                      <% index += 1 %>
                  <% end %>
                  <td class="nowrap">
                    <%= repo_status_icon(@repostatushash[repo][arch], @repostatusdetailshash[repo][arch])%> <%= arch %>
                  </td>
                  <td style="width: 1%">
                    <% counts.each do |code, count| %>
                        <%= link_to("#{code}: #{count}", {:action => :monitor, valid_xml_id('repo_' + repo) => 1,
                                                          'arch_' + arch => 1, :project => params[:project], code => 1, :defaults => 0}, :rel => 'nofollow', :class => 'nowrap') %>
                    <% end %>
                  </td>
                  <td>
                    <% counts.each do |code, count| %>
                        <img title="<%= get_package_status_description(code) %>" class="icons-help" alt="<%= get_package_status_description(code) %>" src='/assets/s.gif' /><br />
                    <% end %>
                  </td>
                </tr>
            <% end %>
        <% end %>
      </table>
  <% end %>
</div>
