  <div class="dialog darkgrey_box">
    <div class="box box-shadow">
      <h2 class="box-header">Create Maintenance Release Request</h2>
      <div class="dialog-content">
        <p>Do you want to release <%= project_or_package_link project: @project.name %> as a maintenance update?</p>

        <%= form_tag({:controller => 'project', :action => 'new_release_request'}) do -%>
          <%= hidden_field_tag(:project, @project.name) %>
          <p>
            <%= label_tag(:sourceproject, 'From project:') %><br/>
            <%= text_field_tag(:sourceproject, elide(@project.name, 40), :size => 40, :disabled => true) %><br/>
            <%= label_tag(:description, 'Description:') %><br/>
            <%= text_area_tag(:description, '', :size => '40x3') %><br/>
            <span id="supersede-display" class="hidden">
              <%= label_tag(:pending_requests, 'Pending requests:') %><br/>
              <span id="pending-requests"></span>
              <%= check_box_tag(:supersede) %> Supersede pending requests<br/>
            </span>
          </p>
          <%= render partial: '/webui/shared/dialog_action_buttons' %>
        <% end %>
      </div>
    </div>
  </div>
