- content_for :actions do
  %li.nav-item.action-report-bug
    = render partial: 'webui/project/show_actions/report_bug', locals: { url: project.report_bug_or_bugzilla_url }

  - if project.locked? && User.possibly_nobody.can_modify?(project, true)
    = render partial: 'webui/project/show_actions/unlock_project', locals: { project: project }

  - if User.possibly_nobody.can_modify?(project)
    = render partial: 'webui/project/show_actions/modify_project', locals: { project: project,
                                                                             packages: packages,
                                                                             open_release_requests: open_release_requests,
                                                                             release_targets: release_targets }
    = render partial: 'webui/project/show_actions/delete_project', locals: { project: project }
  - elsif User.session
    = render partial: 'webui/project/show_actions/request_role_addition_and_deletion', locals: { project: project }

  - if User.session
    %li.nav-item
      = link_to(image_templates_path, class: 'nav-link', title: 'New Image') do
        %i.fas.fa-compact-disc.fa-fw.me-2
        %span.nav-item-name New Image

  = render partial: 'webui/shared/lock_unlock_comment', locals: { commentable: project }
  - if policy(Report.new(reportable: project)).create?
    = render partial: 'webui/project/show_actions/report_project', locals: { project: project }
