- content_for :actions do
  - if (bugowners_mail.present? && !CONFIG['bugzilla_host'].nil?) || User.session
    - if bugowners_mail.present? && !CONFIG['bugzilla_host'].nil?
      = render partial: 'webui/project/show_actions/report_bug', locals: { bugowners_mail: bugowners_mail, project: project }
    - if project.is_locked? && User.possibly_nobody.can_modify?(project, true)
      = render partial: 'webui/project/show_actions/unlock_project', locals: { project: project }
    - elsif User.possibly_nobody.can_modify?(project)
      = render partial: 'webui/project/show_actions/modify_project', locals: { project: project,
                                                                               packages: packages,
                                                                               has_patchinfo: has_patchinfo,
                                                                               open_release_requests: open_release_requests,
                                                                               release_targets: release_targets }
      = render partial: 'webui/project/show_actions/delete_project', locals: { project: project }
    - elsif !project.is_locked?
      = render partial: 'webui/project/show_actions/request_role_addition_and_deletion', locals: { project: project }
  - elsif project.key_info.present?
    = render partial: 'webui/project/show_actions/gpg_key_ssl_certificate', locals: { project: project }

  %li.nav-item
    = link_to(image_templates_path, class: 'nav-link', title: 'New Image') do
      %i.fas.fa-compact-disc.fa-lg.me-2
      %span.nav-item-name New Image
