<% @pagetitle = "Project #{@project} Status Monitor"
   @metarobots = 'noindex,nofollow'
   @layoutstyle = 'custom'
   @layouttype = 'custom'
   project_bread_crumb( 'Status Monitor' ) -%>

<%= content_for :ready_function do %>
  project_monitor_ready();

  function adjust_monitor_box() {
    var monitor_w = parseInt($("#monitor-table").width());
    if (monitor_w > 940) {
      var ww = $(window).width();
      $("#monitor-content").removeClass().addClass("content-wrapper");
      // +22 magic number is because of the 960 grid layout
      $("#monitor-wrapper").css("margin-left", ((ww - (monitor_w + 22)) > 0 ? (ww - (monitor_w + 22)) / 2 : 0) + "px");
    }
    else {
      $("#monitor-content").removeClass().addClass("container_16").addClass("content-wrapper");
      $("#monitor-wrapper").css("margin-left", "");
    }
  };

  $("#monitor-wrapper").show(function() {
    adjust_monitor_box();
  });

  $(window).resize(function() {
    adjust_monitor_box();
  });

<% end %>

<!-- Render tabs and filter to the same box -->
<div class="container_16 content-wrapper">
  <div class="grid_16 box box-shadow alpha omega">
  <%= render :partial => "tabs" %>
  <%= render :partial => "filter" %>
  </div>
</div>

<!-- Do not let the monitor box float -->
<div style="clear: both;"></div>

<div id="monitor-content" class="container_16 content-wrapper">
  <div id="monitor-wrapper" class="grid_16 box box-shadow alpha omega">
  <% if @buildresult_unavailable -%>
    <h3>Buildstatus unavailable</h3>
  <% elsif @packagenames.empty? -%>
    <h3>No Results</h3>
  <% else -%>
    <table id="monitor-table" class="buildstatus">
      <!-- repo row -->
      <thead class="header">
        <tr>
          <th></th>
          <% @repohash.sort.each do |repo,archlist|
            next if archlist.empty? -%>
            <th colspan="<%= archlist.length %>"><span class="strong"><%= repo %></span></th>
          <% end -%>
        </tr>
        <!-- arch row -->
        <tr>
          <th></th>
          <% @repohash.sort.each do |repo, archlist| -%>
            <% archlist.sort.each do |arch| -%>
              <th class="buildstatus"><%= repo_status_icon(@repostatushash[repo][arch],@repostatusdetailshash[repo][arch]) %> <%= arch %></th>
            <% end -%>
          <% end -%>
        </tr>
      </thead>

      <tbody>      <!-- package rows -->
        <% @packagenames.each do |packname| -%>
          <tr>
            <td>
              <%= link_to word_break(packname, 40), :controller => "package", :action => "show",
                :package => packname, :project => @project.to_s %>
            </td>
            <% @repohash.sort.each do |repo, archlist| -%>
              <% archlist.sort.each do |arch| -%>
                <%= arch_repo_table_cell(repo, arch, packname, false) %>
              <% end -%>
            <% end -%>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end -%>
  <div id="refresh_date"><p>Updated at: <%= DateTime.now.to_s.sub(/T/, " ") %></p></div>
  </div>
</div>

<!-- Legend goes into its own box -->
<div class="container_16 content-wrapper">
  <div class="grid_16 box box-shadow alpha omega">
    <div id="legend">
      <h3>Legend</h3>
      <ul>
        <% Buildresult::STATUS_DESCRIPTION.each do |status, description| %>
          <li><strong><%= status %>: </strong><span class="descr"><%= description %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="start_link">
</div>

<% content_for :ready_function do %>
    $('.unresolvable, .blocked').click(function() {
    var title = $(this).attr('title');
    alert(title);
    return false;
    });
<% end %>
