<% @pagetitle = "Project #{@project} Status Monitor"
   @metarobots = 'noindex,nofollow'
   @layoutstyle = 'custom'
   @layouttype = 'custom'
   project_bread_crumb( 'Status Monitor' ) -%>

<%= content_for :ready_function do %>
  project_monitor_ready();

  var lastScrollLeft = 0;

  function scroll_monitor_box() {
    var documentScrollLeft = $(document).scrollLeft();
    if (lastScrollLeft != documentScrollLeft) {
      // horizontal scroll: keep packages table always visible by sliding it over monitor table
      lastScrollLeft = documentScrollLeft;
      var top_offset = parseInt($("#packages-placeholder").offset().top);
      var top_scroll = parseInt($(window).scrollTop());
      $("#packages-table").css("position", "fixed");
      $("#packages-table").css("top", (top_offset - top_scroll) + "px");
      $("#packages-table").css("left", "0");
    } else {
      // vertical scroll: fix packages table position so that it wont slide vertically
      var padding = $("#monitor-wrapper").css("padding-top");
      var left_scroll = parseInt($(window).scrollLeft());
      $("#packages-table").css("position", "absolute");
      $("#packages-table").css("top", padding);
      $("#packages-table").css("left", left_scroll + "px");
    }
   };

  function adjust_monitor_box() {
    var monitor_w = parseInt($("#monitor-table").width());
    var packages_w = parseInt($("#packages-table").width());
    var total_w = monitor_w + packages_w;
    if (total_w > 940) {
      var ww = $(window).width();
      $("#monitor-content").removeClass().addClass("content-wrapper");
      // +22 magic number is because of the 960 grid layout
      $("#monitor-wrapper").css("margin-left", ((ww - (total_w + 22)) > 0 ? (ww - (total_w + 22)) / 2 : 0) + "px");
      $("#monitor-wrapper").css("width",(total_w + 22) + "px");
    } else {
      $("#monitor-content").removeClass().addClass("container_16").addClass("content-wrapper");
      $("#monitor-wrapper").css("margin-left", "");
      $("#monitor-wrapper").css("width","");
    }
    scroll_monitor_box();
  };

  $("#monitor-wrapper").show(function() {
    adjust_monitor_box();
  });

  $(window).resize(function() {
    adjust_monitor_box();
  });

  $(window).scroll(function(){
    scroll_monitor_box();
  });

<% end %>

<!-- Render tabs and filter to the same box -->
<div class="container_16 content-wrapper">
  <div class="grid_16 box box-shadow alpha omega">
  <%= render :partial => "tabs" %>
  <%= render :partial => "filter" %>
  </div>
</div>

<!-- Do not let the monitor box float -->
<div style="clear: both;"></div>

<div id="monitor-content" class="container_16 content-wrapper">
  <div id="monitor-wrapper" class="grid_16 box box-shadow alpha omega">
  <% if @buildresult_unavailable -%>
    <h3>Buildstatus unavailable</h3>
  <% elsif @packagenames.empty? -%>
    <h3>No Results</h3>
  <% else -%>
      <!-- create placeholder for packages table in order to keep other monitor elements in place -->
      <div id="packages-placeholder" style="float: left; visibility: hidden;">
        <table class="packages">
          <thead>
            <tr>
              <th>&nbsp;</th>
            </tr>
            <tr>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @packagenames.each do |packname| -%>
              <tr>
                <td class="nowrap">
                  <%= elide(packname, 40) %>
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <!-- actual packages table which will be kept visible while scrolling monitor table -->
      <div id="packages-table" style="position: fixed; background-color: white;">
        <table class="packages">
          <thead>
            <tr>
              <th>&nbsp;</th>
            </tr>
            <tr>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody >
            <% @packagenames.each do |packname| -%>
              <tr>
                <td class="nowrap">
                  <%= link_to word_break(packname, 40), :controller => "package", :action => "show",
                  :package => packname, :project => @project.to_s %>
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    <table id="monitor-table" class="buildstatus">
      <!-- repo row -->
      <thead class="header">
        <tr>
          <% @repohash.sort.each do |repo,archlist|
            next if archlist.empty? -%>
            <th colspan="<%= archlist.length %>"><span class="strong"><%= repo %></span></th>
          <% end -%>
        </tr>
        <!-- arch row -->
        <tr>
          <% @repohash.sort.each do |repo, archlist| -%>
            <% archlist.sort.each do |arch| -%>
              <th class="buildstatus"><%= repo_status_icon(@repostatushash[repo][arch],@repostatusdetailshash[repo][arch]) %> <%= arch %></th>
            <% end -%>
          <% end -%>
        </tr>
      </thead>
      <tbody>      <!-- package rows -->
        <% @packagenames.each do |packname| -%>
          <tr>
            <% @repohash.sort.each do |repo, archlist| -%>
              <% archlist.sort.each do |arch| -%>
                <%= arch_repo_table_cell(repo, arch, packname, false) %>
              <% end -%>
            <% end -%>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end -%>
  <div id="refresh_date"><br><p>Updated at: <%= DateTime.now.to_s.sub(/T/, " ") %></p></div>
  </div>
</div>

<!-- Legend goes into its own box -->
<div class="container_16 content-wrapper">
  <div class="grid_16 box box-shadow alpha omega">
    <div id="legend">
      <h3>Legend</h3>
      <ul>
        <% Buildresult::STATUS_DESCRIPTION.each do |status, description| %>
          <li><strong><%= status %>: </strong><span class="descr"><%= description %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="start_link">
</div>

<% content_for :ready_function do %>
    $('.unresolvable, .blocked').click(function() {
    var title = $(this).attr('title');
    alert(title);
    return false;
    });
<% end %>
