- @pagetitle = 'Create Maintenance Release Request'

.row
  .col
    .card
      = render partial: 'tabs', locals: { project: @project }
      .card-body
        .row
          .col-12
            %h3= @pagetitle
          .col-12
            %p Do you want to release #{link_to(@project, project_show_path(@project))} as a maintenance update?
          .col-12.col-md-9.col-lg-6
            = form_tag(project_new_release_request_path(@project)) do
              = hidden_field_tag(:project, @project.name)
              .form-group
                = label_tag(:sourceproject, 'From Project:')
                = text_field_tag(:sourceproject, @project.name, disabled: true, class: 'form-control')
              .form-group
                = label_tag(:description, 'Description:')
                = text_area_tag(:description, '', rows: 3, class: 'form-control')
              = submit_tag('Create', class: 'btn btn-sm btn-primary px-4')
