<% @pagetitle = "Repositories of #{@project.name}"
   @metarobots = 'noindex'
   project_bread_crumb 'Repositories' %>

<%= render :partial => 'tabs' %>

<h3><%= @pagetitle %></h3>
<p>You can configure individual flags for this project here.</p>

<% @project.repositories.each do |repository| %>
  <%= render partial: "repository_entry", locals: { repository: repository }%>
<% end %>

<% if User.current.can_modify_project?(@project) %>
    <p>
      <%= link_to(sprite_tag('drive_add', title: 'Add repository'), :action => 'add_repository_from_default_list', :project => @project) %>
      <%= link_to('Add repositories', :action => 'add_repository_from_default_list', :project => @project) %>
    </p>
<% end %>

<%= render :partial => 'shared/repositories', :locals => {:obj => @project} %>
