-# haml-lint:disable ViewLength
  This is going to be fine once again when we remove the flipper_responsive? calls
:ruby
  content_for(:meta_title, @project.title.presence || @project)
  content_for(:meta_description, @project.description)
  @pagetitle = "Show #{@project}"
  if flipper_responsive?
    render partial: 'webui/project/responsive_ux/show_actions', locals: { bugowners_mail: @bugowner_mail,
                                                                          project: @project,
                                                                          packages: @packages,
                                                                          has_patchinfo: @has_patchinfo,
                                                                          open_release_requests: @open_release_requests,
                                                                          release_targets: @release_targets }
  end

.card.mb-3
  = render partial: 'tabs', locals: { project: @project }
  .card-body
    .row
      .col-md-8
        = render partial: 'basic_info', locals: { project: @project }
      .col-md-4
        = render partial: 'side_links', locals: { open_maintenance_incidents: @open_maintenance_incidents,
                                                  project: @project,
                                                  maintained_projects: @maintained_projects,
                                                  nr_of_problem_packages: @nr_of_problem_packages,
                                                  has_patchinfo: @has_patchinfo,
                                                  open_release_requests: @open_release_requests,
                                                  release_targets: @release_targets,
                                                  requests: @requests,
                                                  package: @package,
                                                  linking_projects: @linking_projects,
                                                  project_maintenance_project: @project_maintenance_project }
      - unless flipper_responsive?
        = render partial: 'bottom_actions', locals: { bugowners_mail: @bugowner_mail,
                                                      project: @project,
                                                      packages: @packages,
                                                      has_patchinfo: @has_patchinfo,
                                                      open_release_requests: @open_release_requests,
                                                      release_targets: @release_targets }
.overview
  .build-results
    = render partial: 'webui/shared/buildresult_box', locals: { project: @project.name }
  .list
    .card
      .bg-light
        %ul.nav.nav-tabs.pt-2.px-3.flex-nowrap#packages-tabs{ role: 'tablist' }
          %li.nav-item
            %a.nav-link.active#packages-tab{ href: '#packages', role: 'tab', data: { toggle: 'tab' },
            aria: { controls: 'packages', selected: 'true' } }
              Packages
              %span.badge.badge-primary
                = @packages.length
          - if @inherited_packages.present?
            %li.nav-item
              %a.nav-link#inherited-packages-tab{ href: '#inherited-packages', role: 'tab', data: { toggle: 'tab' },
              aria: { controls: 'inherited-packages', selected: 'false' } }
                Inherited Packages
                %span.badge.badge-primary
                  = @inherited_packages.length
      .tab-content#packages-tabs-content
        .tab-pane.fade.show.active#packages{ role: 'tabpanel', aria: { labelledby: 'packages-tab' } }
          = render partial: 'project_packages', locals: { project: @project, packages: @packages }
        .tab-pane.fade#inherited-packages{ role: 'tabpanel', aria: { labelledby: 'inherited-packages-tab' } }
          = render partial: 'project_inherited_packages', locals: { project: @project, inherited_packages: @inherited_packages }
  .comments
    .card#comments-list
      %h5.card-header.text-word-break-all
        Comments for #{@project}
        %span.badge.badge-primary{ id: "comment-counter-project-#{@project.id}" }
          = @comments.length
      .card-body#comments
        = render partial: 'webui/comment/show', locals: { commentable: @project,
          comment_counter_id: "#comment-counter-project-#{@project.id}" }

= render partial: 'linking_projects_dialog', locals: { project: @project, linking_projects: @linking_projects }
- if User.session
  - if @project.is_locked? && User.session!.can_modify?(@project, true)
    = render partial: 'unlock_project_dialog', locals: { project: @project }
  - elsif User.session!.can_modify?(@project)
    = render partial: 'edit_project_dialog', locals: { project: @project }
    = render partial: 'delete_project_dialog', locals: { project: @project }

- content_for :ready_function do
  initializeDataTable('#inherited-packages-table');
-# haml-lint:enable ViewLength
