.modal.fade#create-staging-projects-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'create-staging-projects-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      = form_tag(staging_workflow_staging_projects_path(staging_workflow), method: :post) do
        .modal-header
          %h5.modal-title#create-staging-projects-modal-label Create Staging Project
        .modal-body
          .form-group
            = label_tag(:staging_project_name, 'Please enter a project you have permissions to')
            = text_field_tag(:staging_project_name, nil, placeholder: "Eg: #{staging_workflow.project}:Staging:A", class: 'form-control')

        .modal-footer
          = render partial: 'webui2/shared/dialog_action_buttons', locals: { submit_tag_text: 'Create' }
