:ruby
  max_problems = 5
  project_class = staging_project.name.tr(':', '_')
  item_project_class = 'hidden-item-' + project_class

- if staging_project.problems.empty?
  .text-center
    %i.fas.fa-check-circle.fa-2x.text-success
- else
  %ul.list-group.list-group-flush
    = render partial: 'problems_item', locals: { staging_project: staging_project, index: 0...max_problems }

    - length = staging_project.problems.length
    - if length > max_problems
      %span.collapse{ 'id': item_project_class }
        = render partial: 'problems_item', locals: { staging_project: staging_project, index: max_problems..-1 }

      - number = length - max_problems
      %li.list-group-item.table-list-group-item
        %a.collapse-link{ 'data-toggle': 'collapse', href: "##{item_project_class}", 'aria-expanded': 'false' }
          %span.more See #{number} more
          %span.less See #{number} less
