- @pagetitle = "Edit Staging Workflow for #{@project}"

.row
  .col-xl-12
    .card.mb-3
      = render(partial: 'webui2/webui/project/tabs', locals: { project: @project })
      .card-body
        %h3= @pagetitle

        = render(partial: 'staging_projects_table',
                 locals: { staging_workflow: @staging_workflow, staging_projects: @staging_projects, display_actions_column: true })

        = link_to('#', class: 'nav-link', data: { toggle: 'modal', target: '#create-staging-projects-modal' }) do
          %i.fas.fa-plus-circle.text-success
          Create Staging Project

        = render partial: 'create_staging_project', locals: { staging_workflow: @staging_workflow }
