- @pagetitle = "Staging Projects for #{@project}"

.row
  .col-xl-10
    .card.mb-3
      = render(partial: 'webui2/webui/project/tabs', locals: { project: @project })
      .card-body
        %h3= @pagetitle

        %hr

        %table.table.table-striped.table-bordered.table-sm.dt-responsive.w-100#staging-projects-datatable
          %thead
            %tr.text-center
              %th Staging Project
              %th Requests
              %th Problems
          %tbody
            - @staging_projects.each do |staging_project|
              %tr
                %td.project
                  = render partial: 'overall_state', locals: { staging_project: staging_project }
                %td.requests
                  = render partial: 'packages_list', locals: { staging_project: staging_project }
                %td
                  = render partial: 'problems', locals: { staging_project: staging_project }

        %ul.list-inline
          %li.list-inline-item
            = link_to(edit_staging_workflow_path(@staging_workflow)) do
              %i.fas.fa-edit.text-info
              Edit
          - if policy(@staging_workflow).destroy?
            %a{ data: { toggle: 'modal', target: '#delete-staging-workflow' }, href: '#' }
              %i.fas.fa-times-circle.text-danger
              Delete
            = render(partial: 'webui2/webui/staging/workflows/delete', locals: { project: @project })
  .col-xl-2
    = render partial: 'legend'
    = render partial: 'infos', locals: { staging_workflow: @staging_workflow, empty_projects: @empty_projects,
                                         unassigned_requests: @unassigned_requests, more_unassigned_requests: @more_unassigned_requests,
                                         ready_requests: @ready_requests, more_ready_requests: @more_ready_requests,
                                         ignored_requests: @ignored_requests, more_ignored_requests: @more_ignored_requests,
                                         project: @project }

- content_for :ready_function do
  $('#staging-projects-datatable').DataTable({ responsive: true });
