<%= possibly_empty_ul class: 'horizontal-list' do %>
  <% unless User.current.is_nobody? %>
   <li class="togglable_comment" data-toggle="reply_form_of_<%= comment.id %>">
    <a id="reply_link_id_<%= comment.id %>">
      <%= sprited_text('comment_add', 'Reply') %>
    </a>
   </li>
  <% end %>
  <% if comment.check_delete_permissions %>
      <li>
        <%= link_to(sprited_text('comment_delete', 'Delete'),
                    {controller: :comments, action: :destroy,
                     id: comment.id}, method: :delete) %>
      </li>
  <% end %>
<% end %>
