- if User.session
  - if policy(Comment.new(commentable:)).locked?
    .alert.alert-warning{ role: 'alert' }
      Commenting on this is locked.
      - if CommentLockPolicy.new(User.session, commentable).create?
        = comment_lock_alert(commentable)
      - if commentable.respond_to?(:bugowner_emails) && commentable.bugowner_emails.present? && Configuration.bugzilla_url.present?
        If you need to report a bug, make use of the
        - commentable_name = commentable.respond_to?(:project) ? "#{commentable.project}/#{commentable.name}" : commentable.name
        = link_to('bug tracker', bugzilla_url(commentable.bugowner_emails, "#{commentable_name}: Bug"))
  - if policy(Comment.new(commentable:)).create?
    = render(partial: 'webui/comment/comment_field',
      locals: { form_method: :post, comment: Comment.new, commentable: commentable, element_suffix: 'new_comment', has_cancel: false })
- else
  .alert.alert-warning{ role: 'alert' }
    Login required, please
    = link_to('login', new_session_url)
    - if can_register?
      or
      = link_to('signup', new_user_url)
    in order to comment
