.comments
  - commentable.comments.walk_tree do |comment, level|
    %div{class: "comment thread_level_#{level >= 4 ? 4 : level}"}
      = user_with_realname_and_icon(comment.user, no_icon: true, short: true)
      wrote
      %span.comment_time
        = fuzzy_time(comment.created_at)
      = comment_body(comment)
      = render partial: 'webui/comment/links', locals: { comment: comment }
      = render partial: 'webui/comment/reply', locals: { comment: comment, level: 0, commentable: commentable }
  .comment_new.alpha.omega
    = render partial: 'webui/comment/new', locals: { commentable: commentable }
