  <div class="dialog" id="disable_mask"></div>
  <div class="dialog darkgrey_box" id="del_dialog">
    <div class="box box-shadow">
      <h2 class="box-header">Delete Confirmation</h2>
      <p>Do you really want to delete <%= package_link @package %>?</p>

      <%= form_tag({:controller => :patchinfo, :action => :remove}, :method => :post) do %>
        <div>
        <%= hidden_field_tag(:project, @project) %>
        <%= hidden_field_tag(:package, @package) %>
        <div class="buttons">
          <%= submit_tag('Ok') %>
          <%= remove_dialog_tag('Cancel') %>
        </div>
       </div>
      <% end %>
    </div>
  </div>
