- @pagetitle = "Staging Projects for #{@project}"

.row
  .col-xl-10
    .card.mb-3
      = render(partial: 'webui2/webui/project/tabs', locals: { project: @project })
      .card-body
        %h3= @pagetitle

        %ul.list-inline
          %li.list-inline-item
            = link_to(edit_staging_workflow_path(@staging_workflow), class: 'nav-link') do
              %i.fas.fa-edit.text-info
              Edit Staging Workflow
        %hr

        %table.table.table-striped.table-bordered.table-sm.dt-responsive.w-100#staging-projects-datatable
          %thead
            %tr.text-center
              %th Project
              %th Requests
              %th Problems

          %tbody
            - @staging_workflow.staging_projects.each do |staging_project|
              %tr
                %td
                  = render partial: 'overall_state', locals: { project: staging_project }
                %td
                  = render partial: 'packages_list', locals: { project: staging_project }
                %td.broken-packages
                  = render partial: 'problems', locals: { project: staging_project }
  .col-xl-2
    = render partial: 'legend'
    = render partial: 'infos'

- content_for :ready_function do
  $('#staging-projects-datatable').DataTable({ responsive: true });
