.dropdown#login-form-dropdown
  = link_to('#', id: 'login-trigger', class: 'nav-link btn btn-sm btn-outline-light ml-3 text-nowrap', 'data-toggle': 'dropdown') do
    Sign In
  .dropdown-menu.dropdown-menu-right.shadow-lg.bg-dark.top-of-flash{ 'aria-labelledby': 'dropdownMenuButton' }
    .px-4.py-3#login-form
      = form_tag(form_url, options) do
        - if proxy
          = hidden_field_tag(:context, 'default')
          = hidden_field_tag(:proxypath, 'reserve')
          = hidden_field_tag(:message, 'Please log in')
          = hidden_field_tag(:url, request.fullpath)
        .form-group
          = label_tag(:username, 'Username', class: 'text-light')
          = text_field_tag(:username, nil, placeholder: 'User Name', required: true, class: 'form-control')
        .form-group
          = label_tag(:password, 'Password', class: 'text-light')
          = password_field_tag(:password, nil, placeholder: 'Password', required: true, class: 'form-control')
        .clearfix
          = submit_tag('Log In', class: 'btn btn-success float-right')
