.login-form
  .h2.text-center.py-2 Log In
  = form_tag(form_url, options) do
    - if proxy
      = hidden_field_tag(:context, 'default')
      = hidden_field_tag(:proxypath, 'reserve')
      = hidden_field_tag(:message, 'Please log in')
      = hidden_field_tag(:url, request.fullpath)
    .form-group
      = text_field_tag(:username, nil, required: true, class: 'form-control', placeholder: 'Username')
    .form-group
      = password_field_tag(:password, nil, required: true, class: 'form-control', placeholder: 'Password')
    .clearfix
      = submit_tag('Log In', class: 'btn btn-success w-100')
    - if can_signup
      .login-separator.text-center
        %hr.my-4
        %span.bg-white.px-3.text-muted or
      .text-center
        - if CONFIG['proxy_auth_mode'] == :on
          = link_to('Create an account', signup_url)
        - else
          = link_to('Create an account', '#', data: { toggle: 'toggle-unlogged-form' })
