%nav.navbar.navbar-dark.bg-dark.border-bottom.border-gray-500.fixed-top
  .d-flex.flex-nowrap.justify-content-between.w-100
    = link_to(root_path, class: 'navbar-brand', alt: 'Logo') do
      = image_tag('obs-logo_small.svg')
    .d-flex
      = render partial: "layouts/#{responsive_namespace}/search"
      - if User.session
        .toggler.text-center.justify-content-center
          = link_to('javascript:void(0)', class: 'nav-link text-light p-0 w-100', alt: 'Watchlist', data: { toggle: 'watchlist' }) do
            %i.fas.fa-bookmark
            .small Watchlist
        .toggler.text-center.justify-content-center
          = link_to(user_notifications_path(User.session), class: 'nav-link text-light p-0 w-100', alt: 'Tasks') do
            %i.fas.fa-tasks
            .small Tasks
        - if content_for?(:actions)
          .toggler.text-center.justify-content-center
            = link_to('javascript:void(0)', class: 'nav-link text-light p-0 w-100', alt: 'Actions', data: { toggle: 'actions' }) do
              %i.fas.fa-ellipsis-v
              .small Actions
        .toggler.text-center.justify-content-center
          = link_to('javascript:void(0)', class: 'nav-link text-light p-0 w-100', alt: 'Places', data: { toggle: 'offcanvas' }) do
            %i.fas.fa-bars
            .small Places
      - else
        = render partial: 'layouts/webui/responsive_ux/nobody_navigation'

- if User.session
  = render partial: 'layouts/webui/responsive_ux/actions'
  = render partial: 'layouts/webui/responsive_ux/user_navigation'
- elsif !kerberos_mode?
  - if !proxy_mode? && can_sign_up?
    = render partial: 'layouts/webui/responsive_ux/sign_up_modal'
  = render partial: 'layouts/webui/responsive_ux/login_modal'
