%nav.navbar.navbar-dark.bg-dark.border-bottom.border-gray-500.fixed-top
  .d-flex.flex-nowrap.justify-content-between.w-100
    = link_to(root_path, class: 'navbar-brand', alt: 'Logo') do
      = image_tag('obs-logo_small.svg', height: '30')
    .d-flex
      = render partial: "layouts/#{responsive_namespace}/search"
      - if User.session
        .toggler.pt-1
          %i.fas.fa-bookmark.fa-lg{ class: 'nav-link text-light', alt: 'Watchlist', data: { toggle: 'watchlist' } }
        .toggler
          - tasks = User.session!.tasks
          = link_to(my_tasks_path, class: 'nav-link d-inline-block', alt: 'Tasks') do
            %i.fas.fa-tasks.fa-lg.text-light
            - if tasks.positive?
              %span.badge.badge-primary.align-text-top= tasks
        .toggler{ data: { toggle: 'offcanvas' } }
          = image_tag_for(User.session, size: 40, custom_class: 'rounded-circle bg-light')
      - else
        = render partial: 'layouts/webui/responsive_ux/unlogged_navigation'
- if User.session
  = render partial: 'layouts/webui/responsive_ux/logged_navigation'
