- @pagetitle = "Manage Staging Projects for #{@project}"

.row
  .col-xl-12
    .card.mb-3
      = render(partial: 'webui/project/tabs', locals: { project: @project })
      .card-body
        %h3= @pagetitle
        %ul.list-inline
          %li.list-inline-item
            = link_to('#', class: 'nav-link', data: { toggle: 'modal', target: '#create-staging-projects-modal' }) do
              %i.fas.fa-plus-circle.text-success
              Create Staging Project
            = render partial: 'create_staging_project', locals: { staging_workflow: @staging_workflow }
        .row
          = render(partial: 'staging_project', collection: @staging_projects,
                                               locals: { staging_workflow: @staging_workflow })

