- @pagetitle = "Staging for #{@project}"

.row
  .col-xl-10
    .card.mb-3
      = render(partial: 'webui/project/tabs', locals: { project: @project })
      .card-body
        %h3
          = @pagetitle
          - if policy(@staging_workflow).update?
            = link_to(edit_staging_workflow_path(@staging_workflow), title: 'Edit Staging') do
              %i.fas.fa-edit.fa-xs.text-info
          - if policy(@staging_workflow).destroy?
            = link_to('#', title: 'Delete Staging', data: { toggle: 'modal', target: '#delete-staging-workflow' }) do
              %i.fas.fa-times-circle.fa-xs.text-danger
        - if policy(@staging_workflow).destroy? # This is outside of the h3 to prevent the font in the modal to be oversized
          = render(partial: 'delete', locals: { project: @project })

        - @categories.each do |category, projects|
          %h5= category.title
          = render(partial: 'staging_projects_table',
                   locals: { staging_workflow: @staging_workflow, staging_projects: projects,
                             users_hash: @users_hash, groups_hash: @groups_hash })

  .col-xl-2
    = render partial: 'webui/staging/shared/legend'
    = render partial: 'infos', locals: { staging_workflow: @staging_workflow,
                                         unassigned_requests: @unassigned_requests, more_unassigned_requests: @more_unassigned_requests,
                                         ready_requests: @ready_requests, more_ready_requests: @more_ready_requests,
                                         excluded_requests: @excluded_requests, more_excluded_requests: @more_excluded_requests,
                                         project: @project, managers: @managers }

- content_for :ready_function do
  :plain
    $('.staging-projects-datatable').DataTable({
      responsive: true,
      paging: false,
      ordering: false,
      searching: false,
      info: false,
      "columnDefs": [ { "width": "6em", "targets": 0 } ]
    });
