.modal.fade#add-repository-from-project{ tabindex: -1, role: 'dialog', aria: { labelledby: 'add_repo_from_project', hidden: 'true' } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      = form_tag(action: :create, project: project) do
        .modal-header
          %h5.modal-title Add Repository to #{project}
        .modal-body.repository-autocomplete
          = render partial: 'webui/shared/search_box', locals: { html_id: 'add_repo_from_project_target_project',
                                                                 label: '<strong>Project:</strong>'.html_safe,
                                                                 data: { source: autocomplete_projects_path } }

          .mb-3
            = label_tag :repositories do
              %strong Repositories:
            = select_tag 'target_repo', options_for_select(['']), required: true,
                                                                  disabled: true,
                                                                  class: 'repository-dropdown form-select',
                                                                  data: { source: autocomplete_repositories_path }
          .mb-3
            = label_tag :name do
              %strong Name:
            = text_field_tag :repository, '', size: 60, disabled: false, required: true, class: 'repository-name form-control'
          .mb-3
            = label_tag :architectures, class: 'w-100' do
              %strong Architectures:
            - Architecture.available.each do |architecture|
              .form-check.custom-control-inline
                = check_box_tag 'architectures[]', architecture.name, true, id: "architecture_#{architecture.name}", class: 'form-check-input'
                = label_tag :architecture, architecture.name, class: 'form-check-label', for: "architecture_#{architecture.name}"

        .modal-footer
          = render partial: 'webui/shared/dialog_action_buttons'
