.modal.fade{ id: "mark-important-#{repository.id}", tabindex: -1, role: 'dialog',
             aria: { labelledby: "mark-important-title-#{repository.id}", hidden: 'true' } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      = form_tag({ action: :mark_important }, id: "mark-important-form-#{valid_xml_id(repository.to_s)}") do
        .modal-header
          %h5.modal-title{ id: "mark-important-title-#{repository.id}" } Mark #{repository} architectures important
        .modal-body
          .mb-3
            = label_tag :architectures, class: 'w-100' do
              %strong Architectures:
            - repository.architectures.each do |architecture|
              .form-check.custom-control-inline
                = check_box_tag "important[#{architecture}]", '', repository.repository_architectures.exists?(architecture:, important: true),
                                                             class: 'form-check-input',
                                                             id: "mark-important-#{repository.id}-architecture-#{architecture}"
                = label_tag :architecture, architecture, class: 'form-check-label', for: "#{repository.id}-architecture-#{architecture}"
            = hidden_field_tag :project, project
            = hidden_field_tag :repository, repository

        .modal-footer
          = render partial: 'webui/shared/dialog_action_buttons', locals: { submit_tag_text: 'Apply' }
