.card.mb-3
  = render partial: 'webui/package/tabs', locals: { project: project, package: package }
  .card-body
    %h3= pagetitle
    - if package.project == project
      %p
        You can configure individual flags for this package here. The repositories are inherited from the project
        = link_to project, controller: :repositories, action: :index, project: project
      = render partial: 'webui/shared/repositories',
               locals: { project: project, package: package, flags: flags,
                         architectures: architectures, user_can_modify: user_can_modify }
    - else
      %p
        This package is inherited from the project
        = link_to package.project, action: :index, controller: :repositories, project: package.project
        and changing repository flags has no effect.
