<% @pagetitle = 'Add Repository'
   @metarobots = 'noindex'
   project_bread_crumb @pagetitle
-%>

<%= render :partial => '/webui/project/tabs' %>

<h2>Add Repositories to <%= @project %></h2>
    <% @distributions.each do |vendor, list| %>
        <h3><%= sprite_tag("distributions-#{vendor.downcase}") %> <%= vendor -%> distributions</h3>
         <p>
         <% list.each do |distribution| %>
              <% selected = @project.has_distribution(distribution['project'], distribution['repository']) %>
              <span class="nowrap">
                  <%= check_box_tag 'distributions[]', distribution['reponame'], selected, :id => 'repo_' + distribution['reponame'], :class => 'repocheckbox' -%>
                  <label for="<%= "repo_#{distribution['reponame']}" %>"><%= distribution['name'] %></label>
              </span>
          <% end -%>
         </p>
      <% list.each do |distribution| %>
        <%= form_tag({ action: :create, project: @project }, remote: true, class: 'hidden', id: 'repo_' + distribution['reponame'] + '_create') do %>
          <%= hidden_field_tag 'repository', distribution['reponame'] %>
          <%= hidden_field_tag 'target_project', distribution['project'] %>
          <%= hidden_field_tag 'target_repo', distribution['repository'] %>
          <% distribution['architectures'].each do |arch| %>
            <%= hidden_field_tag 'architectures[]', arch %>
          <% end %>
        <% end %>
        <%= form_tag({ action: :destroy }, remote: true, class: 'hidden', id: 'repo_' + distribution['reponame'] + '_destroy') do %>
          <%= hidden_field_tag 'project', @project.name %>
          <%= hidden_field_tag 'target', distribution['reponame'] %>
        <% end %>
      <% end -%>
    <% end -%>

    <h3><%= image_tag('distributions/kiwi.png', :width => 40) %> Kiwi image builds</h3>
    <p>
    <span class="nowrap">
      <% selected = @project.repositories.where(name: 'images').count > 0 -%>
      <%= check_box_tag 'images', 'true', selected, :id => 'repo_images', :class => 'repocheckbox' -%>
      <label for="repo_images">
        KIWI image build <i>(to be used for appliance and product builds with kiwi)</i>
      </label>
      <%= form_tag({ action: :create_image_repository, project: @project }, remote: true, class: 'hidden', id: 'repo_images_create') do %>
      <% end %>
      <%= form_tag({ action: :destroy }, remote: true, class: 'hidden', id: 'repo_images_destroy') do %>
          <%= hidden_field_tag 'project', @project.name %>
          <%= hidden_field_tag 'target', 'images' %>
      <% end %>
    </span>
    </p>
    <p>
      <span class="nowrap">
        <%= link_to 'Expert mode', { action: :new, project: @project }, { style: 'padding-left: 4px' } %>
      </span>
    </p>

<%= content_for :ready_function do %>
    $('.repocheckbox').click(function() {
      id = $(this).attr('id')
      if($(this).is(':checked')){
        $form = $('#' + id + '_create');
       } else {
        $form = $('#' + id + '_destroy');
       }
      $form.submit();
    });
<% end %>
