- @pagetitle = "Repository State of #{@project.name}"
- @metarobots = 'noindex'
- project_bread_crumb('Repository State')
= render partial: 'webui/project/tabs'
/ this page will also get other repository informations like jobhistory
%div{id: "#{valid_xml_id(@repository.name)}", style: "margin-bottom: 1.2em"}
  %h3
    State of Repository #{@repository} for #{@project}
  %p
    = render partial: 'shared/download_repository_link', locals: { project: @project, repository: @repository }
  %h4 Build Dependency Cycles
  - @repository.architectures.each do |arch|
    - cycles = @repository.cycles(arch.name)
    - cycles.each_with_index do |cycle, index|
      - if index == 0
        %h5
          Cycles for #{arch.name} (##{cycle.length})
      %ul
        %li
          = cycle.map { |package| link_to(package, package_show_path(project: @project, package: package)) }.join(', ').html_safe
    - if cycles.empty?
      %p
        %i
          There are no cycles for #{arch}
    %p
      Check the rebuild time for #{link_to arch, { action: :rebuild_time, project: @project, arch: arch.name, repository: @repository.name, controller: :project }, { rel: 'nofollow' }}
