
<% if session[:login] -%>

  <%= link_to CGI::escapeHTML(session[:login]), :controller => 'home', :action => :index %>
  |
  <div id='watchlist_toggle'>Watchlist</div>
  |
  <%= link_to "Home Project", :controller => 'project', :action => :show, :project => "home:#{session[:login]}" %>
  |
  <%= link_to 'Logout', { :controller => 'user', :action => 'logout' }, :method => "POST" %>

<% else %>

  <% if ICHAIN_MODE == 'on' %>

    <%# Script to fix ichain redirection on empty username or password %>
    <script language="javascript">
          function fillEmptyFields() {
            if( document.getElementById('username').value == '' ){
              document.getElementById('username').value = "_";
            }
            if( document.getElementById('password').value == '' ){
              document.getElementById('password').value = "_";
            }
          }
    </script>

    <form action="https://build.opensuse.org/ICSLogin/auth-up"
          method="post" enctype="application/x-www-form-urlencoded" id="login_form">
      <div style="text-decoration: none">
        <input name="url" value="<%= "#{@return_to_host}#{@return_to_path}" %>" type="hidden" />
        <input name="context" value="default" type="hidden" />
        <input name="proxypath" value="reverse" type="hidden" />
        <input name="message" value="Please log In" type="hidden" />
        <label for="username">Username:</label> <input name="username" id="username" size='10' maxlength='50' style='width: 10em;'/>
        <label for="password">Password:</label> <input name="password" id="password" size='10' maxlength='50' type='password'/>
        <input value="Login" type="submit" onclick="fillEmptyFields();" />

        <%#= link_to("Login", '#', {:onclick => "document.getElementById( 'login_form' ).submit(); return;"} ) %> |
        <%= link_to("Register / Manage account", "https://build.opensuse.org/ICSLogin/?%22#{@return_to_host}#{@return_to_path}%22") %>

      </div>
    </form>

  <% else %>

    <% form_tag( :controller => :user, :action => :do_login ) do %>
      <div style="text-decoration: none">
        <label for="username">Username:</label> <input name="username" id="username" size='10' maxlength='50' style='width: 10em;'/>
        <label for="password">Password:</label> <input name="password" id="password" size='10' maxlength='50' type='password'/>
        <input name="return_to_path" value="<%= "#{@return_to_path}" %>" type="hidden" />
        <input value="Login" type="submit"/>
  
        <%#= link_to("Login", '#', {:onclick => "document.getElementById( 'login_form' ).submit(); return;"} ) %>
      </div>
    <% end %>

  <% end %>
<% end %>
