
<% if session[:login] -%>

  <div class="grid_4 omega">

    <%= link_to CGI::escapeHTML(session[:login]), :controller => 'project', :action => :show, :project => "home:#{session[:login]}" %>
    | <%= link_to 'Log out', { :controller => 'user', :action => 'logout' }, :method => "POST" %>

  </div>

<% else %>

  <% if ICHAIN_MODE == 'on' %>

    <%# Script to fix ichain redirection on empty username or password %>
    <% content_for :head_javascript do -%>
      function fillEmptyFields() {
      if( document.getElementById('username').value == '' ){
      document.getElementById('username').value = "_";
      }
      if( document.getElementById('password').value == '' ){
      document.getElementById('password').value = "_";
      }
      }
    <% end -%>

    <div class="grid_4 omega">
      <%= link_to("Sign up", "https://build.opensuse.org/ICSLogin/?%22#{@return_to_host}#{@return_to_path}%22") %>
      | <a id="login-trigger" href="#login">Login</a>

      <div id="login-form">
        <form action="https://build.opensuse.org/ICSLogin/auth-up"
              method="post" enctype="application/x-www-form-urlencoded" id="login_form">
          <div class="hidden">
            <input name="url" value="<%= "#{@return_to_host}#{@return_to_path}" %>" type="hidden" />
            <input name="context" value="default" type="hidden" />
            <input name="proxypath" value="reverse" type="hidden" />
            <input name="message" value="Please log In" type="hidden" />
            <input name="return_to_path" value="<%= "#{@return_to_path}" %>" type="hidden" />
          </div>
          <p><label class="inlined" for="username">Username</label><input type="text" class="inline-text" name="username" value="" id="username" /></p>
          <p><label class="inlined" for="password">Password</label><input type="password" class="inline-text" name="password" value="" id="password" /></p>

          <p><input value="Login" type="submit" onclick="fillEmptyFields();" /></p>

          <p class="slim-footer"><a id="close-login" href="#cancel">Cancel</a></p>
        </form>
      </div>
    </div>

  <% else %>

    <div class="grid_4 omega">
      <a href="#signup-page">Sign up</a> | <a id="login-trigger" href="#login">Login</a>

      <div id="login-form">
        <% form_tag( :controller => :user, :action => :do_login ) do %>
          <div class="hidden">
            <input name="return_to_path" value="<%= "#{@return_to_path}" %>" type="hidden" />
          </div>
          <p><label class="inlined" for="username">Username</label><input type="text" class="inline-text" name="username" value="" id="username" /></p>
          <p><label class="inlined" for="password">Password</label><input type="password" class="inline-text" name="password" value="" id="password" /></p>

          <p><input type="submit" value="Login"/></p>
          <p class="slim-footer"><a id="close-login" href="#cancel">Cancel</a></p>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
