
<div class="grid_4 omega" style="text-align: right;">

  <% if session[:login] -%>

    <%= link_to CGI::escapeHTML(session[:login]), :controller => 'project', :action => :show, :project => "home:#{session[:login]}" %>
    <%=
    if @nr_involved_requests and @nr_involved_requests > 0
      "(" + link_to(pluralize(@nr_involved_requests, 'request'), {:controller => 'home', :action => :list_requests}, {:title => "Number of requests concerning #{@user}"}) + ")"
    end
    -%>
    | <%= link_to 'Log out', { :controller => 'user', :action => 'logout' }, :method => "POST" %>

  <% else %>

    <% if ICHAIN_MODE == 'on' %>

      <%= link_to("Register", "https://build.opensuse.org/ICSLogin/?%22#{@return_to_host}#{@return_to_path}%22") %> |
      <%= link_to 'Login', { :controller => :user, :action => :login }, :id => "login-trigger" %>

      <div id="login-form">
        <form action="https://build.opensuse.org/ICSLogin/auth-up"
              method="post" enctype="application/x-www-form-urlencoded" id="login_form">
          <div class="hidden">
            <input name="url" value="<%= "#{@return_to_host}#{@return_to_path}" %>" type="hidden" />
            <input name="context" value="default" type="hidden" />
            <input name="proxypath" value="reverse" type="hidden" />
            <input name="message" value="Please log In" type="hidden" />
            <input name="return_to_path" value="<%= @return_to_path %>" type="hidden" />
          </div>
          <p><label class="inlined" for="username">Username</label><input type="text" class="inline-text" name="username" value="" id="username" /></p>
          <p><label class="inlined" for="password">Password</label><input type="password" class="inline-text" name="password" value="" id="password" /></p>

          <p><input value="Login" type="submit" onclick="fillEmptyFields();" /></p>

          <p class="slim-footer"><a id="close-login" href="#">Cancel</a></p>
        </form>
      </div>

    <% else %>

      <%= link_to "Register", :controller => :user, :action => :register_user %> |
      <%= link_to 'Login', { :controller => :user, :action => :login }, :id => "login-trigger" %>
      <div id="login-form">
        <% form_tag( :controller => :user, :action => :do_login ) do %>
          <div class="hidden">
            <input name="return_to_path" value="<%= "#{@return_to_path}" %>" type="hidden" />
          </div>
          <p><label class="inlined" for="username">Username</label><input type="text" class="inline-text" name="username" value="" id="username" /></p>
          <p><label class="inlined" for="password">Password</label><input type="password" class="inline-text" name="password" value="" id="password" /></p>

          <p><input type="submit" value="Login"/></p>
          <p class="slim-footer"><a id="close-login" href="#cancel">Cancel</a></p>
        <% end %>
      </div>

    <% end %>
  <% end %>

</div>
