
<% if session[:login] -%>

  <%= link_to CGI::escapeHTML(session[:login]), :controller => 'home', :action => :index %>
  |
  <div onclick="$('#inplace_watchlist').slideToggle(350);">Watchlist</div>
  |
  <%= link_to "Home Project", :controller => 'project', :action => :show, :project => "home:#{session[:login]}" %>
  |
  <%= link_to 'Logout', { :controller => 'user', :action => 'logout' }, :method => "POST" %>

<% else %>

  <% if ICHAIN_MODE == 'on' %>

    <form action="https://build.opensuse.org/ICSLogin/auth-up"
        method="post" enctype="application/x-www-form-urlencoded" name="login" id="login_form">
    <input name="url" value="<%= "#{@return_to_host}#{@return_to_path}" %>" type="hidden" />
    <input name="context" value="default" type="hidden" />
    <input name="proxypath" value="reverse" type="hidden" />
    <input name="message" value="Please log In" type="hidden" />
    Username: <input name="username" size='10' maxlength='50' style='width: 10em;'/>
    Password: <input name="password" size='10' maxlength='50' type='password'/>
    <input value="Login" type="submit"/>

    <%#= link_to("Login", '#', {:onclick => "document.getElementById( 'login_form' ).submit(); return;"} ) %> |
    <%= link_to("Register / Manage account", "https://build.opensuse.org/ICSLogin/?%22#{@return_to_host}#{@return_to_path}%22") %>

    </form>

  <% else %>


    <form action="<%= @return_to_path %>"
        method="post" enctype="application/x-www-form-urlencoded" name="login" id="login_form">
    Username: <input name="username" size='10' maxlength='50' style='width: 10em;'/>
    Password: <input name="password" size='10' maxlength='50' type='password'/>
    <input type="hidden" name="authenticity_token" value="<%=  form_authenticity_token %>"/>
    <input value="Login" type="submit"/>

    <%#= link_to("Login", '#', {:onclick => "document.getElementById( 'login_form' ).submit(); return;"} ) %>

    </form>


  <% end %>
<% end %>
