
<% if session[:login] -%>

  <div id="local-user-actions" class="grid_4 omega">

    <ul id="pt-personal">
      <!-- Begin Personal links (Login, etc.) xx-->
      <li><%= link_to CGI::escapeHTML(session[:login]), :controller => 'project', :action => :show, :project => "home:#{session[:login]}" %></li>
      <li><%= link_to 'Log out', { :controller => 'user', :action => 'logout' }, :method => "POST" %></li>
      <!-- End Personal links (Login, etc.) -->
    </ul>
  </div>

<% else %>

  <% if ICHAIN_MODE == 'on' %>

    <%# Script to fix ichain redirection on empty username or password %>
    <script language="javascript">
                      function fillEmptyFields() {
                        if( document.getElementById('username').value == '' ){
                          document.getElementById('username').value = "_";
                        }
                        if( document.getElementById('password').value == '' ){
                          document.getElementById('password').value = "_";
                        }
                      }
    </script>

    <form action="https://build.opensuse.org/ICSLogin/auth-up"
          method="post" enctype="application/x-www-form-urlencoded" id="login_form">
      <div style="text-decoration: none">
        <input name="url" value="<%= "#{@return_to_host}#{@return_to_path}" %>" type="hidden" />
        <input name="context" value="default" type="hidden" />
        <input name="proxypath" value="reverse" type="hidden" />
        <input name="message" value="Please log In" type="hidden" />
        <label for="username">Username:</label> <input name="username" id="username" size='10' maxlength='50' style='width: 10em;'/>
        <label for="password">Password:</label> <input name="password" id="password" size='10' maxlength='50' type='password'/>
        <input value="Login" type="submit" onclick="fillEmptyFields();" />

        <%#= link_to("Login", '#', {:onclick => "document.getElementById( 'login_form' ).submit(); return;"} ) %> |
        <%= link_to("Register / Manage account", "https://build.opensuse.org/ICSLogin/?%22#{@return_to_host}#{@return_to_path}%22") %>

      </div>
    </form>

  <% else %>

    <div class="grid_4 omega">
      <a href="#signup-page">Sign up</a> | <a id="login-trigger" href="#login">Login</a>

      <div id="login-form">
        <% form_tag( :controller => :user, :action => :do_login ) do %>

          <input name="return_to_path" value="<%= "#{@return_to_path}" %>" type="hidden" />
          <p><label class="inlined" for="username">Username</label><input type="text" class="inline-text" name="username" value="" id="username" /></p>
          <p><label class="inlined" for="password">Password</label><input type="password" class="inline-text" name="password" value="" id="password" /></p>

          <p><input type="submit" value="Login"/></p>
          <p class="slim-footer"><a id="close-login" href="#cancel">Cancel</a></p>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
