
 <% if user -%>
  <ul class="global-navigation-menu global-navigation-menu-favorites" id="menu-favorites">
    <li>
      <a href="<%= url_for :controller => "home", :action => :list_my %>">
      <span>Watchlist ...</span>
      <span class="desc">Your watched and involved projects</span></a>
    </li>
    <% if user -%>
      <% if params[:project] -%>
         <li>
           <a href="<%= url_for :controller => "project", :action => :toggle_watch, :project => params[:project] %>">
           <% if user.watches? params[:project] -%>
             <span>Remove this project from Watchlist</span>
             <span class="desc">Do not watch this project anymore</span>
           <% else -%>
             <span>Add this project to Watchlist</span>
             <span class="desc">Watch this project</span>
           <% end -%>
           </a>
         </li>
      <% end -%>
      <% user.watched_projects.each do |project|-%>
        <li id="watchlist_<%= Digest::MD5.hexdigest project %>">
          <%= image_tag 'project.png', :style => 'height: 16px; width: 16px;' %>
          <a href="<%= url_for :controller => 'project', :action => :show, :project => project %>">
          <span><%= elide(project, 32) %></span></a>
        </li>
      <% end -%>
    <% end -%>
  </ul>
<%- end -%>


<%= form_tag({:controller => 'search', :action => 'search'}, {:method => :post, :id => "global-search-form", :class => "label-overlay"}) do -%>
  <div style="display: inline">
    <label for="search">Search</label>
    <%= text_field_tag 'search_text', '', :id => 'search'-%>
    <input type="submit" value="Search" class="hidden" />
  </div>
<% end %>

