- if @status_messages.present? || User.current.is_admin?
  .ui.raised.segment#messages
    .ui.top.attached.label
      Announcements
      \#{link_to('', news_feed_path(format: 'rss'), { class: 'alignright icons-feeds', title: 'RSS Feed' })}
    - @status_messages.each do |msg|
      %div
        = user_with_realname_and_icon msg.user, short: true
        wrote #{time_ago_in_words(msg.created_at)} ago
      .ui.segment
        .news-message
          - case msg.severity.to_i
          - when 3
            = sprite_tag('exclamation', alt: 'Red')
          - when 2
            = sprite_tag('error', alt: 'Yellow', class: 'icon')
          - when 1
            = sprite_tag('accept', alt: 'Green')
          - else
            = sprite_tag('information', alt: 'Information')
          - if User.current.is_admin?
            =# link_to(sprite_tag('comment_add') + content_tag(:span, 'Add new status message'), '#', method: 'POST', data: {confirm: 'abc', remote: true} )
            = link_to(sprite_tag('comment_delete', title: 'Remove new status message'), '#',
              { remote: true, data: { 'open-dialog' => true, 'dialog-id' => ".status-message-delete-dialog-#{msg.id}" } })
            = render partial: 'webui2/status_messages/destroy_status_message_dialog', locals: { message_id: msg.id }
            =# link_to(sprite_tag('comment_delete', title: 'Remove status message'),
              { controller: 'status_messages', action: 'destroy_status_message_dialog', id: msg.id },
              { remote: true, class: 'delete-message' })
        = comment_body(msg.message)
    - if User.current.is_admin?
      %p
        = link_to(sprite_tag('comment_add') + content_tag(:span, 'Add new status message'), '#',
          { remote: true, data: { 'open-dialog' => true, 'dialog-id' => '.status-message-create-dialog' } })
