- @pagetitle = 'Welcome'
- @layouttype = 'custom'
.row
  .col-md-8
    .card.mb-3
      .card-body
        %h2
          Welcome to #{@configuration['title']}
        = raw @configuration['description']
        .row.no-gutters#proceed-list
          = render partial: 'proceed-list'
    = render partial: 'systemstatus'
  .col-md-4
    - if User.current.is_nobody? and can_register
      .card
        %h2.card-header New here? Sign up!
        .card-body
          = render partial: 'shared/sign_up'
    = render partial: 'sponsors'
    - if @status_messages.present? || User.current.is_admin?
      = render partial: 'status_messages'
    = render partial: 'latest_updates' if (@latest_updates and ::Configuration.anonymous)
