- @pagetitle = 'Welcome'
- @layouttype = 'custom'
.row
  .col-md-8
    .card.mb-3
      .card-body
        %h2
          Welcome to #{@configuration['title']}
        -# rubocop:disable Rails/OutputSafety
        = raw @configuration['description']
        -# rubocop:enable Rails/OutputSafety
        .row.no-gutters.text-center#proceed-list
          = render partial: 'proceed-list'
    = render(partial: 'systemstatus', locals: { busy: @busy,
                                                building_workers: @building_workers,
                                                overall_workers: @overall_workers,
                                                waiting_packages: @waiting_packages,
                                                host_title: @configuration['title'],
                                                system_stats: @system_stats })
  .col-md-4
    - if User.current.is_nobody? && can_register
      .card.mb-3
        %h5.card-header New here? Sign up!
        .card-body
          = render partial: 'webui2/shared/sign_up'
    = render partial: 'sponsors'
    - if @status_messages.present? || User.current.is_admin?
      = render partial: 'status_messages'
    = render(partial: 'latest_updates') if @latest_updates && ::Configuration.anonymous
