!!! XML
%sitemapindex{ xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9" }
  %sitemap
    %loc= url_for(controller: :main, action: :sitemap_projects, only_path: false)
  - %w{ show }.each do |act|
    %sitemap
      %loc= url_for(controller: :main, action: :sitemap_packages, category: 'main', listaction: act, only_path: false)
    - for l in 'a'..'z' do
      %sitemap
        %loc= url_for(controller: :main, action: :sitemap_packages, category: "home:#{l}", listaction: act, only_path: false)
    - for l in 'A'..'Z' do
      %sitemap
        %loc= url_for(controller: :main, action: :sitemap_packages, category: "home:#{l}", listaction: act, only_path: false)
    %sitemap
      %loc= url_for(controller: :main, action: :sitemap_packages, category: 'opensuse', listaction: act, only_path: false)
