- @pagetitle = 'Microsoft Azure Configuration'

.card.mb-3
  .card-body
    %h3.mb-3= @pagetitle

    %p
      You need to provide an application id and an application key in order to allow OBS to upload images to your Azure account.
      We will encrypt your configuration before it get stored in our database.

    %h4.mb-3 How to Generate an Application ID and an Application Key

    %p
      %ol
        %li
          Log in to the
          = link_to 'Azure Portal', 'https://portal.azure.com', target: '_blank', rel: 'noopener'
        %li
          Click on the left side
          %strong
            All services
        %li
          Open the
          %strong
            App registrations
          resource
        %li
          Click
          %strong
            New application registration
        %li
          Give the application a name like
          %strong
            OBS
          and the application type is
          %strong
            Web app / API
          (and the Sign-on URL is not relevant and can be anything. You could use the address of this Build Service instance for example.)
        %li
          Once the application has been created, copy its
          %strong
            Application ID
          and paste it in the form below in the OBS UI.
        %li
          Click
          %strong
            Settings
        %li
          Click
          %strong
            Keys
        %li
          Create a new password: Enter a
          %strong
            description
          and set an expiration date. Keep the
          %strong
            Value
          field empty.
        %li
          Click the
          %strong
            Save
          button and copy the content of the
          %strong
            Value
          field to the
          %strong
            Application Key
          field below in the OBS UI.
        %li
          Assign the
          %strong
            Contributor
          role to the application registered in your subscription, for that go to
          %strong
            Subscriptions -> Access control (IAM)

    %h4.mb-3 Configuration for OBS

    - if @azure_configuration.available?
      .alert.alert-primary{ role: 'alert' }
        The current configuration is encrypted and cannot be shown.
        = link_to 'Click here to delete it', cloud_azure_configuration_path, method: :delete,
          data: { confirm: 'Do you really want to delete the current configuration?' }
    - else
      = form_for @azure_configuration, url: cloud_azure_configuration_path, method: :put do |f|
        .form-group
          = f.label :application_id, 'Application ID:'
          = f.password_field :application_id, class: 'form-control'
        .form-group
          = f.label :application_key, 'Application Key:'
          = f.password_field :application_key, class: 'form-control'
        = f.submit 'Submit', class: 'btn btn-primary'
