<% level ||= 1 %>
<% if children and !children.empty? %>
  <% children.each do |comment| %>
    <div class="comment_child <%= "comment_odd" if level.odd? %>"  style="<%= "margin-left: #{level * 10}px;" if level <= 4 %><%= "padding-right: 20px;" if level <= 1 %>">
      <%= user_icon(comment[:user], 48, 'comment_image')%>
      <%=comment[:user]%>

      <%=render :partial => "shared/comment_links", :locals => {:comment => comment } %>

      <br />
      <span class="comment_time"><%= distance_of_time_in_words_to_now(DateTime.parse(comment[:created_at])) %> ago:</span>
      <%=simple_format(comment[:body]) %>
    <% unless comment[:children].empty? %>
      <%= render partial: 'shared/child_comment', locals: {children: comment[:children], level: level+1 } %>
    <% end %>
    </div>
  <% end %>
<% end %>