<% incidents.each do |incident| %>
  <% index = 0 %>
  <% release_targets_ng = incident.release_targets_ng() %>
  <% release_targets_ng.each do |rt_name, rt| %>
    <tr>
      <% if index == 0 %>
        <td rowspan="<%= release_targets_ng.length %>">
          <%= link_to(short_incident_name(@project, incident), action: 'show', project: incident.name) %>
        </td>
        <td rowspan="<%= release_targets_ng.length %>">
          <% if rt[:patchinfo] && rt[:patchinfo].value('summary') && !rt[:patchinfo].value('summary').empty? %>
            <%= link_to(rt[:patchinfo].value('summary'), action: 'show', project: incident.name) %>
          <% else %>
            <i><%= link_to(incident.value('title'), action: 'show', project: incident.name) %></i>
          <% end %>
        </td>
        <td rowspan="<%= release_targets_ng.length %>" class="nowrap">
          <% rqs_in = BsRequest.list_ids({roles: %w(target), states: %w(new review), project: [incident.name]}) %>
          <% if rqs_in && rqs_in.length > 0 %>
            <% text = "#{rqs_in.length} open request#{rqs_in.length == 1 ? '' : 's'}" %>
            <% if rqs_in.length == 1 %>
              <%= link_to(sprite_tag('exclamation', title: text), controller: 'request', action: 'show', id: rqs_in[0]) %>
            <% else %>
              <%= link_to(sprite_tag('exclamation', title: text), action: 'requests', project: incident.name) %>
            <% end %>
          <% end %>
          <% rqs_out = incident.requests({roles: %w(source), states: %w(new review declined), types: %w(maintenance_release)}) %>
          <% if rqs_out && rqs_out.length > 0 %>
            <% rqs_out.each do |rq_out| %>
              <% text = "Release request in state '#{rq_out['state']}'" %>
              <%= link_to(sprite_tag(map_request_state_to_flag(rq_out['state']), title: text), controller: 'request', action: 'show', id: rq_out['id']) %>
            <% end %>
          <% else %>
            <% if incident.is_locked? %>
              <%= sprite_tag('lock', title: 'Locked') %>
            <% end %>
          <% end %>
          <% if rt[:patchinfo] && rt[:patchinfo].value('stopped') && !rt[:patchinfo].value('stopped').empty? %>
            <% title = "Stopped: #{rt[:patchinfo].value('stopped')}" %>
            <%= sprite_tag('dialog-warning', title: title) %>
          <% end %>
        </td>
      <% end %>
      <td><b><%= rt_name %></b></td>
      <% if rt[:patchinfo] %>
        <td>
          <%= link_to(rt[:patchinfo].category, {controller: 'patchinfo', action: 'show', project: incident.name, package: 'patchinfo', file: '_patchinfo'}, {style: "color: #{patchinfo_category_color(rt[:patchinfo].category)};"}) %>
        </td>
        <td>
          <%= link_to(rt[:patchinfo].rating, {controller: 'patchinfo', action: 'show', project: incident.name, package: 'patchinfo', file: '_patchinfo'}, {style: "color: #{patchinfo_rating_color(rt[:patchinfo].rating)};"}) %>
        </td>
      <% else %>
        <td colspan="2">
          <%= link_to(sprite_tag('exclamation', title: 'Missing patchinfo'), controller: 'patchinfo', action: 'new_patchinfo', project: incident.name, package: 'patchinfo') %>
          <%= link_to('Missing patchinfo', {controller: 'patchinfo', action: 'new_patchinfo', project: incident.name, package: 'patchinfo'}, {style: 'color: red;'}) %>
        </td>
      <% end %>
      <td class="nowrap">
        <% if rt[:patchinfo] %>
          <% patchinfo_issues_by_tracker = rt[:patchinfo].issues_by_tracker %>
        <% else %>
          <% patchinfo_issues_by_tracker = {} %>
        <% end %>
        <% package_issues_by_tracker = rt[:package_issues_by_tracker] %>
        <% trackers = patchinfo_issues_by_tracker.merge(package_issues_by_tracker) %>
        <% trackers.keys.each_with_index do |tracker, index| %>
          <% if index != 0 %><br/><% end %>
          <% patchinfo_issues = patchinfo_issues_by_tracker[tracker] || {} %>
          <% package_issues = package_issues_by_tracker[tracker] || {} %>

          <%= tracker %>: 
          <% issue_color = incident_issue_color(patchinfo_issues.length, package_issues.length) %>
          <span style="color: <%= issue_color %>;">
            <%= link_to(patchinfo_issues.length, {controller: 'patchinfo', action: 'show', project: incident.name, package: 'patchinfo', file: '_patchinfo'}, {style: "color: #{issue_color}", title: patchinfo_issues.map{|i| "#{i.value('label')} "}.sort.join}) %>
            /
            <%= link_to(package_issues.length, "#", {style: "color: #{issue_color}", title: patchinfo_issues.map{|i| "#{i.value('label')} "}.sort.join}) %>
          </span>
        <% end %>
      </td>
      <td>
        <% rt[:packages].each do |package| %>
          <%= link_to(package.value('name').split('.', 2)[0], controller: 'package', action: 'show', project: incident.name, package: package.value('name')) %><br/>
        <% end %>
      </td>
      <td>
        <% buildresult_css_id = "incident_#{valid_xml_id(incident.name)}_results_#{valid_xml_id(rt_name)}" %>
        <% if incident.build_succeeded?(rt[:reponame]) %>
          <%= link_to(sprite_tag('tick', title: 'Build results', id: buildresult_css_id), action: :show, project: incident.name) %>
        <% else %>
          <%= link_to(sprite_tag('exclamation', title: 'Build results', id: buildresult_css_id), action: :show, project: incident.name) %>
        <% end %>
        <%= javascript_tag do %>
          setup_buildresult_tooltip('<%= buildresult_css_id %>', '<%= url_for controller: 'project', action: 'buildresult', project: incident.name %>');
        <% end %>
      </td>
      <% index += 1 %>
    </tr>
  <% end %>
<% end %>
