<% incident_table_id ||= 'incident_table' %>

<% if incidents.blank? %>
  <p>No incidents.</p>
<% else %>
  <table id="<%= incident_table_id %>" class="tablesorter">
    <thead>
      <tr>
        <th rowspan="2" style="width: 1%">ID</th>
        <!--<th rowspan="2" style="width: 1%">Age</th>-->
        <th rowspan="2" style="width: 40%">Summary</th>
        <th colspan="3">Patchinfo</th>
        <th colspan="3">Packages</th>
        <th rowspan="2" style="width: 1%">Requests</th>
        <th rowspan="2" style="width: 1%">Lock</th>
      </tr>
      <tr>
        <th style="width: 1%">Category</th>
        <th style="width: 1%">Rating</th>
        <th style="width: 1%">Issues</th>

        <th style="width: 1%">Issues</th>
        <th style="width: 1%">#</th>
        <th style="width: 1%">Results</th>
      </tr>
    </thead>
    <tbody>
      <% incidents.each do |incident| %>
        <% patchinfo, packages, issues, requests = incident.patchinfo(), incident.packages(), incident.issues(), incident.requests({:roles => 'target', :states => 'new,review'}) %>
        <tr>
          <td><%= link_to(short_incident_name(@project, incident), :action => 'show', :project => incident.value('name')) %></td>
          <!--<td class="nowrap">
            <span class="hidden"><%# Time.parse(req.state.when).to_i %></span>
            <%# fuzzy_time_string(req.state.when) %>
          </td>-->
          <td><%= incident.value('title') %></td>
          <% if patchinfo %>
            <td>
              <%= link_to(patchinfo.category, {:controller => 'patchinfo', :action => 'show', :project => incident.value('name'), :package => 'patchinfo', :file => '_patchinfo'}, {:style => "color: #{patchinfo_category_color(patchinfo.category)};"}) %>
            </td>
            <td>
              <%= link_to(patchinfo.rating, {:controller => 'patchinfo', :action => 'show', :project => incident.value('name'), :package => 'patchinfo', :file => '_patchinfo'}, {:style => "color: #{patchinfo_rating_color(patchinfo.rating)};"}) %>
            </td>
            <td class="nowrap">
              <% if issues[:missing] && issues[:missing].length > 0 %>
                <% title = issues[:missing].keys.sort.map{|k| "#{k} "}.join %>
                <%= link_to("#{issues[:missing].length} missing", "#", {:style => 'color: red;', :title => title}) %>
              <% elsif issues[:patchinfo] && issues[:patchinfo].length > 0 %>
                <% title = issues[:patchinfo].keys.sort.map{|k| "#{k} "}.join %>
                <%= link_to("#{issues[:patchinfo].length} fixed", "#", {:style => 'color: green;', :title => title}) %>
              <% else %>
                -
              <% end %>
            </td>
          <% else %>
            <td colspan="3">
              <%= link_to(image_tag('icons/exclamation.png', :alt => 'Missing patchinfo', :title => 'Missing patchinfo'), :controller => 'patchinfo', :action => 'new_patchinfo', :project => incident.value('name'), :package => 'patchinfo') %>
              <%= link_to('Missing patchinfo', {:controller => 'patchinfo', :action => 'new_patchinfo', :project => incident.value('name'), :package => 'patchinfo'}, {:style => 'color: red;'}) %>
            </td>
          <% end %>
          <td class="nowrap">
            <% if issues[:optional] && issues[:optional].length > 0 %>
              <% title = issues[:optional].keys.sort.map{|k| "#{k} "}.join %>
              <%= link_to("#{issues[:optional].length} optional", "#", {:style => 'color: olive;', :title => title}) %>
            <% elsif issues[:changes] && issues[:changes].length > 0 %>
              <% title = issues[:changes].keys.sort.map{|k| "#{k} "}.join %>
              <%= link_to("#{issues[:changes].length} fixed", "#", {:style => 'color: green;', :title => title}) %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <%# Exclude package "patchinfo" %>
            <% if packages.length > 1 %>
              <%= link_to(packages.length - 1, {:action => 'packages', :project => incident.value('name')}, {:style => 'color: green;'}) %>
            <% else %>
              <%= link_to('0', {:action => 'packages', :project => incident.value('name')}, {:style => 'color: red;'}) %>
            <% end %>
          </td>
          <td>
            <% buildresult_css_id = "incident_#{valid_xml_id(incident.value('name'))}_results" %>
            <% if incident.build_succeeded? %>
            <%= link_to(image_tag('icons/accept.png', :alt => 'Build results', :title => 'Build results', :id => buildresult_css_id), :action => :show, :project => incident.value('name')) %>
            <% else %>
              <%= link_to(image_tag('icons/exclamation.png', :alt => 'Build results', :title => 'Build results', :id => buildresult_css_id), :action => :show, :project => incident.value('name')) %>
            <% end %>
            <% javascript_tag do %>
              setup_buildresult_tooltip('<%= buildresult_css_id %>', '<%= url_for :controller => 'project', :action => 'buildresult', :project => incident.value('name') %>');
            <% end %>
          </td>
          <td>
            <% if requests && requests.length > 0 %>
              <%= link_to("#{requests.length} open", {:action => 'requests', :project => incident.value('name')}, {:style => 'color: red;'}) %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <% if incident.is_locked? %>
              <%= image_tag('icons/accept.png', :alt => 'Locked', :title => 'Locked') %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% javascript_tag do %>
    /*$('#<%= incident_table_id %>').tablesorter({ widgets: ['zebra'], sortList: [[0,0]], headers: {4: {sorter: false}, 5: {sorter: false}} });*/
  <% end %>
<% end %>
