<!-- Involved users -->

<% # used for projects and packages. As such @package can be nil -%>
<div id="involved_users">
  <h3><%= @pagetitle %></h3>

  <% if @user and @user.is_maintainer?( @project, @package ) %>
    <p>
      <%= link_to image_tag('icons/user_add.png', :alt => "Add User", :title => "Add User"),
        :action => :add_person, :package => @package, :project => @project %>
      <%= link_to 'Add',
        :action => :add_person, :package => @package, :project => @project %> a user
    </p>
  <% end %>

  <ul>
    <% had_roles = false
       @roles.each do |r| -%>

      <% if @package
        package_groups = @package.all_groups(r).sort {|x,y| x.downcase <=> y.downcase }
        package_users  = @package.all_persons(r).sort {|x,y| x.downcase <=> y.downcase }
      else
        package_groups = []
        package_users  = []
      end
      project_groups = @project.all_groups(r).sort {|x,y| x.downcase <=> y.downcase }
      project_users  = @project.all_persons(r).sort {|x,y| x.downcase <=> y.downcase }
      -%>

      <% if !project_users.empty? or !project_groups.empty? or !package_users.empty? or !package_groups.empty? 
           had_roles = true -%>

        <li>
          <h5><%= h r.capitalize %>s</h5>
          <ul>

            <% package_groups.each do |group| -%>
              <li>
                <%=  image_tag("group.png", :size => "16x16", :class => 'email_link') %>
                <%=  group %>
              </li>
            <% end -%>
            <% project_groups.each do |group| -%>
              <li>
                <%=  image_tag("group.png", :size => "16x16", :class => 'email_link') %>
                <%= group %>
              </li>
            <% end -%>

            <% package_users.each do |person| -%>
              <li>
                <%=  gravatar_image(@email_hash[person]) %>
                <%= if @user
                  link_to(person, 'mailto:' + @email_hash[person] + '?subject=openSUSE%20Build%20Service' )
                else
                  person
                end -%>
                <%- if @user and @user.is_maintainer?( @project, @package ) %>
                  <%= link_to image_tag('icons/user_delete.png', :alt => "Remove", :title => "Remove User"),
                    {:action => :remove_person, :project => @project, :userid => person, :role => r, :package => @package},
                    {:confirm => "Really remove user '#{person}'?", :method => :post}%>
                <%- end %>
              </li>
            <%- end %>

            <% project_users.each do |person| -%>
              <% next if package_users.include? person  %>
              <li>
                <%=  gravatar_image(@email_hash[person]) %>
                <%= if @user
                  link_to(person, 'mailto:' + @email_hash[person] + '?subject=openSUSE%20Build%20Service' )
                else
                  person
                end -%>
                <% unless @package %>
                  <% if ((r != "maintainer") or (project_users.length > 1)) and @user and @user.is_maintainer?( @project, @package ) %>
                    <%= link_to image_tag('icons/user_delete.png', :alt => "Remove", :title => "Remove User"),
                      {:action => :remove_person, :project => params[:project], :userid => person, :role => r},
                      {:confirm => "Really remove user '#{person}'?", :class => "x"}%>
                  <% end %>
                <% else -%>
                  <i>(user is inherited from <%= link_to 'project', :controller => :project, :project => @project, :action => :users %>)</i>
                <% end -%>
              </li>
            <% end # project_users -%>

          </ul>
          </li>
        <% end -%>
    <% end # roles_each -%>

    <% unless had_roles -%>
      <li><i>No users involved</i></li>
    <% end -%>
  </ul>
</div>
