<% if @user and @user.is_maintainer?(@project, @package) %>
  <% content_for :head_javascript do %>
    function change_role() {
      str = $(this).attr('id');

      // The user/group name as found in the element id can contain underscores, therefore we have
      // to split off substrings, because the JavaScript split() function is useless. Motivation:
      // "A_B_C_D".split('_', 2); returns ['A','B'], and not ['A','B','C_D'] as sane languages do.
      type = str.slice(0, str.indexOf('_')); str = str.slice(str.indexOf('_') + 1);
      role = str.slice(0, str.indexOf('_')); str = str.slice(str.indexOf('_') + 1);

      data = {project: '<%= @project %>', package: '<%= @package %>', role: role};
      data[type + 'id'] = str;
      if (type == 'user') {
        if ($(this).attr('checked')) {
          url = '<%= url_for(:action => "save_person") %>';
        } else {
          url = '<%= url_for(:action => "remove_person") %>';
        }
      } else if (type == 'group') {
        if ($(this).attr('checked')) {
          url = '<%= url_for(:action => "save_group") %>';
        } else {
          url = '<%= url_for(:action => "remove_group") %>';
        }
      }

      $('#' + type + '_spinner').show();
      $('#' + type + '_table input').animate({opacity: 0.2}, 500);
      $('#' + type + '_table input').disable();

      $.ajax({
        url: url,
        type: 'POST',
        data: data,
        complete: function() {
          $('#' + type + '_spinner').hide();
          $('#' + type + '_table input').animate({opacity: 1}, 200);
          $('#' + type + '_table input').enable();
        }
      });
    }
  <% end -%>
<% end %>

<div id="involved_users">
  <% if @users and @users.length > 0 %>
    <h3>User Roles <%= image_tag 'ajax-loader.gif', :id => 'user_spinner', :class => 'hidden' %></h3>
    <table id="user_table">
      <thead>
        <tr>
          <td>Username</td>
          <% @roles.each do |role| %>
            <td><%= role.capitalize %></td>
          <% end %>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= render :partial => 'shared/user_with_realname_and_icon', :locals => {:user => user}%></td>
            <% @roles.each do |role| %>
              <td>
                <% if defined? @package %>
                  <%= check_box_tag("user_" + role + "_" + user, '', @package.user_has_role?(user, role), :disabled => true, :class => "trigger") %>
                  <% if @project.user_has_role?(user, role) %>
                    <%= link_to(image_tag('project.png', :alt => "Inherited from project", :title => "Inherited from project"), :controller => "project", :action => "users", :project => @project) %>
                  <% end %>
                <% else %>
                  <%= check_box_tag("user_" + role + "_" + user, '', @project.user_has_role?(user, role), :disabled => true, :class => "trigger") %>
                <% end %>
                <% if @user and @user.is_maintainer?(@project, @package) %>
                  <% javascript_tag do %>
                    $('#user_<%= role %>_<%= user %>').enable();
                    $('#user_<%= role %>_<%= user %>').change(change_role);
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <td>
              <% mail_to = 'mailto:' + Person.email_for_login(user) + '?subject=openSUSE%20Build%20Service%20-%20' + @project.name %>
              <% mail_to += '/' + @package.name if defined? @package %>
              <%= link_to(image_tag('icons/email.png', :alt => "Send mail", :title => "Send mail to user"), mail_to) %>
              <% if @user and @user.is_maintainer?(@project, @package) %>
                <%= link_to image_tag('icons/user_delete.png', :alt => "Remove", :title => "Remove user"), {:action => "remove_person", :project => @project, :package => @package, :userid => user}, {:confirm => "Really remove '#{user}'?", :method => :post}%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if @user && @user.is_maintainer?(@project, @package) %>
    <p>
      <%= link_to image_tag('icons/user_add.png', :alt => "Add user", :title => "Add user"), :action => :add_person, :package => @package, :project => @project %>
      <%= link_to 'Add user', :action => :add_person, :package => @package, :project => @project %>
    </p>
  <% end %>

  <% if @groups and @groups.length > 0 %>
    <h3>Group Roles <%= image_tag 'ajax-loader.gif', :id => 'group_spinner', :class => 'hidden' %></h3>
    <table id="group_table">
      <thead>
        <tr>
          <td>Group name</td>
          <% @roles.each do |role| %>
            <td><%= role.capitalize %></td>
          <% end %>
          <% if @user && @user.is_maintainer?(@project, @package) %>
            <td></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to(group, group_path(group)) %></td>
            <% @roles.each do |role| %>
              <td>
                <% if defined? @package %>
                  <%= check_box_tag("group_" + role + "_" + group, '', @package.group_has_role?(group, role), :disabled => true, :class => :trigger) %>
                  <% if @project.group_has_role?(group, role) %>
                    <%= link_to(image_tag('project.png', :alt => "Inherited from project", :title => "Inherited from project"), :controller => "project", :action => "users", :project => @project) %>
                  <% end %>
                <% else %>
                  <%= check_box_tag("group_" + role + "_" + group, '', @project.group_has_role?(group, role), :disabled => true, :class => :trigger) %>
                <% end %>
                <% if @user and @user.is_maintainer?(@project, @package) %>
                  <% javascript_tag do %>
                    $('#group_<%= role %>_<%= group %>').enable();
                    $('#group_<%= role %>_<%= group %>').change(change_role);
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <% if @user and @user.is_maintainer?(@project, @package) %>
              <td>
                <%= link_to image_tag('icons/group_delete.png', :alt => "Remove", :title => "Remove group"), {:action => "remove_group", :project => @project, :package => @package, :groupid => group}, {:confirm => "Really remove '#{group}'?", :method => :post}%>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if @user and @user.is_maintainer?(@project, @package) %>
    <p>
      <%= link_to image_tag('icons/group_add.png', :alt => "Add group", :title => "Add group"), :action => :add_group, :package => @package, :project => @project %>
      <%= link_to 'Add group', :action => :add_group, :package => @package, :project => @project %>
    </p>
  <% end %>
</div>

<% javascript_tag do %>
  $(document).ready(function() {
    <% if @users and @users.length > 0 %>
      $('#user_table').dataTable({
        'aoColumns': [
          null, 
          <% @roles.length.times do %>null,<% end %>
          {'bSortable': false}
        ],
        'bInfo': false,
        'bPaginate': false,
      });
    <% end %>
    <% if @groups and @groups.length > 0 %>
      $('#group_table').dataTable({
        'aoColumns': [
          null, 
          <% @roles.length.times do %>null,<% end %>
          <% if @user && @user.is_maintainer?(@project, @package) %>
            {'bSortable': false}
          <% end %>
        ],
        'bFilter': false,
        'bInfo': false,
        'bPaginate': false,
      });
    <% end %>
  });
<% end %>
