<% content_for :content_for_head do %>
  <%= javascript_include_tag 'jquery.tablesorter.js' %>
<% end %>

<div id="involved_users">
  <h3><%= @pagetitle %></h3>

  <% if @users and @users.length > 0 %>
    <table cellspacing='1' id="users_table" class="tablesorter">
      <thead>
        <tr>
          <th>User</th>
          <th colspan="<%= @roles.length %>">Roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= gravatar_image(@emails[user]) %>
              <% realname = Person.realname_for_login(user) %>
              <% unless realname.empty? %>
                <%= link_to(realname + ' (' + user + ')', :controller => 'home', :user => user) %>
              <% else %>
                <%= link_to(user, :controller => 'home', :user => user) %>
              <% end %>
            </td>
            <% @roles.each do |role| %>
              <% if defined? @package %>
                <td><%= check_box_tag(user + "-" + role, '', @package.user_has_role?(user, role) || @project.user_has_role?(user, role)) %><%= role.capitalize %></td>
              <% else %>
                <td><%= check_box_tag(user + "-" + role, '', @project.user_has_role?(user, role)) %><%= role.capitalize %></td>
              <% end %>
            <% end %>
            <td>
              <% mail_to = 'mailto:' + Person.email_for_login(user) + '?subject=openSUSE%20Build%20Service%20-%20' + @project.name %>
              <% mail_to += '/' + @package.name if defined? @package %>
              <%= link_to(image_tag('icons/email.png', :alt => "Send mail", :title => "Send mail to user"), mail_to) %>
              <% if @user and @user.is_maintainer?(@project, @package) %>
                <%= link_to image_tag('icons/user_delete.png', :alt => "Remove", :title => "Remove user"), {:action => :remove_person, :project => @project, :userid => user, :package => @package}, {:confirm => "Really remove user '#{user}'?", :method => :post}%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <script type="text/javascript">
      $('#users_table').tablesorter({ widgets: ['zebra'], sortList: [[0,1]], headers: {1: {sorter: false}, 2: {sorter: false}} });
    </script>
  <% end %>
  <% if @user and @user.is_maintainer?(@project, @package) %>
    <p>
      <%= link_to image_tag('icons/user_add.png', :alt => "Add user", :title => "Add user"), :action => :add_person, :package => @package, :project => @project %>
      <%= link_to 'Add user', :action => :add_person, :package => @package, :project => @project %>
    </p>
  <% end %>

  <% if @groups and @groups.length > 0 %>
    <table cellspacing='1' id="groups_table" class="tablesorter">
      <thead>
        <tr>
          <th>Group</th>
          <th colspan="<%= @roles.length %>">Roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group %></td/>
            <% @roles.each do |role| %>
              <% #TODO do when users work %>
            <% end %>
            <td>
              <% if @user and @user.is_maintainer?(@project, @package) %>
                <% #TODO: Remove group %>
                <%= image_tag('icons/group_delete.png', :alt => "Remove", :title => "Remove group") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <script type="text/javascript">
      $('#groups_table').tablesorter({ widgets: ['zebra'], sortList: [[0,1]], headers: {1: {sorter: false}, 2: {sorter: false}} });
    </script>
  <% end %>
</div>
