<% content_for :content_for_head do %>
  <%= javascript_include_tag 'jquery.tablesorter.js' %>
<% end %>


<% content_for :ready_function do %>
  $("#request_table").tablesorter( {
    widgets: ['zebra'],
    sortList: [[0,1]]
  } );
<% end %>

<div id="build_result_popup"><div id="build_result_html"></div></div>

<% unless requests.size %>
  <p><em>No pending requests.</em></p>
<% else %> 

  <table cellspacing="1" id="request_table" class="tablesorter" style="width: 95%">
    <thead>
      <tr>
        <th style="width: 1%">Date</th>
        <th>Source</th>
        <th>Target</th>
        <th style="width: 1%">Requester</th>
        <th style="width: 1%">Type</th>
      </tr>
    </thead>
    <tbody>
      <% requests.each do |req| -%>
        <% action_elem = req.submit if req.has_element? :submit
        action_elem = req.action if req.has_element? :action %>
        <tr>
          <td class="nowrap"><!-- <%= req.value :id %> --><%= fuzzy_time_string( req.state.value "when" ) %></td>
          <td>
            <%= if action_elem.has_element? :source
              "<!-- " + action_elem.source.project + "/" + action_elem.source.package + "-->" +
                package_link(action_elem.source.project, action_elem.source.package, :length => 70)
            elsif reqtype(req) == "delete"
              if action_elem.target.has_element? :package
                 "<!-- " + action_elem.target.project + "/" + action_elem.target.package + "-->" +
                   package_link(action_elem.target.project, action_elem.target.package, :length => 70)
              end
            end -%>
          </td>
          <td>
            <%= if action_elem.has_element? :target and action_elem.target.has_attribute? :package and reqtype(req) != "delete"
              "<!-- " + action_elem.target.project + "/" + action_elem.target.package + "-->" + 
              package_link(action_elem.target.project, action_elem.target.package, :hide_package => hide_package, :hide_project => hide_project, :length => 40 )
             end %>
          </td>
          <td class="nowrap">
            <span title="<%= req.state.who %>"><%=  truncate(req.state.who, :length => 12) %></span>
          </td>
          <td class="nowrap">
            <!-- <%= reqtype(req)  %> -->
            <%= link_to(image_tag('req-showdiff.png', :size => '16x16', :alt => 'Handle request'),
                :controller => :request, :action => "diff", :id => req.value(:id)) -%>
            <%= link_to reqtype(req), :controller => :request, :action => :show, :id => req.value(:id) -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
