<div id="build_result_popup"><div id="build_result_html"></div></div>

<% if requests.blank? %>
  <p><em>No requests.</em></p>
<% else %>
  <table cellspacing="1" id="request_table" class="tablesorter" style="width: 95%">
    <thead>
      <tr>
        <th style="width: 1%">Date</th>
        <th style="width: 40%">Source</th>
        <th style="width: 40%">Target</th>
        <th style="width: 5%">Requester</th>
        <th style="width: 1%">Type</th>
        <th style="width: 1%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% requests.each do |req| -%>
        <% ae = req.submit if req.has_element? :submit
        ae = req.action if req.has_element? :action %>
        <tr>
          <td class="nowrap"><!-- <%= req.value :id %> --><%= fuzzy_time_string( req.state.value "when" ) %></td>
          <%= render :partial => 'shared/request_table_source_and_target', :locals => {:ae => ae} %>
          <td class="nowrap">
            <span title="<%= req.state.who %>">
              <%= link_to(elide(req.state.who, 12), :controller => :home, :user => req.state.who) %>
            </span>
          </td>
          <td class="nowrap">
            <%= reqtype(req) %>
          </td>
          <td>
            <%= link_to(image_tag('req-showdiff.png', :size => '16x16', :alt => 'Handle Request'), :controller => :request, :action => :show, :id => req.value(:id)) -%>
            <% if ae.has_element? :source %> 
              <%= link_to(image_tag('icons/information.png', :size => '16x16', :alt => 'Build Results', :id => "req_#{req.value(:id)}"), :controller => :project, :action => :package_buildresult, :project => ae.source.project, :package => ae.source.package) %>
              <script type="text/javascript">
                setup_buildresult_tooltip( <%= req.value(:id) %>, '<%= url_for :controller => :project, :action => :package_buildresult, :project => ae.source.project, :package => ae.source.package %>' )
              </script>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script type="text/javascript">
    $('#request_table').tablesorter({ widgets: ['zebra'], sortList: [[0,1]], headers: {5: {sorter: false}} });
  </script>
<% end %>
