<table class="flag_table">
  <tr>
    <th></th>
    <th style="width: 7ex">All</th>
    <% obj.architectures.each do |arch| %>
      <th style="width: 7ex"><%=h arch %></th>
    <% end %>
  </tr>

  <tr>
    <td class="reponame"><strong>All</strong></td>
    <td class="allcow"><%= flag_status(flags, "all", "all") %></td>

    <% obj.architectures.each do |a| %>
      <td class="allcow"><%= flag_status(flags, "all", a) %></td>
    <% end %>
  </tr>
  <!-- renders each line in flag table, excepting the 'all' row -->
  <% obj.repositories.each do |repo| %>
    <tr>
      <td class="reponame"><strong><%= h(truncate(repo, :length => 19)) %></strong></td>
      <td class="allrow"><%= flag_status(flags, repo, "all") -%></td>
      <% @project.architectures.each do |a| %>
        <td><%= flag_status(flags, repo, a) -%></td>
      <% end %>
    </tr>
  <% end %>
</table>
