<% request_table_id ||= 'request_table' %>
<% hide_state ||= false %>
<% no_target ||= false %>
<% elide_len ||= no_target ? 80 : 40 %>

<% if requests.blank? %>
  <p>No requests.</p>
<% else %>
  <table id="<%= request_table_id %>">
    <thead>
      <tr>
        <th>Modified</th>
        <th>Source</th>
        <% if !no_target %>
          <th>Target</th>
        <% end %>
        <th>Requester</th>
        <th>Type</th>
        <% if !hide_state %>
          <th>State</th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% index = 0 %>
      <% requests.each do |req| -%>
      <% req['actions'].each do |ae|
	 index = index + 1
	 %>
        <tr id="tr_request_<%= "#{req['id']}_#{index}" %>">
          <% if req.has_key? 'state' %>
            <td class="nowrap">
	      <span class="hidden"><%= Time.parse(req['created_at']).to_i %>
	      </span>
	      <%= fuzzy_time_string(req['created_at']) %>
	    </td>
          <% end %>
          <td class="request_source">
            <% if ae['spkg'] %> 
               <% src_proj = format_projectname(ae['sprj'], req['creator']) 
                  src_pack = elide(ae['spkg'], elide_len >> 1) %>
                 <%= link_to_project(ae['sprj'], src_proj) %> / <%= link_to_package(ae['sprj'], ae['spkg'], src_pack) %>
              <% elsif ae['sprj'] %>
                <%# Happens for maintenance requests, no source package there %>
		<%= link_to_project(ae['sprj'], elide(ae['sprj'], elide_len)) %>
            <% end %>
          </td>
          <% if !no_target%>
            <td class="request_target">
              <% if ae.has_key? 'tprj' %>
                <% if not @project or @project.name != ae['tprj'] %><!-- <%= ae['tprj'] %>  -->
                  <% if ae['tpkg'] and not (ae.has_key?('source') and Package.exists?(ae['sprj'], ae['spkg']) and ae['spkg'] == ae['tpkg']) %> <!-- /<%= ae['tpkg'] %> -->
                    <% tgt_proj, tgt_pack = elide_two(ae['tprj'], ae['tpkg'], elide_len) %>
		    <%= link_to_project(ae['tprj'], tgt_proj) %> / <%= link_to_package(ae['tprj'], ae['tpkg'], tgt_pack) %>
                  <% else %>
		     <%= link_to_project(ae['tprj'], elide(ae['tprj'], elide_len)) %>
                  <% end %>
                <% else %>
                  <% if ae['tpkg'] and Package.exists?(@project.name, ae['tpkg']) %> <!-- <%= ae['tpkg'] %> -->
		  <%= link_to_package(ae['tprj'], ae['tpkg'], elide(ae['tpkg'], elide_len)) %>
                  <% elsif ae['type'] == "delete" %>
                    This project
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <td class="nowrap"><%= render :partial => 'shared/user_with_realname_and_icon', :locals => {user: req['creator'], short: true}%></td>
          <td class="nowrap"><%= reqtype(ae) %></td>
          <% if !hide_state %>
            <td class="nowrap"><%= req['state'] %></td>
          <% end %>
          <td>
            <%= link_to(image_tag('req-showdiff.png', :size => '16x16', 
	    alt: "Show #{reqtype(req)} request ##{req['id']}", 
	    title: "Show #{reqtype(req)} request ##{req['id']}"),
            {:controller => :request, :action => :show, :id => req['id']}, {:class => "request_link"})
	    -%>
            <% if ae['source'] && ae['spkg'] %>
            <%= link_to(image_tag('information.png', :size => '16x16', alt:
	    'Build results', :title => 'Build results', 
	    id: "req_#{req['id']}_#{index}"), :controller => :package, 
	    :action => :show, :project => ae['sprj'], :package => ae['spkg']) %>
              <%= javascript_tag do %>
                setup_buildresult_tooltip('<%= "req_#{req['id']}_#{index}" %>', '<%= url_for :controller => 'project', :action => 'show', :project => ae['sprj'], :package => ae['spkg'] %>');
              <% end %>
            <% end %>
          </td>
        </tr>
	<% end %>
      <% end %>
    </tbody>
  </table>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#<%= request_table_id %>').dataTable({
        'aoColumns': [
          null, 
          null,
          <% if !no_target %>
            null,
          <% end %>
          null,
          null,
          <% if !hide_state %>
            null,
          <% end %>
          {'bSortable': false}
        ],
        'bInfo': false,
        'bPaginate': false,
      });
    });
  <% end %>
<% end %>
