<% index ||= '' %>
<% show_bottom ||= false %>

<div class="box show_right<%= 'show_bottom' if show_bottom %>">
  <div class="box-header aligncenter">
    <b>Rpmlint Output</b>
    <%= link_to_function(image_tag('reload.png', :alt => 'Reload', :title => 'Reload'), 'update_rpmlintlog()', :id => "rpmlintlog_reload_#{index}") %>
    <%= image_tag('ajax-loader.gif', :id => "rpmlintlog_spinner_#{index}", :class => 'hidden') %>
  </div>
  <% javascript_tag do %>
    function update_rpmlintlog() {
      $('#rpmlintlog_spinner_<%= index %>').show();
      $('#rpmlintlog_reload_<%= index %>').hide();
      $.ajax({
        url: '<%= url_for(:controller => 'package', :action => 'rpmlintlog') %>',
        data: {
          <%= "'project': '" + project + "'," unless not defined?(project) %>
          <%= "'package': '" + package + "'," unless not defined?(package) %>
        },
        success: function (data) {
          $('#rpmlintlog_display_<%= index %>').html(data);
        },
        error: function (data) {
          $('#rpmlintlog_display_<%= index %>').html('<p>No rpmlint.log available</p>');
        },
        complete: function (data) {
          $('#rpmlintlog_spinner_<%= index %>').hide();
          $('#rpmlintlog_reload_<%= index %>').show();
        }
      });
    }

    update_rpmlintlog();
  <% end %>
  <div id="rpmlintlog_display_<%= index %>"></div>
</div>

