<% content_for :content_for_head do %>
  <%= javascript_include_tag 'jquery.tablesorter.js' %>
  <%= javascript_include_tag 'jquery.tooltip.min' %>
  <%= stylesheet_link_tag 'jquery.tooltip' %>
<% end %>

<% content_for :head_javascript do %>
  function updateRequestDisplay() {
    $('.spinner').show();
    $.ajax({
      url: '<%= url_for(:controller => :request, :action => :list) %>',
      type: 'post',
      data: {
        'type': $('#request_select')[0].value,
        'source': '<%= source %>',
        <%= "'user': '" + user + "'" if source == :user %>
        <%= "'project': '" + project.to_s + "'" if source == :project %>
        <%= "'project': '" + project.to_s + "', 'package': '" + package + "'" if source == :package %>
      },
      success: function(content) {
        $('#request_display').html(content);
        $('#request_table').tablesorter({ widgets: ['zebra'], sortList: [[0,1]], headers: {5: {sorter: false}} });
        $('.spinner').hide();
      }
    });
  }
<% end %>

<% content_for :ready_function do %>
  updateRequestDisplay();
<% end %>

<p>
  Display all
  <%= select_tag("request_select",
                 options_for_select(['involved', 'new', 'deleted', 'declined', 'accepted', 'review', 'revoked', 'superseded']),
                 :onchange => "updateRequestDisplay();") %>
  requests:
</p>

<p class="spinner"><%= image_tag('ajax-loader.gif') %></p>
<div id="request_display"></div>
