<% no_target ||= false %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag 'jquery.tooltip' %>
<% end %>
<%= javascript_include_tag 'jquery.tablesorter', 'jquery.tooltip.min' %>

<% content_for :head_javascript do %>
  function updateRequestDisplay() {
    $('#spinner').show();
    $.ajax({
      url: '<%= url_for(:controller => :request, :action => :list) %>',
      data: {
        'states': $('#request_state_select')[0].value,
        'types': $('#request_type_select')[0].value,
        <%= "'user': '" + userid.to_s + "'," unless not defined?(userid)  %>
        <%= "'project': '" + project.to_s + "'," unless not defined?(project) %>
        <%= "'package': '" + package.to_s + "'," unless not defined?(package) %>
        <%= "'subprojects': 'true'," if defined?(subprojects) && subprojects %>
        <%= "'no_target': 'true'," if no_target %>
      },
      success: function(data) {
        $('#request_display').html(data);
        if (data.indexOf('No requests') == -1) {
          request_count = $('#request_table tbody').children().length;
          $('#request_count').html('(' + request_count.toString() + ')');
        } else {
          $('#request_count').html('');
        }
        $('#spinner').hide();
      }
    });
  }
<% end %>
<% content_for :ready_function do %>
  <%= "updateRequestDisplay();" unless defined?(requests) %>
<% end %>

<p>
  Display
  <%= select_tag("request_type_select", options_for_select(['all', 'submit', 'delete', 'add_role', 'change_devel', 'maintenance_incident', 'maintenance_release'], @default_request_type), :onchange => "updateRequestDisplay();") %>
  requests in state
  <%= select_tag("request_state_select", options_for_select([['new or review', 'new,review'], 'new', 'review', 'accepted', 'declined', 'revoked', 'superseded'], @default_request_state), :onchange => "updateRequestDisplay();") %>
  <span id="request_count"><%= "(" + requests.length.to_s + ")" unless not defined?(requests) or requests.blank? %></span>:
  <%= image_tag('ajax-loader.gif', :id => "spinner", :class => "hidden") %>
</p>

<div id="request_display">
  <%= render(:partial => 'shared/requests', :locals => {:requests => requests, :no_target => no_target}) unless not defined?(requests) %>
</div>
