<%= content_for :head_javascript do %>
  function collapse_expand(file_id) {
    if ($('#diff_view_' + file_id + '_placeholder').length == 1) {
      $.ajax({
        url: '<%= url_for(:controller => 'request', :action => 'sourcediff') %>',
        type: 'POST',
        data: { text: $('#diff_view_' + file_id + '_placeholder').text() },
        success: function (data) {
          $('#diff_view_' + file_id).show();
          $('#diff_view_' + file_id + '_placeholder').html(data);
          $('#diff_view_' + file_id + '_placeholder').attr('id', '');
          $('#collapse_' + file_id).show();
          $('#expand_' + file_id).hide();
        },
        error: function (data) {
          $('#diff_view_' + file_id).hide();
          $('#collapse_' + file_id).hide();
          $('#expand_' + file_id).show();
        },
      });
    } else {
      $('#diff_view_' + file_id).toggle();
      $('#collapse_' + file_id).toggle();
      $('#expand_' + file_id).toggle();
    }
  }
<% end %>

<% editor_width ||= 'auto' %>
<% css_class ||= nil %>
<% css_id ||= nil %>

<% setup_codemirror_editor(height: 'auto', width: editor_width, no_border: true) # we need to have this here for ajax only diffs %>

<div <%= "class=\"#{css_class}\"".html_safe if css_class %> <%= "id=\"#{css_id}\"".html_safe if css_id %> >
<% if filenames && filenames.length > 0 %>
  <table>
    <tbody>
      <% last_file_id = nil %>
      <% filenames.each_with_index do |filename, index| %>
        <% file_element = files[filename] 
           file_id = "#{valid_xml_id(filename)}_#{css_id}_#{index}"
	   file_diff_text = file_element['diff'] || {}
           file_diff_text = file_diff_text['_content'] || ''
           file_state = file_element['state'].capitalize
           is_expanded = file_state != 'Deleted' && !filename.include?('/') && (filename == '_patchinfo' || filename.ends_with?('.spec') || filename.ends_with?('.changes')) 
        %>
        <tr id="diff_headline_<%= file_id %>">
          <td style="width: 16px"><%# NOTE: Hand-crafted value for both '[+]' and '[-]' %>
            <% if file_diff_text.length > 0 %>
              <%= link_to_function('[-]', "collapse_expand('#{file_id}')", :id => "collapse_#{file_id}") %>
              <%= link_to_function('[+]', "collapse_expand('#{file_id}')", :id => "expand_#{file_id}") %>
              <% content_for :ready_function do %>
                <% if is_expanded %>
                  $('#expand_<%= file_id %>').hide();
                <% else %>
                  $('#collapse_<%= file_id %>').hide();
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td style="width: 1%"><%= file_state %></td>
          <td>
            <%# NOTE: Currently rather crude hack, deleted files aren't available in current source revision, thus use previous: %>
            <% rev = source[:rev] %>
            <% rev = (rev.to_i - 1).to_s if file_element['state'] == 'deleted' %>
            <%# TODO: drop this check for '/' once we can 'view' files inside tarballs: %>
            <%= link_to_unless(Package.is_binary_file?(filename) || filename.include?('/'), filename, :controller => 'package', :action => 'view_file', :project => source[:project], :package => source[:package], :file => filename, :rev => rev) %>
            <% if index > 0 %>
              <span style="float: right;">
                <%= link_to('^', :anchor => "diff_headline_#{last_file_id}") %>
              </span>
            <% end %>
          </td>
        </tr>
        <% if file_diff_text.length > 0 %>
          <% if is_expanded %>
            <tr id="diff_view_<%= file_id %>">
              <td colspan="3">
                <%= render :partial => "shared/editor", :locals => {:text => file_diff_text, :mode => 'diff'} %>
              </td>
            </tr>
          <% else %>
            <tr id="diff_view_<%= file_id %>" class="hidden">
              <td colspan="3" id="diff_view_<%= file_id %>_placeholder"><%= file_diff_text %></td>
            </tr>
          <% end %>
        <% end %>
        <% last_file_id = file_id %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No source changes!</p>
<% end %>
</div>
