<% content_for :head_javascript do %>
  function collapse_expand(file_id) {
    if ($('#diff_view_' + file_id + '_placeholder').length == 1) {
      $.ajax({
        url: '<%= url_for(:controller => 'request', :action => 'sourcediff') %>',
        data: { text: $('#diff_view_' + file_id + '_placeholder').html() },
        success: function (data) {
          $('#diff_view_' + file_id).show();
          $('#diff_view_' + file_id + '_placeholder').html(data);
          $('#diff_view_' + file_id + '_placeholder').attr('id', '');
          $('#collapse_' + file_id).show();
          $('#expand_' + file_id).hide();
        },
        error: function (data) {
          $('#diff_view_' + file_id).hide();
          $('#collapse_' + file_id).hide();
          $('#expand_' + file_id).show();
        },
      });
    } else {
      $('#diff_view_' + file_id).toggle();
      $('#collapse_' + file_id).toggle();
      $('#expand_' + file_id).toggle();
    }
  }
<% end %>

<% table_class ||= nil %>
<% table_id ||= nil %>
<% bugs ||= nil %>

<div>
<% if bugs && bugs.length > 0 %>
  <%# TODO: Anything but nice, move to 'box' when request view is restructured: %>
  <div style="float:right;">
    <h3>Issues mentioned</h3>
    <ul>
      <% bugs.each do |bug, url| %>
        <li><%= link_to(bug, url, :class => 'issue_tracker_link') %></li>
      <% end %>
    </ul>
  </div>
  <%# Stupid XHTML-1.0 strict doesn't like 'target', but all browsers do. Thus, sneak around validation to %>
  <%# allow opening a new window upon click: %>
  <% javascript_tag do %>
    $('a.issue_tracker_link').attr('target', '_blank')
  <% end %>
<% end %>
<% if filenames && filenames.length > 0 %>
  <table <%= "class=\"#{table_class}\"".html_safe if table_class %> <%= "id=\"#{table_id}\"".html_safe if table_id %> >
    <tbody>
      <% filenames.each_with_index do |filename, index| %>
        <% file_element = files[filename] %>
        <% file_id = valid_xml_id(filename) %>
        <% file_diff_text = file_element.diff.text.to_s %>
        <% is_expanded = !filename.include?('/') && (filename.ends_with?('.spec') || filename.ends_with?('.changes')) %>
        <tr>
          <td>
            <% if file_diff_text.length > 0 %>
              <%= link_to_function('[-]', :onclick => "collapse_expand('#{file_id}')", :id => "collapse_#{file_id}") %>
              <%= link_to_function('[+]', :onclick => "collapse_expand('#{file_id}')", :id => "expand_#{file_id}") %>
              <% javascript_tag do %>
                <% if is_expanded %>
                  $('#expand_<%= file_id %>').hide();
                <% else %>
                  $('#collapse_<%= file_id %>').hide();
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td><%= file_element.value('state').capitalize %></td>
          <td>
            <%# NOTE: Currently rather crude hack, deleted files aren't available in current source revision, thus use previous: %>
            <% rev = source[:rev] %>
            <% rev = (rev.to_i - 1).to_s if file_element.state == 'deleted' %>
            <%# TODO: drop this check for '/' once we can 'view' files inside tarballs: %>
            <%= link_to_unless(is_binary(filename) || filename.include?('/'), filename, :controller => 'package', :action => 'view_file', :project => source[:project], :package => source[:package], :file => filename, :rev => rev) %>
          </td>
        </tr>
        <% if file_diff_text.length > 0 %>
          <% if is_expanded %>
            <tr id="diff_view_<%= file_id %>">
              <td align="center" valign="bottom"><%= link_to('^', :anchor => "diff_view_#{file_id}") %></td>
              <td colspan="2">
                <%= render :partial => "shared/editor", :locals => {:text => file_diff_text, :mode => 'diff', :read_only => true, :height => 'auto', :width => '750px', :no_border => true} %>
              </td>
            </tr>
          <% else %>
            <tr id="diff_view_<%= file_id %>" class="hidden">
              <td align="center" valign="bottom"><%= link_to('^', :anchor => "diff_view_#{file_id}") %></td>
              <td colspan="2" id="diff_view_<%= file_id %>_placeholder"><%= file_diff_text %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to('Back to top', '#') %></p>
<% else %>
  <p>No source changes!</p>
<% end %>
</div>
