%nav.navbar.fixed-bottom.navbar-dark.navbar-themed-colors.border-top.p-0
  %ul.nav.justify-content-center.w-100.nav-justified
    - if User.session
      %li.nav-item
        = link_to('javascript:void(0)', class: 'nav-link px-1 py-2 text-light', alt: 'Watchlist', data: { toggle: 'watchlist' }) do
          %i.far.fa-eye
          %span.d-block Watchlist
      %li.nav-item.border-start.border-gray-500
        = link_to(my_notifications_path, id: 'bottom-notifications-counter', class: 'nav-link text-light px-1 py-2', alt: 'Notifications') do
          = render partial: 'layouts/webui/unread_notifications_counter', locals: { unread_notifications_count: unread_notifications_count }
      - if content_for?(:actions)
        %li.nav-item.border-start.border-gray-500
          = link_to('javascript:void(0)', class: 'nav-link px-1 py-2 text-light', alt: 'Actions', data: { toggle: 'actions' }) do
            %i.fas.fa-ellipsis-v
            %span.d-block Actions
    - else
      - unless kerberos_mode? || !can_sign_up?
        %li.nav-item.border-end.border-gray-500
          = sign_up_link(css_class: 'nav-link px-1 py-2 text-light')
      %li.nav-item
        = log_in_link(css_class: 'nav-link px-1 py-2 text-light')
    %li.nav-item.border-start.border-gray-500
      = link_to('javascript:void(0)', class: 'nav-link px-1 py-2 text-light', alt: 'Places', data: { toggle: 'places' }) do
        %i.fas.fa-bars
        %span.d-block Places

- if User.session
  = render partial: 'layouts/webui/bottom_navigation_collapse', locals: { collapse_type: 'actions', spider_bot: spider_bot }
= render partial: 'layouts/webui/bottom_navigation_collapse', locals: { collapse_type: 'places', spider_bot: spider_bot }
