%li.nav-item
  = link_to(user_path(User.session!), id: 'link-to-user-home', class: 'nav-link') do
    = User.session!.login
%li.nav-item
  - tasks = User.session!.tasks
  = link_to(my_tasks_path, class: 'nav-link') do
    - if tasks.positive?
      %span{ title: 'where an action is requested from you' }
        = pluralize(tasks, 'Task')
    - else
      Tasks
%li.nav-item
  - if User.session!.home_project
    = link_to(project_show_path(User.session!.home_project), class: 'nav-link') do
      Home Project
  - else
    = link_to(new_project_path(name: User.session!.home_project_name), class: 'nav-link') do
      Create Home
%li.nav-item
  = link_to(session_path, method: :delete, id: 'logout-link', class: 'nav-link') do
    Logout
