.h2.text-center.py-2 Log In
= form_tag(log_in_params[:url], log_in_params[:options]) do
  - if proxy_mode?
    = hidden_field_tag(:context, 'default')
    = hidden_field_tag(:proxypath, 'reserve')
    = hidden_field_tag(:message, 'Please log in')
  .form-group
    = text_field_tag(:username, nil, required: true, class: 'form-control', placeholder: 'Username')
  .form-group
    = password_field_tag(:password, nil, required: true, class: 'form-control', placeholder: 'Password')
  .clearfix
    = submit_tag('Log In', class: 'btn btn-success w-100')
- if can_sign_up?
  .login-separator.text-center
    %hr.my-4
    %span.bg-white.px-3.text-muted or
  .text-center
    = sign_up_link
