- @pagetitle = "RPM Lint of #{@package}"

.card
  = render(partial: 'webui/package/tabs', locals: { project: project, package: package })
  .card-body
    %h3= @pagetitle
    = turbo_frame_tag "#{project.name}_#{package}_rpmlint", loading: 'lazy',
                      src: rpmlint_summary_path(project_name: project.name, package_name: package.name)
