%a.dropdown-menu(id="actions-trigger-#{user.login.gsub('.', '-')}" href="#")
  %strong
    Actions
%ul.dropdown-menu-content(id="actions-trigger-#{user.login.gsub('.', '-')}-content" style="z-index:1;")
  %li
    = sprite_tag('accessories-text-editor')
    = link_to('Edit user', controller: "user", action: "edit", user: user.login)
  %li
    = sprite_tag('accept')
    = link_to('Confirm user', {controller: "user", action: "confirm", user: user.login }, |
                method: :post, data: { confirm: "Are you sure?" }) |
    %li
      = sprite_tag('lock')
      = link_to('Lock user', {controller: "user", action: "lock", user: user.login }, |
                method: :post, data: { confirm: "Are you sure?" }) |
    %li
      = sprite_tag('cancel')
      = link_to('Delete user', {controller: "user", action: "delete", user: user.login }, |
                method: :delete, data: { confirm: "Are you sure?" }) |
    %li
      = sprite_tag('cog_add')
      = link_to('Make user admin', {controller: "user", action: "admin", user: user.login }, |
              method: :post, data: { confirm: "Are you sure?" }) |
    - if Configuration.ldap_enabled? && !user.ignore_auth_services
      %li
        = sprite_tag('cog_add')
        = link_to('Make this a local user', { controller: "user", action: "make_user_local", user: user.login }, |
                  method: :post, data: { confirm: "Are you sure?" }) |
    %li
      = sprite_tag('email')
      = mail_to(user.email, 'Contact user')

