%a.dropdown-menu(id="actions-trigger-#{user.login.gsub('.', '-')}" href="#")
  %strong
    Actions
%ul.dropdown-menu-content(id="actions-trigger-#{user.login.gsub('.', '-')}-content" style="z-index:1;")
  %li
    = sprite_tag('accessories-text-editor')
    = link_to('Edit user', user_edit_path(user.login))
  %li
    = sprite_tag('accept')
    = link_to('Confirm user', user_update_path(user: { login: user.login, state: 'confirmed' }), |
                method: :patch, data: { confirm: "Are you sure?" }) |
    %li
      = sprite_tag('lock')
      = link_to('Lock user', user_update_path(user: { login: user.login, state: 'locked' }), |
                method: :patch, data: { confirm: "Are you sure?" }) |
    %li
      = sprite_tag('cancel')
      = link_to('Delete user', user_delete_path(user: { login: user.login }), |
                method: :delete, data: { confirm: "Are you sure?" }) |
    %li
      = sprite_tag('cog_add')
      = link_to('Make user admin', user_update_path(user: { login: user.login, mark_as_admin: true }), |
                method: :patch, data: { confirm: "Are you sure?" }) |
    - if Configuration.ldap_enabled? && !user.ignore_auth_services
      %li
        = sprite_tag('cog_add')
        = link_to('Make this a local user', user_update_path(user: { login: user.login, ignore_auth_services: true }), |
                  method: :patch, data: { confirm: "Are you sure?" }) |
    %li
      = sprite_tag('email')
      = mail_to(user.email, 'Contact user')

