.modal.fade#edit-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'branch-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#branch-modal-label Edit your account
      = form_for(user, url: user_path, method: :patch) do |f|
        .modal-body
          = f.hidden_field(:login, id: 'user')
          .form-group
            = f.label(:realname, 'Name:')
            = f.text_field(:realname, class: 'form-control')
          .form-group
            = f.label(:email, 'Email:')
            = f.text_field(:email, required: true, email: true, class: 'form-control')
          - if feature_enabled?(:user_profile_redesign)
            .form-group
              = f.label(:biography) do
                Biography:
              = f.text_area(:biography, rows: 6, class: 'form-control', maxlength: User::MAX_BIOGRAPHY_LENGTH_ALLOWED)
              %small.form-text.float-right#bio-chars-counter
        .modal-footer
          = render partial: 'webui/shared/dialog_action_buttons', locals: { submit_tag_text: 'Update' }
