- content_for :actions do
  - if Configuration.passwords_changable?
    = render partial: 'webui/user/index_actions/change_password'
  = render partial: 'webui/user/index_actions/change_notifications'
  = render partial: 'webui/user/index_actions/manage_tokens'
  = render partial: 'webui/user/index_actions/manage_beta_features'
  - if Flipper.enabled?(:content_moderation, user)
    = render partial: 'webui/user/index_actions/manage_canned_responses'
