- if is_user
  = render partial: 'webui/user/index_actions', locals: { configuration: configuration, user: user, account_edit_link: account_edit_link }

.card.mb-3
  .card-body
    = image_tag_for(user)

    %h4.mb-0.mt-4#home-realname
      = user.realname
    %h5.d-inline-block.mb-0.align-middle.text-muted#home-login
      = user.login
    - if User.session
      = mail_to(user.email, title: "Send mail to #{user.name}", class: 'd-block') do
        %i.fas.fa-envelope
        = user.email
    - role_titles.each do |title|
      %span.badge.badge-secondary
        = title.upcase

    - if groups.any?
      .mt-4
        Member of the #{'group'.pluralize(groups.size)}
        %ul
          - groups.each do |group|
            %li
              = link_to(group_path(group)) do
                #{group.title}
                %span.badge.badge-primary.align-baseline
                  #{group.tasks} #{'task'.pluralize(group.tasks)}

    - if is_user
      .mt-4
        = form_tag(user_path, id: 'beta-form', method: :patch) do
          .custom-control.custom-switch
            = hidden_field_tag 'user[in_beta]', false
            = check_box_tag('user[in_beta]', !user.in_beta, user.in_beta, class: 'custom-control-input', id: 'beta-switch')
            = label_tag 'Public Beta Program', nil, class: 'custom-control-label', for: 'beta-switch'
            = hidden_field_tag('user[login]', user.login)
            %i.fa.fa-question-circle.text-info{ data: { placement: 'top', toggle: 'popover', html: 'true',
                                                        content: 'Join the <strong>beta program</strong> to try the latest ' + |
                                                                 'features we develop and give us feedback on them before they go live.' } } |

        - if user.rss_token
          = link_to(user_rss_notifications_path(token: user.rss_token.string, format: 'rss'),
                                                title: 'RSS Feed for Notifications', class: 'd-block') do
            %i.fas.fa-rss-square
            RSS for Notifications

:javascript
  switchBeta();
