.card.mb-3#involvement
  = render partial: 'webui/user/tabs_profile', locals: { involved_packages: involved_packages,
                                                         involved_projects: involved_projects, owned: owned }
  .card-body
    .tab-content.obs-dataTable
      .tab-pane.fade.show.active#involved-packages{ role: 'tabpanel', aria: { labelledby: 'involved-packages-tab' } }
        - if involved_packages.blank?
          %p.md-3
            #{user.name} is not involved in any package
        - else
          %table.table.table-sm.table-fixed.table-bordered.table-hover#involved-packages-table
            %thead
              %tr
                %th Package
                %th Project
            %tbody
              - involved_packages.each do |package_name, project_name|
                %tr
                  %td
                    = link_to(package_name, package_show_path(package: package_name, project: project_name))
                  %td
                    = link_to(project_name, project_show_path(project: project_name))
      .tab-pane.fade#involved-projects{ role: 'tabpanel', aria: { labelledby: 'involved-projects-tab' } }
        - if involved_projects.blank?
          %p.mt-3
            #{user.name} is not involved in any project
        - else
          %table.table.table-sm.table-fixed.table-bordered.table-hover#involved-projects-table
            %thead
              %tr
                %th Name
                %th Title
            %tbody
              - involved_projects.each do |project_name, project_title|
                %tr
                  %td
                    = link_to(project_name, project_show_path(project: project_name))
                  %td
                    = project_title
      .tab-pane.fade#owned{ role: 'tabpanel', aria: { labelledby: 'owned-tab' } }
        - if owned.blank?
          %p.mt-3
            #{user.name} doesn't own any project or package
        - else
          %table.table.table-sm.table-fixed.table-bordered.table-hover#owned-table
            %thead
              %tr
                %th Package
                %th Project
            %tbody
              - owned.each do |package_name, project_name|
                %tr
                  %td
                    - if package_name
                      = link_to(package_name, package_show_path(package: package_name, project: project_name))
                  %td
                    = link_to(project_name, project_show_path(project: project_name))

- content_for :ready_function do
  initializeDataTable('#involved-packages-table, #involved-projects-table, #owned-table');
