.modal.fade#password-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'branch-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#branch-modal-label Change Your Password
      = form_tag(change_password_user_path(User.possibly_nobody)) do
        .modal-body
          .form-group
            = label_tag :password, 'Current Password:'
            = text_field_tag :password, nil, type: 'password', required: 'true', class: 'form-control'
          .form-group
            = label_tag :new_password, 'New Password:'
            = text_field_tag :new_password, nil, type: 'password', autocomplete: 'off', required: 'true', class: 'form-control'
          .form-group
            = label_tag :repeat_password, 'Repeat Password:'
            = text_field_tag :repeat_password, nil, type: 'password', autocomplete: 'off', required: 'true', class: 'form-control'
        .modal-footer
          = render partial: 'webui/shared/dialog_action_buttons', locals: { submit_tag_text: 'Update' }
