<% @pagetitle = "Edit User Data" %>
<% @crumb_list = [] %>
<% @crumb_list << link_to('Configuration', :controller => 'configuration', :action => :index) -%>
<% @crumb_list << link_to('User Management', :controller => 'configuration', :action => :users) -%>
<% @crumb_list << @pagetitle -%>

<h2>Editing User Data for User <%= @displayed_user.login %></h2>

  <%= form_tag(:action => 'save') do %>
    <p>
     <input id="user" name="user" type="hidden" value="<%= @displayed_user.login %>" />
     <%= label_tag :realname, 'Name:' %><br/>
     <%= text_field_tag :realname, @displayed_user.realname %>     
    </p>
    <p>
     <%= label_tag :email, 'e-Mail:' %><br/>
     <%= text_field_tag :email, @displayed_user.email %>
    </p>
    <p>
    <%= label_tag :globalrole, 'Admin:' %>
    <% if @displayed_user.is_admin? %>
      <% checked = 'checked="checked"' %>
    <% else %>
      <% checked = "" %>
    <% end %>
      <input type="checkbox" name="globalrole" value="Admin" <%= checked.html_safe if checked %> />
    </p>
    <p>
    <% @states.each do |s| %>
      <%= label_tag "state_#{s}", "#{s}" %>
      <% if User.states[s.to_s] == @displayed_user.state %>
        <% select = true %>
      <% end %>
      <%= radio_button_tag :state, s, select %>
    <% end %>
    </p>
    <p><%= submit_tag 'Update' %></p>
  <% end %>
