<% @pagetitle = "User Management" %>
<% @crumb_list = [@pagetitle] -%>
<% @layouttype = 'custom' %>

<div class="grid_16 alpha omega box box-shadow">
  <%= render :partial => 'webui/configuration/tabs' %>
  <p>
    Manage users.
  </p>

<% unless @users.empty? %>
  <table id="user_table">
    <thead>
      <tr>
        <td>User</td>
        <td>State</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr id='user-<%= valid_xml_id(user.login) %>'>
        <td><%= user_with_realname_and_icon(user, no_icon: true) %></td>
        <td><%= user.state_name %></td>
        <td class="nowrap">
          <%= render :partial => 'dropdown_menu', locals: { user: user } %>
        </td>
     </tr>
   <% end %>
   </tbody>
  </table>
<% else %>
  <p>
  <i>There are no users configured</i>
  </p>
<% end %>
  <p>
  <%= link_to sprited_text('user_add', ' Create new user'), :controller => :user, :action => :register_user %>
  </p>
</div>


<%= javascript_tag do %>
  $(document).ready(function() {
    <% if @users.length > 0 %>
      $('#user_table').dataTable();
    <% end %>
  });
<% end %>
