<% @pagetitle = "Please Log In" %>

<% if CONFIG['proxy_auth_mode'] == :on %>
  <form action="<%= CONFIG['proxy_auth_login_page'] %>"
        method="post" enctype="application/x-www-form-urlencoded">
    <div>
      <input name="context" value="default" type="hidden" />
      <input name="proxypath" value="reverse" type="hidden" />
      <input name="message" value="Please log In" type="hidden" />
    </div>
<% else %>
  <%= form_tag :controller => :user, :action => :do_login, :method => :post %>
<% end %>

  <div title="Account login" id="loginform" class="form">
    <h1><%= @pagetitle %></h1>
    <p>
      <label for="user_login">Username:</label>
      <input type="text" name="username" id="user_login" size="30" value=""/><br/><br/>
      <label for="user_password">Password:</label>
      <input type="password" name="password" id="user_password" size="30"/>
    </p>
    <p>
      <input type="submit" name="login" id='log-in-button' value="Log In &#187;" class="primary" />
    </p>
  </div>

  <p>
    <% if CONFIG['proxy_auth_mode'] == :on %>
      Or
      <%= link_to "register", CONFIG['proxy_auth_register_page'] + "?%22" %>
      as a new user.
    <% else %>
      <% unless CONFIG['frontend_ldap_mode'] == :on %>
        Or
        <%= link_to "sign up", :controller => :user, :action => :register_user %>
        as a new user.
      <% end %>
    <% end %>
  </p>
</form>
