- @pagetitle = "#{User.current.to_s.capitalize}'s Notifications"
- @crumb_list = [@pagetitle]
%h2= @pagetitle

= form_tag({ action: :update_notifications }, id: 'notification_form') do
  - unless @groups.empty?
    %h3 Get mails if in group ...
    %ul{ style: "list-style-type:none;" }
      - @groups.each do |gu|
        %li
          = check_box_tag gu.group, '1', gu.email
          = label_tag gu.group.title

  = render partial: 'webui/notifications/roles'
  %p= submit_tag 'Update'
