<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name = "viewport" content = "width = device-width, user-scalable = no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="/images/fatelogo_57x57.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/fatelogo_57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/images/fatelogo_72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/fatelogo_114x114.png" />

    <%= stylesheet_link_tag "jquery.mobile" %>
    <%= stylesheet_link_tag "style.mobile" %>
    
    <%= javascript_include_tag 'mobile' %>

    <title><%= h "#{@page_title || 'OBS'}" %></title>

    <script type="text/javascript">
      function flashMessage(message) {
        $("<div class='ui-loader ui-overlay-shadow ui-body-b ui-corner-all'><h1>" + message + "</h1></div>")
        .css({
          display: "block",
          opacity: 0.96,
          top: window.pageYOffset+100
        })
        .appendTo("body").delay(3000)
        .fadeOut(400, function(){
          $(this).remove();
        });
      }
    </script>

  </head>

  <body>

    <div data-role="page" data-theme="a" class="layout">
      <div data-role="header" >
        <h1><%= image_tag("obs-logo_small.png", :height => "25") %> <%= h "#{@page_title}" %></h1>

        <a class="ui-btn-right ui-btn ui-btn-corner-all ui-shadow ui-btn-up-a"
           href="<%= url_for :controller => :main, :action => :index %>">
          <span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span>
          </span></a>

      </div>
      <div data-role="content">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>

      <% unless flash.blank? %>
        <script type="text/javascript">
    flashMessage("<%= flash.first.last %>");
        </script>
      <% end %>

    </div>




  </body>
</html>
