<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name = "viewport" content = "width = device-width, user-scalable = no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="/images/fatelogo_57x57.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/fatelogo_57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/images/fatelogo_72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/fatelogo_114x114.png" />

    <%= stylesheet_link_tag "jquery.mobile-1.0b1.min" %>
    <%= stylesheet_link_tag "style.mobile" %>
    <%= javascript_include_tag "/themes/bento/js/jquery.js", "jquery.mobile-1.0b1.min" %>

    <title><%= h "#{@page_title || 'OBS'}" %></title>

  </head>

  <body>

    <div data-role="page" data-theme="a">
      <div data-role="header" >
        <h1><%= image_tag("obs-logo_small.png", :height => "25") %> <%= h "#{@page_title}" %></h1>

        <a class="ui-btn-right ui-btn ui-btn-corner-all ui-shadow ui-btn-up-a"
           href="<%= url_for :controller => :main, :action => :index %>">
          <span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span>
          </span></a>

      </div>
      <div data-role="content">
        <%= @content_for_layout %>
      </div>
      
    </div>

  </body>
</html>
