<div class="box" style="margin: 1em" id="<%= valid_xml_id(repository.name) %>">
  <h2 class="box-header">Edit <%= repository.name %></h2>
  <% if local_assigns[:error] %>
    <div class="message error"><%= error %></div>
  <% end %>

  <%= form_tag({:action => 'update_target'}, :id => 'update_target_form', :remote => true) do %>
    <p>
      <b>Architectures:</b>
      <% @repository_arch_hash.each do |arch, value| %>
        <%= check_box_tag "arch[#{arch}]", "", value, :class => 'arch_check_box' %><%= arch %>
      <% end %>
      <%= hidden_field_tag :project, @project %> <%= hidden_field_tag :repo, repository.name %>
    </p>

    <div style="margin-bottom: 1.2em" >
      <p><b>Additional package repositories (searched in descending order):</b></p>
      <div style="margin-left: 30px">
        <% begin -%>
          <% repository.each_path do |path| -%>
            <% if path.project == 'deleted' %>
              <%= image_tag 'icons/exclamation.png' %> Target repository has been removed
            <% else %>
              <span><%= path.project + "/" + path.repository %></span>
              <% if repository.each_path.length > 1 %>
                <% if path != repository.each_path.first %>
                    <%= link_to(image_tag('icons/arrow_up.png'), {:action => :move_path_up, :project => @project, :repository => repository.name, :path_project => path.project, :path_repository => path.repository}, {:class => 'x', :method => :post}) -%>
                <% end %>
                <% if path != repository.each_path.last %>
                    <%= link_to(image_tag('icons/arrow_down.png'), {:action => :move_path_down, :project => @project, :repository => repository.name, :path_project => path.project, :path_repository => path.repository}, {:class => 'x', :method => :post}) -%>
                <% end %>
              <% end %>
              <%= link_to(image_tag('icons/drive_delete.png'), {:action => :remove_path_from_target, :project => @project, :repository => repository.name, :path_project => path.project, :path_repository => path.repository},
                           {:confirm => "Really remove #{path.project} / #{path.repository} path from repository  '#{repository.name}'?", :class => 'x', :method => :post}) -%>
              <br/>
            <% end %>
          <% end -%>
        <% rescue; end %>
      </div>
      <p>
        <%= link_to(image_tag("icons/drive_add.png", :title => "Add Repository"), :action => 'add_repository', :project => @project, :torepository => repository.name) %>
        <%= link_to( 'Add additional path to this repository', :action => 'add_repository', :project => @project, :torepository => repository.name) %>
      </p>
    </div>

    <p><%= submit_tag "Update #{repository.name}", :id => "save_button", :disabled => true %></p>
  <% end %>

</div>

<%= javascript_tag do %>
  $('#arch_check_box').change(function () {
    $('#save_button').enable();
  });

  $(document).ready(function() {
    $('#update_target_form').bind('ajax:success', function (event, data, status, xhr) {
      $("#<%= valid_xml_id(repository.name) %>").html(data);
    });
  });
<% end %>
