<div class="box" style="margin: 1em" id="<%= valid_xml_id(repository.name) %>">

  <div class="box-header aligncenter"><strong>Edit <%= h(repository.name) %></strong></div>
  <% if error %>
    <div class="message error"><%= error %></div>
  <% end %>

  <% form_remote_tag :update => valid_xml_id(repository.name), :url => { :action => :update_target } do %>
    <p>
      <strong>Architectures: </strong>
      <% VISIBLE_ARCHITECTURES.each do |arch| %>
        <%= check_box_tag "arch[#{arch}]", "", @arch_list.include?(arch.to_s) %><%=arch%>
        <%= observe_field "arch_#{arch}", :function => "document.getElementById('save_button').disabled = false" %>
      <% end %>
      <%= hidden_field_tag :project, @project %> <%= hidden_field_tag :repo, repository.name %>
    </p>

    <div style="margin-bottom: 1.2em" >
      <p><strong>Paths:</strong></p>
      <div style="margin-left: 30px">
        <% begin -%>
          <% repository.each_path do |path| -%>
            <% if path.project == 'deleted' %>
              <%= image_tag 'icons/exclamation.png' %> Target repository has been removed
            <% else %>
              <span><%=  h path.project + "/" + path.repository %></span>
              <%=  link_to(image_tag('icons/drive_delete.png'), {:action => :remove_path_from_target, :project => @project, :repository => repository.name, :path_project => path.project, :path_repository => path.repository},
                {:confirm => "Really remove #{path.project} / #{path.repository} path from repository  '#{repository.name}'?", :class => 'x', :method => :post}) -%>
              <br/>
            <% end %>
          <% end -%>
        <% rescue; end %>
      </div>
      <p>
        <%= link_to(image_tag("icons/drive_add.png", :title => "Add Repository"), :action => 'add_repository', :project => @project, :torepository => repository.name) %>
        <%= link_to( 'Add additional path to this repository', :action => 'add_repository', :project => @project, :torepository => repository.name) %>
      </p>
    </div>

    <p><%= submit_tag "Update #{repository.name}", :id => "save_button", :disabled => true %></p>
  <% end %>

</div>
