<div id="project_list">

  <% if @projects.blank? %>
    <p><i>No projects found</i></p>
  <% else %>
    <div>
      <% unless @important_projects.each.blank? %>
        <h3>Main Projects</h3>
        <% for project in @important_projects -%>
          <p>
            <%= link_to project.name, :action => :show, :project => project %>:
            <%= project.title %>
          </p>
        <% end -%>
    <% end %>

    <h3>
      All <%= 'Public' if !@excludefilter.blank? %> Projects
      <%= "which include '#{@filterstring}'" if !@filterstring.blank? %>
      <%= " (#{@projects.size})" %>
    </h3>
    <p>
      <% @projects.each do |project| -%>
        <%- next if project == 'deleted' -%>
        <%- if @current_char.blank? || @current_char != project.downcase[0,1]
          @current_char = project.downcase[0,1] %>
          </p><p><b><%= @current_char %></b>
        <%- end -%>
        <%- if !@prj_head.blank? and !project.index @prj_head -%>
          <% @prj_head = '' -%>
          <% @current_prj = '' -%>
        <%- end -%>
        | <%= link_to highlight( h(project), @filterstring ), {:action => :show, :project => project }, :class => 'nowrap' -%>
      <% end %>
    </p>
  </div>
  <% end %>

</div>
