<%= content_for :ready_function do %>
  $("#advanced_tabs_trigger").click(function() {
    $("#advanced_tabs").show();
    $("#advanced_tabs_trigger").remove();
  });
<% end %>

<div class="box-header header-tabs" id="project_tabs">
  <ul>
    <%= tab 'Overview', :controller => :project, :action => :show %>
    <% if @is_maintenance_project && !@spider_bot %>
      <%= tab 'Incidents', :controller => :project, :action => :maintenance_incidents %>
      <%= tab 'Maintained Projects', :controller => :project, :action => :maintained_projects %>
    <% else %> <!-- also for incident project -->
      <%= tab "Repositories", :controller => :project, :action => :repositories unless @project.is_remote? or @spider_bot %>
    <% end %>
    <% if @project.to_hash.has_key?("repository") && !@spider_bot -%>
      <%= tab "Monitor", :controller => :project, :action => :monitor %>
    <% end -%>
    <% unless @spider_bot -%>
      <%= tab "Requests", :controller => :project, :action => 'requests' %>
      <%= tab 'Users', :controller => :project, :action => :users unless @project.is_remote? %>
      <%= tab 'Subprojects', :controller => :project, :action => :subprojects unless @project.is_remote? or @is_maintenance_project %>
    <% end -%>

    <% if is_advanced_tab? %>
      <%= content_for :ready_function do %>
        $("#advanced_tabs").show();
      <% end %>
    <% else %>
      <li><a href="#" id="advanced_tabs_trigger">Advanced</a></li>
    <% end %>
  </ul>
  <div id="advanced_tabs" class="hidden">
    <ul>
      <%= tab 'Project Config', :controller => :project, :action => :prjconf unless @project.is_remote? or @is_maintenance_project %>
      <% unless @spider_bot -%>
        <%= tab 'Attributes', :controller => :project, :action => :attributes %>
        <%= tab "Meta", :controller => :project, :action => :meta %>
        <%= tab 'Status', :controller => :project, :action => :status unless @project.is_remote? or @is_maintenance_project %>
      <% end -%>
    </ul>
  </div>
</div>
