<% content_for :ready_function do %>
  $("#advanced_tabs_trigger").click(function() { $("#advanced_tabs").toggle(); });
<% end %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "project", :media => "all" %>
<% end %>

<!-- box header -->
<div class="box-header header-tabs">

<ul>
  <%= project_tab 'Overview', :controller => :project, :action => :show %>
  <%= project_tab( 'Packages', :controller => :project, :action => :packages ) unless @project.is_remote? %>
  <%= project_tab( "Repositories", :controller => :project, :action => :repositories ) unless @project.is_remote? %>
  <% if @project.has_element?(:repository) -%>
    <%= project_tab "Monitor", :controller => :project, :action => :monitor %>
  <% end -%>
  <% if @project_has_requests %>
    <%= project_tab "Requests", :controller => :project, :action => 'list_requests'%>
  <% end -%>
  <li>
    <a href="#" id="advanced_tabs_trigger">Advanced</a>
  </li>
</ul>

<div id="advanced_tabs">
<ul>
  <%= project_tab 'Project Config', :controller => :project, :action => :prjconf unless @project.is_remote? %>
  <%= project_tab 'Users', :controller => :project, :action => :users unless @project.is_remote? %>
  <%= project_tab 'Subprojects', :controller => :project, :action => :subprojects unless @project.is_remote? %>
  <%= project_tab 'Attributes', :controller => :project, :action => :attributes %>
  <%= project_tab "Raw Config", :controller => :project, :action => :meta %>
  <%= project_tab( 'Status', :controller => :project, :action => :status ) unless @project.is_remote? %>
</ul>
</div>

</div>
<div class="clear"></div>
<!-- End: box header -->
