<% content_for :ready_function do %>
  $("#advanced_tabs_trigger").click(function() {
    $("#advanced_tabs").show();
    $("#advanced_tabs_trigger").remove();
  });
<% end %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "project", :media => "all" %>
<% end %>

<div class="box-header header-tabs">
  <ul>
    <%= tab 'Overview', :controller => :project, :action => :show %>
    <% if @is_maintenance_project %>
      <%= tab 'Incidents', :controller => :project, :action => :maintenance_incidents %>
      <%= tab 'Maintained Projects', :controller => :project, :action => :maintained_projects %>
    <% elsif @is_incident_project %>
      <%# TODO %>
    <% else %>
      <%= tab 'Packages', :controller => :project, :action => :packages unless @project.is_remote? %>
      <%= tab "Repositories", :controller => :project, :action => :repositories unless @project.is_remote? %>
    <% end %>
    <% if @project.has_element?(:repository) -%>
      <%= tab "Monitor", :controller => :project, :action => :monitor %>
    <% end -%>
    <%= tab "Requests", :controller => :project, :action => 'list_requests' %>

    <% if @controller.is_advanced_tab? %>
      <% content_for :ready_function do %>
        $("#advanced_tabs").show();
      <% end %>
    <% else %>
      <li><a href="#" id="advanced_tabs_trigger">Advanced</a></li>
    <% end %>
  </ul>
  <div id="advanced_tabs">
    <ul>
      <%= tab 'Project Config', :controller => :project, :action => :prjconf unless @project.is_remote? or @is_maintenance_project %>
      <%= tab 'Users', :controller => :project, :action => :users unless @project.is_remote? %>
      <%= tab 'Subprojects', :controller => :project, :action => :subprojects unless @project.is_remote? or @is_maintenance_project %>
      <%= tab 'Attributes', :controller => :project, :action => :attributes %>
      <%= tab "Raw Config", :controller => :project, :action => :meta %>
      <%= tab 'Status', :controller => :project, :action => :status unless @project.is_remote? or @is_maintenance_project %>
    </ul>
  </div>
</div>
