<% @pagetitle = "Add Repository"
   @metarobots = 'noindex'
   project_bread_crumb @pagetitle
-%>

<%= render :partial => "tabs" %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag 'jquery.autocomplete' %>
<% end %>
<%= javascript_include_tag 'jquery.autocomplete.pack' %>

<% content_for :ready_function do %>
  $('#target_repo').hide();
  $("#target_project").autocomplete('<%= url_for(:controller => 'project', :action => 'autocomplete_projects') %>', {minChars: 2, matchCase: false}).result(function() {
    $('#target_repo').hide();
    $('#target_repo_txt').show();
    $('#loader-repo').show();
    $('#target_repo').html('');
    $.ajax({
      url: '<%= url_for :controller => :project, :action => :autocomplete_repositories %>',
      data: {project: $("#target_project").attr('value')},
      success: function(data){
        $('#target_repo').removeAttr('disabled');
        // suggest a name:
        $('#repo_name').attr('value', $("#target_project").attr('value').replace(/:/g,'_') + '_' + data.split('\n').shift());
        $.each(data.split('\n'), function(idx, val) {
          $('#target_repo').append( new Option( val ) );
          $('#target_repo').show();
          $('#target_repo_txt').hide();
        });
      },
      complete: function(data){
        $('#loader-repo').hide();
      }
    });
  });

  $("#target_repo_txt").autocomplete('<%= url_for(:controller => 'project', :action => 'autocomplete_repositories', :project => @project) %>',
    { minChars: 2, matchCase: false } );

  $('#target_repo').change(function() {
    $('#repo_name').attr('value', $("#target_project").attr('value').replace(/:/g,'_') + '_' + $(this).val());
  });
<% end %>

<h2>Advanced Search for Build Targets</h2>

<% form_tag({:action => :save_targets, :project => @project}) do -%>
  <p>
    <strong>Project: </strong><br/>
    <%= text_field_tag 'target_project', '', :size => 60, :id => 'target_project' %><br/>
    <strong>Repository: </strong><br/>
    <%= text_field_tag "target_repo_txt", "", :id => 'target_repo_txt', :size => 60 %>
    <%= image_tag('ajax-loader.gif', :id => 'loader-repo', :class => 'hidden') %>
    <%= select_tag "target_repo", options_for_select([""]), :id => 'target_repo', :disabled => true %><br/>
    <!-- Don't offer new name if we add this repo to an existing one as path -->
    <% if @torepository %>
      <%= hidden_field_tag( "torepository", @torepository ) %><br/>
    <% else %>
      <strong>New name: </strong><br/>
      <%= text_field_tag 'repo', '', :size => 60, :id => 'repo_name' %><br/>
      <strong>Architectures: </strong><br/>
      <% @available_architectures.each do |arch| %>
        <%= check_box_tag "arch[#{arch.name}]", "", arch.recommended == "true" %><%= arch.name %>
      <% end %>
    <% end %>
  </p>
  <p>
    <% if @torepository %>
      <%= submit_tag "Add path to repository #{@torepository}" %>
    <% else %>
      <%= submit_tag "Add repository" %>
    <% end %>
  </p>
<% end %>
