<% @pagetitle = "Add Repository"
   @metarobots = 'noindex'
   project_bread_crumb @pagetitle
-%>

<%# TODO FIXME: Get rid of 'target_repo_txt', it was / is entirely broken... %>

<%= render :partial => "tabs" %>

<%= content_for :ready_function do %>
  function autocomplete_repositories(project_name) {
    $('#target_repo').hide();
    $('#target_repo_txt').show();
    $('#loader-repo').show();
    $('#target_repo').html('');
    $.ajax({
      url: '<%= url_for :controller => :project, :action => :autocomplete_repositories %>',
      data: {project: project_name},
      success: function(data){
        $('#target_repo').removeAttr('disabled');
        // suggest a name:
        $('#repo_name').attr('value', project_name.replace(/:/g,'_') + '_' + data.split('\n').shift());
        $.each(data.split('\n'), function(idx, val) {
          $('#target_repo').append( new Option( val ) );
          $('#target_repo').show();
          $('#target_repo_txt').hide();
        });
      },
      complete: function(data){
        $('#loader-repo').hide();
      }
    });
  }

  $("#target_project").autocomplete({
    source: '<%= url_for(:controller => 'project', :action => 'autocomplete_projects') %>',
    minLength: 2,
    select: function (event, ui) { autocomplete_repositories(ui.item.value); },
    change: function () { autocomplete_repositories($('#target_project').attr('value')); },
  });

  $("#target_repo_txt").autocomplete({
    source: '<%= url_for(:controller => 'project', :action => 'autocomplete_repositories', :project => @project) %>',
    minLength: 2,
  });

  $('#target_repo').change(function() {
    $('#repo_name').attr('value', $("#target_project").attr('value').replace(/:/g,'_') + '_' + $(this).val());
  });
<% end %>

<h2>Advanced Search for Build Targets</h2>

<%= form_tag({:action => :save_targets, :project => @project}) do -%>
  <p>
    <strong>Project: </strong><br/>
    <%= text_field_tag 'target_project', '', :size => 60, :id => 'target_project' %><br/>
    <strong>Repository: </strong><br/>
    <%= text_field_tag "target_repo_txt", "", :id => 'target_repo_txt', :size => 60 %>
    <%= image_tag('ajax-loader.gif', :id => 'loader-repo', :class => 'hidden') %>
    <%= select_tag "target_repo", options_for_select([""]), :id => 'target_repo', :style => 'display: none', :disabled => true %><br/>
    <!-- Don't offer new name if we add this repo to an existing one as path -->
    <% if @torepository %>
      <%= hidden_field_tag( "torepository", @torepository ) %><br/>
    <% else %>
      <strong>New name: </strong><br/>
      <%= text_field_tag 'repo', '', :size => 60, :id => 'repo_name' %><br/>
      <strong>Architectures: </strong><br/>
      <% @available_architectures.each do |arch| %>
        <%= check_box_tag "arch[#{arch.name}]", "", arch.recommended == "true" %><%= arch.name %>
      <% end %>
    <% end %>
  </p>
  <p>
    <% if @torepository %>
      <%= submit_tag "Add path to repository #{@torepository}" %>
    <% else %>
      <%= submit_tag "Add repository" %>
    <% end %>
  </p>
<% end %>
