<% @pagetitle = "Edit Project Information of #{@project}"
   @metarobots = 'noindex'
   project_bread_crumb 'Edit Project'
-%>

<%= render :partial => "tabs" %>

<h2><%= @pagetitle %></h2>

<% form_tag :action => :save do %>
  <p>
    <strong>Title:</strong><br/>
    <%= text_field_tag 'title', @project.title, :size => 80 %><br/>
    <strong>Description:</strong><br/>
    <%= text_area_tag "description", @project.description, :rows => 20, :cols => 80 %><br/>
    <%= hidden_field_tag "project", @project.name %>
  </p>
  <p><%= submit_tag %></p>
<% end %>
