<% @pagetitle = "Edit Project Config for #{@project}" %>
<% project_bread_crumb( 'Edit project config' ) -%>

<%= render :partial => "tabs" %>

<h2>Editing Project Config for <%=h @project %></h2>

<% form_tag :action => :save_prjconf do %>
  <p>
    <strong>Config:</strong><br/>
    <%= text_area_tag "config", @config, :rows => 20, :cols => 80 %><br/>
    <%= hidden_field_tag "project", @project %>
  </p>
  <p><%= submit_tag %></p>
<% end %>

