<% @pagetitle = "Incidents of #{@project}"
   project_bread_crumb 'Incidents' -%>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %></h3>

<% content_for :head_javascript do %>
  function updateIncidentDisplay() {
    if ($('#incident_type_select')[0].value == "open") {
    } else {
    }
  }
<% end %>

<p>
  Display <%= select_tag("incident_type_select", options_for_select(['all', 'open', 'closed'], 'open'), :onchange => "updateIncidentDisplay();") %> incidents:
</p>

<div id="incident_display">
  <%= render(:partial => 'list_incidents', :locals => {:incidents => @maintenance_incidents}) %>
</div>

<p>
  <% if @project.can_edit?(session[:login]) %>
    <%= link_to(image_tag( 'icons/package_add.png', :title => 'Create new maintenance incident'), :action => :new_incident, :project => @project) %>
    <%= link_to('Create new maintenance incident', :action => :new_incident, :project => @project) %>
  <% end %>
</p>
