<% @pagetitle = "Running maintenance Incidents for #{@project}" %>
<% project_bread_crumb 'Maintainance Incidents' %>

<%= render :partial => 'tabs' %>

<h3><%= @pagetitle %></h3>

<%= link_to("Show past incidents", :action => :closed_maintenance_incidents, :project => @project) %>

<div class="grid_8 alpha">
  <% if @open_maintenance_incident_list.length == 0 %>
    <p><%= image_tag 'icons/accept.png' %> 0 open incidents</p>
  <% else %>
    <ul>
      <% @open_maintenance_incident_list.each do |incident| %>
        <li>
           <%= link_to("#{incident.name}", :action => :show, :project => incident.name) %>
           <% if not incident.title.to_s.empty? %>
             : <%= incident.title %>
           <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

