<% @pagetitle = "Maintenance Incidents" %>
<% project_bread_crumb @pagetitle %>

<%= render :partial => 'tabs' %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag 'jquery.tooltip' %>
<% end %>
<%= javascript_include_tag 'jquery.tablesorter', 'jquery.tooltip.min', 'jquery.expander.min' %>

<h3><%= @pagetitle %></h3>

<p>
  Display <%= select_tag("incident_type_select", options_for_select(['open', 'closed'], 'open'), :onchange => "updateIncidentDisplay();") %>
  maintenance incidents
  <span id="incident_count"><%= "(" + @incidents.length.to_s + ")" unless not defined?(@incidents) or @incidents.blank? %></span>:
  <%= image_tag('ajax-loader.gif', :id => "spinner", :class => "hidden") %>
</p>

<div id="incident_display">
  <%= render(:partial => 'shared/incident_table', :locals => {:incidents => @incidents, :incident_table_id => 'incident_table'}) unless not defined?(@incidents) %>
</div>

<p id="more_incidents_link"><%= link_to_function('Get more incidents...', 'appendIncidents()') %></p>

<% javascript_tag do %>
  function updateIncidentDisplay() {
    $('#spinner').show();
    $.ajax({
      url: '<%= url_for(:controller => :project, :action => :list_incidents, :project => @project) %>',
      data: {
        'type': $('#incident_type_select')[0].value,
        'limit': 20,
      },
      success: function(data) {
        $('#incident_display').html(data);
        if (data.indexOf('No incidents') == -1) {
          incident_count = $('#incident_table tbody').children(':not(.hidden)').length;
          $('#incident_count').html('(' + incident_count.toString() + ')');
        } else {
          $('#incident_count').html('');
        }
      },
      complete: function(data) {
        $('#spinner').hide();
        $('#more_incidents_link').show()
      },
    });
  }

  function appendIncidents() {
    old_incident_count = $('#incident_table tbody').children(':not(.hidden)').length;
    $('#spinner').show();
    $.ajax({
      url: '<%= url_for(:controller => :project, :action => :list_incidents, :project => @project) %>',
      data: {
        'type': $('#incident_type_select')[0].value,
        'append': true,
        'limit': 5,
        'offset': old_incident_count,
      },
      success: function(data) {
        $('#incident_table tbody').append(data);
        if (data.indexOf('No incidents') == -1) {
          incident_count = $('#incident_table tbody').children(':not(.hidden)').length;
          $('#incident_count').html('(' + incident_count.toString() + ')');
          if ((old_incident_count + 5) != incident_count) {
            $('#more_incidents_link').hide()
          }
        } else {
          $('#incident_count').html('');
        }
      },
      complete: function(data) {
        $('#spinner').hide();
      },
    });
  }

  <%= "updateIncidentDisplay();" unless defined?(@incidents) %>
<% end %>
