<% @pagetitle = "Maintenance Incidents" %>
<% project_bread_crumb @pagetitle %>

<%= render :partial => 'tabs' %>

<h3><%= @pagetitle %></h3>

<%= javascript_include_tag 'jquery.tablesorter' %>

<p>
  Display
  <%= select_tag("incident_type_select", options_for_select(['all', 'open', 'closed'], 'open')) %>
  maintenance incidents:
  <%= image_tag('ajax-loader.gif', :id => "spinner", :class => "hidden") %>
</p>

<% if @maintenance_incidents.blank? %>
  <p>No incidents.</p>
<% else %>
  <table cellspacing="1" id="incident_table" class="tablesorter" style="width: 95%">
    <thead>
      <tr>
        <th style="width: 1%">Incident</th>
        <th style="width: 40%">Summary</th>
        <th style="width: 1%">Category</th>
        <th style="width: 1%">Rating</th>
        <th style="width: 1%">Patchinfo</th>
      </tr>
    </thead>
    <tbody id="all_incidents" class="incident_list">
      <%= render :partial => 'maintenance_incidents', :locals => {:incidents => @maintenance_incidents} %>
    </tbody>
    <tbody id="open_incidents" class="incident_list">
      <%= render :partial => 'maintenance_incidents', :locals => {:incidents => @open_maintenance_incidents} %>
    </tbody>
    <tbody id="closed_incidents" class="incident_list">
      <%= render :partial => 'maintenance_incidents', :locals => {:incidents => @closed_maintenance_incidents} %>
    </tbody>
  </table>
  <% javascript_tag do %>
    $('#incident_table').tablesorter({ widgets: ['zebra'], sortList: [[0,0]], headers: {5: {sorter: false}} });

    function updateIncidentDisplay() {
      $('.incident_list').hide();
      $('#' + $('#incident_type_select option:selected').attr('value') + '_incidents').show();
    }
    $('#incident_type_select').change(updateIncidentDisplay);
    updateIncidentDisplay();
  <% end %>
<% end %>
