<% @pagetitle = "Maintenance Incidents" %>
<% project_bread_crumb @pagetitle %>

<%= render :partial => 'tabs' %>

<h3><%= @pagetitle %></h3>

<%= javascript_include_tag 'jquery.tablesorter' %>

<% content_for :head_javascript do %>
  function updateIncidentDisplay() {
    $('#spinner').show();
    $.ajax({
      url: '<%= url_for(:controller => :project, :action => :list_incidents, :project => @project) %>',
      data: {
        'type': $('#incident_type_select')[0].value,
      },
      success: function(data) {
        $('#incident_display').html(data);
          /*if (data.indexOf('No incidents') == -1) {
            incident_count = $('#incident_table tbody').children().length;
            $('#incident_count').html('(' + incident_count.toString() + ')');
          } else {
            $('#incident_count').html('');
          }*/
        $('#spinner').hide();
      }
    });
  }
<% end %>
<% content_for :ready_function do %>
  <%= "updateIncidentDisplay();" unless defined?(@incidents) %>
<% end %>

<p>
  Display <%= select_tag("incident_type_select", options_for_select(['open', 'closed'], 'open'), :onchange => "updateIncidentDisplay();") %>
  maintenance incidents: <%= image_tag('ajax-loader.gif', :id => "spinner", :class => "hidden") %>
</p>

<div id="incident_display">
  <%= render(:partial => 'shared/incidents', :locals => { :incidents => @incidents }) unless not defined?(@incidents) %>
</div>
