<% @pagetitle = "Raw Configuration of #{@project}"
   @metarobots = 'noindex'
   project_bread_crumb('Raw configuration')
-%>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %></h3>

<% if @user %>
  <p>
    <%= link_to(image_tag('icons/package_edit.png', :title => 'Edit raw configuration' ), :action => :edit_meta, :project => @project) %>
    <%= link_to('Edit raw configuration', :action => :edit_meta, :project => @project) %>
  </p>
<% end %>

<%= render :partial => "shared/syntaxhighlighter", :locals => {:code => @meta, :type => 'xml'} %>
