<% @pagetitle = "Raw Config for %s" % @project 
   @metarobots = 'noindex'
%>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "SyntaxHighlighter" %>
  <%= javascript_include_tag 'syntax/shCore', 'syntax/shBrushXml' %>
<% end %>

<% content_for :ready_function do %>
   dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
   dp.SyntaxHighlighter.HighlightAll('code'); 
<% if @user %>
   $(".dp-highlighter .tools:first").prepend("<a id='editlink' href='#'>edit</a>");
   $("#editlink").attr("href", "<%= url_for(:action => :edit_meta, :project => @project) %>");
<% end %>
<% end %>

<% project_bread_crumb( 'Raw Config' ) -%>

<%= render :partial => "tabs" %>

<h2>Raw Config for <%=h @project %></h2>

<pre id="code" class="xml">
<%=h @meta%>
</pre>

