<% @pagetitle = "New Package" %>
<% project_bread_crumb 'Add Package' -%>

<%= render :partial => "tabs" %>

<!--
<p>
<%= link_to('Create package using spec file wizard', :controller => 'package', :action => 'wizard_new', :project => @project) %>
(experimental)
</p>
-->
<h2>New Package in project <%= @project.name %></h2>

<% form_tag :controller => :package, :action => "save_new" do %>
<p>
<strong>Name:</strong><br/>
<%= text_field_tag 'name', @package_name, :size => 80 %><br/>
<strong>Title:</strong><br/>
<%= text_field_tag 'title', @package_title, :size => 80 %><br/>
<strong>Description:</strong><br/>
<%= text_area_tag 'description', @package_description, :cols => 80, :rows => 10 %><br/>
<%= check_box_tag 'source_protection', false %><strong>Deny access to sources of project.</strong><br/>
<%= submit_tag %>
<%= hidden_field_tag 'project', @project.name %>
</p>
<% end %>
