<% @pagetitle = "Packages of Project #{@project}" %>
<% project_bread_crumb( 'Packages' ) -%>

<%= render :partial => "tabs" %>

<h3>
  Packages for project <%= @project %> <%= "(#{@packages.each.size})" if @packages.each.size > 0 %>
</h3>

<% if @project.is_maintainer?( session[:login] ) %>
  <p>
    <%= link_to image_tag( 'icons/package_add.png', :title => 'Add Package' ),
      :controller => 'project', :action => :new_package, :project => @project %>
    <%= link_to 'Add', :controller => 'project', :action => :new_package, :project => @project %> a new package &nbsp;
    <%= link_to image_tag( 'icons/package_link.png', :title => 'Link Package from other Project' ),
      :controller => 'project', :action => :new_package_link, :project => @project %>
    <%= link_to 'Link Package',
      :controller => 'project', :action => :new_package_link, :project => @project %> from other Project
  </p>
<% end %>

<% if @packages.each.blank? %>
<p><i>This project does not contain any packages yet.</i></p>
<% end %>

<div id="pkg_container">
  <% if @packages.each.select{|p| /^_product/.match( p.name ) }.size > 0 %>
    <h3>Products</h3><p>
      <% @packages.each.select{|p| /^_product/.match( p.name ) }.collect{|p| p.name }.each do |package| -%>
        <%= link_to h(package.sub(/_product:/, '')), { :controller => 'package', :action => :show, :project=> @project, :package => package}, :class => 'nowrap' %> |
      <% end %></p>
  <% end %>

  <% if !@patchinfo.empty? %>
<h3>
Patchinfos for project <%= @project %>
</h3>

<p><% @patchinfo.each do |info| -%>
     <%= link_to h(info), { :controller => 'patchinfo', :action => :edit_patchinfo, :project => @project, :package => info}, :class => 'nowrap' %> |
  <%end%></p>
<%end%>
  <p>
    <% @packages.each.select{|p| !/^_product/.match( p.name ) and !/^_patchinfo/.match( p.name ) }.collect{|p| p.name }.each do |package| -%>
      <% if @current_char.blank? || @current_char != package.downcase[0,1]
        @current_char = package.downcase[0,1] %>
      </p><p><b><%= @current_char %></b> 
      <% end %>
      <%= link_to h(package), { :controller => 'package', :action => :show, :project=> @project, :package => package}, :class => 'nowrap' %> |
    <% end%>
  </p>
</div>

