<% @pagetitle = "Packages of #{@project}"
   project_bread_crumb 'Packages' -%>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %> <%= "(#{@packages.length})" if @packages.length > 0 %></h3>

<div style="display: inline">
  <% form_tag({:action => :packages}, {:method => :get, :id => 'filter_packages_form' }) do -%>
    <p>
      <%= hidden_field_tag(:project, @project.name ) %>
      <% if @packages.length > 0 %>
        <strong>Filter packages:</strong>
        <%= text_field_tag "searchtext", @filterstring -%>
      <% end %>

      <% if @project.can_edit?( session[:login] ) %>
        <span style="float: right">
          <%= link_to image_tag('icons/package_add.png', :title => 'Create package'), :controller => :project, :action => :new_package, :project => @project %>
          <%= link_to 'Create package', :controller => 'project', :action => :new_package, :project => @project %>
          <%= link_to image_tag( 'icons/package_link.png', :title => 'Branch Package' ),
            :controller => :project, :action => :new_package_branch, :project => @project %>
          <%= link_to 'Branch package from other project',
            :controller => :project, :action => :new_package_branch, :project => @project %>
          <% if @patchinfo.empty? %>
            <%= image_tag( 'icons/plugin_add.png', :title => 'Create patchinfo' ) %>
            <%= link_to 'Create patchinfo', :controller => 'patchinfo', :action => :new_patchinfo, :project => @project %>
          <% end %>
          <% if !@patchinfo.empty? %>
            <%= image_tag( 'icons/plugin_add.png', :title => 'Update patchinfo' ) %>
            <%= link_to 'Update patchinfo', :controller => 'patchinfo', :action => :edit_patchinfo, :project => @project, :package => @patchinfo.to_s %>
          <% end %>
        </span>
      <% end %>
    </p>
  <% end-%>
</div>

<%= observe_field :searchtext, :frequency => 0.8, :update => :package_list,
  :url => { :controller => 'project', :action  => 'packages' },
  :loading => '$("#searchtext").addClass( "ac_loading" )', :complete => "$('#searchtext').removeClass( 'ac_loading' )",
  :with => "'project=' + encodeURIComponent('" + @project.name + "') + '&searchtext=' + encodeURIComponent($('#searchtext').attr('value'))" %>

<%= render :partial => 'search_packages' %>
