<% @pagetitle = "Project Config for %s" % @project 
   project_bread_crumb( 'Project Config' )
-%>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag "SyntaxHighlighter" %>
  <%= javascript_include_tag 'syntax/shCore', 'syntax/shBrushPrjconf' %>
<% end %>

<% content_for :ready_function do %>
  dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
  <% if @user %>
    $(".dp-highlighter .tools:first").prepend("<a id='editlink' href='#'>edit</a>");
    $("#editlink").attr("href", "<%= url_for(:action => :edit_prjconf, :project => @project) %>");
  <% end %>
<% end %>

<%= render :partial => "tabs" %>

<h2>Project Config for <%=h @project %></h2>

<% if @config.blank? %>

  <p>This project does not have a custom
    <% if @project.is_maintainer?( session[:login] ) %>
      <%= link_to 'project configuration', :controller => 'project', :action => :edit_prjconf, :project => @project %>
    <% else %>
      project configuration
    <% end %>
    .</p>

<% else %>

  <pre id="code" class="prjconf"><%=h @config%>

</pre>

<% end %>
