<% @pagetitle = "Repositories of #{@project.name}"
   @metarobots = 'noindex'
   project_bread_crumb 'Repositories' %>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %></h3>
<p>You can configure individual flags for this project here.</p>

<% if @project.has_element? :repository %>
  <!-- renders each line in flag table, excepting the 'all' row -->
  <% @project.each_repository do |repository| %>
    <div style="margin-bottom: 1.2em" id="<%= valid_xml_id(repository.name) %>">
      <div style="margin-left: 15px">
        <strong><%= link_to(repository.name, :action => 'repository_state', :project => @project, :repository => repository) %></strong>
        <i>(<%= repository.each_arch.join(', ') %>)</i>
      </div>
      <div style="margin-left: 30px">
        <% begin -%>
          <% repository.each_path do |path| %>
            <% if path.project == 'deleted' %>
              <%= image_tag 'icons/exclamation.png' %> Target repository has been removed
            <% else %>
              <span><%= path.project + '/' + path.repository %></span><br/>
            <% end %>
          <% end -%>
        <% rescue; end %>

        <div style="margin-top: 1em">
          <% if @project.can_edit?( session[:login] ) %>
            <%= image_tag('icons/drive_edit.png') %>
            <%#TODO: jquery for ', :update => valid_xml_id(repository.name)' %>
            <%= link_to('Edit repository', {:action => :edit_repository, :project => @project, :repository => repository.name}, :remote => true) %>
            <%= image_tag('icons/drive_delete.png') %>
            <%= link_to('Remove repository', {:action => :remove_target, :project => @project, :target => repository.name},
              {:confirm => "Really remove repository '#{repository.name}'?", :class => 'x', :method => :post}) %>
            <%= render :partial => 'shared/download_repository_link', :locals => {:project => @project, :repository => repository} %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if @project.can_edit?( session[:login] ) %>
  <p>
    <%= link_to(image_tag('icons/drive_add.png', :title => 'Add repository'), :action => 'add_repository_from_default_list', :project => @project) %>
    <%= link_to('Add repositories', :action => 'add_repository_from_default_list', :project => @project) %>
  </p>
<% end %>

<%= render :partial => 'shared/repositories', :locals => { :obj => @project } %>

