<%
@crumb_list = [
  link_to( 'Projects', :action => :list_public),
  link_to( @project.name, :action => :show, :project => @project.name ), "Repositories"
]
-%>

<%= render :partial => "tabs" %>

<h3>
  Repositories <%= if @user
    link_to(image_tag("icons/drive_add.png", :title => "Add Repository"), :action => 'add_target_simple', :project => @project)
  end %>
</h3>
<% if @project.has_element? :repository %>

  <table>
    <!-- renders each line in flag table, excepting the 'all' row -->
    <% @project.each_repository do |repo| %>
      <tr>
        <td>
          <strong><%= link_to h(repo.name), :controller => 'platform', :action => 'show', :name => repo.name, :project => @project %></strong>
          <i>(<%= repo.each_arch.join(", ") %>)</i>

          <br/>
          <% begin -%>
            <% repo.each_path do |path| -%>
              <% if path.project == 'deleted' %>
                <%= image_tag 'icons/exclamation.png' %> Target repository has been removed
              <% else %>
                <%=h path.project + "/" + path.repository %><br/>
              <% end %>
            <% end -%>
          <% rescue; end %>
        </td>
        <% if @project.is_maintainer?( session[:login] ) %>
          <td>
            <%= link_to "[Edit]", :update => repo.name,
              :url => {:action => :TODO_edit_target, :project => @project, :repo => repo.name}
            link_to image_tag('icons/drive_delete.png'), {:action => :remove_target, :project => @project, :target => repo.name},
              {:confirm => "Really remove repository '#{repo.name}'?", :class => 'x', :method => :post} -%>
          </td>
        <% end %>

      </tr>
    <% end %>

  </table>
<% end %>

<div class="clear" style="margin-bottom: 2em"></div>

<%= render :partial => 'shared/repositories', :locals => { :obj => @project } %>

