<%
project_bread_crumb( 'Repositories' )
@pagetitle = "Repositories for #{@project.name}"
@metarobots = 'noindex'
-%>

<%= render :partial => "tabs" %>

<h2>Repository Configuration</h2>

<% if @project.has_element? :repository %>

  <!-- renders each line in flag table, excepting the 'all' row -->
  <% @project.each_repository do |repository| %>
    <div style="margin-bottom: 1.2em" id="<%= valid_xml_id(repository.name) %>" >
      <div style="margin-left: 15px">
        <strong><%= link_to(h(repository.name), :action => "repository_state", :project => @project, :repository => repository) %></strong>
        <i>(<%= repository.each_arch.join(", ") %>)</i>
      </div>
      <div style="margin-left: 30px">
        <% begin -%>
          <% repository.each_path do |path| -%>
            <% if path.project == 'deleted' %>
              <%= image_tag 'icons/exclamation.png' %> Target repository has been removed
            <% else %>
              <span><%=  h path.project + "/" + path.repository %></span>
              <br/>
            <% end %>
          <% end -%>
        <% rescue; end %>

        <% if @project.is_maintainer?( session[:login] ) %>
          <div style="margin-top: 1em">
            <%= image_tag('icons/drive_edit.png') + ' ' + link_to_remote("Edit Repository", :update => valid_xml_id(repository.name),
              :url => {:action => :edit_repository, :project => @project, :repository => repository.name}) -%>
            <%= image_tag('icons/drive_delete.png') + ' ' + link_to('Remove Repository', {:action => :remove_target, :project => @project, :target => repository.name},
              {:confirm => "Really remove repository '#{repository.name}'?", :class => 'x', :method => :post}) -%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @project.is_maintainer?( session[:login] ) %>
  <p><%= link_to(image_tag("icons/drive_add.png", :title => "Add Repository"), :action => 'add_target_simple', :project => @project) %>
  <%= link_to( 'Add', :action => 'add_target_simple', :project => @project) %> repositories</p>
<% end %>

<div class="clear" style="margin-bottom: 2em"></div>

<h2>Repository Flags</h2>
<%= render :partial => 'shared/repositories', :locals => { :obj => @project } %>

