<%
project_bread_crumb( 'Repository States' )
@pagetitle = "Repository States for #{@project.name}"
@metarobots = 'noindex'
-%>

<%= render :partial => "tabs" %>

<!-- this page will also get other repository informations like jobhistory -->

<% if @project.has_element? :repository %>

  <% @project.each_repository do |repository| %>
    <% next if not params[:repository].blank? and params[:repository] != repository.name %>
    <div style="margin-bottom: 1.2em" id="<%= valid_xml_id(repository.name) %>" >

      <h2>Repository state for <%= repository.name %></h2>
      
      <p><%= link_to image_tag( 'icons/drive_go.png' ), repo_url( @project, repository ) %> Go to download <%= link_to 'repository', repo_url( @project, repository ) %>
      </p>

      <div style="margin-top: 1em">
         <h2>Build Dependendency Cycles</h2>
         <% repository.each_arch do |arch| %>
            <% if @repocycles[repository.name] and @repocycles[repository.name][arch.text] and @repocycles[repository.name][arch.text].length > 0 %>
                   <h3>Cycles for <%= arch.text %></h3>
                   <ul>
                   <% @repocycles[repository.name][arch.text].each do |cycle| %>
                      <li> <% cycle.each do |package| %>
                          <%= link_to package, :project => @project, :package => package, :controller => :package, :action => :show %>
                          <% if package == cycle.last %> 
                               <!-- carriage return -->
                               &#8629;
                          <% else %>
                               <!-- right arrow -->
                               &#8658;
                          <% end %>
                      <% end %>
                      </li>
                   <% end %>
                   </ul>
            <% end %>
          <% end %>
      </div>

    </div>
  <% end %>
<% end %>

<div class="clear" style="margin-bottom: 2em"></div>

