<% @pagetitle = "Show #{@project}" %>
<% project_bread_crumb %>

<%= render :partial => 'tabs' %>

<div class="grid_10 alpha">
  <div class="box show_left clearfix">
    <div class="grid_7 alpha omega">
      <h3 id="project_title"><%=h @project.title %><%=  h( @project ) if @project.title.to_s.blank? -%></h3>
      <%= render :partial => 'shared/description', :locals => {:description => @project.description.text} %>
    </div>
    <div class="grid_3 alpha omega">
      <h4>Information</h4>
      <ul class="clean_list">
        <% if @is_maintenance_project %>
          <li>
            <% if @open_maintenance_incidents %>
              <%= image_tag 'icons/accept.png' %>
            <% else %>
              <%= image_tag 'icons/exclamation.png' %>
            <% end %>
            <%= @open_maintenance_incidents.length %> <%= link_to "open incident#{@open_maintenance_incidents.length == 1 ? '' : 's'}", :action => 'maintenance_incidents', :project => @project %>
          </li>
          <li>
            <% if @maintained_projects.length == 0 %>
              <%= image_tag 'icons/exclamation.png' %>
            <% else %>
              <%= image_tag 'icons/accept.png' %>
            <% end %>
            <%= @maintained_projects.length %> <%= link_to("maintained project#{@maintained_projects.length == 1 ? '' : 's'}", :action => 'maintained_projects', :project => @project) %>
          </li>
        <% else %> <!-- also for incident project -->
          <li>
            <% if @nr_packages == 0 %>
              <%= image_tag 'icons/exclamation.png' %>
            <% else %>
              <%= image_tag 'icons/accept.png' %>
            <% end %>
            <%= link_to pluralize(@nr_packages, "Package"), :action => 'packages', :project => @project %>
          </li>
          <% if @nr_of_problem_packages and @nr_of_problem_packages > 0 %>
            <li>
              <%= image_tag 'icons/exclamation.png' %>
              <%= @nr_of_problem_packages %>
              <%= link_to "build error#{@nr_of_problem_packages == 1 ? '' : 's'}", :action => 'monitor', :project => @project, :succeeded => 0, :blocked => 0, :finished => 0, :signing => 0, :dispatching => 0, :scheduled => 0, :building => 0 %>
            </li>
          <% end %>
          <% if @has_patchinfo %>
            <li>
              <%= image_tag 'icons/accept.png' %>
              <%= link_to('Patchinfo present', :controller => 'patchinfo', :action => 'show', :project => @project, :package => 'patchinfo') %>
            </li>
          <% end %>
          <% if @is_incident_project %>
            <% if !@has_patchinfo %>
              <li>
                <%= image_tag 'icons/exclamation.png' %>
                <%= link_to_if(@project.can_edit?(session[:login]), 'Patchinfo missing', :controller => 'patchinfo', :action => 'new_patchinfo', :project => @project, :package => 'patchinfo') %>
              </li>
            <% end %>
            <% if @open_release_requests.length > 0 %>
              <li>
                <%= image_tag 'icons/flag_green.png' %>
                <%= @open_release_requests.length %>
                <% if @open_release_requests.length == 1 %>
                  <%= link_to('release request', :controller => 'request', :action => 'show', :id => @open_release_requests[0].value('id')) %>
                <% else %>
                  <%= link_to('release requests', :action => 'requests', :project => @project.value('name'), :type => 'maintenance_release') %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          <% if @releasetargets.length > 0 %>
            <li>
              <%= image_tag 'icons/information.png' %>
              <%= link_to pluralize(@releasetargets.length, "Release Target"), :action => 'meta', :project => @project %>
            </li>
          <% end %>
        <% end %>

        <%= render :partial => 'shared/open_requests' %>

        <% if @project.is_remote? %>
          <li>
            <%= image_tag 'icons/information.png' %>
            This project is linking the remote obs instance at: <i><a href="<%= @project.value 'remoteurl' %>"><%= @project.value 'remoteurl' %></a></i>
          </li>
        <% end %>
        <% if @linking_projects.size > 0 %>
          <li>
            <%= image_tag 'icons/information.png' %>
            <%= @linking_projects.size %> <%= link_to_remote("linking project#{@linking_projects.size == 1 ? '' : 's'}", :url => {:action => 'linking_projects', :project => @project }) %>
          </li>
        <% end %>
        <% if @project_maintenance_project %>
          <li>
            <%= image_tag('icons/accept.png') %>
            Maintained by <%= link_to(@project_maintenance_project, :action => 'show', :project => @project_maintenance_project) %>
          </li>
        <% end %>
        <% if @project.is_locked? %>
          <li>
            <%= image_tag 'icons/lock.png' %> is locked
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if (not @bugowners_mail.empty? and !BUGZILLA_HOST.nil?) or session[:login] %>
    <div class="box show_left">
      <div class="box-header header-tabs">
        <ul>
          <li class="selected"><a href="#">My Actions</a></li>
        </ul>
      </div>
      <ul class="horizontal-list">
        <% if not @bugowners_mail.empty? and !BUGZILLA_HOST.nil? %>
          <li>
            <%= link_to(image_tag('tools-report-bug.png', :title => 'Report bug'), bugzilla_url(@bugowners_mail, "#{@project.name}: Bug")) -%>
            <%= link_to('Report bug', bugzilla_url(@bugowners_mail, "#{@project.name}: Bug")) -%>
          </li>
        <% end -%>
        <% if session[:login] %>
          <% if @project.can_edit?( session[:login] ) %>
            <% unless @project.is_remote? %>
              <% if @is_incident_project && @nr_packages > 0 && @has_patchinfo && @open_release_requests.length == 0 %>
                <li>
                  <%= link_to_remote(image_tag('icons/brick_go.png', :title => 'Request to release'), :url => {:controller => 'project', :action => 'release_request_dialog', :project => @project}) %>
                  <%= link_to_remote('Request to release', :url => {:controller => 'project', :action => 'release_request_dialog', :project => @project}) %>
                </li>
              <% elsif @is_maintenance_project %>
                <li>
                  <%= link_to(image_tag('icons/brick_add.png', :title => 'Create maintenance incident'), :controller => 'project', :action => 'new_incident', :ns => @project.name) %>
                  <%= link_to('Create maintenance incident', :controller => 'project', :action => 'new_incident', :ns => @project.name) %>
                </li>
              <% else %>
                <li>
                  <%= link_to(image_tag('icons/package_add.png', :title => 'Create package'), :controller => 'project', :action => 'new_package', :project => @project) %>
                  <%= link_to('Create package', :controller => 'project', :action => 'new_package', :project => @project) %>
                </li>
                <li>
                  <%= link_to(image_tag('icons/brick_add.png', :title => 'Create subproject'), :controller => 'project', :action => 'new', :ns => @project.name) %>
                  <%= link_to('Create subproject', :controller => 'project', :action => 'new', :ns => @project.name) %>
                </li>
                <%if !@has_patchinfo %>
                  <li>
                    <%= image_tag( 'icons/plugin_add.png', :title => 'Create Patchinfo' ) %>
                    <%= link_to 'Create Patchinfo', :controller => 'patchinfo', :action => :new_patchinfo, :project => @project %>
                  </li>
                <% end %>
                <% if !@is_incident_project && @releasetargets.length > 0 %>
                  <li>
                    <%= link_to_remote(image_tag('icons/brick_go.png', :title => 'Submit as Update'), :url => {:controller => 'project', :action => 'incident_request_dialog', :project => @project}) %>
                    <%= link_to_remote('Submit as Update', :url => {:controller => 'project', :action => 'incident_request_dialog', :project => @project}) %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
            <li>
              <%= link_to(image_tag('icons/brick_edit.png', :title => "Edit description"), :action => 'edit', :project => @project) %>
              <%= link_to("Edit description", :action => 'edit', :project => @project) %>
            </li>
            <li>
              <%= link_to_remote(image_tag('icons/brick_delete.png', :title => 'Delete project'), :url => {:controller => 'project', :action => 'delete_dialog', :project => @project.name}) %>
              <%= link_to_remote('Delete project', :url => {:controller => 'project', :action => 'delete_dialog', :project => @project.name}) %>
            </li>
            <% if @project.is_locked? %>
              <li>
                <%= link_to_remote(image_tag('icons/lock_open.png', :title => 'Unlock project'), :url => {:controller => 'project', :action => 'unlock_dialog', :project => @project.name}) %>
                <%= link_to_remote('Unlock project', :url => {:controller => 'project', :action => 'unlock_dialog', :project => @project.name}) %>
              </li>
            <% end %>
          <% else %>
            <li>
              <%= link_to_remote(image_tag('icons/user_add.png', :title => "Request role addition"), :url => {:controller => 'request', :action => 'add_role_request_dialog', :project => @project}) %>
              <%= link_to_remote("Request role addition", :url => {:controller => 'request', :action => 'add_role_request_dialog', :project => @project}) %>
            </li>
            <li>
              <%= link_to_remote(image_tag('icons/package_delete.png', :title => 'Request Deletion'), :url => {:controller => 'request', :action => 'delete_request_dialog', :project => @project}) %>
              <%= link_to_remote('Request deletion', :url => {:controller => 'request', :action => 'delete_request_dialog', :project => @project}) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="grid_6 omega">
  <%= render :partial => 'shared/buildresult_box', :locals => {:project => @project.value('name')} %>
</div>
