<% @pagetitle = "Subprojects of #{@project}"
   @metarobots = 'noindex'
   project_bread_crumb 'Subprojects'
%>

<%= render :partial => "tabs" %>

<% if @parentprojects.length > 0 %>
  <h3>Parent projects of <%= @project %></h3>
  <table id="parentprojects_table">
    <thead>
      <tr>
        <th>Parent project</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @parentprojects.each do |name, project| %>
        <tr>
          <td><%= link_to name, :action => 'show', :project => name %></td>
          <td><%= project.value('title') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3><%= @pagetitle %></h3>
<% prjlen = @project.name.length %>
<% if @subprojects.length > 0 %>
  <table id="subprojects_table">
    <thead>
      <tr>
        <th>Subproject</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @subprojects.each do |name, project| %>
        <tr>
          <td><%= link_to name.slice(prjlen + 1, name.length), :action => 'show', :project => name %></td>
          <td><%= project.value('title') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><i>This project has no subprojects</i></p>
<% end %>
<% if @project.can_edit?(session[:login]) %>
  <p>
    <%= link_to image_tag('icons/brick_add.png', :title => 'Create subproject'), :controller => :project, :action => :new, :ns => @project.name %>
    <%= link_to 'Create subproject', :controller => :project, :action => :new, :ns => @project.name %>
  </p>
<% end %>

<% if @subprojects.length > 0 %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $('#parentprojects_table').dataTable({
        'bPaginate': false,
        'bFilter': false,
        'bInfo': false,
      });
      $('#subprojects_table').dataTable({
        'bPaginate': false,
        'bFilter': false,
        'bInfo': false,
      });
    });
  <% end %>
<% end %>
