- release_targets_ng = incident_table_entry.release_targets_ng
- release_target = release_targets_ng.values.first
%tr
  %td.text-word-break-all
    - title = incident_label(incident_table_entry, release_target[:patchinfo])
    = link_to(elide(title, 60, :right), project_show_path(project: incident_table_entry.name), title: title)
  %td
    - if release_target[:patchinfo]
      = link_to(patchinfo_show_path(project: incident_table_entry.name, package: 'patchinfo'),
        class: "patchinfo-category-#{release_target[:patchinfo][:category]}") do
        #{release_target[:patchinfo][:category]}
    - else
      = link_to(patchinfo_path(project: incident_table_entry.name, package: 'patchinfo'), method: :post, class: 'text-danger') do
        %i.fas.fa-exclamation-circle.text-danger
        Missing Patchinfo
  %td
    - if release_target[:packages].present?
      - first_pkg = release_target[:packages].first
      = link_to(first_pkg.name.split('.', 2)[0], package_show_path(project: incident_table_entry.name, package: first_pkg.name))
      - if release_target[:packages].length > 1
        , ...
  %td.text-word-break-all
    = open_requests_icon(incident_table_entry)
    = outgoing_requests_icons(incident_table_entry)
    - stopped_release = release_target.dig(:patchinfo, :stopped)
    - if stopped_release
      %div
        %i.fas.fa-clock.text-info
        Stopped: #{stopped_release}
  %td
    - release_targets_ng.keys.each do |release_target_project|
      %div
        %b= release_target_project
  %td.text-word-break-all
    - release_targets_ng.values.each do |release_target_ng|
      %div
        = link_to(project_show_path(project: incident_table_entry.name)) do
          %i.fas{ class: incident_build_icon_class(incident_table_entry, release_target_ng), title: 'Build results' }
