- @pagetitle = 'Edit News Item'

.row
  .col
    .card
      .card-body
        .row
          .col-12
            %h3= @pagetitle
          .col-12.col-md-9.col-lg-6
            = form_for(@status_message, url: news_item_path) do |form|
              .mb-3
                = form.label(:message) do
                  Message:
                  %abbr.text-danger{ title: 'required' } *
                = render WriteAndPreviewComponent.new(form, preview_news_items_path)
              .mb-3
                = form.label(:severity) do
                  Severity:
                  %abbr.text-danger{ title: 'required' } *
                  %small.form-text With "Announcement", the message will be displayed on the top and all over the web site.
                - options = StatusMessage.severities.keys.map { |severity| [severity.humanize, severity] }
                = form.select(:severity, options_for_select(options, @status_message.severity), {}, class: 'form-select')
              .mb-3
                = form.label(:communication_scope, 'Communication Scope:')
                - options = StatusMessage.communication_scopes.keys.map { |scope| [scope.humanize, scope] }
                = form.select(:communication_scope, options_for_select(options, @status_message.communication_scope), {}, class: 'form-select')
              = form.submit 'Update', class: 'btn btn-primary me-4'
              = link_to('Back', request.referer.presence || news_items_path, class: 'btn btn-outline-secondary', role: 'button')
