:ruby
  @pagetitle = 'Public Projects'
.card
  - if @important_projects.present?
    .card-body
      %h3 Main Projects
      .table-responsive
        %table.table.table-sm.table-striped.table-bordered
          %thead
            %tr
              %th Name
              %th Title
          %tbody
            - @important_projects.each do |project|
              %tr
                %td
                  = link_to(project.first, action: :show, project: project.first)
                %td
                  #{project.second}
  .card-body
    %h3= @pagetitle
    %ul.list-inline
      - if @show_all
        %li.list-inline-item.mr-3
          = link_to(projects_path) do
            %i.fas.fa-toggle-on.text-primary
            Exclude #{::Configuration.unlisted_projects_filter_description}
      - else
        %li.list-inline-item.mr-3
          = link_to(projects_path(show_all: true)) do
            %i.fas.fa-toggle-off.text-primary
            Include #{::Configuration.unlisted_projects_filter_description}
      - unless User.current.is_nobody?
        %li.list-inline-item
          = link_to('#', data: { toggle: 'modal', target: '#new-project-modal' }) do
            %i.fas.fa-plus-circle.text-primary
            Add New Project
          = render partial: 'new_project_modal', locals: { configuration: @configuration }

    - if @projects.blank?
      %p
        %i No projects found
    - else
      = render_datatable(@datatable)
