:ruby
  content_for(:content_for_head, javascript_include_tag('webui2/cm2/index-prjconf'))
  @pagetitle = "Meta Configuration of #{@project}"
  @metarobots = 'noindex'

.card
  = render(partial: 'webui/project/tabs', locals: { project: @project })

  .card-body
    %h3= @pagetitle
    - if User.current.can_modify?(@project)
      = render partial: 'shared/editor', locals: { text: @meta, mode: 'xml',
        save: { url: project_save_meta_path(@project), method: :post,
        data: { project: @project.name, submit: 'meta' } } }
    - else
      = render partial: 'shared/editor', locals: { text: @meta, mode: 'xml', style: { read_only: true } }
