- @pagetitle = "Requests for #{@project}"
- project_bread_crumb('Requests')

.card
  = render :partial => 'tabs'

  .card-body
    %h3
      = @pagetitle

    = render(partial: 'webui/shared/requests_state_and_type_form')

  = render(partial: 'webui/shared/requests_table', locals: { id: 'all_requests_table', source_url: projects_requests_path(@project) })
