- @pagetitle = "Show #{@project}"

.card.mb-3
  = render partial: 'tabs', locals: { project: @project }
  .card-body
    .row
      .col-md-8
        %h3#project-title
          = @project.title.presence || @project
          - if @project.url.present?
            %small= link_to(@project.url, @project.url)
        #description-text
          - if @project.description.blank?
            %i No description set
          - else
            = simple_format(@project.description)
      .col-md-4
        = render partial: 'side_links', locals: { open_maintenance_incidents: @open_maintenance_incidents,
                                                  project: @project,
                                                  maintained_projects: @maintained_projects,
                                                  nr_of_problem_packages: @nr_of_problem_packages,
                                                  has_patchinfo: @has_patchinfo,
                                                  open_release_requests: @open_release_requests,
                                                  release_targets: @releasetargets,
                                                  requests: @requests,
                                                  package: @package,
                                                  linking_projects: @linking_projects,
                                                  project_maintenance_project: @project_maintenance_project }
      = render partial: 'bottom_actions', locals: { bugowners_mail: @bugowner_mail,
                                                    project: @project,
                                                    packages: @packages,
                                                    has_patchinfo: @has_patchinfo,
                                                    open_release_requests: @open_release_requests,
                                                    release_targets: @releasetargets }
.overview
  .build-results
    = render partial: 'webui2/shared/buildresult_box', locals: { project: @project.name }
  .list
    .card
      .bg-light
        %ul.nav.nav-tabs.pt-2.px-3.flex-nowrap#packages-tabs{ role: 'tablist' }
          %li.nav-item
            %a.nav-link.active#packages-tab{ href: '#packages', role: 'tab', data: { toggle: 'tab' },
            aria: { controls: 'packages', selected: 'true' } }
              Packages
              %span.badge.badge-primary
                = @packages.length
          - if @ipackages.present?
            %li.nav-item
              %a.nav-link#inherited-packages-tab{ href: '#inherited-packages', role: 'tab', data: { toggle: 'tab' },
              aria: { controls: 'inherited-packages', selected: 'false' } }
                Inherited Packages
                %span.badge.badge-primary
                  = @ipackages.length
      .tab-content#packages-tabs-content
        .tab-pane.fade.show.active#packages{ role: 'tabpanel', aria: { labelledby: 'packages-tab' } }
          = render partial: 'project_packages', locals: { project: @project, packages: @packages }
        .tab-pane.fade#inherited-packages{ role: 'tabpanel', aria: { labelledby: 'inherited-packages-tab' } }
          = render partial: 'project_inherited_packages', locals: { project: @project, inherited_packages: @ipackages }
  .comments
    .card
      %h5.card-header
        Comments for #{@project}
        %span.badge.badge-primary{ id: "comment-counter-project-#{@project.id}" }
          = @comments.length
      .card-body#comments
        = render partial: 'webui2/webui/comment/show', locals: { commentable: @project,
          comment_counter_id: "#comment-counter-project-#{@project.id}" }

= render partial: 'linking_projects_dialog', locals: { project: @project, linking_projects: @linking_projects }
- unless User.current.is_nobody?
  - if @project.is_locked? && User.current.can_modify?(@project, true)
    = render partial: 'unlock_project_dialog', locals: { project: @project }
  - elsif User.current.can_modify?(@project)
    = render partial: 'edit_project_dialog', locals: { project: @project }
    = render partial: 'delete_project_dialog', locals: { project: @project }

    - if show_package_actions?
      = render partial: 'new_package_modal', locals: { project: @project }
      = render partial: 'new_package_branch_modal', locals: { project: @project, remote_projects: @remote_projects }

    - if can_be_released?(@project, @packages, @open_release_requests, @has_patchinfo)
      = render partial: 'project_release_request_dialog', locals: { project: @project }
    - elsif !@project.is_maintenance?
      = render partial: 'project_submit_update_dialog', locals: { project: @project, release_targets: @releasetargets }
  - elsif !@project.is_locked?
    = render partial: 'webui2/webui/request/add_role_request_dialog', locals: { project: @project }
    = render partial: 'webui2/webui/request/delete_request_dialog', locals: { project: @project }

= content_for :ready_function do
  initializeDataTable('#inherited-packages-table');
