:ruby
  @pagetitle = "Subprojects of #{@project}"

.card.mb-3
  = render partial: 'tabs', locals: { project: @project }
  .card-body
    .row
      .col-md-12
        - if @parentprojects.present?
          %h3 Parent projects of #{@project}
          %table.responsive.table.table-striped.table-bordered.subproject-table
            %thead
              %tr
                %th Parent Project
                %th Title
            %tbody
              - @parentprojects.each do |project|
                %tr
                  %td.project_name= link_to(word_break(project.name), project_show_path(project))
                  %td.project_title= word_break(project.title)
    .row{ class: ('mt-3' if @parentprojects.present?) }
      .col-md-12
        %h3.d-md-inline-block Subprojects of #{@project}
        - if @subprojects.present?
          %table.responsive.table.table-striped.table-bordered.subproject-table
            %thead
              %tr
                %th Subproject
                %th Title
            %tbody
              - @subprojects.each do |project|
                %tr
                  %td.project_name= link_to(word_break(remove_parent_name(project.name, @project.name), 50), project_show_path(project))
                  %td.project_title= word_break(project.title)
        - else
          %p
            %i This project has no subprojects
        - if User.current.can_modify?(@project)
          = link_to('#', data: { toggle: 'modal', target: '#add-new-subproject-modal' }, title: 'Add New Subproject', class: 'nav-link') do
            %i.fas.fa-plus-circle.text-primary
            Add New Subproject

    .row.mt-3
      .col-md-12
        - if @siblings.present?
          %h3 Sibling projects of #{@project}
          %table.responsive.table.table-striped.table-bordered.subproject-table
            %thead
              %tr
                %th Sibling Project
                %th Title
            %tbody
              - @siblings.each do |project|
                %tr
                  %td.project_name= link_to(word_break(remove_parent_name(project.name, @parent_name), 50), project_show_path(project))
                  %td.project_title= word_break(project.title)

= render partial: 'add_new_subproject_modal', locals: { project: @project, configuration: @configuration }

:javascript
  initializeDataTable('.subproject-table');
