<div id="status_messages">
  <h2>Status Messages</h2>

  <% if @status_messages.each_message.size == 0 %>
    <p><i>No status messages</i></p>
  <% else %>
  <table style="width: 95%">
    <thead>
      <tr>
        <th>Message</th>
        <th style="width: 10%">time entered</th>
        <th style="width: 5%">by user</th>
        <% if @user and @user.is_admin? -%>
          <th style="width: 1%">&nbsp;</th>
        <% end -%>
      </tr>
    </thead>
    <tbody>
      <% @status_messages.each_message do |msg| %>
        <tr>
          <td>
            <% case msg.severity.to_i
            when 3 -%>
              <%= image_tag 'status_red.png' -%>
            <% when 2 -%>
              <%= image_tag 'status_yellow.png' -%>
            <% when 1 %>
              <%= image_tag 'status_green.png' -%>
            <% else -%>
              <%= image_tag 'info.png' -%>
            <% end %>
            <% if msg.deleted_at.empty? -%>
              <%=h msg.to_s %>
            <% else -%>
              <span class="greyed-out">
                <%=h msg.to_s %>
                <i>(deleted
                  <%= distance_of_time_in_words_to_now( Time.parse(msg.deleted_at) ) -%> ago)
                </i>
              </span>
            <% end %>
          </td>
          <td class="greyed-out nowrap">
            <%= distance_of_time_in_words_to_now( Time.parse(msg.created_at) ) %>
            ago
          </td>
          <td class="greyed-out">
            <%= link_to(msg.value(:user), :controller => :home, :user => msg.value(:user)) %>
          </td>
          <% if @user and @user.is_admin? -%>
            <td>
              <% if msg.deleted_at.empty? %>
                <%= link_to_remote image_tag( 'delete.png',
                  :title => 'Mark message as deleted' ), :url => { :action => 'delete_message', :id => msg.msg_id } %>
              <% else -%>
                &nbsp;
              <% end -%>
            </td>
          <% end -%>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <% if @status_messages.count.to_i > @max_messages %>
      <span id="show_more">
        <%= link_to_remote 'Show more messages', :url => { :action => 'show_more_messages' },
          :loading => "$('#message_form_spinner').show()", :complete => "$('#message_form_spinner').hide();$('#show_more').hide()" %>
        <br/>
      </span>
    <% end %>
    <span id="add_message_form_area"></span>
    <% if @user and @user.is_admin? %>
      <span id="add_message">
        <%= link_to_remote image_tag("list-add.png", :alt => "Add new message"),
          :update => 'add_message_form_area', :url => { :action => "add_message_form" },
          :loading => "$('#message_form_spinner').show();$('#add_message').hide()", :complete => "$('#message_form_spinner').hide()" %>
        <%= link_to_remote "Add message", 
          :update => 'add_message_form_area', :url => { :action => "add_message_form" },
          :loading => "$('#message_form_spinner').show();$('#add_message').hide()", :complete => "$('#message_form_spinner').hide()" %>
      </span>
    <% end %>
    <%= image_tag 'rotating-tail.gif', :id=> 'message_form_spinner', :style => "visibility:hidden;" -%>
    <span id="error_message" style="display:none;"></span>
  </p>
  <% end %>
</div>
