<%= content_for :head_javascript do %>

  var logfileinfo = "package";
  var container_width = -1;

  function processCtrl(id, item)
  {
     var delta = item["delta"];
     // 0 == #0f0
     // 100 = #f00
     // 50 = #ff0
     var green = 255;
     if (delta > 50) {
        green = Math.round(255 * (100 - delta) / 50);
     }
     var red = 255;
     if (delta < 50) {
       red = Math.round(255 * delta / 50);
     }

     var container = $('#p' + id);
     var el_text = container.children(".monitorpb_text:first");
     var ctrl = container.find(".monitorpb_ctrl:first");
     if (delta) {
        el_text.text(item[logfileinfo]);
	if (container_width == -1) {
	   container_width = container.width();
        }
        var el_track = container_width;
        ctrl.css("margin-left", (el_track * delta / 100) + "px");
        var url = "<%= url_for controller: :package, action: :live_build_log, project: 'PROJECT', package: 'PACKAGE', arch: 'ARCH', repository: 'REPOSITORY' %>";
        url = url.replace('ARCH', encodeURIComponent(item["arch"]));
        url = url.replace('PROJECT', encodeURIComponent(item["project"]));
        url = url.replace('PACKAGE', encodeURIComponent(item["package"]));
        url = url.replace('REPOSITORY', encodeURIComponent(item["repository"]));

	el_text.attr("href", url);
	container.css("background-color", "rgb(" + red + "," + green + ",0)");
     }
     else {
        el_text.html("idle");
        ctrl.css("margin-left", "0px");
	el_text.attr("href", "#");
     }
  }

  function update()
  {
     $("#workers_updating").fadeIn(1200);
     resizeMonitorBoxes();
     $.getJSON("<%= url_for(:controller => :monitor, :action => :update_building) %>", function(json) {
	 $.each(json, function(i,item) {
            processCtrl(i, item);
	 }); 
	 $("#workers_updating").fadeOut(1200);
     });
  }
<% end %>

<%= content_for :ready_function do %>
       $("#worker_display option:selected").each(function() { logfileinfo=$(this).attr("value"); });

       resizeMonitorBoxes();

       update();
       setInterval("update()", 100000 );

       $("#worker_display").change(function() {
	   $("#worker_display option:selected").each(function() { logfileinfo=$(this).attr("value"); });
	   update();
       });
<% end %>


<div style="display: inline">
  <form action="/">
    <p>
      <span style="float: right">
        <span class="strong">Show:</span>
        <select id="worker_display">
          <option value="package" selected="selected">Package name</option>
          <option value="project">Project</option>	
          <option value="repository">Repository</option>	
          <option value="arch">Architecture</option>	
        </select>
      </span>
    </p>
  </form>
</div>
<h2 id="workers_title" class="nowrap">Workers <span class="hidden" id="workers_updating">(updating...)</span></h2>
<div><p>This shows the single workers and their jobs. The <em>progress</em> shown (and color) is not for the time it will take (we don't know that before),
but just relative against each other. The exact percentage shown has no real meaning, just one thing is certain: the bar reaches its maximum at 4h.</p>
<p>The monitor is meant to entertain and not to be exact, if you need to know more details, check the <%= link_to 'detailed page', :action => :old %>.
</p>
</div>

<% if @workers_sorted.size == 0 %>
	<p><i>No workers</i></p>
<% else %>

<ul class='monitorboxrow'>
<li class="hidden"></li>
<% counter = -1
   @workers_sorted.each do |name,hash| 
   counter += 1
   if counter == 5 -%>
</ul>
<ul class='monitorboxrow'>
  <li class="hidden"></li>
  <% counter = 0
     end -%>
  <li class='builderbox'>
      <div class='builderboxtitle'><%= '%s (%s)' % [name, hash['_arch']] %></div>
      <% hash.each do |subid,id| -%>
	<% if subid != '_arch' -%>
	<div class='monitorpb' id='p<%= id %>'>
	  <div class="monitorpb_left monitorpb_bar"></div>
	  <div class="monitorpb_track monitorpb_bar">
	    <div class="monitorpb_ctrl monitorpb_bar"></div>
	  </div>
	  <div class="monitorpb_right monitorpb_bar"></div>
	  <a href="#" class="monitorpb_text" rel="nofollow"></a>
	</div>
	<% end -%>
      <% end -%>
  </li>
<% end -%>
</ul>
<% end -%>
<div class="clear"></div>
