<% @pagetitle = "Build Status Monitor" 
   @metarobots="nofollow"
-%>

<% content_for :content_for_head do %>
  <%= javascript_include_tag 'jquery.flot.js' %>
  <%= javascript_include_tag 'jquery.flot.stack.js' %>
  <%= javascript_include_tag 'flot.svn/jquery.flot.selection.js' %>
<% end %>

<%
@crumb_list = [ 'Monitor' ]
-%>

<div class="grid_8 alpha">
  <div id="building" style="height:250px; margin-left: 20px"></div>
</div>

<div class="grid_8 omega">
 <div id="placeholder" style="height:250px; margin-left: 20px; margin-right: 20px"></div>
</div>

<div class="clear"></div>

<div class="grid_8 alpha">
  <div id="jobs" style="height:250px; margin-left: 20px"></div>
</div>

<div class="grid_8 omega">
</div>

<div class="clear"></div>

<% content_for :ready_function do %>
    
    var options = {
      series: {
        lines: { show: true, fill: true },
        stack: true
      },
      legend: { noColumns: 1, position: "ne" },
      xaxis: { mode: 'time' },
      yaxis: { min: 0, max: 1250} ,
      selection: { mode: "x" },
    };

     var data =  [ { data: <%= print_statistics_array(@data['squeue_high_x86_64']) %>, label: "High", color: "red" },
             { data: <%= print_statistics_array(@data['squeue_med_x86_64']) %>, label: "Medium", color: 1 },
             { data: <%= print_statistics_array(@data['squeue_low_x86_64']) %>, label: "Low", color: 2}
             ];

	    var placeholder = $("#placeholder");

            $.plot($("#placeholder"), data, options);

	   placeholder.bind("plotselected", function (event, ranges) {

           plot = $.plot(placeholder, data,
                          $.extend(true, {}, options, {
                              xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                          }));
    });

    placeholder.bind("plotunselected", function (event) {
        $("#selection").text("");
    });
    
    var plot = $.plot(placeholder, data, options);

    $("#clearSelection").click(function () {
        plot.clearSelection();
    });

    $.plot($("#building"), [ { data: <%= print_statistics_array(@data['idle_x86_64']) %>, label: "Idle workers", color: 3},
                             {  data: <%= print_statistics_array(@data['building_x86_64']) %>, label: "Busy workers", color: 4 } ],
      {
            series: {
                stack: true,
                lines: { show: true, steps: false, fill: true }
            }, xaxis: { mode: 'time' }

      }); 

    $.plot($("#jobs"), [ 
             { data: <%= print_statistics_array(@data['waiting_x86_64']) %>, label: "Ready to build", color: 5},
             {  data: <%= print_statistics_array(@data['blocked_x86_64']) %>, label: "Blocked", color: 6 } ],
        {
            series: {
                stack: true,
                lines: { show: true, steps: false, fill: true }
            }, xaxis: { mode: 'time' }, yaxis: { max: 10000 }
        });

<% end %>

