<div class="comment_thread grid_16 alpha omega">
  <%=render partial: "webui/comment/new"%>
</div>
<% @comments.each do |comment| %>
  <%= javascript_tag do %>
    <%= render partial: "webui/comment/expand_collapse.js.erb", locals: {comment_id: comment['id']}%>
  <%end%>
  <div class="comment_thread grid_16 alpha omega">
    <h4>
      <%= comment['title'] %>
      <% unless comment['children'].empty? %>
        <a id="<%="toggle_replies_of_#{comment['id']}"%>">
          <%= sprite_tag('list-remove', alt: 'Collapse thread', class: "toggle_replies_image_#{comment['id']}")%>
        </a>
      <%end%>
    </h4>
    <div class="grid_16 alpha omega">
      <div class="comment">
        <%= user_icon(comment['user'], 24, 'comment_image')%>
        <%=comment['user']%>        
        <br />
        <span class="comment_time"><%= distance_of_time_in_words_to_now(DateTime.parse(comment['created_at'])) %> ago</span>
        <p class="clear"></p>
        <%=simple_format(comment['body']) %>
        <%=render :partial => "webui/comment/links", :locals => {:comment => comment } %>
        <%=render :partial => "webui/comment/reply", :locals => {:comment => comment, level: 0 } %>
      </div>
      <% unless comment['children'].empty? %>
        <div id="reply_of_comment_<%= comment['id'] %>">
          <%= render partial: 'webui/comment/child', locals: {children: comment['children'] } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<%= javascript_tag do %>
function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
<% end %>
