<div class="dialog" id="disable_mask">
</div>
<div class="dialog darkgrey_box">
  <div class="box box-shadow">
  <h2>Change Your Password</h2>
  <%= form_tag(:action => 'change_password') do %>
    <p>
      <%= label_tag :password, 'Current Password:' %><br/>
      <%= text_field_tag :password, nil, :type => 'password', :required => 'true', :size => '40' %>
    </p>
    <p>
      <%= label_tag :new_password, 'New Password:' %><br/>
      <%= text_field_tag :new_password, nil, :type => 'password', :autocomplete => 'off', :required => 'true', :size => '40' %>
    </p>
    <p>
      <%= label_tag :repeat_password, 'Repeat Password:' %><br/>
      <%= text_field_tag :repeat_password, nil, :type => 'password', :autocomplete => 'off', :required => 'true', :size => '40'%>
    </p>
    <input id="user" name="user" type="hidden" value="<%= user.login %>" />
    <div class="buttons">
      <%= submit_tag("Ok") %>
      <%= remove_dialog_tag('Cancel') %>
    </div>
  <% end %>
 </div>
</div>
