<div class="dialog" id="disable_mask">
</div>
<div class="dialog darkgrey_box">
  <div class="box box-shadow">
    <h2 class="box-header">Edit your account</h2>
    <%= form_tag(:action => 'save') do %>
      <input id="user" name="user" type="hidden" value="<%= user.login %>" />
      <% if user.globalrole and user.globalrole.include?('Admin') %>
        <input id="globalrole" name="globalrole" type="hidden" value="Admin" />
      <% end %>
      <input id="state" name="state" type="hidden" value="<%= user.state %>" />
      <p>
         <%= label_tag :realname, 'Name:' %><br/>
         <%= text_field_tag :realname, user.realname %>
      </p>
      <p>
        <%= label_tag :email, 'e-Mail:' %><br/>
        <%= text_field_tag :email, user.email %>
      </p>
      <div class="buttons">
        <%= submit_tag("Ok") %>
        <%= remove_dialog_tag('Cancel') %>
      </div>
    <% end %>
  </div>
</div>
