<% @pagetitle = "Please Login" %>

<% if PROXY_AUTH_MODE == :on %>
  <form action="<%= PROXY_AUTH_LOGIN_PAGE %>"
        method="post" enctype="application/x-www-form-urlencoded">
    <div>
      <input name="url" value="<%= "#{@return_to_host}#{@return_to_path}" %>" type="hidden" />
      <input name="context" value="default" type="hidden" />
      <input name="proxypath" value="reverse" type="hidden" />
      <input name="message" value="Please log In" type="hidden" />
    </div>
<% else %>
  <%= form_tag :controller => :user, :action => :do_login, :method => :post %>
<% end %>

  <div title="Account login" id="loginform" class="form">
    <h1><%= @pagetitle %></h1>
    <p>
      <label for="user_login">Username:</label>
      <input type="text" name="username" id="user_login" size="30" value=""/><br/><br/>
      <label for="user_password">Password:</label>
      <input type="password" name="password" id="user_password" size="30"/>
      <input name="return_to_path" value="<%= "#{@return_to_path}" %>" type="hidden" />
    </p>
    <p>
      <input type="submit" name="login" value="Login &#187;" class="primary" />
    </p>
  </div>

  <p>
    <% if PROXY_AUTH_MODE == :on %>
      Or
      <%= link_to "register", PROXY_AUTH_REGISTER_PAGE + "?%22#{@return_to_host}#{@return_to_path}%22" %>
      as a new user.
    <% else %>
      <% unless FRONTEND_LDAP_MODE == :on %>
        Or
        <%= link_to "register", :controller => :user, :action => :register_user %>
        as a new user.
      <% end %>
    <% end %>
  </p>
</form>
