<!-- FIXME: this shall become a generic request page -->
<% @pagetitle = "Welcome" %>

<h2>Welcome to <%= @configuration['nameprefix'] %></h2>

  <p>
  Please note that this service still runs in EXPERIMENTAL mode
  and we can't guarantee support should you encounter any problems
  or need help packaging.</p>

  <p>
  If you want to try to get support anyway, join us in the channel
  #opensuse-buildservice on freenode or
  <a href="mailto:opensuse-buildservice+subscribe@opensuse.org">subscribe</a> to the 
  <a href="http://lists.opensuse.org/opensuse-buildservice/">buildservice mailing list</a>.</p>

  <p>
  Also make sure you have read
  <a href="http://en.opensuse.org/openSUSE:Build_Service_application_blacklist">http://en.opensuse.org/openSUSE:Build_Service_application_blacklist</a>
  and understood why you can't build some packages in the <%= @configuration['nameprefix'] %>.</p>
  
  <p>
  You do NOT need an account to download packages. Please go to
  <a href="http://software.opensuse.org/search/">http://software.opensuse.org/search/</a>
  for searching and installing packages.
  </p>

  <p>Have fun building software.</p>
  <p>Your Build Service Team</p>
  
  <%= form_tag :controller => 'user', :action => 'register', :method => :post do %>
    <%= hidden_field_tag 'register', 'true' %>
    <%= submit_tag "Let me build my packages!" %>
  <% end %>

