!!! XML
%sitemapindex{ xmlns: 'http://www.sitemaps.org/schemas/sitemap/0.9' }
  %sitemap
    %loc= project_sitemap_url(format: :xml)
  %sitemap
    %loc= package_sitemap_url(project_name: 'main', format: :xml)
  - [*'a'..'z', *'A'..'Z'].each do |letter|
    %sitemap
      %loc= package_sitemap_url(project_name: "home:#{letter}", format: :xml)
  %sitemap
    %loc= package_sitemap_url(project_name: "opensuse", format: :xml)
