.list-group-item{ data: { interconnect: name } }
  .d-flex.w-100.justify-content-between
    %h5{ class: "#{'text-muted' unless exists}" }= title
    .text-primary.connected{ class: "#{'d-none' unless exists}" } Connected
    - unless exists
      - params = "project[name]=#{u(name)}&project[remoteurl]=#{remoteurl}&project[title]=#{title}&project[description]=#{description}"
      = button_tag data: { url: interconnects_path,
                           params: params,
                           remote: true,
                           disable_with: 'Connecting...',
                           method: :post },
                   class: 'btn btn-primary interconnect' do
        Connect
  %div{ class: "#{'text-muted' unless exists}" }
    %i.fa.fa-cubes{ class: "#{'text-secondary' if exists}" }
    = link_to_if(exists, name, project_show_path(project: name))
  %div{ class: "#{'text-muted' unless exists}" }
    %i.fas.fa-link
    = remoteurl
