.box-header.header-tabs
  %ul
    = tab 'configuration', 'Configuration', controller: '/webui/configuration', action: :index
    = tab 'architectures', 'Architectures', controller: '/webui/architectures', action: :index
    = tab 'users', 'Manage Users', controller: '/webui/user', action: :index
    = tab 'groups', 'Manage Groups', controller: '/webui/groups', action: :index
    = tab 'notifications', 'Notifications', controller: '/webui/subscriptions', action: :index
    = tab 'interconnect', 'Interconnect', controller: :interconnects, action: :new
