.accordion#accordion-reviews-component
  - if @declined_reviews_count.positive?
    .accordion-item
      %h2.accordion-header#heading-declined-reviews
        = render(ButtonComponent.new( css_custom: 'accordion-button',
                                      text: pluralize(@declined_reviews_count, 'Declined Review'),
                                      icon_type: 'times fas fa-fw fa-sm text-danger align-middle pe-4',
                                      button_data: { 'bs-toggle': 'collapse', 'bs-target': '#collapse-declined-reviews' },
                                      aria_data: { expanded: 'true', controls: 'collapse-declined-reviews' }))
      .accordion-collapse.collapse.show#collapse-declined-reviews{ 'aria-labelledby': 'heading-declined-reviews' }
        .accordion-body
          = render partial: 'webui/request/beta_show_tabs/review_summary', collection: @declined_reviews, as: :review

  - if @pending_reviews_count.positive?
    .accordion-item
      %h2.accordion-header#heading-pending-reviews
        = render(ButtonComponent.new( css_custom: 'accordion-button',
                                      text: pluralize(@pending_reviews_count, 'Pending Review'),
                                      icon_type: 'circle fas fa-fw fa-2xs text-warning align-middle pe-4',
                                      button_data: { 'bs-toggle': 'collapse', 'bs-target': '#collapse-pending-reviews' },
                                      aria_data: { expanded: 'true', controls: 'collapse-pending-reviews' }))
      .accordion-collapse.collapse.show#collapse-pending-reviews{ 'aria-labelledby': 'heading-pending-reviews' }
        .accordion-body
          = render partial: 'webui/request/beta_show_tabs/review_summary', collection: @pending_reviews, as: :review

  - if @accepted_reviews_count.positive?
    .accordion-item
      %h2.accordion-header#heading-accepted-reviews
        = render(ButtonComponent.new( css_custom: 'accordion-button collapsed',
                                      text: pluralize(@accepted_reviews_count, 'Accepted Review'),
                                      icon_type: 'check fas fa-fw fa-sm text-primary align-middle pe-4',
                                      button_data: { 'bs-toggle': 'collapse', 'bs-target': '#collapse-accepted-reviews' },
                                      aria_data: { expanded: 'false', controls: 'collapse-accepted-reviews' }))
      .accordion-collapse.collapse#collapse-accepted-reviews{ 'aria-labelledby': 'heading-accepted-reviews' }
        .accordion-body
          = render partial: 'webui/request/beta_show_tabs/review_summary', collection: @accepted_reviews, as: :review
