.d-flex.mt-3.align-items-start
  %i{ title: 'Comment', class: "fas fa-lg fa-comment #{ level > 1 ? 'd-none' : '' }" }
  = render(AvatarComponent.new(name: comment.user.name, email: comment.user.email, size: 35, shape: :circle, custom_css: 'avatars-counter'))
  .timeline-item-comment.ms-0.flex-fill.overflow-auto
    = render(CommentBubbleComponent.new(comment: comment, commentable: commentable, diff: diff, hideusername: @hideusername))

    - if level <= 3
      - comment.children.includes(:user).each do |children|
        = render BsRequestCommentComponent.new(comment: children, level: level + 1, commentable: commentable)

- if level > 3
  - comment.children.includes(:user).each do |children|
    = render BsRequestCommentComponent.new(comment: children, level: level + 1, commentable: commentable)
