.d-inline-flex
  = helpers.image_tag_for(comment.user, size: 35, custom_class: 'rounded-circle bg-light border border-gray-400 avatars-counter')
  %p
    %i.fas.fa-comment.text-dark{ title: 'Comment' }
    = link_to(helpers.realname_with_login(comment.user), user_path(comment.user))
    wrote
    = link_to("#comment-#{comment.id}", title: l(comment.created_at.utc), name: "comment-#{comment.id}") do
      #{time_ago_in_words(comment.created_at)} ago
.timeline-item-comment
  = helpers.render_as_markdown(comment)
  = render partial: 'webui/comment/reply', locals: { comment: comment, level: 0, commentable: commentable }
  - if level <= 3
    - comment.children.includes(:user).each do |children|
      = render BsRequestCommentComponent.new(comment: children, level: level + 1, commentable: commentable)

- if level > 3
  - comment.children.includes(:user).each do |children|
    = render BsRequestCommentComponent.new(comment: children, level: level + 1, commentable: commentable)
