- if multiple_types? || any_types_has_many_multiple_actions?
  .accordion#request-actions-accordion
    - types.each_with_index do |(type, actions), index|
      .accordion-item
        .accordion-button{ class: index == 0 ? '' : 'collapsed',
                           data: { 'bs-toggle': 'collapse', 'bs-target': "#collapse-#{type}" },
                           aria: { 'expanded': index == 0, 'controls': "#collapse-#{type}" } }
          %strong
            = actions.count
            = type.humanize.titleize
        .accordion-collapse.collapse.ms-0{ class: index == 0 ? 'show' : '',
                                           id: "collapse-#{type}",
                                           'data-bs-parent': '#request-actions-accordion' }
          .accordion-body.request-actions-accordion-body
            - actions.each do |action|
              .p-1
                = render BsRequestActionDescriptionComponent.new(action: action)
- else
  - types.map do |type, actions|
    - actions.each do |action|
      .pt-1
        = render BsRequestActionDescriptionComponent.new(action: action)
