.build-result.p-1.ps-3.p-sm-2.ps-sm-3.mx-2.mt-2{ class: "#{status_border_color(result_code)}",
                                            data: { 'bs-placement': 'auto',
                                                    'bs-toggle': 'popover',
                                                    'bs-html': 'true',
                                                    'bs-content': help,
                                                    'bs-offset': '50,0' } }
  .d-flex.align-items-baseline.mb-sm-2
    %span.fw-bold
      = result.architecture
    .build-status.ms-3.d-inline.d-sm-none
      = build_status_icon_with_link
    .repository-status.ms-3.d-inline.d-sm-none
      = repository_status_icon
    %i.fa-regular.fa-lg.fa-question-circle.text-info.ms-3
  .build-status.me-3.d-none.d-sm-block
    = build_status_icon_with_link
    %span
      = build_status
  .repository-status.d-none.d-sm-block
    = repository_status_icon
    %span
      = result.state
