- if raw_data.size.positive?
  .m-4
    .mb-4
      .btn.btn-outline-primary.float-end{ onclick: 'updateChartBuildResults()', accesskey: 'r', title: 'Refresh Chart Build Results' }
        Refresh
        %i.fas.fa-sync-alt{ id: 'chart-build-reload' }
      %h4
        Build Results Summary
    - if distinct_repositories.size > ChartComponent::MINIMUM_DISTINCT_BUILD_REPOSITORIES || raw_data.size > ChartComponent::MINIMUM_BUILD_RESULTS
      = column_chart( chart_data,
                      id: 'build-summary-chart',
                      width: '100%',
                      height: '300px',
                      stacked: true,
                      responsive: true,
                      colors: ['#008000', '#DC3545', '#FFCC00'],
                    )
      :javascript
        linkBuildSummaryChartToBuildResultsTab();
    - else
      %div
        .row.p-2.ps-1
          %b.col-3= Repository
          %b.col-9= Architecture
        - distinct_repositories.each do |repo|
          .row.p-1.align-items-start
            .col-3
              = repo
            .col-9.d-flex.flex-wrap.gap-1.justify-content-start.align-items-start
              - raw_data.each do |result|
                - if result[:repository] == repo
                  = render partial: 'webui/shared/build_status_badge', locals: { status: result[:status],
                                                                                 text: result[:status].humanize,
                                                                                 details: result[:details],
                                                                                 architecture: result[:architecture],
                                                                                 url: helpers.live_build_log_url(result[:status],
                                                                                                         result[:project_name],
                                                                                                         result[:package_name],
                                                                                                         result[:repository],
                                                                                                         result[:architecture]) }
