.modal.fade{ id: "#{modal_id}", tabindex: -1, role: 'dialog', aria: { labelledby: "#{modal_id}-label", hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.wrap-text.modal-title{ id: "#{modal_id}-label" }= modal_title
      .modal-body
        %p.wrap-text.confirmation-text= confirmation_text

        = form_tag(action, method: method, remote: remote) do
          .modal-footer
            %a.btn.btn-sm.btn-outline-secondary.px-4{ data: { 'bs-dismiss': 'modal' } }
              Cancel
            = submit_tag('Remove', class: 'btn btn-sm btn-danger px-4')

:javascript
  $(document).ready(function() {
    collectDeleteConfirmationModalsAndSetValues();
  });
