.pre.scroll
  .diff{ class: "digits-#{diff.max_digits}" }>
    - lines.each do |line|
      - id = file_index ? "diff_#{file_index}_n#{line.index}" : nil
      .line-container{ id: }
        %div{ class: "line #{line.state}" }>
          - case line.state
          - when 'comment', 'range'
            .offset
              .text-muted.text
                = line.content
          - else
            = link_to("##{id}", class: 'd-flex') do
              .number<
                = line.original_index
              .number<
                = line.changed_index
            .value<
              %span.character><
                = line.content[0]
              %span.content><
                = line.content[1..]
        - if commentable
          .line-comment{ id: "comment#{id}" }
            - if commented_lines.include?(id)
              - commentable.comments.where(diff_ref: id).each do |comment|
                .comments-thread.p-3
                  = render BsRequestCommentComponent.new(comment: comment, level: 1, commentable: commentable)
            - else
              .diff-comments
                -# rubocop:disable ViewComponent/AvoidGlobalState
                - if User.session
                  = link_to(request_inline_comment_path(commentable.bs_request, request_action_id: commentable, line: id),
                            class: 'btn btn-sm btn-primary line-new-comment', remote: true, title: 'Add comment') do
                    %i.fas.fa-comment-medical
                    .visually-hidden
                      Add comment
                -# rubocop:enable ViewComponent/AvoidGlobalState
