- diff_list.each_with_index do |(name, file_info), file_index|
  :ruby
    state = file_info['state']
    old_filename = file_info.dig('old', 'name')
    expanded = expand?(name, state, file_index)
  .accordion.mb-2{ id: "diff-list-#{name.parameterize}" }
    .accordion-item
      %h2.accordion-header
        %button.accordion-button.text-bg-light{ type: 'button', data: { 'bs-toggle': 'collapse',
                                                                        'bs-target': "#diff-item-#{name.parameterize}" },
                                                aria: { expanded: 'true', controls: "diff-item-#{name.parameterize}" },
                                                class: expanded ? '' : 'collapsed' }
          = render(DiffSubjectComponent.new(state:, old_filename:, new_filename: name))
      .accordion-collapse.collapse{ class: expanded ? 'show' : '',
                                    id: "diff-item-#{name.parameterize}",
                                    'data-object': view_id,
                                    data: {
                                      url: request_action_file_changes_path(@bs_request_number, @action_id, name),
                                      diff_to_superseded_id: @diff_to_superseded_id,
                                      file_index: file_index, commentable: commentable, commented_lines: commented_lines,
                                      source_file: source_file(old_filename), target_file: target_file(name)
                                    }
                                  }
        = render partial: 'webui/shared/loading', locals: { text: 'Loading file changes...' }

        :javascript
          var parent = $('#diff-item-#{name.parameterize}');
          // Take the parameters from the container data
          var url = parent.data('url');
          var diffToSupersededId = parent.data('diff-to-superseded-id');
          var fileIndex = parent.data('file-index');
          var commentable = parent.data('commentable');
          var commentedLines = parent.data('commented-lines');
          var sourceFile = parent.data('source-file');
          var targetFile = parent.data('target-file');
          var queryString = 'file_index=' + fileIndex;
          queryString += commentable ? '&commentable=' + commentable : '';
          queryString += commentedLines ? '&commented_lines=' + commentedLines : '';
          queryString += sourceFile ? '&source_file=' + sourceFile : '';
          queryString += targetFile ? '&target_file=' + targetFile : '';
          queryString += diffToSupersededId ? '&diff_to_superseded=' + diffToSupersededId : '';

          $.ajax({
            url: url + '?' + queryString,
            success: function() {},
            error: function() {
              $('#diff-item-#{name.parameterize} .result').text('Something went wrong while loading file changes.');
            }
          });
