.list-group.list-group-flush.my-2
  = render NotificationFilterLinkComponent.new(text: 'Unread', amount: @count['unread'],
                                               filter_item: { type: 'unread' }, selected_filter: @selected_filter)
  = render NotificationFilterLinkComponent.new(text: 'Read', filter_item: { type: 'read' },
                                               selected_filter: @selected_filter)
.list-group.list-group-flush.mt-5.mb-2
  %h5.ms-3 Filter
  = render NotificationFilterLinkComponent.new(text: 'Comments', amount: @count['Comment'],
                                               filter_item: { type: 'comments' }, selected_filter: @selected_filter)
  = render NotificationFilterLinkComponent.new(text: 'Requests', amount: @count['BsRequest'],
                                               filter_item: { type: 'requests' }, selected_filter: @selected_filter)
  = render NotificationFilterLinkComponent.new(text: 'Incoming Requests', amount: @count['incoming_requests'],
                                               filter_item: { type: 'incoming_requests' }, selected_filter: @selected_filter)
  = render NotificationFilterLinkComponent.new(text: 'Outgoing Requests', amount: @count['outgoing_requests'],
                                               filter_item: { type: 'outgoing_requests' }, selected_filter: @selected_filter)
  = render NotificationFilterLinkComponent.new(text: 'Roles Granted', amount: @count['relationships_created'],
                                               filter_item: { type: 'relationships_created' }, selected_filter: @selected_filter)
  = render NotificationFilterLinkComponent.new(text: 'Roles Revoked', amount: @count['relationships_deleted'],
                                               filter_item: { type: 'relationships_deleted' }, selected_filter: @selected_filter)
  = render NotificationFilterLinkComponent.new(text: 'Build Failures', amount: @count['build_failures'],
                                               filter_item: { type: 'build_failures' }, selected_filter: @selected_filter)

- unless @projects_for_filter.empty?
  .list-group.list-group-flush.mt-5.mb-2
    %h5.ms-3 Projects
    - @projects_for_filter.each_pair do |project_name, amount|
      = render NotificationFilterLinkComponent.new(text: project_name, amount: amount, filter_item: { project: project_name },
                                                   selected_filter: @selected_filter)
- unless @groups_for_filter.empty?
  .list-group.list-group-flush.mt-5.mb-2
    %h5.ms-3 Groups
    - @groups_for_filter.each_pair do |group_title, amount|
      = render NotificationFilterLinkComponent.new(text: group_title, amount: amount, filter_item: { group: group_title },
                                                   selected_filter: @selected_filter)
