.list-group-item.px-0.px-md-1.py-3
  .row
    .col-auto.pe-0
      .form-check
        = check_box_tag('notification_ids[]', @notification.id, false,
                        id: "notification_ids_#{@notification.id}", class: 'form-check-input')
        = label_tag("notification_ids_#{@notification.id}", '', class: 'form-check-label')
    .col-10
      .row
        .col
          = notification_icon
          = render NotificationNotifiableLinkComponent.new(@notification)
          %small.text-nowrap
            = render TimeComponent.new(time: @notification.created_at)
          - if @notification.notifiable_type == 'BsRequest'
            = render BsRequestStateBadgeComponent.new(bs_request: @notification.notifiable, css_class: 'ms-1')
        .col-auto.actions.ms-auto.align-self-end.align-self-md-start
          = render NotificationMarkButtonComponent.new(@notification, @selected_filter, @page, @show_more)
      .row.mt-1.ps-sm-4
        .col-auto.pe-0
          = render NotificationAvatarsComponent.new(@notification)
        .col-auto.ps-xs-2
          = render NotificationActionDescriptionComponent.new(@notification)
      .row.d-none.d-md-block.ps-4
        .col
          = render NotificationExcerptComponent.new(@notification.notifiable)
