.request-decision.mt-n1
  = form_tag({ action: 'changerequest' }, id: 'request_handle_form', class: 'write-and-preview',
    data: { preview_message_url: preview_comments_path, message_body_param: 'comment[body]' }) do
    = hidden_field_tag(:number, @bs_request.number)
    .pb-2{ 'data-canned-controller': '' }
      - if policy(Comment.new(commentable: @bs_request)).locked?
        .alert.alert-warning.mt-2{ role: 'alert' }
          Commenting on this is locked.
          - if CommentLockPolicy.new(User.session, @bs_request).create?
            = helpers.comment_lock_alert(@bs_request)
      .card
        %ul.card-header.nav.nav-tabs.px-3.pt-2.pb-0.disable-link-generation{ role: 'tablist' }
          %li.nav-item
            = link_to('Write', "#write_new_comment", class: 'nav-link active', data: { 'bs-toggle': 'tab' },
            role: 'tab', aria: { controls: 'write-comment-tab', selected: 'true'})
          %li.nav-item
            = link_to('Preview', '#preview_new_comment', class: 'nav-link preview-message-tab', data: { 'bs-toggle': 'tab' },
            role: 'tab', aria: { controls: 'preview-message-tab', selected: 'false' })
        .tab-content.px-3
          .tab-pane.fade.show.active.my-3{ id: 'write_new_comment', role: 'tabpanel',
                                          'aria-labelledby': 'write-comment-tab', 'data-canned-controller': '' }
            - if Flipper.enabled?(:canned_responses, User.session)
              .d-flex.justify-content-end
                = render CannedResponsesDropdownComponent.new(User.session.canned_responses.where(decision_type: nil).order(:title))
            = text_area_tag(:reason, nil,
                            placeholder: 'Write your comment or decision...(markdown is only supported for comments, not for decisions)',
                            rows: 4, class: 'w-100 form-control mb-2 message-field')
          .tab-pane.fade{ id: 'preview_new_comment', role: 'tabpanel', 'aria-labelledby': 'preview-message-tab' }
            .comment-preview.message-preview.my-3
      .mt-2
        - if @forward_allowed
          - @action.forward.each_with_index do |forward, index|
            .form-check.m-2
              = check_box_tag("forward-#{index}", "#{forward[:project]}_#_#{forward[:package]}", true,
                              class: 'form-check-input forward-check-inputs')
              %label.form-check-label{ for: "forward-#{index}" }
                Forward submit request to
                #{helpers.project_or_package_link(project: forward[:project], package: forward[:package], short: true)}
        - if policy(Comment.new(commentable:@bs_request)).create?
          = submit_tag 'Add comment', class: 'btn btn-primary me-2', data: { disable_with: 'Creating comment...' }, name: 'commented'
        - if policy(@bs_request).revoke_request?
          = submit_tag 'Revoke request', name: 'revoked', class: 'btn btn-danger me-2', data: other_decision_confirmation('revoke')
        - if policy(@bs_request).decline_request?
          = submit_tag('Decline request', name: 'declined', class: 'btn btn-danger me-2', data: other_decision_confirmation('decline'),
                        title: 'Decline the request, as the author of the request you can reopen it again.')
        - if policy(@bs_request).accept_request?
          -# Hidden checkbox input to flag make_maintainer option
          - if accept_with_options_allowed? && show_add_submitter_as_maintainer_option?
            .form-check.mb-2.mt-2.d-none
              = check_box_tag('add_submitter_as_maintainer_0', "#{@action.target_project}_#_#{@action.target_package}",
                              false, class: 'form-check-input')
          -# Accept buttons
          %span.dropdown.me-2
            = button_tag('Accept', type: 'button', role: 'button', id: 'decision-buttons-group', class: 'btn btn-secondary dropdown-toggle',
                          data: { 'bs-toggle': 'dropdown'}, aria: { 'haspopup': 'true', 'expanded': 'false' })
            .dropdown-menu{ aria: { labelledby: 'decision-buttons-group' } }
              -# Simple Accept request submit
              = submit_tag('Accept request', name: 'accepted', class: 'btn-link dropdown-item', data: confirmation,
                            title: 'Accept the request, this will apply the changes on the target.')
              -# Accept and make maintainer submit
              - if accept_with_options_allowed? && show_add_submitter_as_maintainer_option?
                = submit_tag("Accept and make #{@creator} maintainer of #{make_maintainer_of}",
                            name: 'accepted',
                            class: 'btn-link dropdown-item', data: confirmation,
                            title: 'Accept the request. this will apply the changes on the target.',
                            id: 'accept-and-make-maintainer')

        - if policy(@bs_request).reopen_request?
          = submit_tag 'Reopen request', name: 'new', class: 'btn btn-warning me-2', data: other_decision_confirmation('reopen')

:javascript
  attachPreviewMessageOnCommentBoxes();

  // Check the proper checkbox behind the scene on different type of accept submit
  $('#accept-and-make-maintainer').on('click', function(){
    $('input[name=add_submitter_as_maintainer_0]').prop('checked', 'checked');
  });
  $('#accept-and-make-maintainer-and-forward').on('click', function(){
    $('input[name=add_submitter_as_maintainer_0]').prop('checked', 'checked');
  });
