.row
  .col
    - if @action.diff_not_cached({ diff_to_superseded: @diff_to_superseded })
      .clearfix.mb-2.text-center
        .btn.btn-outline-primary.cache-refresh{ title: 'Refresh results', onclick: "loadChanges()" }
          Crunching the latest data. Refresh again in a few seconds
          %i.fas.fa-sync-alt{ id: "cache#0-reload" }
        = render partial: 'webui/shared/loading', locals: { text: 'Loading changes...', wrapper_css: ['loading', 'invisible'] }
    - else
      - (@action.webui_sourcediff({ diff_to_superseded: @diff_to_superseded })).each do |sourcediff|
        .clearfix.mb-2
          .btn-group.float-end
            %button.btn.btn-outline-secondary.expand-diffs{ data: { object: @action.source_package } }
              Expand all
            %button.btn.btn-outline-secondary.collapse-diffs{ data: { object: @action.source_package } }
              Collapse all

        - if sourcediff[:error]
          %p
            %i.error
              = sourcediff[:error]
        - else
          - if @action.webui_sourcediff({ diff_to_superseded: @diff_to_superseded }).length > 1
            %h4
              #{diff_label(sourcediff['new'])} – #{diff_label(sourcediff['old'])}
          - if sourcediff['filenames'].present?
            - diff_list = sourcediff['files'].sort_by { |k, _v| sourcediff['filenames'].find_index(k) }.to_h
            = render(DiffListComponent.new(diff_list:, view_id: @action.source_package, commentable:, source_package:,
                                           target_package:, source_rev: @action.source_rev))
          - else
            .mb-2
              %p.lead
                No source changes.
