.list-group-item.list-group-item-integrated.border-left-0.border-right-0
  .row
    .col-1
      %i.fa.fa-lg{ helpers.icon_for_status(@status_message) }
    .col
      = helpers.user_with_realname_and_icon(@status_message.user, short: true)
      wrote
      %u
        #{time_ago_in_words(@status_message.created_at)} ago
      - if policy(@status_message).destroy?
        .float-right
          = render(partial: 'webui/main/status_message_delete_dialog', locals: { status_message: @status_message })
          = link_to('#', data: { toggle: 'modal', target: "#delete-status-message-modal-#{@status_message.id}" }, title: 'Delete status message') do
            %i.fas.fa-times-circle.text-danger
      .mt-2.mb-0
        = helpers.render_as_markdown(@status_message.message)
