.card.m-1.p-2
  .card-body
    - if @token.name.present?
      %h5.card-title
        = @token.name
    - else
      %h5.card-title.font-italic No name
    %p.card-text
      = operation
    - if @token.package
      %p.card-text.text-word-break-all
        Package:
        = token_package_link
    - if @token.triggered_at.present?
      %p.card-text
        Last trigger on #{@token.triggered_at}
    .row
      .col
        - if policy(@token).edit?
          = link_to(edit_token_path(@token), title: 'Edit Token') do
            %i.fas.fa-edit
        - if policy(@token).show?
          = link_to(token_trigger_path(@token), title: 'Trigger Token') do
            %i.fas.fa-project-diagram
        = link_to '#', title: 'Delete Token',
          data: { toggle: 'modal', target: '#delete-token-modal', token_id: @token.id, action: token_path(@token) } do
          %i.fas.fa-times-circle.text-danger
