.navbar-nav.mb-4
  .nav.justify-content-end.py-2
    %button.navbar-toggler{ type: 'button', data: { toggle: 'watchlist' }, aria: { expanded: 'false', label: 'Toggle navigation' } }
      %i.fas.fa-times

  - if @object_to_be_watched && @object_to_be_watched.persisted?
    .nav-item.pb-2.mb-4.border-bottom.border-gray-500
      = link_to(toggle_watchable_path, method: :put, class: 'nav-link', remote: true) do
        - if object_to_be_watched_in_watchlist?
          %p.mb-0.text-light
            %i.fas.fa-times-circle
            %span= remove_from_watchlist_text
        - else
          %p.mb-0.text-light
            %i.fas.fa-plus-circle
            %span= add_to_watchlist_text

  = render WatchedItemsListComponent.new(items: projects, class_name: 'Project')
  = render WatchedItemsListComponent.new(items: packages, class_name: 'Package')
  = render WatchedItemsListComponent.new(items: bs_requests, class_name: 'BsRequest')

:javascript
  toggleCollapsibleTooltip();

  $(document).ready(function() {
    $('#delete-item-from-watchlist-modal').on('show.bs.modal', function (event) {
      var link = $(event.relatedTarget);
      $(this).find('.modal-title').text(link.data('modal-title'));
      $(this).find('.confirmation-text').text(link.data('confirmation-text'));
      $(this).find('form').attr('action', link.data('action'));
    });
  });
