- if object_to_be_watched_in_watchlist?
  = link_to('#', class: 'btn btn-outline-secondary text-nowrap',
            title: "Remove #{watchable_type_text} from watchlist",
            data: { 'bs-toggle': 'modal',
                    'bs-target': '#delete-item-from-watchlist-modal',
                    modal_title: "Do you want to remove this #{watchable_type_text} from the watchlist?",
                    confirmation_text: "Please confirm you want to remove this #{watchable_type_text} from the watchlist.",
                    action: toggle_watchable_path }) do
    %i.fas.fa-eye
    Unwatch
    - if @watch_count.positive?
      %span.badge.bg-secondary.rounded-pill= @watch_count

- else
  = link_to(toggle_watchable_path, method: :put, remote: true,
            class: 'btn btn-outline-secondary text-nowrap',
            title: "Add #{watchable_type_text} to watchlist") do
    %i.far.fa-eye
    Watch
    - if @watch_count.positive?
      %span.badge.bg-secondary.rounded-pill= @watch_count
