.navbar-nav.mb-4
  .nav.justify-content-end.py-2
    %button.navbar-toggler{ type: 'button', data: { toggle: 'watchlist' }, aria: { expanded: 'false', label: 'Toggle navigation' } }
      %i.fas.fa-times

  - if @object_to_be_watched && @object_to_be_watched.persisted?
    .nav-item.pb-2.mb-4.border-bottom.border-gray-500
      - if object_to_be_watched_in_watchlist?
        = link_to('#', class: 'nav-link',
                  data: { 'bs-toggle': 'modal',
                          'bs-target': '#delete-item-from-watchlist-modal',
                          modal_title: "Do you really want to remove this #{watchable_type_text} from the watchlist?",
                          confirmation_text: "Please confirm you want to remove this #{watchable_type_text} from the watchlist.",
                          action: toggle_watchable_path }) do
          %p.mb-0.text-light
            %i.fas.fa-times-circle
            %span Remove this #{watchable_type_text} from Watchlist
      - else
        = link_to(toggle_watchable_path, method: :put, class: 'nav-link', remote: true) do
          %p.mb-0.text-light
            %i.fas.fa-plus-circle
            %span Watch this #{watchable_type_text}

  = render WatchedItemsListComponent.new(items: projects, class_name: 'Project', current_object: @current_object)
  = render WatchedItemsListComponent.new(items: packages, class_name: 'Package', current_object: @current_object)
  = render WatchedItemsListComponent.new(items: bs_requests, class_name: 'BsRequest', current_object: @current_object)

:javascript
  toggleCollapsibleTooltip();
