.col-auto.text-start
  %i{ title: status_title, class: status_icon }
.col.text-start
  = link_to "#{hook_event.humanize} event", token_workflow_run_path(token_id, workflow_run)
  - if hook_action
    %span.ms-2.badge.text-bg-primary= hook_action.humanize
.col.text-start
  - if event_source_name
    - popover_content = render partial: 'webui/workflow_runs/event_links', locals: { hook_event: hook_event,
                                                                                     formatted_event_source_name: formatted_event_source_name,
                                                                                     event_source_name: event_source_name,
                                                                                     event_source_url: event_source_url }
    = link_to formatted_event_source_name, 'javascript:;', { class: 'link-secondary', tabindex: '0',
                                                             data: { 'bs-toggle': 'popover', 'bs-html': 'true', 'bs-trigger': 'focus',
                                                                     'bs-content': popover_content } }
  - else
    Unknown source
.col.text-end
  = workflow_run.created_at
