.col-auto.text-start
  %i{ title: status_title, class: status_icon }
.col.text-start
  = link_to "#{hook_event.humanize} event", token_workflow_run_path(workflow_run.token, workflow_run)
  - if hook_action
    %span.badge.bg-primary= hook_action.humanize
.col.text-start
  = link_to_if repository_url, repository_name, repository_url
  - if event_source_name
    = link_to formatted_event_source_name, event_source_url, { class: 'link-secondary' }
  - else
    Unknown source
.col.text-end
  = workflow_run.created_at
