%ul.nav.nav-tabs#workflow-run-tabs{ role: 'tablist' }
  %li.nav-item{ role: 'presentation' }
    %a.nav-link.active{ id: "incoming-webhook-tab#{id}", data: { toggle: 'tab' }, href: "#incoming-webhook-tab-content#{id}",
                        role: 'tab', aria: { controls: "incoming-webhook-tab-content#{id}", selected: 'true' } }
      Webhook from #{scm_vendor}
  %li.nav-item{ role: 'presentation' }
    %a.nav-link{ id: "artifacts#{id}", data: { toggle: 'tab' }, href: "#artifacts-tab-content#{id}",
                 role: 'tab', aria: { controls: "artifacts-tab-content#{id}", selected: 'false' } }
      Artifacts
.tab-content.p-3#workflow-run-tabs-content
  .tab-pane.fade.show.active{ id: "incoming-webhook-tab-content#{id}", role: 'tabpanel',
                              aria: { labelledby: "incoming-webhook-tab#{id}" } }
    %h5 Webhook URL
    %pre.border.p-2#response-url
      = response_url
    %h5 Webhook Request Headers
    %pre.border.p-2#request-headers
      = request_headers
    %h5 Webhook Response Body
    %pre.border.p-2#response-body
      = response_body
    %h5 Webhook Request Payload
    %pre.border.p-2#request-payload
      = pretty_request_payload
  .tab-pane.fade{ id: "artifacts-tab-content#{id}", role: 'tabpanel',
                  aria: { labelledby: "artifacts#{id}" } }
    %h5 Artifacts
    %ul
      = render(WorkflowArtifactsPerStepComponent.with_collection(artifacts))
