= form_tag(token_workflow_runs_path(token_id), method: :get,
            class: "d-flex px-3 py-2 list-group-item #{css_for_filter_item}") do
  .col-3
    = label_tag text.parameterize.underscore, "#{text}:", class: 'fs-6'
  .col-9.d-flex
    = text_field_tag(text.parameterize.underscore, '',
                      class: 'form-control form-control-sm mx-2',
                      placeholder: placeholder, value: selected_input_filter)
    = button_tag(text.parameterize.underscore, type: 'submit', title: 'Filter!',
                  class: "btn btn-sm px-3 btn-light border") do
      %i.fas.fa-magnifying-glass
