.col-1.text-left
  %i{ title: status_title, class: status_icon }
.col.text-left
  #{hook_event.humanize} event
  - if hook_action
    %span.badge.badge-primary= hook_action.humanize
.col.text-left
  = link_to_if repository_url, repository_name, repository_url
  - if hook_source_name
    = link_to formatted_hook_source_name, hook_source_url, { class: 'link-secondary' }
  - else
    Unknown source
.col.text-right
  = workflow_run.created_at
