= link_to(token_workflow_runs_path(@token, @filter_item),
          class: "list-group-item list-group-item-action #{css_for_link} d-flex justify-content-between") do
  %span
    = icon_tag
    = @text
  - if @amount.positive?
    %span= @amount
