%div{ style: 'margin-bottom: 1em; padding: 0.5em; background-color: #f5f5f5; border-left: 3px solid #17a2b8;' }
  %strong change_devel
  = "#{a['targetproject']}/#{a['targetpackage']} => #{a['sourceproject']}/#{a['sourcepackage']}"
