%p
  = event['commenter'].realname
  wrote in package #{event['project']}/#{event['package']}:
%div
  = render_as_markdown(event['comment_body'])
%p
  = link_to('View Comment', package_show_url(event['project'], event['package'], anchor: "comment-#{event['id']}", only_path: false, host: @host))
= render partial: 'event_mailer/footer', locals: { event: event, receiver_role: receiver_role, event_type: event_type }
