%p
  = event['commenter'].realname
  wrote in request #{event['number']}:
%div
  = render_as_markdown(event['comment_body'])
%p
  = link_to('View Comment', request_show_url(event['number'], anchor: "comment-#{event['id']}", only_path: false, host: @host))
= render partial: 'event_mailer/footer', locals: { event: event, receiver_role: receiver_role, event_type: event_type }
