%p
  = event['commenter'].realname
  wrote in project #{event['project']}:
%div
  = render_as_markdown(event['comment_body'])
%p
  = link_to('View Comment', project_show_url(event['project'], anchor: "comment-#{event['id']}", only_path: false, host: @host))
