%p
  Visit #{link_to(*[url_for(project: event['project'], package: event['package'], controller: 'webui/package', action: :show, only_path: false, host: @host)]*2)}
%p
  = event['commenter'].realname
  wrote in package #{event['project']}/#{event['package']}:
%div= render_as_markdown(event['comment_body'])
