- max_count = 12

.h5
  Contributions on #{date}
- if activities_per_date[:commits].present?
  = activity_date_commits(activities_per_date[:commits])
- if activities_per_date[:requests_created].present?
  .h6.mt-3
    = pluralize(activities_per_date[:requests_created].size, 'request')
    created
  .m-2.ml-3
    - count = activities_per_date[:requests_created].size - max_count
    - activities_per_date[:requests_created][0..(max_count - 1)].each do |number|
      = link_to(number, request_show_path(number))
    = "and #{count} more" if count > 0
- if activities_per_date[:requests_reviewed].present?
  .h6.mt-3
    = pluralize(activities_per_date[:requests_reviewed].values.sum, 'review')
    done
  .m-2.ml-3
    in requests:
    - count = activities_per_date[:requests_reviewed].size - max_count
    - activities_per_date[:requests_reviewed].keys[0..(max_count - 1)].each do |number|
      = link_to(number, request_show_path(number))
    = "and #{count} more" if count > 0

- if activities_per_date[:comments] > 0
  .h6.mt-3
    = pluralize(activities_per_date[:comments], 'comment')
    written
