- case action_name
  - when 'index'
    = render partial: 'webui/configuration/breadcrumb_items'
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Manage Users
  - when 'new'
    - if User.session
      = render partial: 'webui/configuration/breadcrumb_items'
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      = @pagetitle.capitalize
  - when 'show'
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      - if feature_enabled?('user_profile_redesign') && @is_displayed_user
        Your Profile
      - else
        Profile of #{@displayed_user}
  - when 'edit'
    = render partial: 'webui/configuration/breadcrumb_items'
    %li.breadcrumb-item
      = link_to('Manage Users', users_path)
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      = @displayed_user
