:ruby
  @pagetitle = "Profile of #{@displayed_user}"

  content_for(:meta_title, @pagetitle)
  content_for(:meta_image, gravatar_url(@displayed_user.email))

.row
  - if feature_enabled?('user_profile_redesign')
    .col-12.col-md-4.col-xxl-3
      = render partial: 'webui/user/user_profile_redesign/info', locals: { user: @displayed_user,
                                                                           is_user: @is_displayed_user,
                                                                           groups: @groups,
                                                                           role_titles: @role_titles,
                                                                           configuration: @configuration,
                                                                           account_edit_link: @account_edit_link }
    .col-12.col-md-8.col-xxl-9.pl-md-0
      - locals = { displayed_user: @displayed_user,
                   owner_root_project_exists: @owner_root_project_exists,
                   filters: @filters,
                   involved_items: @involved_items,
                   involved_items_as_owner: @involved_items_as_owner }
      - locals.merge!({ activity_hash: @activity_hash,
                        first_day: @first_day,
                        last_day: @last_day,
                        date: @date,
                        activities_per_date: @activities_per_date }) unless CONFIG['contribution_graph'] == :off
      = render partial: 'webui/user/user_profile_redesign/involvement_and_activity', locals: locals
  - else
    .col-12.col-md-4.col-lg-3
      = render partial: 'webui/user/info', locals: { user: @displayed_user,
                                                     is_user: @is_displayed_user,
                                                     groups: @groups,
                                                     role_titles: @role_titles,
                                                     configuration: @configuration,
                                                     account_edit_link: @account_edit_link }
    .col-12.col-md-8.col-lg-9
      - unless CONFIG['contribution_graph'] == :off
        = render partial: 'webui/user/activity', locals: { activity_hash: @activity_hash,
                                                           first_day: @first_day,
                                                           last_day: @last_day,
                                                           user: @displayed_user,
                                                           date: @date,
                                                           activities_per_date: @activities_per_date }
      = render partial: 'webui/user/involvement', locals: { user: @displayed_user,
                                                            owned: @owned,
                                                            involved_projects: @iprojects,
                                                            involved_packages: @ipackages }

= render partial: 'webui/user/password_dialog', locals: { user: @displayed_user }
= render partial: 'webui/user/edit_dialog', locals: { user: @displayed_user }
