<div id="building_all">
  <%
  max_clients = @workerstatus['clients']
  build_count = @workerstatus.elements('building').length
%>
  <h2>Building</h2>
  <% if build_count > 0 %>
    <p class="info">Hover the job time field to see the start time.</p>
    <p class="info"><%= @configuration['title'] %> reports <%= build_count %> running jobs.</p>

    <%= render :partial => 'building_table' %>

    <h3>Legend</h3>
    <div>
      <div style="float: left; margin-right: 10px"><%= distance_of_time_in_words(@time_now, @dead_line, true) -%></div>
      <% @max_color.downto(0) do |n| -%>
        <% color = "rgb(255,#{n},0)" %>
        <div style="background-color: <%= color %>; margin: 0px; width: 3px ; height: 1em; float: left;">&nbsp;</div>
      <% end -%>
      <div style="float: left; margin-left: 10px"><%= distance_of_time_in_words(@time_now, @dead_line-(@max_color*@interval_steps*60), true) -%></div>
      <div class="clear"/>
    </div>
  <% else %>
    <div class="info">
      <% if max_clients %>
        <% if (@project_filter) %>
          No package of the "<%= @project_filter %>" project is building. Maybe remove the filter?:)
        <% else %>
          None of the <%= max_clients %> hosts is working atm!
        <% end %>
      <% else %>
        Nothing to do here!
      <% end %>
    </div>
  <% end %>
</div>
<div class="clear"></div>
