<div id="idlehosts">
  <h2>Idle hosts</h2>
  <% idlehosts = @workerstatus.elements('idle') %>
  <%  if idlehosts.length > 0 %>
    <p>
      <%= idlehosts.length %> of <%= pluralize(@workerstatus['clients'], 'host') %> idle.
    </p>
    <table class="building">
      <tr><th>Host</th><th>Arch</th></tr>
      <% idlehosts.each do |b| %>
      <tr><td><%= b["workerid"] %></td><td><%= b["hostarch"] %></td></tr>
      <% end %>
    </table>
  <% else %>
    <p>
      None of the <%= pluralize(@workerstatus["clients"], 'host') %> idle.
    </p>
  <% end %>
</div>
