<%= content_for :ready_function do %>
  monitor_ready();
<% end %>

<div id="serverstatus" class="statuslights">
  <h2>Server Status</h2>
  <% @workerstatus.elements("partition") do |part| -%>
  <% unless part["name"].blank? -%>
    <h3><%= part["name"] %></h3>
  <% end -%>
  <% if part.has_key? "daemon" -%>
    <ul>
      <% part.elements("daemon") do |daemon| -%>
        <li class="daemon_status">
          <div class="statuswrapper">
            <%
            state="green"
            if daemon["state"] == "dead"
              state="red"
            elsif daemon["state"] == "booting"
              state="yellow"
            end
          %>
            <div class="statuslight <%= "status_" + state %>" style="margin: auto"></div>
            <div class="statusarch">
              <%= daemon["arch"] ? daemon["arch"] : daemon["type"] %>
            </div>
            <span class="hidden statustext">
              <%= daemon["type"] %>:<%=daemon["arch"] %>: <%= daemon["state"] %>
              <% if daemon.has_key? "starttime" -%>
                <% start_time = Time.at(daemon["starttime"].to_i) -%>
                for <%= distance_of_time_in_words(@time_now, start_time, include_seconds: true) %> (last restart: <%= start_time.iso8601 %>)
              <% end -%>
            </span>
          </div>
        </li>
      <% end -%>
    </ul> <br/>
  <% else -%>
    <p><i>No daemons running!</i></p>
  <% end -%>
  <br/>
  <% end -%>
</div>
<div class="clear"></div>
