- if url
  = link_to url, class: "badge #{build_status_category_color(status)} clickable", title: 'Live build log' do
    %i.fa.me-2{ class: build_status_icon(status), title: status.humanize }
    %span.architecture #{architecture} :
    = text
- else
  %span.badge{ class: build_status_category_color(status), title: details }
    %i.fa.me-2{ class: build_status_icon(status) }
    %span.architecture #{architecture} :
    = text
