- if url
  - popover_content = render partial: 'webui/shared/build_status_badge_links', locals: { url: url, rpm_lint_url: rpm_lint_url }

  %button{ class: "btn badge #{build_status_category_color(status)} build_status",
         data: { 'bs-toggle': 'popover', 'bs-html': true, 'bs-content': popover_content } }
    %i.fa.me-2{ class: build_status_icon(status), title: status.humanize }
    %span.architecture #{architecture} :
    = text
- else
  %span.badge{ class: build_status_category_color(status), title: details }
    %i.fa.me-2{ class: build_status_icon(status) }
    %span.architecture #{architecture} :
    = text

:javascript
  $(function () {
    $('button.badge.build_status[data-bs-toggle="popover"]').popover({
      html: true,
      trigger: 'focus',
      container: 'body',
      placement: 'top'
    });
  });
