<html>
<head>
  <title>Open Build Service API</title>
  <%= stylesheet_link_tag "opensuse", :media => "all" %>
</head>
<body>
<div id="banner">
  <div id="innerbanner">
    <div id="logo"><img src="/images/opensuse.gif"/></div>
    <div id="title">OBS API</div>
  </div>
</div>

  <div id="main">
    <% if flash[:note] %>
    <div id="notice"><%= flash[:note] %></div>
    <% end %>
    <% if flash[:error] %>
    <div id="error"><%= flash[:error] %></div>
    <% end %>
    <%= @content_for_layout %>
  </div>
  <div id="bottom">
    <a href="http://build.opensuse.org">Open Build Service Web Interface</a> |
    <%= link_to "API Startpage", :controller => "/main",
      :action => "index" %> |
    <a href="http://www.open-build-service.org">Open Build Service Home</a>
    <a href="http://www.opensuse.org">openSUSE Home</a>
    &nbsp;Logged in as 
    <%- if http_user %>
      <%= http_user.login %>
    <%- else %>
      anonymous
    <%- end %>
    </div>

