<h2>Editing User <%=h @user.login %></h2>

<% form_tag :action => 'update', :id => @user do %>
  <%= render(:partial => "form") %>

  <%= submit_tag "Apply Changes", :name => 'submit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'list' %>
