<% @pagetitle = "Group Management" %>
<% @crumb_list = [@pagetitle] -%>
<% @layouttype = 'custom' %>

<div class="grid_16 alpha omega box box-shadow">
  <%= render :partial => 'webui/configuration/tabs' %>
  <p>
    Manage groups.
  </p>

  <% unless @groups.empty? %>
      <table id="group_table" class="compact">
        <thead>
        <tr>
          <th>Group name</th>
          <th>Members</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @groups.each do |group| %>
            <tr id="group-<%= valid_xml_id(group.title) %>">
              <td><%= link_to(group.title, { :controller => 'groups', :action => 'show', title: group.title }, { id: group.title }) %></td>
              <td class='users'>
                <% group.groups_users.each_with_index do |member, index| %>
                  <%= link_to(member.user, user_show_path(member.user)) %><%= ', ' if index < group.groups_users.size - 1 %>
                <% end %>
              </td>
              <td class="nowrap">
                <%= link_to(sprited_text('accessories-text-editor', 'Edit Group'), {:controller => 'groups', :action => 'edit', title: group.title}) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <p>
        <i>There are no groups configured</i>
      </p>
  <% end %>
  <p><%= link_to sprited_text('group_add', 'Add group'), :controller => 'groups', :action => :new %></p>
</div>


<%= javascript_tag do %>
    $(function() {
    <% if @groups.length > 0 %>
        $('#group_table').dataTable();
    <% end %>
    });
<% end %>
