<% @pagetitle = @package %>
<% patchinfo_bread_crumb 'Patchinfo' -%>
<%= render :partial => "package/tabs" %>

<div class="section">
  <div class="box show_left show_right">
    <h2 style="display: inline"><%=h @package%></h2>
    <span>
      <% if @project.is_maintainer?( session[:login] ) || @package.is_maintainer?( session[:login] ) %>
        <span>
          <%= link_to image_tag('icons/package_edit.png', :title => 'Edit Patchinfo'), :action => :edit_patchinfo, :project => @project, :package => @package, :spec_count => @spec_count %>
        </span>

        <span>
          <%= link_to image_tag('icons/package_delete.png', :title => 'Remove Patchinfo'), {:action => :remove, :project => @project, :package => @package},
            {:confirm => "Really remove '#{@package}'?", :method => :post } %>
        </span>
      <% end %>
    </span>
  </div>
  <table class="patchinfo">
    <tr>
      <th>Packager: </th>
      <td>
        <%=@packager%>
      </td>
    </tr>
    <tr>
      <th>Binaries: </th>
      <td>
        <% @binaries.each do |d| %>
          <%= d.to_s%> <br/>
        <%end%>
      </td>
    </tr>
    <tr>
      <th>Issues: </th>
      <td>
        <% @issues.each do |issue| %>
         <%= link_to "#{issue[1].to_s} #{issue[0].to_s}", issue[2].to_s%>: <%= issue[3].to_s %>
         <br/>
        <%end%>
      </td>
    </tr>
    <tr>
      <th>Category: </th>
      <td>
        <%=@category%>
      </td>
    </tr>
    <tr>
      <th>Rating: </th>
      <td>
        <%= @rating%>
      </td>
    </tr>
    <tr>
      <th>Summary: </th>
      <td>
        <%=@summary%>
      </td>
    </tr>
    <tr>
      <th>Description: </th>
      <td>
        <%=@description%>
      </td>
    </tr>
    <tr>
      <th>Relogin needed? </th>
      <td>
        <%=@relogin%>
      </td>
    </tr>
    <tr>
      <th>Package-manager restart needed? </th>
      <td>
        <%=@zypp_restart_needed%>
      </td>
    </tr>
    <tr>
      <th>Reboot needed? </th>
      <td>
        <%=@reboot%>
      </td>
    </tr>
    <% if @block %>
      <tr style="background-color:red;"><th>Blocked:</th><td><%=@block_reason%></td></tr>
    <%end%>
  </table>
</div>
