<% @pagetitle = @package %>
<% patchinfo_bread_crumb 'Patchinfo' -%>
<%= render :partial => "package/tabs" %>

<div class="section">
  <div class="grid_8 alpha">
  <div class="box show_left show_right">
    <div class="box" style="background-color:#DDDDDD; margin-top: 0">
    <h2 style="display: inline"><%= @category %> update for <%= truncate(@pkg_names.join(", "), :length => 20) %></h2>
      <% if @package.can_edit?(@user) %>
        <ul class="horizontal-list">
          <li><%= link_to sprite_tag('package_edit'), :action => 'edit_patchinfo', :project => @project, :package => @package, :spec_count => @spec_count -%>
            <%= link_to "Edit patchinfo", { :action => 'edit_patchinfo', :project => @project, :package => @package, :spec_count => @spec_count }, id: 'edit-patchinfo' -%></li>

          <li><%= link_to(sprite_tag('package_delete'), {:action => :delete_dialog, :package => @package, :project => @project}, :remote => true) %>
            <%= link_to('Delete patchinfo', {:action => :delete_dialog, :package => @package, :project => @project}, :remote => true, id: 'delete-patchinfo') %></li>
        </ul>
      <% end %>
</div>
    <% if @block %>
      <div class="box ui-state-error ui-widget-shadow" style="min-height:15px;">
        <b>This update is currently blocked:</b><br/>
        <% if !@block_reason.blank? %>
          <%=@block_reason %>
        <% else %>
          No reason entered.
        <% end %>
      </div>
    <% end %>
    <strong id="summary"><%= @summary %></strong><br/>
    <% if @packager %>
      <label id="info">This update was submitted from <%=  render :partial => 'shared/user_with_realname_and_icon', :locals => {:user => @packager.login} %> and rated as <span style="color: <%=patchinfo_rating_color(@rating)%>"><%=@rating%></span></label>
    <% else %>
      <label id="info">This update is rated as <span style="color: <%=patchinfo_rating_color(@rating)%>"><%=@rating%></span></label>
    <% end %>
  </div>
     <div class="box show_left show_right">
       <b>Description:</b><br/>
    <%= description_wrapper(@description) %>
  </div>
    <div class="box show_left show_right">
      <b>Fixed bugs:</b>
      <% unless @issues.blank? %>
        <ul>
          <% @issues.each do |issue| %>
            <%= issue_link(issue) %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="box show_left show_right">
      <b>Required actions:</b><br/>
      <ul><li>
          Relogin suggested:
          <% if @relogin==true %>
            <%= image_tag "ok.png" %>
          <% else %>
            <%= image_tag "req-decline.png" %>
          <%end%>
        </li>
        <li>
          Reboot suggested:
          <% if @reboot == true %>
            <%= image_tag "ok.png" %>
          <% else %>
            <%= image_tag "req-decline.png" %>
          <%end%>
        </li>
        <li>
          Package-manager restart:
          <% if @zypp_restart_needed == true %>
            <%= image_tag "ok.png" %>
          <% else %>
            <%= image_tag "req-decline.png" %>
          <%end%>
        </li></ul>
    </div>
    <% if !@binaries.empty? %>
    <div class="box show_left show_right">
      <b>Selected binaries:</b><br/>
      <ul>
        <% @binaries.each do |bin| %>
        <li><%=bin%></li>
        <%end%>
      </ul>
    </div>
    <%end%>
  </div>
</div>
