<% @pagetitle = @package %>
<% patchinfo_bread_crumb 'Patchinfo' -%>

<div class="section">
<div class="box show_left show_right">
<h2 style="display: inline"><%=h @package%></h2>
<span>
      <% if @project.is_maintainer?( session[:login] ) || @package.is_maintainer?( session[:login] ) %>
  <span>
    <%= link_to image_tag('icons/package_edit.png', :title => 'Edit Patchinfo'), :action => :edit_patchinfo, :project => @project, :package => @package, :spec_count => @spec_count %>
  </span>

  <span>
    <%= link_to image_tag('icons/package_delete.png', :title => 'Remove Patchinfo'), {:action => :remove, :project => @project, :package => @package},
            {:confirm => "Really remove '#{@package}'?", :method => :post } %>
  </span>
<% end %>
</span>
</div>
<table class="patchinfo">
<tr>
  <th>Packager: </th>
  <td>
    <%=@packager%>
  </td>
</tr>
<tr>
  <th>Binaries: </th>
  <td>
    <% i=0 %>
    <% @binaries.each do |d| %> 
      <%= d.to_s%> |
      <% i=i+1 %>
      <% if i.modulo(3) == 0 %>
        <br/>
      <%end%>
    <%end%>
  </td>
</tr>
<tr>
  <th>Bugzilla: </th>
  <td>
    <% i=0 %>
    <% @buglist.each do |a| %>
      <% a.each do |bug| %>
        <%= bug.to_s%>
      <%end%>
      |
      <% i=i+1 %>
      <% if i.modulo(4) == 0 %>
        <br/>
      <%end%>
    <%end%>
  </td>
</tr>
<tr>
  <th>Swamp-ID: </th>
  <td>
    <%=@swampid%>
  </td> 
</tr>
<tr>
  <th>Category: </th>
  <td>
    <%=@category%>
  </td>
</tr>
<tr>
  <th>Summary: </th>
  <td>
    <%=@summary%>
  </td>
</tr>
<tr>
  <th>Description: </th>
  <td>
    <%=@description%>
  </td>
</tr>
<tr>
  <th>Relogin needed? </th>
  <td>
    <%=@relogin%>
  </td>
</tr>
<tr>
  <th>Reboot needed? </th>
  <td>
    <%=@reboot%>
  </td>
</tr>
</table>
</div>
