<% level ||= 1 %>
<% if children and !children.empty? %>
  <% children.each do |comment| %>
    <div class="comment_child <%= 'comment_odd' if level.odd? %>"
         style="<%= "margin-left: #{level * 10}px;" if level <= 4 %><%= "padding: 20px 20px 20px 0;" if level <= 3 %>">
      <%= user_icon(comment['user'], 24, 'comment_image')%>
      <%=comment['user']%>
      <br />
      <span class="comment_time"><%= distance_of_time_in_words_to_now(DateTime.parse(comment['created_at'])) %> ago:</span>
      <%=simple_format(comment['body']) %>
      <%=render :partial => "comment/links", :locals => {:comment => comment } %>
      <%=render :partial => "comment/reply", :locals => {:comment => comment, level: level } %>
    <% unless comment['children'].empty? %>
      <%= render partial: 'comment/child', locals: {children: comment['children'], level: level+1 } %>
    <% end %>
    </div>
  <% end %>
<% end %>
