<%= javascript_tag do %>
function sz(t) {
a = t.value.split('\n');
b=1;
for (x=0;x < a.length; x++) {
 if (a[x].length >= t.cols) b+= Math.floor(a[x].length/t.cols);
 }
b+= a.length;
 if (b > t.rows) t.rows = b;
};
<%end%>
<% if @user %>
	<%= form_tag :action => "save_comment" do %>
	<p>	  
	  <%= text_field_tag 'title',@title, :placeholder => "Comment Title"%>
	</p>
	<p> 
	  <%= text_area_tag 'body', nil, :size => "80x1", :onkeyup => "sz(this);", :onclick => "sz(this);", :style => "width: 90%;", :placeholder => "Comment Text" %>	  
	</p>
	<p><%= submit_tag "Add comment"%></p>
	<%end%>
<% end %>
