#newLabelModal.modal.fade{ tabindex: "-1", role: "dialog", aria: { labelledby: "newLabelModalLabel", hidden: "true" } }
  .modal-dialog.modal-dialog-centered{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title#newLabelModalLabel New Label
        %button.close{ aria: { label: "Close" }, type: "button", data: { dismiss: "modal" } }
          %span{ aria: { hidden: "true" } } &times;
      .modal-body
        = form_tag project_labels_path, method: :post, remote: true do
          .form-group
            = label_tag 'label[name]', 'Name'
            = text_field_tag 'label[name]', nil, class: 'form-control', id: 'new-label-name'
          .form-group
            = label_tag 'label[description]', 'Description'
            = text_area_tag 'label[description]', nil, class: 'form-control', id: 'new-label-description'
          %br
          = submit_tag 'Save', class: 'btn btn-primary'