
<p>Please login with your openSUSE credentials.</p>

<% @return_to_path ='' %>

<% if CONFIG['proxy_auth_mode'] == :on %>
  <div>
    <%= form_tag(CONFIG['proxy_auth_login_page'], :method => :post, :id => 'login_form', :enctype => 'application/x-www-form-urlencoded') do %>
      <%= hidden_field_tag(:url, "#{@return_to_host}#{@return_to_path}") %>
      <%= hidden_field_tag(:context, 'default') %>
      <%= hidden_field_tag(:proxypath, 'reserve') %>
      <%= hidden_field_tag(:message, 'Please log in') %>
      <%= hidden_field_tag(:return_to_path, @return_to_path) %>
      <table class="vertical">
        <tr>
          <td>Username</td>
          <td>
            <input name="username" size ='15' maxlength='50' />
          </td>
        </tr><tr>
          <td>Password</td>
          <td>
            <input name="password" type="password" size ='15' maxlength='50' />
          </td>
        </tr><tr>
          <td colspan="2" align="right">
            <%= submit_tag "Login" %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= link_to "Forgot your password?", "https://secure-www.novell.com/selfreg/jsp/forgotPassword.jsp" %> <br/>
            <%= link_to "Create an account", "https://secure-www.novell.com/selfreg/jsp/createOpenSuseAccount.jsp?target=http://features.opensuse.org" %>

          </td>
        </tr>
      </table>
    <% end %>
  </div>
<% else %>

  <div id="login-form">
    <%= form_tag( :controller => :user, :action => :do_login ) do %>
      <%= hidden_field_tag(:return_to_path, @return_to_path) %>
      <table class="vertical">
        <tr>
          <td>Username</td>
          <td>
            <input name="username" size ='15' maxlength='50' />
          </td>
        </tr><tr>
          <td>Password</td>
          <td>
            <input name="password" type="password" size ='15' maxlength='50' />
          </td>
        </tr><tr>
          <td colspan="2" align="right">
            <%= submit_tag "Login" %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>

<% end %>
