%h3= 'Sign in with SSO'

.form-group
  %p Sign in with your external account:
  .form-inline
    - CONFIG['sso_auth'].each do |name, options|
      = form_tag "#{sso_path}/#{name}", method: 'post', class: 'px-1' do
        = button_tag options['description'], class: 'btn btn-outline-dark'
