<script language="Javascript">
  function doBeforeSubmit(cancel) {
    var myform = document.querySelector("#myform");
    if (myform.reportValidity()) {
      
      //Clear the flash message 
      $('#flash').html('');
      
      //Show the loading message 
      var message = document.querySelector("#message");
      message.style.display = "block";

      //Clear output value
      var output = document.querySelector("#output");
      output.value = "";

      return true;
    }
    return false;
  }
</script>
<% @pagetitle = "Check upgrade for #{@package}" %>
<% @id = @packageCheckUpgrade.id %>
<!-- Show actions for this page only if id is present --> 
<% if @id.present? %>
  <%= render partial: 'show_actions', locals: { packageCheckUpgrade: @packageCheckUpgrade} %>
<% end %>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h3>
          <%= @pagetitle %>
        </h3>
      </div>
      <div class="col-12 col-md-9 col-lg-6">
        <%= form_for(:packageCheckUpgrade, html: { id: "myform" }, remote: true, url: project_package_checkupgrade_index_path(@project, @package)) do |f| %>
          <!--Hidden Fields-->
          <%= f.hidden_field(:id, id: "id") %>
          <%= f.hidden_field(:package_id, value: @package.id) %>
          <%= f.hidden_field(:state, id: "state") %>
          <div class="form-group">
            <%= f.label("Url") %>
            <abbr class="text-danger" title="required">*</abbr>
            <%= f.text_field(:urlsrc, size: 80, required: true, class: 'form-control', placeholder: 'Enter the url', autofocus: true, value: "https://archive.eclipse.org/eclipse/downloads/") %>
          </div>
          <div class="form-group">
            <%= f.label("Regex url") %>
            <abbr class="text-danger" title="required">*</abbr>
            <%= f.text_field(:regexurl, size: 80, required: true, class: 'form-control', placeholder: 'Enter the regular expression for the url', value: "drops[\\w]*/R-[\\d]+[.][\\w]*[.]*[\\w]*-[\\w]+/") %>
          </div>
          <div class="form-group">
            <%= f.label("Regex Version") %>
            <abbr class="text-danger" title="required">*</abbr>
            <%= f.text_field(:regexver, size: 80, required: true, class: 'form-control', placeholder: 'Enter the regular expression for the version', value: "[\\d]+[.][\\w]*[.]*[\\w]*") %>
          </div>
          <div class="form-group">
            <%= f.label("Current version") %>
            <abbr class="text-danger" title="required">*</abbr>
            <%= f.text_field(:currentver, size: 80, required: true, class: 'form-control', placeholder: 'Enter the version', value: "4.7.3") %>
          </div>
          <div class="form-group">
            <%= f.label("Separator") %>
            <abbr class="text-danger" title="required">*</abbr>
            <%= f.text_field(:separator, maxlength: 1, required: true, size: 10, class: 'form-control', placeholder: 'Enter the separator', value: ".") %>
          </div>
          <div class="form-group">
            <%= f.submit('Run check', class: 'btn btn-primary px-4', onclick: 'return doBeforeSubmit();') %>
          </div>
          <div id="message" class="row justify-content-center" style="display: none;">
            <div class="col-12">
              <div class="alert alert-dismissible fade show alert-notice">
                <i class="fas"></i>
                  Please, wait a moment ....
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label("Output") %>
            <%= f.text_area(:output, id: "output", readonly: true, cols: 60, rows: 5, class: 'form-control') %>
          </div>
          <% if ! @packageCheckUpgrade.id.present? %>
            <div class="form-group" id="createDiv" style="display: none;">
              <%= f.submit('Create', class: 'btn btn-primary px-4', onclick: 'return doBeforeSubmit();') %>
            </div>
          <% end %>
          <% if @packageCheckUpgrade.id.present? and @packageCheckUpgrade.state == 'error' %>
              <div class="form-group" id="modifyDiv" style="display: none;">
                <%= f.submit('Update', class: 'btn btn-primary px-4', onclick: 'return doBeforeSubmit();') %>
              </div>              
          <% elsif @packageCheckUpgrade.id.present? and @packageCheckUpgrade.state != 'error' %>
              <div class="form-group" id="modifyDiv" >
                <%= f.submit('Update', class: 'btn btn-primary px-4', onclick: 'return doBeforeSubmit();') %>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @id.present? %>
  <%= render partial: 'delete_check_upgrade', locals: { packageCheckUpgrade: @packageCheckUpgrade } %>
<% end %>