<%= content_for :content_for_head do %>
  <%= auto_discovery_link_tag(:rss, {:controller => 'main', :action => 'latest_updates', :format => 'rss'}, {:title => 'Latest updates'}) %>
<% end %>

<div class="box box-shadow">
  <h2 class="box-header">
    Latest Updates
    <%= link_to('', { :action => 'latest_updates', :format => 'rss'}, { class: "alignright icons-feeds", title: "RSS Feed" }) %>
  </h2>
  <table>
    <tbody>
      <% @latest_updates.each do |update| %>
        <tr>
           <td>
            <% if update.element_name == 'package' %>
              <%= sprite_tag 'package' %>
	      <%= link_to(elide(update.name, 20), :controller => 'package', :action => 'show', :project => update.project, :package => update.name) %>
            <% elsif update.element_name == 'project' %>
              <%= sprite_tag 'project' %>
	      <%= link_to(elide(update.name, 20), :controller => 'project', :action => 'show', :project => update.name) %>
            <% end %>
          </td>
          <td class="nowrap" style="width: 1%"><%= fuzzy_time_string(update.updated) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
