<% if (@news and @news.count.to_i > 0) or (@user and @user.is_admin?) %>
  <div class="box box-shadow">
    <div class="box-header aligncenter">News</div>

    <% if @news.count.to_i > 0 %>
      <table style="width: 95%">
        <tbody>
          <% @news.each_message do |msg| %>
            <tr id="message_<%= msg.msg_id %>">
              <td>
                <% case msg.severity.to_i %>
                  <% when 3 %>
                    <%= image_tag('icons/exclamation.png') %>
                  <% when 2 %>
                    <%= image_tag('icons/error.png') %>
                  <% when 1 %>
                    <%= image_tag('icons/accept.png') %>
                  <% else %>
                    <%= image_tag('icons/information.png') %>
                <% end %>
                <%= h(msg.to_s) %>
              </td>
              <td class="nowrap" style="width: 1%"><%= fuzzy_time_string(msg.created_at) %></td>
              <td class="nowrap" style="width: 1%"><%= render :partial => 'shared/user_with_realname_and_gravatar', :locals => {:user => msg.value(:user), :short => true }%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end %>

    <% if @user and @user.is_admin? %>
      <p>
        <%= link_to_remote(image_tag('icons/brick_add.png', :title => 'Add new message'), :url => {:controller => 'main', :action => 'add_news_dialog'}) %>
        <%= link_to_remote('Add new message', :url => {:controller => 'main', :action => 'add_news_dialog'}) %>
      </p>
    <% end %>
  </div>
<% end %>
