<%= content_for :content_for_head do %>
  <%= auto_discovery_link_tag(:rss, {:controller => 'main', :action => 'news', :format => 'rss'}, {:title => 'News'}) %>
<% end %>

<% if (@news and @news.count.to_i > 0) or (@user and @user.is_admin?) %>
  <div class="box box-shadow">
    <h2 class="box-header">
      News
      <%= link_to(image_tag('feeds.png', :title => 'RSS Feed', :class => 'alignright'), :action => 'news', :format => 'rss') %>
    </h2>
    <% if @news.count.to_i > 0 %>
      <table id="messages">
        <tbody>
          <% @news.each_message do |msg| %>
            <tr id="message_<%= msg.msg_id %>">
              <td>
                <% case msg.severity.to_i 
                   when 3 %>
                    <%= image_tag('exclamation.png') %>
                  <% when 2 %>
                    <%= image_tag('error.png') %>
                  <% when 1 %>
                    <%= image_tag('accept.png') %>
                  <% else %>
                    <%= image_tag('information.png') %>
                <% end %>
                <%= raw msg.to_s %>
              </td>
              <td class="nowrap" style="width: 1%"><%= fuzzy_time_string(msg.created_at) %></td>
              <td class="nowrap" style="width: 1%"><%= render :partial => 'shared/user_with_realname_and_icon', :locals => {:user => msg.value(:user), :short => true }%></td>
              <% if @user and @user.is_admin? %>
                <td class="norwap" style="width: 1%"><%= link_to(image_tag('comment_delete.png', :title => 'Remove message'), {:controller => 'main', :action => 'delete_message_dialog', :message_id => msg.msg_id}, :remote => true) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end %>

    <% if @user and @user.is_admin? %>
      <p>
      <%= link_to(image_tag('comment_add.png', :title => 'Add new message'), {:controller => 'main', :action => 'add_news_dialog'}, :remote => true) %>
      <%= link_to('Add new message', {:controller => 'main', :action => 'add_news_dialog'}, :remote => true) %>
      </p>
    <% end %>
  </div>
<% end %>
