<% @pagetitle = 'Welcome' %>
<% @layouttype = 'custom' %>

<div class="grid_11 alpha">
  <div class="box box-shadow">
    <h1 class="mainhead">Welcome to <%= @configuration['title'] %></h1>

    <%= raw @configuration['description'] %>

    <% if @anonymous_forbidden.nil? %>
      <br/>
      <ul id="proceed_list">
        <% if @user and @user.is_admin? %>
          <%= proceed_link 'configure', 'Configuration', :controller => 'configuration', :action => 'index' %>
          <%= proceed_link 'list', 'All Projects', :controller => 'project', :action => 'list_public' %>
          <%= proceed_link 'system-search', 'Search', :controller => 'search', :action => 'index' %>
        <% else %>
          <%= proceed_link 'start-here', 'My Projects', :controller => 'home', :action => 'list_my' if session[:login] %>
          <%= proceed_link 'list', 'All Projects', :controller => 'project', :action => 'list_public' %>
          <%= proceed_link 'system-search', 'Search', :controller => 'search', :action => 'index' %>
          <%= proceed_link "document-new", 'New Project', :controller => 'project', :action => 'new', :ns => "home:#{session[:login]}" if session[:login] %>
        <% end %>
        <% unless @spider_bot -%>
          <%= proceed_link 'utilities-system-monitor', 'Status Monitor', :controller => 'monitor', :action => 'index' %>
        <% end -%>
      </ul>
    <% end %>
  </div>

  <%= render :partial => 'news' %>

  <div id="workerstatus_placeholder"></div>
  <%= javascript_tag do %>
    $.ajax({
      url: '<%= url_for(:controller => 'main', :action => 'systemstatus') %>',
      success: function(data) { $('#workerstatus_placeholder').html(data); }
    });
  <% end %>
</div>

<div class="grid_5 omega">
  <%= render :partial => 'contact' %>
  <%= render :partial => 'latest_updates' if (@latest_updates and @anonymous_forbidden.nil?) %>
<!--
  <%= render :partial => 'countdown' %>
-->
  <%= render :partial => 'sponsors' %>
  <%= render :partial => 'feeds' %>
</div>
