%h3 Events to get email for ...
- i = 0
- @subscriptions_form.subscriptions_by_event.each do |event_class, subscriptions|
  = field_set_tag event_class.description do
    %ul
      - subscriptions.each do |subscription|
        = fields_for "subscriptions[#{i}]", subscription do |f|
          %li
            = f.label :receive, subscription.receiver_role
            = f.select :channel, EventSubscription.channels.keys
            = f.hidden_field :eventtype
            = f.hidden_field :receiver_role
            - i += 1
