= render partial: 'delete_repository_modal'
= render partial: 'request_delete_repository_modal'
- if @package
  .card.mb-3
    - @pagetitle = "Repositories for #{@package}"
    = render partial: 'webui/package/tabs', locals: { project: @project, package: @package }
    .card-body
      %h3= @pagetitle
      - if @package.project == @project
        %p
          You can configure individual flags for this package here. The repositories are inherited from the project
          = link_to @project, controller: :repositories, action: :index, project: @project
        = render partial: 'shared/repositories',
                 locals: { project: @project, package: @package, flags: @flags,
                           architectures: @architectures, user_can_set_flags: @user_can_set_flags }
      - else
        %p
          This package is inherited from the project
          = link_to @package.project, action: :index, controller: :repositories, project: @package.project
          and changing repository flags has no effect.
- else
  .card.mb-3
    - @pagetitle = "Repositories for #{@project}"
    = render partial: 'webui/project/tabs', locals: { project: @project }
    .card-body
      %h3.pb-2= @pagetitle

      %ul.list-inline.mb-0
        - if User.current.can_modify?(@project)
          %li.list-inline-item
            = link_to(repositories_distributions_path(project: @project), class: 'nav-link') do
              %i.fas.fa-plus-circle.text-primary
              Add from a Distribution

          %li.list-inline-item
            = link_to('#', data: { toggle: 'modal', target: '#add-repository-from-project' }, class: 'nav-link') do
              %i.fas.fa-plus-circle.text-primary
              Add from a Project
            = render partial: 'add_repository_from_project_modal', locals: { project: @project }

        - if User.current.is_admin?
          %li.list-inline-item
            = link_to('#', data: { toggle: 'modal', target: '#add-dod-repository-modal' }, class: 'nav-link') do
              %i.fas.fa-plus-circle.text-primary
              Add DoD Repository
            = render partial: 'add_dod_repository_modal', locals: { project: @project }

  .card.mb-3
    .card-header.d-flex.justify-content-between
      %h5 Repositories for #{@project}

    .card-body
      .row.pt-2
        - user_can_modify_project = User.current.can_modify?(@project)
        - @repositories.each do |repository|
          = render partial: 'repository_entry', locals: { repository: repository,
                      project: @project, download_url: @configuration['download_url'],
                      user_can_modify_project: user_can_modify_project }

  .card.mb-3
    .card-header.d-flex.justify-content-between
      %h5 Repositories Flags
    .card-body
      %p
        You can configure individual flags for this project here.
      = render partial: 'shared/repositories',
               locals: { project: @project, package: @package, flags: @flags,
                         architectures: @architectures, user_can_set_flags: @user_can_set_flags }
