.card.mb-3
  - if @package
    - @pagetitle = "Repositories for #{@package}"
    = render partial: 'webui/package/tabs', locals: { project: @project, package: @package }
    .card-body
      %h3= @pagetitle
      - if @package.project == @project
        %p
          You can configure individual flags for this package here. The repositories are inherited from the project
          = link_to @project, controller: :repositories, action: :index, project: @project
        = render partial: 'shared/repositories',
                 locals: { project: @project, package: @package, build: @build, publish: @publish, debuginfo: @debuginfo,
                           useforbuild: @useforbuild, architectures: @architectures, user_can_set_flags: @user_can_set_flags }
      - else
        %p
          This package is inherited from the project
          = link_to @package.project, action: :index, controller: :repositories, project: @package.project
          and changing repository flags has no effect.
  - else
    - @pagetitle = "Repositories for #{@project}"
    = render partial: 'webui/project/tabs', locals: { project: @project }
    .card-body
      %h3= @pagetitle
      %p
        You can configure individual flags for this project here.

      #repository-list
        - @project.repositories.includes(:path_elements, :download_repositories).each do |repository|
          = render partial: 'repository_entry', locals: { repository: repository }

      - if User.current.is_admin?
        .hidden.add-dod-repository-form
          = render partial: 'dod_repository_form', locals: { project: @project, download_on_demand: DownloadRepository.new }
        %p
          = link_to(sprite_tag('drive_add', title: 'Add DoD repository') + ' Add DoD repository', '#', id: 'add-dod-repository-link')
      - if User.current.can_modify?(@project)
        %p
          = link_to(sprite_tag('drive_add', title: 'Add repository') + ' Add repositories', action: :distributions, project: @project)

      = render partial: 'shared/repositories',
               locals: { project: @project, package: @package, build: @build, publish: @publish, debuginfo: @debuginfo,
                         useforbuild: @useforbuild, architectures: @architectures, user_can_set_flags: @user_can_set_flags }
