.modal.fade#exclude-request-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'exclude-request-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#exclude-request-modal-label Exclude Request
        %a.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span{ aria: { hidden: true } } &times;
      = form_for Staging::RequestExclusion.new, url: staging_workflow_excluded_requests_path do |f|
        .modal-body
          .form-group
            = f.label :number, 'Request'
            = f.number_field :number, required: true, class: 'form-control'
          .form-group
            = f.label :description
            = f.text_area :description,
              required: true, placeholder: 'Explain why this request will be excluded', class: 'form-control', maxlength: 255
        .modal-footer
          = render partial: 'webui2/shared/dialog_action_buttons'
