.row
  .col-xl-12
    .card.mb-3
      .card-body
        %h3 Excluded Requests
        %table.responsive.table.table-striped.table-bordered#excluded-requests-datatable
          %thead
            %tr.text-center
              %th Request
              %th Description
              %th Actions
          %tbody
            - @request_exclusions.each do |request_exclusion|
              %tr
                %td= request_exclusion.bs_request.number
                %td= request_exclusion.description
                %td
                  = link_to('#', title: 'Stop excluding request', data: { toggle: 'modal', target: '#delete-excluded-request-modal',
                    action: staging_workflow_excluded_request_path(@staging_workflow, request_exclusion) }) do
                    %i.fas.fa-times-circle.text-danger
        = link_to('#', data: { toggle: 'modal', target: '#exclude-request-modal' }) do
          %i.fas.fa-plus-circle.text-primary
          Exclude request
= render partial: 'create_dialog'
= render partial: 'delete_dialog'

= content_for :ready_function do
  :plain
    $('#excluded-requests-datatable').DataTable({
      responsive: true
    });
