- @pagetitle = "Pulse for #{@project}"

.card
  = render(partial: 'webui/project/tabs', locals: { project: @project })

  .card-body
    .row.mb-3
      .col-sm-12.col-md-8
        %h3#range-header
          = pulse_period(@date_range)
      .col
        .dropdown.float-end
          %button.btn.btn-secondary.dropdown-toggle#period-dropdown{ 'aria-expanded': 'false',
                                                                     'aria-haspopup': 'true',
                                                                     'data-bs-toggle': 'dropdown',
                                                                     type: 'button' }
            Period: One
            %span#range-text
              = @range.capitalize
          .dropdown-menu{ 'aria-labelledby': 'dropdownMenuButton' }
            %h6.dropdown-header
              Period to display:
            = link_to(project_pulse_path(@project), type: :json, class: 'dropdown-item') do
              One Week
            = link_to(project_pulse_path(@project, range: 'month'), type: :json, class: 'dropdown-item') do
              One Month
    .row
      #pulse
        // The content of this div is set by JavaScript after the ajax call
        = render partial: 'webui/shared/loading', locals: { text: 'Loading data...' }

:javascript
  $(document).ready(function() {
    $.ajax({
      url: "#{project_pulse_path(@project, range: @range)}",
      success: function(data) {
        $('#pulse').html(data);
      },
      error: function() {
        $('#pulse').html('<p>An error occurred while loading pulse data. Please try again.</p>');
      }
    });
  });
