
<% if @requests.blank? %>
  <p><em>No open requests.</em></p>
<% else %>

<div data-role="listview" data-inset="true" data-theme="a">
    <li data-role="list-divider">New Requests Since Last Login</li>
    <% @requests.each do |req| -%>
      <% ae = req.submit if req.has_element? :submit
      ae = req.action if req.has_element? :action %>

      <li>
      #<%= link_to( req.value( :id ), :controller => :request, :action => :show, :id => req.value(:id) ) -%> to

        <% if ae.has_element?(:target) %>
          <%= elide(ae.target.project, 20) %>
          <% if ae.target.has_attribute?(:package) %>
            / <%= elide(ae.target.package, 12) %>
          <% end %>
        <% end %>

        <br/>from <%= elide(req.state.who, 12) %>, <i><%= fuzzy_time_string( req.state.value "when" ) %></i>
      </li>
    <% end %>
  <% end %>
</div>