<% request_table_id ||= 'request_table' %>
<% hide_state ||= false %>
<% no_target ||= false %>
<% elide_len ||= no_target ? 80 : 40 %>

<% if requests.blank? %>
    <p>No requests.</p>
<% else %>
    <table id="<%= request_table_id %>">
      <thead>
      <tr>
        <th>Modified</th>
        <th>Source</th>
        <% if !no_target %>
            <th>Target</th>
        <% end %>
        <th>Requester</th>
        <th>Type</th>
        <% if !hide_state %>
            <th>State</th>
        <% end %>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% index = 0 %>
      <% requests.each do |req| -%>
          <% req.bs_request_actions.each do |ae|
            index = index + 1 %>
              <tr id="tr_request_<%= "#{req.id}_#{index}" %>">
                <td class="nowrap">
                      <span class="hidden"><%= req.created_at.to_i %>
                      </span>
                  <%= fuzzy_time(req.created_at) %>
                </td>
                <td class="request_source">
                  <% if ae.source_package %>
                      <% src_proj = format_projectname(ae.source_project, req.creator)
                         src_pack = elide(ae.source_package, elide_len >> 1) %>
                      <%= link_to_project(ae.source_project, src_proj) %>
                      / <%= link_to_package(ae.source_project, ae.source_package, src_pack) %>
                  <% elsif ae.source_project %>
                      <%# Happens for maintenance requests, no source package there %>
                      <%= link_to_project(ae.source_project, elide(ae.source_project, elide_len)) %>
                  <% end %>
                </td>
                <% if !no_target %>
                    <td class="request_target">
                      <% if ae.target_project %>
                          <% if not @project or @project.name != ae.target_project %><!-- <%= ae.target_project %>  -->
                              <% if ae.target_package and not (Webui::Package.exists?(ae.source_project, ae.source_package) and ae.source_package == ae.target_package) %> <!-- /<%= ae.target_package %> -->
                                  <% tgt_proj, tgt_pack = elide_two(ae.target_project, ae.target_package, elide_len) %>
                                  <%= link_to_project(ae.target_project, tgt_proj) %>
                                  / <%= link_to_package(ae.target_project, ae.target_package, tgt_pack) %>
                              <% else %>
                                  <%= link_to_project(ae.target_project, elide(ae.target_project, elide_len)) %>
                              <% end %>
                          <% else %>
                              <% if ae.target_package and Webui::Package.exists?(@project.name, ae.target_package) %> <!-- <%= ae.target_package %> -->
                                  <%= link_to_package(ae.target_project, ae.target_package, elide(ae.target_package, elide_len)) %>
                              <% elsif ae.action_type == :delete %>
                                  This project
                              <% end %>
                          <% end %>
                      <% end %>
                    </td>
                <% end %>
                <td class="nowrap"><%= render :partial => 'shared/user_with_realname_and_icon', :locals => {user: User.find_by_login(req['creator']), short: true} %></td>
                <td class="nowrap"><%= reqtype(ae) %></td>
                <% if !hide_state %>
                    <td class="nowrap"><%= req.state %></td>
                <% end %>
                <td>
                  <%= link_to(sprite_tag('req-showdiff',
                                         title: "Show #{reqtype(req)} request ##{req.id}"),
                              {:controller => :request, :action => :show, :id => req.id}, {:class => "request_link"})
                  -%>
                  <% if ae['source'] && ae.source_package %>
                      <%= link_to(sprite_tag('information', title: 'Build results',
                                             id: "req_#{req.id}_#{index}"), :controller => :package,
                                  :action => :show, :project => ae.source_project, :package => ae.source_package) %>
                      <%= javascript_tag do %>
                          setup_buildresult_tooltip('<%= "req_#{req.id}_#{index}" %>',
                          '<%= url_for :controller => 'project', :action => 'show', :project => ae.source_project, :package => ae.source_package %>
                          ');
                      <% end %>
                  <% end %>
                </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <% content_for :ready_function do %>
        $('#<%= request_table_id %>').dataTable({
        'aoColumns': [
        null,
        null,
        <% if !no_target %>
            null,
        <% end %>
        null,
        null,
        <% if !hide_state %>
            null,
        <% end %>
        {'bSortable': false}
        ],
        'bInfo': false,
        'bPaginate': false,
        });
    <% end %>
<% end %>
