.modal#status-message-modal{ role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title Add Status Message
      .modal-body
        = form_tag({ controller: 'status_messages', action: 'create' }, method: 'post') do
          .form-group
            = label_tag(:message, 'Message:')
            = text_area_tag(:message, '', size: '40x3', required: true, class: 'form-control')
          .form-group
            = label_tag(:severity, 'Severity:')
            = select_tag(:severity, options_for_select([['Information', 0], ['Green', 1], ['Yellow', 2], ['Red', 3]]), class: 'form-control')
          .modal-footer
            = render partial: 'webui2/shared/dialog_action_buttons'
