= content_for :content_for_head do
  = auto_discovery_link_tag(:rss, latest_updates_feed_path(format: 'rss'), { title: 'Latest updates' })
.box.box-shadow
  %h2.box-header
    Latest Updates
    \#{link_to('', latest_updates_feed_path(format: 'rss'), { class: 'alignright icons-feeds', title: 'RSS Feed' })}
  %table
    %tbody
      - @latest_updates.each do |update|
        %tr
          %td
            - if update[1] == :package
              = sprite_tag 'package', title: 'Package'
              = link_to(elide(update[2], 20), controller: 'package', action: 'show', project: update[3], package: update[2])
            - else
              = sprite_tag 'project', title: 'Project'
              = link_to(elide(update[1], 20), controller: 'project', action: 'show', project: update[1])
          %td.nowrap{ style: "width: 1%" }= fuzzy_time(update[0])
