:ruby
  @pagetitle = 'Welcome'
  render partial: 'index_actions'

.row
  .col-md-8.col-lg-7
    .card.mb-3
      .card-body
        %h2
          Welcome to #{@configuration['title']}
        = sanitize @configuration['description']
    = render(partial: 'system_status', locals: { busy: @busy,
                                                 building_workers: @building_workers,
                                                 overall_workers: @overall_workers,
                                                 waiting_packages: @waiting_packages,
                                                 host_title: @configuration['title'],
                                                 system_stats: @system_stats })
  .col-md-4.col-lg-5
    - if !User.session && can_register?
      .card.mb-3
        %h5.card-header New here? Sign up!
        .card-body
          = render 'webui/users/sign_up'
    - if @status_messages.present? || User.admin_session?
      = render partial: 'status_messages', locals: { status_messages: @status_messages }
    = render(partial: 'latest_updates', locals: { latest_updates: @latest_updates }) if @latest_updates && (Configuration.anonymous || User.session)
