<% @pagetitle = 'Welcome' %>
<% @layouttype = 'custom' %>

<div class="grid_11 alpha">
  <div class="box box-shadow">
    <h1 class="mainhead">Welcome to <%= @configuration['title'] %></h1>

    <%= raw @configuration['description'] %>

    <br/>
    <ul id="proceed_list">
      <% if User.current.is_admin? %>
          <%= proceed_link 'configure', 'Configuration', :controller => 'configuration', :action => 'index' %>
          <%= proceed_link 'list', 'All Projects', :controller => 'project' %>
          <%= proceed_link 'system-search', 'Search', :controller => 'search', :action => 'index' %>
      <% else %>
          <%= proceed_link 'start-here', 'Your Home', user_show_path(User.current) unless User.current.is_nobody? %>
          <%= proceed_link 'list', 'All Projects', :controller => 'project' %>
          <%= proceed_link 'system-search', 'Search', :controller => 'search', :action => 'index' %>
          <%= proceed_link "document-new", 'New Project', :controller => 'project', :action => 'new', :ns => User.current.home_project_name unless User.current.is_nobody? %>
      <% end %>
      <% unless @spider_bot -%>
          <%= proceed_link 'utilities-system-monitor', 'Status Monitor', :controller => 'monitor', :action => 'index' %>
      <% end -%>
        <%- proceed_link 'distributions-kiwi', 'New Image', image_templates_path unless User.current.is_nobody? %>
    </ul>
  </div>

  <%= render partial: 'systemstatus' %>
</div>

<div class="grid_5 omega">
  <% if User.current.is_nobody? and can_register %>
      <div class="box box-shadow">
        <h2 class="box-header">New here? Sign up!</h2>
        <%= render :partial => 'shared/sign_up' %>
      </div>
  <% end %>
  <%= render :partial => 'sponsors' %>
  <%= render :partial => 'news' %>
  <%= render :partial => 'latest_updates' if (@latest_updates and ::Configuration.anonymous) %>
</div>

