- @pagetitle = 'Welcome'
- @layouttype = 'custom'
.grid_11.alpha
  .box.box-shadow
    %h1.mainhead
      Welcome to #{@configuration['title']}
    = raw @configuration['description']
    %br/
    %ul#proceed-list
      - if User.current.is_admin?
        = proceed_link 'configure', 'Configuration', controller: 'configuration', action: 'index'
        = proceed_link 'list', 'All Projects', controller: 'project'
        = proceed_link 'system-search', 'Search', controller: 'search', action: 'index'
      - else
        = proceed_link 'start-here', 'Your Home', user_show_path(User.current) unless User.current.is_nobody?
        = proceed_link 'list', 'All Projects', controller: 'project'
        = proceed_link 'system-search', 'Search', controller: 'search', action: 'index'
        = proceed_link "document-new", 'New Project', controller: 'project', action: 'new', ns: User.current.home_project_name unless User.current.is_nobody?
      - unless @spider_bot
        = proceed_link 'utilities-system-monitor', 'Status Monitor', controller: 'monitor', action: 'index'
      = proceed_link 'drive-optical-32', 'New Image', image_templates_path if Feature.active?(:image_templates)
  = render partial: 'systemstatus'
.grid_5.omega
  - if User.current.is_nobody? and can_register
    .box.box-shadow
      %h2.box-header New here? Sign up!
      = render partial: 'shared/sign_up'
  = render partial: 'sponsors'
  = render partial: 'status_messages'
  = render partial: 'latest_updates' if (@latest_updates and ::Configuration.anonymous)
