<% @pagetitle = "Driver Update Disk Wizard" %>

<% project_bread_crumb @package.name -%>
<%= render :partial => 'webui/package/tabs' %>

<%= content_for :ready_function do %>
  $("#target_project").autocomplete({source: '<%= url_for :controller => 'project', :action => 'autocomplete_projects' %>', minLength: 2});

  $('#target_project').result(function(event, data, formatted) {
  if (data) {
  $('#target_repo').html('');
  get_repos_for_project();
  }
  });


  /*TODO: Feel free to port this from jquery.autocomplete to jQueryUI....
  get_repos_for_project = function() {
  $.ajax({ url: '<%= url_for :controller => :project, :action => :autocomplete_repositories %>',
  data: {project: $("#target_project").attr('value')},
  success: function(data){
  $('#target_repo').removeAttr('disabled');
  $('#target_repo').html("");
  $.each(data.split('\n'), function(idx, val) {
  if (val != "images") {
  $('#target_repo').append( new Option( val ) );
  }
  });
  },
  beforeSend: function(data){
  $("#target_repo_loader").show();
  },
  complete: function(data){
  $("#target_repo_loader").hide();
  },
  });
  };*/

  $("#target_package").autocomplete({
    source: function (request, response) {
      $.ajax({
        url: '<%= url_for :controller => 'project', :action => 'autocomplete_packages' %>',
        data: {
          project: get_package_project,
          term: request.term,
        },
        success: function(data) {
          response($.map(data, function(item) { return { label: item, value: item } }));
        },
      });
    },
    minLength: 2,
  });

  $("#add_repo_toggle").click(function () {
  $("#add_repository").show();
  $("#add_repo_toggle").hide();
  return false;
  });


  get_package_project = function() {
  return $("#target_package_repo").val().split('/')[0].replace(/\s*/g, "");
  }

  get_package_repo = function() {
  return $("#target_package_repo").val().split('/')[1].replace(/\s*/g, "");
  }


  remove_element = function(key) {
  $("#" + key).remove();
  return false;
  }

  create_repo_line = function() {
  var project = $("#target_project").attr('value');
  var repo = $("#target_repo").attr('value');
  var key = (project + '_' + repo).replace(/[:\.]/g,'_');
  var html = '<div id="' + key +'"><p><%= image_tag("project.png", :title => "Project") %> ' + project + ' / ' + repo;
      var html = html + '<input type="hidden" name="projects[]" value="' + project + '/' + repo + '" />';
      var html = html + ' <a href="#" onclick="remove_element(\'' + key + '\'); return false;"><%= image_tag("drive_delete.png", :title => "Remove Repository") %></a></p></div>';
  return html;
  }

  $("#add_repo").click(function () {
  $("#no_inst_repos").hide();
  $("#inst_repos").append( create_repo_line() );
  $('#target_package_repo').append( new Option( $("#target_project").attr('value') + ' / ' + $("#target_repo").attr('value') ) );
  $('#add_pack').show();
  $("#add_repository").hide();
  $("#add_repo_toggle").show();
  return false;
  });

  create_package_line = function(key, package) {
  var html = '<div id="' + key +'"><p><%= image_tag("package.png", :title => "Package") %> ' + package;
      var html = html + '<input type="hidden" name="packages[]" value="' + package + '" />';
      var html = html + ' <a href="#" onclick="remove_element(\'' + key + '\'); return false;"><%= image_tag("package_delete.png", :title => "Remove Package") %></a></p></div>';
  return html;
  }

  create_binary_packages_line = function(key) {
  var package = $("#target_package").val();
  var project = get_package_project();
  var repo = get_package_repo();
  $("#" + key).append( '<div id="' + key + '_binaries" style="margin-left: 15px;"><p><%= image_tag("ajax-loader.gif", :title => "Loading") %> Loading binary packages for <i>' + package + '</i></p></div>' );

  $.ajax({ url: '<%= url_for :controller => :driver_update, :action => :binaries %>?package=' + package + '&project=' + project + '&repository=' + repo,
  data: {},
  success: function(data){
  $("#" + key + '_binaries').html(data);
  }
  });
  }

  $("#add_package").click(function () {
  var package = $("#target_package").val();
  var key = ('pack_' + package).replace(/[:\.]/g,'_');
  if (package != '' && $("#" + key).length == 0 ) {
  $("#no_inst_packs").hide();
  $("#inst_packs").append( create_package_line(key, package) );
  create_binary_packages_line(key);
  }
  return false;
  });

  $("#target_project").val("<%= @project.name %>");
  get_repos_for_project();


<% end -%>

<h2>Driver update disk wizard</h2>

<p>This editor helps to create the configuration for a <a href="http://old-en.opensuse.org/Libzypp/Products/DuD/Installation">driver update disk</a>.
  It will store its settings in the _service file which generates the full kiwi config on the build server or
  your workstation when using osc.</p>


<%= form_tag :controller => "driver_update", :action => "save" do %>


  <h2>General Configuration:</h2>

  <table>
    <tr>
      <td><strong>Name: </strong></td>
      <td><%= text_field_tag 'name', @name, :size => 50 %></td>
    </tr>

    <!-- <tr>
      <td><strong>Distname: </strong></td>
      <td><%= text_field_tag 'distname', @distname, :size => 50 %></td>
    </tr>

    <tr>
      <td><strong>Flavour: </strong></td>
      <td><%= text_field_tag 'flavour', @flavour, :size => 50 %></td>
    </tr> -->

    <tr>
      <td><strong>Architectures: </strong></td>
      <td>
        <% Architecture.available.pluck(:name).sort do |arch| %>
          <%= check_box_tag "arch[#{arch}]", "", (@architectures.include? arch ) %><%= arch %>
        <% end %>
      </td>
    </tr>
  </table>

  <h2>Installation repositories:</h2>

  <div id="inst_repos">
    <% @repositories.each do |repo| %>
      <% key = repo.gsub(/[:\.\/]/, '_')  %>
      <div id="<%= key %>"><p><%= image_tag("project.png", :title => "Project") %> <%= repo %>
          <input type="hidden" name="projects[]" value="<%= "#{repo}" %>" />
          <a href="#" onclick="remove_element('<%= key %>'); return false;"><%= image_tag("drive_delete.png", :title => "Remove Repository") %></a></p></div>
    <% end %>
    <% if @repositories.blank? %>
      <div id="no_inst_repos"><p><i>No installation repositories configured yet.</i></p></div>
    <% end %>
  </div>


  <div id="add_repo_toggle"><p>
      <%= image_tag('drive_add.png', :title => 'Add Repository') %>
      <%= link_to 'Add repository', '#' %>
    </p></div>

  <div id="add_repository" class="show_left box show_right" style="display: none">
    <p><strong>Project: </strong><%= text_field_tag 'target_project', @project.name, :size => 60, :id => 'target_project' %> <i>(gets auto-completed)</i> </p>
    <p><strong>Repository: </strong>
      <%= select_tag 'target_repo', options_for_select(['']), :id => 'target_repo', :disabled => true %>
      <span id="target_repo_loader" style="display: none; margin-left: 15px;"><%= image_tag('ajax-loader.gif', :title => 'Loading') %> Loading repositories</span>
    </p>
    <div id="add_repo"><p>
        <%= image_tag('drive_add.png', :title => 'Add Repository') %>
        <%= link_to 'Add this repository', '#' %>
      </p>
    </div>
  </div>


  <h2>Packages: </h2>


  <div id="inst_packs">
    <% @packages.each do |pack| %>
      <div id="pack_<%= pack %>"><p><%= image_tag('package.png', :title => 'Package') %> <%= pack %>
          <input type="hidden" name="packages[]" value="<%= "#{pack}" %>" />
          <a href="#" onclick="remove_element('pack_<%= pack %>'); return false;"><%= image_tag('package_delete.png', :title => 'Remove Package') %></a></p>
        <div id="pack_<%= pack %>_binaries" style="margin-left: 15px;">
          <div style="margin-left: 15px;">
            <% unless @binary_packages[pack].blank? %>
              <% @binary_packages[pack].each do |binary| %>
                <div id="binary_<%= binary %>">
                  <%= image_tag('package.png', :title => 'Binary Package') %>
                  <input type="hidden" value="<%= pack %>/<%= binary %>" name="binaries[]"/>
                  <%= binary %> <a onclick="remove_element('binary_<%= binary %>'); return false;" href="#">
                    <%= image_tag('package_delete.png', :title => 'Remove Package') %></a>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @packages.blank? %>
      <div id="no_inst_packs"><p><i>No packages selected for installation yet.</i></p></div>
    <% end %>
  </div>

  <div id="add_pack" style="<%= 'display: none;' if @repositories.blank? %> ">
    <p><strong>Add package: </strong><br/>
      <%= select_tag 'target_package_repo', options_for_select(@repositories), :id => 'target_package_repo' %>
      Name:
      <%= text_field_tag 'target_package', '', :size => 50, :id => 'target_package' %> <i>(gets auto-completed)</i> </p>
    <div id="add_package"><p>
        <%= image_tag('package_add.png', :title => 'Add Package') %>
        <%= link_to 'Add this package', '#' %>
      </p>
    </div>
  </div>


  <p>
    <%= submit_tag 'Generate kiwi file' %>
    <%= hidden_field_tag 'project', @project.name %>
    <%= hidden_field_tag 'package', @package.name %>
  </p>
<% end %>
