%ul
  - elements.each do |element|
    %li
      = element.event_type.humanize
      - case element.event_type
      - when 'unstaged_request', 'staged_request'
        = link_to("##{element.bs_request.number}", request_show_path(element.bs_request.number))
        for package
        %b= element.package_name
        by
        %b= element.user_name
      - when 'staging_project_created'
        %b #{time_ago_in_words(Time.zone.at(element.datetime.to_i))} ago
        by
        %b= element.user_name
