- @pagetitle = @staging_project.name

.row
  .col-xl-10
    .card.mb-3
      = render(partial: 'webui/project/tabs', locals: { project: @staging_project })
      .card-body
        %h3= @pagetitle
        %h4.mt-4 Packages
        .requests#staging-project-package-list
          = render partial: 'webui/staging/shared/packages_list', locals: { staging_project: @staging_project,
                                                                            users_hash: @users_hash, groups_hash: @groups_hash }
    .card.mb-3
      %h5.card-header Status
      .card-body
        %table.table.table-borderless.table-sm.dt-responsive.w-100
          %tbody
            %tr
              = render partial: 'status_items',
                       locals: { staging_project: @staging_project, items: @staging_project.untracked_requests, type: 'untracked_requests' }
            %tr
              = render partial: 'status_items',
                       locals: { staging_project: @staging_project, items: @staging_project.staged_requests.obsolete, type: 'obsolete_requests' }
            %tr
              = render partial: 'status_items',
                       locals: { staging_project: @staging_project, items: @staging_project.missing_reviews, type: 'missing_reviews' }
            %tr
              = render partial: 'status_items',
                       locals: { staging_project: @staging_project, items: @staging_project.building_repositories, type: 'building_repositories' }
            %tr
              = render partial: 'broken_packages',
                       locals: { staging_project: @staging_project }
            %tr
              = render partial: 'checks',
                       locals: { checks: @staging_project.checks, missing_checks: @staging_project.missing_checks }
    .card.mb-3
      %h5.card-header History
      .card-body
        = render partial: 'history_elements', locals: { elements: @staging_project_log_entries }
  .col-xl-2
    = render partial: 'webui/staging/shared/legend'
