%div{class: "card m-3 #{status_message_severity_class(message)}"}
  .card-header
    %small
      = user_with_realname_and_icon(message.user, short: true)
      wrote #{time_ago_in_words(message.created_at)} ago
    - if User.current.is_admin?
      .float-right
        = link_to(status_message_path(message), method: :delete, title: 'Remove status message') do
          %i.fa.fa-times
  .card-body
    = comment_body(message.message)
