-# FIXME: Refactor this file
%ul.list-inline.mb-0
  - if bugowners_mail.present? && configuration['bugzilla_url']
    = render partial: 'webui2/webui/package/bottom_actions/bugzilla_owner', locals: { bugowners_mail: bugowners_mail,
                                                                package_name: package.name, project_name: project.name }
  - unless User.current.is_nobody?
    - if current_rev
      = render partial: 'webui2/webui/package/bottom_actions/branch_package'
      = render partial: 'webui2/webui/package/bottom_actions/submit_package', locals: { package: package, project: project,
                                                                   revision: revision }
    - if User.current.can_modify?(package)
      = render partial: 'webui2/webui/package/bottom_actions/edit_description', locals: { project: project, package: package, spec_count: spec_count }
      = render partial: 'webui2/webui/package/bottom_actions/delete_package'

      - Feature.with(:kiwi_image_editor) do
        - if package.kiwi_image? && policy(package).update?
          = render partial: 'webui2/webui/package/bottom_actions/view_kiwi', locals: { package_id: package.id }

      - if Feature.active?(:cloud_upload)
        - if package.kiwi_image?
          = render partial: 'webui2/webui/package/bottom_actions/cloud_upload', locals: { cloud_upload_index_path: cloud_upload_index_path }

      - if services.present?
        = render partial: 'webui2/webui/package/bottom_actions/trigger_services', locals: { package: package, project: project }

    - else
      = render partial: 'webui2/webui/package/bottom_actions/request_role_addition'
      = render partial: 'webui2/webui/package/bottom_actions/request_deletion'

      //TODO: only users w/o rights should see this, maintainers should get a different dialog:
    - if package.develpackage
      = render partial: 'webui2/webui/package/bottom_actions/request_devel_project_change', locals: { package: package, project: project }
