= render partial: 'webui/project/breadcrumb_items'
%li.breadcrumb-item
  = link_to @package, package_show_path(@project, @package)
- if action_name == 'view_file'
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    = @filename
- elsif controller_name == 'package' && action_name == 'statistics'
  %li.breadcrumb-item
    = link_to 'Repository State', package_binaries_path(@project, @package_name, @repository)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Statistics
- else
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    = active_breadcrumb_label
