- can_be_removed = removable_file?(file_name: file[:name], package: package) && User.current.can_modify?(package)
%tr{ id: "file-#{valid_xml_id(file[:name])}" }
  %td.text-word-break-all
    - link_opts = { action: :view_file, project: project, package: package, filename: file[:name], expand: expand }
    - unless is_current_rev
      - link_opts[:rev] = file[:srcmd5]
    = link_to_if(file[:viewable], nbsp(file[:name]), link_opts)
  %td.text-nowrap
    %span.d-none= file[:size].rjust(10, '0')
    = human_readable_fsize(file[:size])
  %td.text-nowrap
    = timeago_tag Time.at(file[:mtime].to_i)
  / limit download for anonymous user to avoid getting killed by crawlers
  %td.text-center
    - if !User.current.is_nobody? || file[:size].to_i < 4.megabytes
      = link_to(file_url(project.name, package.name, file[:name], file[:srcmd5]), title: 'Download file') do
        %i.fas.fa-download.text-secondary
    - if can_be_removed
      = link_to('#', data: { toggle: 'modal', target: "#delete-file-modal-#{file_counter}" },
                title: 'Delete file') do
        %i.fas.fa-times-circle.text-danger
- if can_be_removed
  = render(partial: 'delete_file_dialog',
            locals: { project: project.to_param, package: package.to_param, filename: file[:name], file_id: file_counter })
