%p
  = link_to('#', class: 'start_refresh d-none live-link-action btn-info') do
    %i.far.fa-play-circle
    Start refresh
  = link_to('#', class: 'stop_refresh live-link-action btn-dark') do
    %i.far.fa-pause-circle
    Stop refresh

  - if User.current.is_nobody?
    = link_to(public_build_path(package: @package, project: @project, arch: @arch, repository: @repo, filename: '_log'),
              target: :_blank,
              class: 'live-link-action btn-secondary') do
      %i.far.fa-arrow-alt-circle-down
      Download logfile
  - else
    = link_to(raw_logfile_path(package: @package, project: @project, arch: @arch, repository: @repo),
              target: :_blank,
              class: 'live-link-action btn-secondary') do
      %i.far.fa-arrow-alt-circle-down
      Download logfile
  - if @can_modify
    = link_to(package_trigger_rebuild_path(project: @project, package: @package, arch: @arch, repository: @repo),
              class: 'link_trigger_rebuild live-link-action btn-primary d-none',
              method: :post) do
      %i.fas.fa-redo
      Trigger Rebuild
    = link_to(package_abort_build_path(project: @project, package: @package, arch: @arch, repository: @repo),
              class: 'link_abort_build live-link-action btn-danger d-none') do
      %i.far.fa-times-circle
      Abort Build


