.position-relative
  = render partial: 'webui2/webui/package/revision_diff_detail_buttons',
  locals: { project: project,
    package: package,
    filename: filename,
    revision: revision,
    index: index,
    last: last,
    state: file['state'],
    has_content: diff_content.present? }
  - if diff_content.present?
    %details.card.details-with-codemirror{ open: expand_diff?(filename, file['state']), id: "revision_details_#{index}" }
      %summary.card-header
        .diff-card-header
          = calculate_filename(filename, file)
          %span.badge{ class: "badge-#{file['state']}" }= file['state'].capitalize
      %div
        = render partial: 'shared/editor', locals: { text: diff_content, mode: 'diff', style: { read_only: true } }
  - else
    .card{ id: "revision_details_#{index}" }
      .card-header
        .div.w-75
          = calculate_filename(filename, file)
          %span.badge{ class: "badge-#{file['state']}" }= file['state'].capitalize
