- index ||= ''

.mt-3.mb-3
  - unless @repo_list.empty?
    = select_tag("rpmlint_repo_select_#{index}", options_for_select(@repo_list.sort))
    - @repo_arch_hash.each do |repo, arches|
      = select_tag("rpmlint_arch_select_#{index}_#{repo}", options_for_select(arches.reverse), :class => "rpmlint_arch_select_#{index}")
%pre.rpmlint-result{ id: "rpmlint_display_#{index}" }

:javascript
  function update_arch_display(data) {
    $('.rpmlint_arch_select_#{index}').hide();
    $('#rpmlint_arch_select_#{index}_' + $('#rpmlint_repo_select_#{index} option:selected').attr('value')).show();
    update_rpmlint_display();
  }

  function update_rpmlint_display() {
    repo_name = $('#rpmlint_repo_select_#{index} option:selected').html();
    repo_key = $('#rpmlint_repo_select_#{index} option:selected').attr('value');
    $.ajax({
      url: '#{url_for(:controller => 'package', :action => 'rpmlint_log')}',
      data: {
        'project': '#{@project.name}',
        'package': '#{@package.name}',
        'repository': repo_name,
        'architecture': $("#rpmlint_arch_select_#{index}_" + repo_key + " option:selected").attr('value')
      },
      success: function (data) {
        $('#rpmlint_display_#{index}').html(data);
      }
    });
  }

  $('#rpmlint_repo_select_#{index}').change(update_arch_display);
  $('.rpmlint_arch_select_#{index}').change(update_rpmlint_display);
  update_arch_display();

