- if repository_list.present?
  - index ||= '0'
  - rpm_log_url = rpmlint_log_path(project: project, package: package, index: index, format: :js)

  .mt-3.mb-3
    - unless repository_list.empty?
      .form-inline{ data: { index: index } }
        = select_tag('repository', options_for_select(repository_list),
                                   class: 'rpmlint_repo_select custom-select custom-select-sm',
                                   data: { remote: true, url: rpm_log_url })
        - repo_arch_hash.each do |repository, architectures|
          = select_tag('architecture', options_for_select(architectures.reverse),
                                       id: "rpmlint_arch_select_#{repository}",
                                       class: 'rpmlint_arch_select custom-select custom-select-sm',
                                       data: { remote: true, url: rpm_log_url })
  %pre.rpmlint-result.text-pre-wrap.max-height
    = render partial: 'rpmlint_log', locals: { log: log }

  = link_to('javascript:void(0)', class: 'small d-none rpm-show-more') do
    show more
- else
  = render partial: 'no_repositories', locals: { project: project }
