%h5.title.is-5
  Source Files #{image_tag('ajax-loader.gif', id: 'spinner_files', class: 'is-hidden')}
  - if @linkinfo && @revision_parameter.nil?
    %span{:style => "font-size: small; font-weight: normal"}
      - if @expand && @expand.to_s == '1' || @forced_unexpand.present?
        = link_to '(show unmerged sources)', :project => @project.name, :package => @package.name, :action => :show, :rev => @revision_parameter, :expand => '0'
      - else
        = link_to '(show merged sources derived from linked package)', :project => @project.name, :package => @package.name, :action => :show, :rev => @revision_parameter, :expand => '1'
- unless @forced_unexpand.blank?
  %p
    %i
      Sources could not be expanded: #{@forced_unexpand}
  %p= link_to 'Show unmerged sources', :project => @project.name, :package => @package.name, :action => :show, :rev => @revision_parameter, :expand => '0'
- else
  = render :partial => 'files_view'
