- if @bugowners_mail.present? and @configuration['bugzilla_url']
  %li.nav-item
    = link_to sprited_text('tools-report-bug', 'Report Bug'), bugzilla_url(@bugowners_mail, "#{@project.name}/#{@package.name}: Bug"), class: 'nav-link'
- unless User.current.is_nobody?
  - if @current_rev
    %li.nav-item
      = link_to(sprited_text('arrow_branch', 'Branch package'), '#', class: 'nav-link', data: { target: '#package_branch_dialog' })
    %li.nav-item
      = link_to(sprited_text('package_go', 'Submit package'), { :action => :submit_request_dialog, :project => @project, :package => @package, :revision => @revision }, :remote => true, class: 'nav-link')
  - if User.current.can_modify_package? @package
    %li.nav-item
      = link_to sprited_text('package_edit', 'Edit description'), {:action => 'edit', :project => @project, :package => @package, :spec_count => @spec_count}, class: 'nav-link'
    %li.nav-item
      = link_to(sprited_text('package_delete', 'Delete package'), { :action => :delete_dialog, :package => @package, :project => @project }, :remote => true, id: 'delete-package', class: 'nav-link')
    - Feature.with(:kiwi_image_editor) do
      - if @package.kiwi_image? && policy(@package).update?
        %li.nav-item
          = link_to(sprited_text('package_edit', 'View Image'), import_kiwi_image_path(@package.id), id: 'edit-kiwi', class: 'nav-link')
    - if Feature.active?(:cloud_upload) && !User.current.is_nobody?
      - if @package.kiwi_image?
        %li.nav-item
          = link_to(sprited_text('drive_web', 'Cloud Upload'), cloud_upload_index_path, id: 'cloud-upload', class: 'nav-link')
    - if @services.present?
      %li.nav-item
        = link_to(sprited_text('package_link', 'Trigger services'), { action: :trigger_services, package: @package, project: @project }, method: :post, class: 'nav-link')
  - else
    %li.nav-item
      = link_to(sprited_text('user_add', 'Request role addition'), { :controller => :request, :action => :add_role_request_dialog, :project => @project, :package => @package }, :remote => true, class: 'nav-link')
    %li.nav-item
      = link_to(sprited_text('package_delete', 'Request deletion'), { :controller => :request, :action => :delete_request_dialog, :project => @project, :package => @package }, :remote => true, class: 'nav-link')
  - if @package.develpackage
    %li.nav-item
= link_to(sprited_text('arrow_switch', 'Request devel project change'), { controller: :request, action: :change_devel_request_dialog, project: @project, package: @package }, remote: true, class: 'nav-link')
