- @pagetitle = "Upload file to #{truncate(@package.name, length: 50)}/#{truncate(@package.name, length: 50)}"

.card
  = render partial: 'tabs', locals: { project: @project, package: @package }
  .card-body
    %h3
      Upload files to #{@project.name}/#{@package.name}
    = form_tag({ action: :save_file, project: @project, package: @package }, multipart: true) do
      .form-group.package-add-file
        .custom-file
          = file_field_tag 'files[]', class: 'custom-file-input', multiple: true, id: 'files'
          %label.custom-file-label-with-overflow{ for: 'file' } Add local files
      .card.mb-3
        %ul.list-group.list-group-flush#filelist
        %ul.list-group.list-group-flush#namelist
        %ul.list-group.list-group-flush#linklist

      .d-flex.align-items-center.mb-2
        %button.btn.btn-secondary.mr-2#add-empty-file{ type: 'button' }
          %i.fa.fa-file
          Add an empty file
        %button.btn.btn-secondary.mr-2#add-remote-file{ type: 'button' }
          %i.fa.fa-link
          Add a remote file
        %small.form-text.text-muted.m-0#link-text
          URLs to src.rpm files will get extracted. URLs to git repositories will get stored in a tar ball.
      = text_area_tag 'comment', nil, placeholder: 'Commit message', class: 'form-control mb-2'
      .d-flex
        = submit_tag 'Upload', class: 'btn btn-primary ml-auto', id: :submit_button, disabled: true
