- @pagetitle = "Dependency information about #{@filename}"

.card
  = render partial: 'tabs', locals: { package: @package, project: @project }

  .card-body
    %h3 Dependency of #{@filename}

    %div
      %p
        %strong Name:
        = @fileinfo.value(:name)
      %p
        %strong Project:
        = @dependant_project
      %p
        %strong Repository:
        = @dependant_repository

      = render partial: 'fileinfo', locals: { fileinfo: @fileinfo,
                                              filename: @filename,
                                              project: @project,
                                              package: @package,
                                              repository: @repository,
                                              architecture: @arch }
