- content_for(:content_for_head, javascript_include_tag('webui/application/cm2/index-xml'))

- @pagetitle = "Meta Configuration of Package #{@package}"
- package_bread_crumb('Meta')


.card
  = render :partial => 'tabs'

  .card-body
    %h3
      = @pagetitle
    - if User.current.can_modify? @package
      = render partial: "shared/editor", locals: {text: @meta, mode: 'xml', save: {url: url_for(controller: 'package', action: 'save_meta'), method: 'POST', data: {project: @project.name, package: @package.name, submit: 'meta'}}}
    - else
      = render partial: "shared/editor", locals: {text: @meta, mode: 'xml', style: {read_only: true}}
