- @pagetitle = "Revisions of #{@package}"

.card
  = render(partial: 'tabs', locals: { project: @project, package: @package })

  .card-body
    %h3 #{@pagetitle} (#{@revisions.count})
    - if @revisions.present?
      .list-group
        - @revisions.each do |revision|
          .list-group-item{ id: "commit_item_#{revision}" }
            - commit = @package.commit(revision)
            - if commit
              = render(partial: 'commit_item', locals: { revision: revision, commit: commit })
            - else
              %i Revision #{revision} not found
      - unless params['show_all']
        = paginate @revisions
        = link_to('Show all', action: 'revisions', project: @project, package: @package, show_all: 1)
    - else
      %p
        %i No commits exists yet.
