- @pagetitle = "Show #{@project} / #{@package}"
- @layouttype = 'custom'
- dpackage = @package.develpackage
- package_bread_crumb

.card.mb-3
  = render partial: 'tabs'
  .card-body
    .row
      .col-md-8
        %h3#package_title
          = @package.title.present? ? @package.title : @package.name
          - if @package.url.present?
            %small= link_to(@package.url, @package.url)
        = webui2_description_wrapper(@package.description)
      .col-md-4
        %ul.no-list-style
          - if @failures > 0
            %li
              %i.fas.fa-times-circle.text-danger{ title: 'Errors' }
              = @failures
              = link_to "error#{@failures == 1 ? '' : 's'}", project_monitor_path(project: @project, pkgname: @package.name, succeeded: 0,
                                                                                  blocked: 0, finished: 0, signing: 0, dispatching: 0,
                                                                                  scheduled: 0, building: 0)

          = render partial: 'shared/open_requests'

          - if dpackage
            %li
              %i.fas.fa-info-circle.text-info
              Developed at
              = link_to(elide(dpackage.project.name, 44), package_show_path(project: dpackage.project.name, package: dpackage.name))
          - if @package.project != @project
            %li
              %i.fas.fa-info-circle.text-info
              Sources inherited from project
              = link_to("#{elide(@package.project.name, 40)}", package_show_path(project: @package.project.name, package: @package.name))
          - if @package.developed_packages.present?
            %li
              %i.fas.fa-info-circle.text-info
              Devel package for
              - @package.developed_packages.each_with_index do |pkg, index|
                = ',' if index > 0
                = link_to("#{elide(pkg.project.name, 40)}", package_show_path(project: pkg.project.name, package: pkg.name))
          - if @package.is_patchinfo?
            %li
              %i.fas.fa-info-circle.text-info
              Has a
              = link_to 'patchinfo', patchinfo_show_path(package: @package, project: @project)
              for
              = link_to 'maintenance updates', 'http://en.opensuse.org/Portal:Maintenance'
              //TODO: Fix this hard link
          - if @package.linking_packages.present?
            %li
              = image_tag 'icons/information', title: ''
              = @package.linking_packages.size
              = link_to('derived packages', { :action => :linking_packages, :project => @project, :package => @package }, :remote => true)
          - if @linkinfo
            - linked_package = @linkinfo[:package]
            %i.fas.fa-link.text-dark
            Links to
            = project_or_package_link(project: linked_package.project.name, package: linked_package.name, short: true)
            - if @linkinfo[:error]
              %li
                %i.fas.fa-times-circle.text-danger
                Link has errors:
                %i= @linkinfo[:error]
            - elsif @linkinfo[:diff]
              %li
                %i.fas.fa-info-circle.text-info
                Has a
                = link_to('link diff', package_rdiff_path(oproject: linked_package.project.name, opackage: linked_package.name,
                                                          project: @project, package: @package, rev: @revision))
          = render partial: 'extra_actions'

      %ul.list-inline.mb-0
        - if @bugowners_mail.present? and @configuration['bugzilla_url']
          %li.list-inline-item
            = link_to(bugzilla_url(@bugowners_mail, "#{@project.name}/#{@package.name}: Bug"), class: 'nav-link') do
              %i.fas.fa-bug.text-danger
              Report Bug
        - unless User.current.is_nobody?
          - if @current_rev
            %li.list-inline-item
              = link_to('#', class: 'nav-link', data: { "toggle": "modal", "target": "#branchModal" }) do
                %i.fas.fa-code-branch.text-primary
                Branch package
            %li.list-inline-item
              = link_to(package_submit_request_dialog_path(project: @project, package: @package, revision: @revision), remote: true, class: 'nav-link') do
                %i.fas.fa-share-square.text-package
                Submit package
            - if User.current.can_modify?(@package)
              %li.list-inline-item
                = link_to(package_edit_path(project: @project, package: @package, spec_count: @spec_count), class: 'nav-link') do
                  %i.fas.fa-edit.text-info
                  Edit description
              %li.list-inline-item
                = link_to(package_delete_dialog_path(package: @package, project: @project), remote: true, id: 'delete-package', class: 'nav-link') do
                  %i.fas.fa-times-circle.text-danger
                  Delete package
              - Feature.with(:kiwi_image_editor) do
                - if @package.kiwi_image? && policy(@package).update?
                  %li.list-inline-item
                    = link_to(import_kiwi_image_path(@package.id), id: 'edit-kiwi', class: 'nav-link') do
                      %i.fas.fa-compact-disc.text-primary
                      View Image
              - if Feature.active?(:cloud_upload) && !User.current.is_nobody?
                - if @package.kiwi_image?
                  %li.list-inline-item
                    = link_to(cloud_upload_index_path, id: 'cloud-upload', class: 'nav-link') do
                      %i.fas.fa-cloud-upload-alt.text-info
                      Cloud Upload
              - if @services.present?
                %li.list-inline-item
                  = link_to(package_trigger_services_path(package: @package, project: @project), method: :post, class: 'nav-link') do
                    %i.fas.fa-project-diagram.text-package
                    Trigger services
              %li.list-inline-item
                = link_to(request_add_role_dialog_path(project: @project, package: @package), remote: true, class: 'nav-link') do
                  %i.fas.fa-user-plus.text-primary
                  Request role addition
              %li.list-inline-item
                = link_to(request_delete_dialog_path(project: @project, package: @package), remote: true, class: 'nav-link') do
                  %i.fas.fa-list-alt.text-danger
                  Request deletion
            //TODO: only users w/o rights should see this, maintainers should get a different dialog:
          - if @package.develpackage
            %li.list-inline-item
              = link_to(request_change_devel_dialog_path(project: @project, package: @package), remote: true, class: 'nav-link') do
                %i.fas.fa-exchange-alt.text-primary
                Request devel project change
.row
  .col-lg-8
    .card.mb-3
      %h5.card-header
        Source Files
        = image_tag('ajax-loader.gif', :id => 'spinner_files', :style => 'display: none')
        - if @linkinfo && @revision_parameter.nil?
          %small
            - if @expand && @expand.to_s == '1' || @forced_unexpand.present?
              = link_to('(show unmerged sources)', package_show_path(project: @project.name, package: @package.name, rev: @revision_parameter, expand: '0'))
            - else
              = link_to('(show merged sources derived from linked package)', package_show_path(project: @project.name, package: @package.name, rev: @revision_parameter, expand: '1'))
      - unless @forced_unexpand.blank?
        %p.card-body
          %i
            Sources could not be expanded:
            = @forced_unexpand
          = link_to('Show unmerged sources', package_show_path(project: @project.name, package: @package.name, rev: @revision_parameter, expand: '0'))
      - else
        = render partial: 'files_view'
    .card.mb-3
      %h5.card-header
        Comments for
        = @project.name
        (#{ @comments.length})
      .card-body#comments
        = render partial: 'webui2/webui/comment/show', locals: { commentable: @package }
  .col-lg-4
    = render partial: 'webui2/shared/buildresult_box', locals: { project: @project.name, package: @package.name }

= render partial: 'webui/package/branch_dialog'
