- @pagetitle = "Resource Information"
- @metarobots = 'noindex' # files change too often

.card.mb-3
  = render partial: 'tabs', locals: { project: @project, package: @package }
  .card-body
    - if @statistics
      - disk = @statistics.get('disk').get('usage')
      - if disk
        %h1 Disk Statistics
        - if disk['size']
          %p
            %strong Maximal used disk space:
            = disk['size']['_content']
            = disk['size']['unit']
            byte
        - if disk['io_requests']
          %p
            %strong Number of IO requests:
            = disk['io_requests']
        - if disk['io_sectors']
          %p
            %strong Sectors read or written:
            = disk['io_sectors']
      - memory = @statistics.get('memory').get('usage')
      - if memory && memory['size']
        %h1 Memory Statistics
        %p
          %strong Maximal used memory:
          = memory['size']['_content']
          = memory['size']['unit']
          byte
      - times = @statistics['times']
      - if times
        %h1 Times
        - if times['preinstall']
          %p
            Package
            Preinstall: #{times['preinstall']['time']['_content']} #{times['preinstall']['time']['unit']}
        - if times['install']
          %p
            Package
            Install: #{times['install']['time']['_content']} #{times['install']['time']['unit']}
        - if times['main']
          %p
            Main build task: #{times['main']['time']['_content']} #{times['main']['time']['unit']}
        - if times['total']
          %p
            Total build: #{times['total']['time']['_content']} #{times['total']['time']['unit']}
    - else
      %strong No statistics exist for this build

