<h1>Editing tag</h1>

<%= form_tag :action => 'update_tag', :id => @tag do -%>
  <%= render :partial => 'tag_form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show_tag', :id => @tag %> |
<%= link_to 'Back', :action => 'list_tags' %>
