<h2>Administrator Tasks</h2>

 
  <ul style="list-style: none; border: 1px solid #e0e0e0; padding: 1em; background: #f0f0f0;">
    <li><%= link_to 'User Management', :controller => '/active_rbac/user' -%></li>
    <li><%= link_to 'Group Management', :controller => '/active_rbac/group' -%></li>
    <li><%= link_to 'Role Management', :controller => '/active_rbac/role' -%></li>
    <li><%= link_to 'Permission Management', :controller => '/active_rbac/static_permission' -%></li>
    <li><%= link_to 'Tag Management', :controller => 'admin', :action => "list_tags" -%></li>
  </ul>


