<%= content_for :ready_function do %>
  $("#kiwi_details_trigger").click(function() {
    $("#kiwi-image-details-section").show();
    $("#kiwi-image-repositories-section").hide();
    $("#kiwi-image-packages-section").hide();
  });

  $("#kiwi_software_trigger").click(function() {
    $("#kiwi-image-repositories-section").show();
    $("#kiwi-image-packages-section").show();
    $("#kiwi-image-details-section").hide();
  });
<% end %>

<% kiwi_image_breadcrumb(@image, @image.name) %>

<div class="box-header header-tabs" id="package_tabs">
  <ul>
    <%= tab 'kiwi', 'Overview', controller: 'kiwi/images', action: 'show', selected: action_name == 'show' %>
    <% unless action_name == 'edit' %>
      <%= tab 'kiwi', 'Details', controller: 'kiwi/images', action: 'edit', params: { section: 'details' } %>
      <%= tab 'kiwi', 'Software', controller: 'kiwi/images', action: 'edit', params: { section: 'software' }, selected: action_name == 'edit' && params[:section] == 'software' %>
    <% else %>
      <li id="kiwi_details_tab" class="<%= 'selected' if params[:section] == 'details' %>"><a href="#" id="kiwi_details_trigger">Details</a></li>
      <li id="kiwi_software_tab" class="<%= 'selected' if params[:section] == 'software' %>"><a href="#" id="kiwi_software_trigger">Software</a></li>
    <% end %>
  </ul>
</div>
