- commit = @package.commit(rev.to_s)
- if commit
  .row
    .col-md-12
      %p
        - if commit['comment']
          = truncate(commit['comment'])
        - else
          No commit message
  .row
    .col-md-10
      %p
        -if commit['user'] == '_service'
          %i.fa.fa-cogs
          Automatic update
        - else
          - user = User.find_by_login commit['user']
          - if user
            = user_icon(user, 20, 'img-rounded')
            = link_to(user_show_path(user)) do
              = user.realname || user.login
          - else
            / hmm no user. whatever...
            %i.fa.fa-user
            = commit['user'] || 'unknown'
        - if commit['requestid']
          accepted
          = link_to("request #{commit['requestid']}", {controller: :request, action: :show, number: commit['requestid']})
        - else
          authored
        = fuzzy_time(Time.at(commit['time'].to_i))
    .col-md-2
      %span.pull-right
        = link_to({controller: :package, action: :rdiff, package: @package, project: @project, rev: commit['rev'], linkrev: 'base'}) do
          revision #{commit['rev']}
- else
  %em
    Revision #{rev.to_s} not found
