- content_for :title do
  Show #{@project} / #{@package}

- dpackage = @package.develpackage

.row
  .col-md-12
    .page-header
      .btn-group.pull-right
        = link_to({:action => :submit_request_dialog, :project => @project, :package => @package}, :remote => true, :class=>"btn btn-default btn-sm") do
          %i.fa.fa-plus
          Submit
        = link_to({:action => :branch_dialog, :project => @project, :package => @package}, :remote => true, :class=>"btn btn-default btn-sm") do
          %i.fa.fa-code-fork
          Branch
        = link_to({:action => :delete_dialog, :package => @package, :project => @project}, :remote => true, :class=>"btn btn-default btn-sm") do
          %i.fa.fa-minus
          Delete
      - title = @package.title
      - title = @package.name if title.blank?
      %h1
        %i.fa.fa-archive
        = link_to(@project) + " /"
        = link_to(@package.name, :controller => :package, :action=> 'show', :project => @project, :package => @package)
      .clearfix
.row
  .col-md-9
    %p.lead
      = @package.description
      - if User.current.can_modify_package? @package
        = link_to({:action => 'edit', :project => @project, :package => @package, :spec_count => @spec_count}, id: 'edit-description', :class =>"btn btn-default btn-xs" ) do
          %i.fa.fa-pencil
          Edit

  .col-md-3

.row
  .col-md-9
    .files{:style=>"background-color: #f9f9f9"}
      = render :partial => 'files'

- content_for :scripts do
  :javascript
    $('#').dataTable();