:ruby
  index ||= ''
  if defined?(package)
    controller = 'package'
  else
    controller = 'project'
  end
  ajax_data = {}
  ajax_data['project'] = h(project) if defined?(project)
  ajax_data['package'] = h(package) if defined?(package)
  ajax_data['index'] = h(index) if defined?(index)

.card.mb-3
  .bg-light
    %ul.nav.nav-tabs.pt-2.px-3.flex-nowrap.collapsible#buildresult-box{ role: 'tablist', data: ajax_data }
      %li.nav-item
        = link_to("#build#{index}", id: "build#{index}-tab", class: 'nav-link active',
          data: { toggle: 'tab' }, role: 'tab', aria: { controls: "build#{index}", selected: true }) do
          Build Results
          %i.fas.fa-sync-alt{ id: "build#{index}-reload", onclick: "update_build_result_#{index}()" }
      - if defined?(package)
        %li.nav-item
          = link_to("#rpm#{index}", id: "rpm#{index}-tab", class: 'nav-link', data: { toggle: 'tab' },
            role: 'tab', aria: { controls: "rpm#{index}", selected: false }) do
            Rpmlint Results
            %i.fas.fa-sync-alt.invisible{ id: "rpm#{index}-reload", onclick: "update_rpmlint_result_#{index}()" }
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown', 'role': 'button', 'aria-expanded': 'false', 'aria-haspopup': 'true' }
        .dropdown-menu.dropdown-menu-right
  .card-boby
    .col-12
      .tab-content
        .tab-pane.fade.show.active{ id: "build#{index}", role: 'tabpanel', aria: { labelledby: "build#{index}-tab" } }
        - if controller == 'package'
          .tab-pane.fade{ id: "rpm#{index}", role: 'tabpanel', aria: { labelledby: "rpm#{index}-tab" } }

:javascript
  $(function () {
    $('#buildresult-box a[data-toggle="tab"]').on('hide.bs.tab', function (e) {
      var target = $(e.target).attr("href");
      $(target + '-reload').addClass('invisible');
    });
    $('#buildresult-box a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href")
      $(target + '-reload').removeClass('invisible');
    });
  });

- if defined?(package)
  :javascript
    function update_rpmlint_result_#{index}() {
      $('#rpm#{index}-reload').addClass('fa-spin');
      $.ajax({
        url: '#{ url_for(controller: controller, action: 'rpmlint_result') }',
        data: $('#buildresult-box').data(),
        success: function(data) {
          $('#rpm#{index}').html(data);
        },
        error: function(data) {
          $('#rpm#{index}').html('<p>No rpmlint results available</p>');
        },
        complete: function(data) {
          $('#rpm#{index}-reload').removeClass('fa-spin');
        }
      });
    }

    update_rpmlint_result_#{index}();

:javascript
  function update_build_result_#{index}() {
    var ajax_data_show = $('#buildresult-box').data();
    ajax_data_show['show_all'] = $('#show_all_#{index}').is(':checked')
    $('#build#{index}-reload').addClass('fa-spin');
    $.ajax({
      url: '#{ url_for(controller: controller, action: 'buildresult') }',
      data: ajax_data_show,
      success: function(data) {
        $('#build#{index}').html(data);
      },
      error: function(data) {
        $('#build#{index}').html('<p>No build results available</p>');
      },
      complete: function(data) {
        $('#build#{index}-reload').removeClass('fa-spin');
      }
    });
  }

  update_build_result_#{index}();
