:ruby
  index ||= 0
  url = project_buildresult_path(project: project, index: index, format: :js)
  if defined?(package)
    url = package_buildresult_path(project: project, package: package, index: index, format: :js)
    rpm_result_url = rpmlint_result_path(project: project, package: package, index: index, format: :js)
  end

.card
  .bg-light
    %ul.nav.nav-tabs.pt-2.px-3.flex-nowrap{ role: 'tablist' }
      %li.nav-item
        = link_to("#build#{index}", id: "build#{index}-tab", class: 'nav-link active text-nowrap',
          data: { toggle: 'tab' }, role: 'tab', aria: { controls: "build#{index}", selected: true }) do
          Build Results
      - if defined?(package)
        %li.nav-item
          = link_to("#rpm#{index}", id: "rpm#{index}-tab", class: 'nav-link text-nowrap', data: { toggle: 'tab' },
            role: 'tab', aria: { controls: "rpm#{index}", selected: false }) do
            RPM Lint
  .card-body
    .tab-content
      .tab-pane.fade.show.active{ id: "build#{index}", role: 'tabpanel', aria: { labelledby: "build#{index}-tab" } }
        %button.btn.btn-sm.btn-outline-primary.mb-2.build-refresh{ accesskey: 'r', title: 'Refresh Build Results',
                                                                   data: { url: url, remote: true, params: 'show_all=false' } }
          Refresh
          %i.fas.fa-sm.fa-sync-alt
        .result
      - if defined?(package)
        .tab-pane.fade{ id: "rpm#{index}", role: 'tabpanel', aria: { labelledby: "rpm#{index}-tab" } }
          %button.btn.btn-sm.btn-outline-primary.mb-2.rpm-refresh{ title: 'Refresh Rpmlint Results', data: { url: rpm_result_url, remote: true } }
            Refresh
            %i.fas.fa-sm.fa-sync-alt
          .result

- content_for(:ready_function) do
  initBuildResult('#{index}', $('#rpm#{index}'));
