.obs-dataTable
  %table.table.table-striped.table-bordered.w-100#group-members-table
    %thead
      %tr
        %th Login Name
        %th
    %tbody
      - if group.users.any?
        - group.users.each do |user|
          %tr
            %td= link_to(user, user_show_path(user))
            %td.text-nowrap
              = link_to('#', data: { toggle: 'modal', target: "#delete-group-user-#{user.id}-modal" }) do
                %i.fas.fa-times-circle.text-danger{ title: "Remove user '#{user}' from '#{group}' group." }
              = render(partial: 'remove_user_modal', locals: { group: group, user: user })
      - else
        %tr
          %td{ colspan: 2 } This group does not contain users.
  - if policy(group).update?
    = link_to('#', class: 'nav-link', data: { toggle: 'modal', target: '#add-user-modal' }, id: 'add-user') do
      %i.fas.fa-plus-circle.text-primary
      Add User
    = render(partial: 'add_user_modal', locals: { group: group })
