.table-responsive
  %table.table.table-hover.table-sm{ id: table_id }
    %thead.thead-light
      %tr
        %th.w-auto Repository
        %th.w-auto.text-center All
        - architectures.each do |architecture|
          %th.w-auto.text-center= architecture.name
    %tbody
      %tr
        %td.reponame
          %strong All
        - flags['all'].each do |flag|
          %td.all_flag.text-center
            = render partial: 'shared/repositories_flag_table_column',
                     locals: { flag: flag, project: project, package: package, user_can_set_flags: user_can_set_flags }
      - project.repositories.each do |repository|
        %tr
          %td.reponame.text-word-break-all
            %strong{ title: repository.name }
              - if package
                = link_to(repository.name, package_binaries_path(project: project, package: package, repository: repository.name))
              - else
                = link_to(repository.name, action: :state, project: project, repository: repository.name)
          - flags[repository.name].each_with_index do |flag, index|
            %td.text-center{ class: index == 0 ? 'all_flag' : nil }
              = render partial: 'shared/repositories_flag_table_column',
                       locals: { flag: flag, project: project, package: package, user_can_set_flags: user_can_set_flags }
