.modal.fade#add-user-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'edit-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      = form_for(@group, url: group_update_path + '#tab-group-members', method: :post) do
        .modal-header
          %h5.modal-title#edit-modal-label Add User
        .modal-body
          .form-group#add-user-modal-input
            .input-group
              .input-group-prepend
                %span.input-group-text#add-user-search-icon
                  %i.fa.fa-search
                  %i.fas.fa-spinner.fa-spin.d-none
                = text_field_tag 'group[userid]', '', required: true, placeholder: 'Type to autocomplete...', class: 'form-control'
        .modal-footer
          = render partial: 'webui2/shared/dialog_action_buttons'

= content_for :ready_function do
  :plain
    $('#group_userid').autocomplete({
      appendTo: '#add-user-modal-input',
      source: '#{url_for controller: 'user', action: 'autocomplete'}',
      search: function(event, ui) {
        var icon = $('#add-user-search-icon i:first-child');
        icon.addClass('d-none');
        icon.next().removeClass('d-none');
      },
      response: function(event, ui) {
        var icon = $('#add-user-search-icon i:first-child');
        icon.removeClass('d-none');
        icon.next().addClass('d-none');
      },
      minLength: 2
    });
