- unless buildresults.excluded_counter.zero? && !buildresults.show_all
  .mt-3.form-check
    = check_box_tag('show_all', true, buildresults.show_all, class: 'form-check-input d-none',
                    onchange: 'updateBuildResultBeta()')
    - label_message = buildresults.excluded_counter.zero? ? 'Hide' : "Show #{buildresults.excluded_counter}"
    = label_tag 'show_all' do
      %u.custom-label #{label_message} excluded/disabled results
- buildresults.results.each_pair do |package, results|
  %h5.text-primary.mb-3
    = package
  - if results.present?
    - results.group_by(&:repository).each_pair do |repository, results_per_repository|
      .float-start.mb-4
        %div
          = link_to(word_break(repository, 22),
            package_binaries_path(project: project, package: package, repository: repository),
            title: "Binaries for #{repository}")
        .results.d-flex.flex-wrap
          - results_per_repository.sort_by! { |result| Buildresult::AVAIL_STATUS_VALUES[result.code.to_sym] }
          - results_per_repository.each do |result|
            = render BuildResultForArchitectureComponent.new(result, project, package)
  - else
    All the results have state
    %strong excluded/disabled
