%ul.list-inline
  - unless User.current.is_nobody?
    %li.list-inline-item.togglable_comment{ "data-toggle": "reply_form_of_#{comment.id}" }
      %span.btn.btn-sm.btn-outline-secondary{ id: "reply_link_id_#{comment.id}" }
        Reply
  - if policy(comment).destroy?
    %li.list-inline-item
      = render(partial: 'webui/comment/delete_dialog', locals: { comment: comment })
      = link_to('#', data: { toggle: 'modal', target: "#delete-comment-modal-#{comment.id}" },
                class: 'delete_link btn btn-sm btn-outline-danger', title: 'Delete comment') do
        Delete
