- if User.current.is_nobody?
  .alert.alert-warning{ role: 'alert' }
    Login required, please
    = link_to('login', session_new_url)
    or
    = link_to('signup', user_register_user_url)
    in order to comment
- else
  = form_for @comment, action: 'webui2_create', method: :post, remote: true, html: { class: 'new-comment-form' } do |f|
    = hidden_field_tag :commentable_type, commentable.class
    = hidden_field_tag :commentable_id, commentable.id
    ~ f.text_area :body, rows: '4', placeholder: 'Add a new comment (markdown markup supported)',
      required: 'required', class: 'w-100 mb-3 form-control comment-field'
    = f.submit 'Add comment', class: 'btn btn-primary', data: { disable_with: 'Creating comment...' }
