= form_for(:request, url: url, method: :get, id: 'content-selector-filters-form') do |form|
  .row
    .col-md-4.col-lg-3.px-0.px-md-3.sticky-top.mb-3#filter-desktop
      .card
        %strong.d-block.d-md-none.p-3{ data: { 'bs-toggle': 'collapse', 'bs-target': '#content-selector-filters' },
                                    aria: { expanded: true, controls: 'filters' } }
          Filtered by: #{params[:status]&.humanize}
          %i.float-end.mt-1.fa.fa-chevron-down#requests-dropdown-trigger
        .collapse#content-selector-filters
          = render partial: 'webui/shared/bs_requests/requests_filter',
                   locals: { selected_filter: selected_filter, url: url,
                             viewed_object: viewed_object }
    .col-md-8.col-lg-9.px-0.px-md-3.d-none.content-list-loading
      = render partial: 'webui/shared/loading', locals: { text: 'Loading...', wrapper_css: ['loading'] }
    .col-md-8.col-lg-9.px-0.px-md-3.content-list#requests-list
      .card
        .card-body.list-group.list-group-flush.p-3.pt-0#requests
          .card.border-0.border-bottom.rounded-0.sticky-top.mb-3#requests-filter-search-text
            .card-body.row
              .col
              .col-lg
                = render partial: 'webui/shared/search_box', locals: { html_id: 'search',
                                                                       value: selected_filter[:search],
                                                                       required: false,
                                                                       button: { type: 'submit' } }
          .text-center.mb-3
            - if bs_requests.total_count == 0
              %p There are no requests available
            - else
              %span.ms-3= page_entries_info(bs_requests, entry_name: 'request')
          = render partial: 'webui/shared/bs_requests/request_item', collection: bs_requests, as: :bs_request
          = paginate bs_requests, views_prefix: 'webui'
  = form.submit(nil, class: 'd-none')
