- bs_request_actions_count = bs_request.bs_request_actions.count
- bs_request_actions_types = bs_request.bs_request_actions.pluck(:type).uniq
= link_to(request_show_path(bs_request.number), class: 'list-group-item list-group-item-action', id: "request-heading#{bs_request.number}") do
  .row.flex-nowrap
    .col-auto
      - bs_request_actions_types.each do |action_type|
        %div{ title: action_type.humanize.titleize }
          %i{ class: "#{action_type_icon(action_type)}" }
    .col.col-with-icon
      .d-flex.mb-1
        %strong.me-auto
          - if bs_request_actions_count != 1
            Multiple Action
          - if bs_request_actions_types.count == 1
            = bs_request.bs_request_actions.first.type.humanize.titleize
          Request ##{bs_request.number}
        = render BsRequestPriorityBadgeComponent.new(priority: bs_request.priority, css_class: 'mb-auto mx-2')
        = render BsRequestStateBadgeComponent.new(state: bs_request.state, css_class: 'mb-auto')
      - if Flipper.enabled?(:labels, User.session) && bs_request.labels
        .mb-1
          = render partial: 'webui/shared/label', collection: bs_request.labels, as: :label
      .mb-1
        = render BsRequestDescriptionComponent.new(bs_request:)
        .mb-2.request-index-description.text-truncate
          = bs_request.description
      .text-end
        %span
          = render AvatarComponent.new(name: bs_request.creator, email: User.find_by_login(bs_request.creator).email, custom_css: 'align-text-bottom')
          = bs_request.creator
          created
          = render TimeComponent.new(time: bs_request.created_at)
        - unless bs_request_actions_count == 1
          %span.text-nowrap
            %i.fas.fa-list-check.ps-2
            = bs_request_actions_count
            actions
        - if bs_request.comments.any?
          %span.text-nowrap
            %i.fas.fa-comment.ps-2
            = pluralize(bs_request.comments.count, 'comment')
        - if bs_request.reviews.any?
          %span.text-nowrap
            %i.fas.fa-magnifying-glass.ps-2
            = pluralize(bs_request.reviews.count, 'reviews')
