<% @counts_grouped_by_state.each do |state, count| %>
  <%= turbo_stream.update "request_counter_for_state_#{state}" do %>
    <span><%= count %></span>
  <% end %>
<% end %>
<% @counts_grouped_by_type.each do |type, count| %>
  <%= turbo_stream.update "request_counter_for_type_#{type}" do %>
    <span><%= count %></span>
  <% end %>
<% end %>
<%= turbo_stream.update 'request_counter_for_incoming_requests' do %>
  <span><%= @count_for_incoming_requests %></span>
<% end %>
<%= turbo_stream.update 'request_counter_for_outgoing_requests' do %>
  <span><%= @count_for_outgoing_requests %></span>
<% end %>
<%= turbo_stream.update 'request_counter_for_reviews' do %>
  <span><%= @count_for_reviews %></span>
<% end %>
