- @pagetitle = 'Amazon EC2 Configuration'

.card.mb-3
  .card-body
    %h3.mb-3= @pagetitle
    %p
      Amazon EC2 allows you to easily run instances of your appliance on Amazon's webservers.

    %h4
      Roles and permissions

    %p
      To upload your appliances to Amazon EC2, the Open Build Service requires permission to run EC2 instances. This may incur costs,
      = link_to 'https://aws.amazon.com/partners/suse/', target: '_blank', rel: 'noopener' do
        read Amazon's price list
      for details.

    %p
      %ul
        %li
          Go to
          %i
            IAM -> Roles -> Create role
          and select
          %i
            Another AWS Account.
        %li
          Enter
          %b
            = @aws_account_id
          as
          %i
            Account ID.
        %li
          Select option
          %i
            Require external ID
          and enter
          %b
            = @ec2_configuration.external_id
          as External ID.
        %li
          Attach
          %i
            AmazonEC2FullAccess
          permission policy and create the role.
    = form_for @ec2_configuration, url: cloud_ec2_configuration_path, method: :put do |f|
      .mb-3
        = f.label :arn do
          Please enter now the obtained
          %b
            Amazon Resouce Name (ARN):
        = f.text_field :arn, value: @ec2_configuration.arn, class: 'form-control', name: 'ec2_configuration[arn]'
      = f.submit 'Submit', class: 'btn btn-primary'
