.row
  .col
    %p
      During this period
      = render partial: 'pulse_list_commits', locals: { commits: commits, updates: updates }
    %p
      = render partial: 'pulse_list_builds', locals: { builds: builds }
      = render partial: 'pulse_list_new', locals: { new_packages: new_packages, deleted_packages: deleted_packages }
      = render partial: 'pulse_list_changes', locals: { project_changes: project_changes }
    %p
      = render partial: 'pulse_list_branches', locals: { branches: branches }
      = render partial: 'pulse_list_comments', locals: { comments: comments }

  .col
    .card
      .card-header
        Requests
      .card-body
        - if requests.any?
          .row
            .col
              .progress
                -# haml-lint:disable InlineStyles
                - requests_by_percentage.each do |state, percentage|
                  %div{ title: "#{requests_by_state[state]} #{state} requests",
                        class: "progress-bar progress-state-#{state}",
                        'aria-valuemax': '100', 'aria-valuemin': '0', 'aria-valuenow': percentage,
                        role: 'progressbar', style: "width: #{percentage}%" }
                -# haml-lint:enable InlineStyles
              %p
                = link_to('#pulse-requests') do
                  = requests_by_state.values.sum
                  active requests
          .row
            - requests_by_state.each_key do |state|
              .col.border.text-center
                %p.fa-3x
                  %i{ class: "fa #{request_bootstrap_icon(state)} request-state-#{state}" }
                %p
                  = pluralize(requests_by_state[state], 'request')
                  %br
                  in #{state}
        - else
          = link_to(project_requests_path(project)) do
            There have been no requests send to this project.
.row
  .col
    - package_changes = commits + new_packages + deleted_packages + updates
    - if package_changes.present?
      %h5#pulse-packages
        = link_to('.collapse-package-changes', aria: { controls: 'collapse-package-changes', expanded: 'true' },
                  'data-toggle' => 'collapse', role: 'button') do
          Package Changes
          %small
            %span.collapser (Hide)
            %span.expander (Show)
      %hr
      .collapse.show.collapse-package-changes
        %ul.list-unstyled
          - package_changes.sort_by(&:datetime).reverse_each do |log_entry|
            %li
              = render partial: 'pulse_list_entry', locals: { log_entry: log_entry, project: project }

    - if project_changes.present?
      %h5#pulse-project
        = link_to('.collapse-project-changes', aria: { controls: 'collapse-project-changes', expanded: 'true' },
                  'data-toggle' => 'collapse', role: 'button') do
          Project Changes
          %small
            %span.collapser (Hide)
            %span.expander (Show)
      %hr
      .collapse.show.collapse-project-changes
        %ul.list-unstyled
          - project_changes.each do |log_entry|
            %li
              = render partial: 'pulse_list_entry', locals: { log_entry: log_entry, project: project }

    - if builds.present?
      %h5#pulse-builds
        = link_to('.collapse-builds', aria: { controls: 'collapse-builds', expanded: 'true' }, 'data-toggle' => 'collapse', role: 'button') do
          Builds
          %small
            (in the last 24 hours)
            %span.collapser (Hide)
            %span.expander (Show)
      %hr
      .collapse.show.collapse-builds
        %ul.list-unstyled
          - builds.each do |log_entry|
            %li
              = render partial: 'pulse_list_entry', locals: { log_entry: log_entry, project: project }

    - collaboration = branches + comments
    - if collaboration.present?
      %h5#pulse-collaboration
        = link_to('.collapse-collaboration', aria: { controls: 'collapse-collaboration', expanded: 'true' },
                  'data-toggle' => 'collapse', role: 'button') do
          Collaboration
          %small
            %span.collapser (Hide)
            %span.expander (Show)
      %hr
      .collapse.show.collapse-collaboration
        %ul.list-unstyled
          - collaboration.sort_by(&:datetime).reverse_each.each do |log_entry|
            %li
              = render partial: 'pulse_list_entry', locals: { log_entry: log_entry, project: project }

    - if requests.present?
      %h5#pulse-requests
        = link_to('.collapse-requests', aria: { controls: 'collapse-requests', expanded: 'true' }, 'data-toggle' => 'collapse', role: 'button') do
          Requests
          %small
            %span.collapser (Hide)
            %span.expander (Show)
      %hr
      .collapse.show.collapse-requests
        = render partial: 'pulse_list_requests', locals: { requests: requests }
