.editing-form.d-none
  = render partial: 'edit', locals: { package: package, project: package.project }

.basic-info
  %h3#package-title
    = package.title.presence || package.name
    - if User.session
      .d-inline.ms-1#watchlist-icon-wrapper
        = render WatchlistIconComponent.new(user: User.session!,
                                            package: package,
                                            project: project,
                                            current_object: package)
  - if package.url.present?
    = link_to(package.url, package.url, class: 'mb-3 d-block')
  #description-text
    - if package.description.blank?
      %i No description set
    - else
      = render partial: 'webui/shared/collapsible_text', locals: { text: package.description }

  - if policy(package).update?
    .pt-4
      = link_to('javascript:void(0);', id: 'toggle-in-place-editing', class: 'ps-0', title: 'Edit') do
        %i.fas.fa-edit
        %span.nav-item-name Edit

:javascript
  $('#toggle-in-place-editing').on('click', function () {
    $('.in-place-editing .basic-info').toggleClass('d-none');
    $('.in-place-editing .editing-form').toggleClass('d-none');
  });
  $('#cancel-in-place-editing').on('click', function () {
    $('.in-place-editing .basic-info').toggleClass('d-none');
    $('.in-place-editing .editing-form').toggleClass('d-none');
  });
