  <div class="dialog darkgrey_box hidden" id="package_branch_dialog">
    <div class="box box-shadow">
      <h2 class="box-header">Branch Confirmation</h2>
      <div class="dialog-content">
        <p>
        Do you want to branch <%= package_link(@package) %> into
        <%= project_or_package_link(
              project: User.current.branch_project_name(@package.project.name),
              short: true) %>?<br /><br />
         <a data-target="#branching-options" data-hidetext="[-] Hide options" data-showtext="[+] More options" class="show-hide">[+] More options</a>
        </p>
      </div>

      <%= form_tag({controller: :package, action: :branch}, method: :post) do %>
        <div id="branching-options" class="hidden">
          <%= render partial: 'shared/package_branch_form', locals: {show_source_fields: false, target_project: nil} %>
        </div>

        <div class="dialog-buttons">
          <%= link_to('Close', '#', title: 'Close', class: 'close-dialog', data: { target: '#package_branch_dialog' }) %>
          <%= submit_tag('Ok') %>
        </div>
      <% end %>
    </div>
  </div>
