  <div class="dialog" id="disable_mask"></div>
  <div class="dialog darkgrey_box" id="branch_dialog">
    <div class="box box-shadow">
      <h2 class="box-header">Branch Confirmation</h2>

      <p>Do you really want to branch <%= package_link(@package) %>?</p>

      <%= form_tag({:controller => :package, :action => :branch}, :method => :post) do %>
        <%= hidden_field_tag(:project, @project) %>
        <%= hidden_field_tag(:package, @package) %>
        <div class="buttons">
          <%= submit_tag('Ok') %>
          <%= remove_dialog_tag('Cancel') %>
        </div>
      <% end %>
    </div>
  </div>
