  <div class="dialog" id="disable_mask"></div>
  <div class="dialog darkgrey_box" id="branch_dialog">
    <div class="box box-shadow">
      <h2 class="box-header">Branch Confirmation</h2>
      <div class="dialog-content">
        <p>Do you really want to branch <%= package_link(@package) %>?</p>
      </div>

      <%= form_tag({ controller: :package, action: :branch }, method: :post) do %>
        <%= hidden_field_tag(:linked_project, @project.name) %>
        <%= hidden_field_tag(:linked_package, @package.name) %>
        <div class="dialog-buttons">
          <%= submit_tag('Ok') %>
          <%= remove_dialog_tag('Cancel') %>
        </div>
      <% end %>
    </div>
  </div>
