<div id="package_buildstatus">
  <% if !@project.repositories.any? %>
    <%= render "no_repositories" %>
  <% else %>
    <% @package.repositories.each do |repository| %>
      <% repository.architectures.each do |architecture| %>
        <h3> <%= repository %> - <%= architecture %> </h3>
        <table>
        <% LocalBuildResult.find_by(project: @project.name,
                                    package: @package.name,
                                    repository: repository.name,
                                    architecture: architecture.name).each do |build_result| %>
          <tr>
            <td><%= build_result.package %></td>
            <td><%= build_result.code %></td>
          </tr>
        <% end %>
      </table>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= javascript_tag do %>
    $('.unresolvable, .blocked').click(function() {
        var title = $(this).attr('title');
        alert(title);
    });
<% end %>
