<div id="package_buildstatus">
  <% if !@project.repositories.any? %>
    <%= render "no_repositories" %>
  <% elsif @buildresult.blank? %>
    <p><i>No build result available</i></p>
  <% else %>

    <table class="repostatus">
      <% @buildresult.each do |r,archs|
        index = 0
        archs.each do |a|
          -%>
          <tr>
            <% if index == 0 %>
              <td title="<%= r %>" rowspan="<%= archs.length %>">
                <%= link_to(word_break(r, 22), {:action => :binaries, :controller => :package, :project => @project, :package => @package, :repository => r}, {:title => "Binaries for #{r}"}) %>
              </td>
              <% index += 1 -%>
            <% end # if -%>
            <td class="arch">
              <div class="nowrap" style="margin: 0 0.5ex">
                <%= repo_status_icon(@repostatushash[r][a],@repostatusdetailshash[r][a]) %> <%= a %>
              </div>
            </td>
            <%= arch_repo_table_cell r, a, @package.name %>
          </tr>
        <% end # all archs -%>
      <% end # all builds -%>
    </table>

  <% end # if -%>
</div>

<%= javascript_tag do %>
    $('.unresolvable, .blocked').click(function() {
        var title = $(this).attr('title');
        alert(title);
    });
<% end %>
