<% @package.buildresults.each_pair do |package, results| %>
  <h3><%= package %></h3>
  <div id="package_buildstatus">
    <% if !@project.repositories.any? %>
      <%= render "no_repositories" %>
    <% else %>
      <table>
        <% previous_repo = nil %>
        <% results.each do |result| %>
          <% repository = @project.repositories.find_by_name(result.repository) %>
          <% next unless repository %>
          <% next unless repository.architectures.pluck(:name).include?(result.architecture) %>
          <tr>
            <% if result.repository != previous_repo %>
              <td title="<%= result.repository %>" rowspan="<%= repository.architectures.length %>">
              <%= link_to(word_break(result.repository, 22), { action: :binaries, controller: :package, project: @project, package: @package, repository: result.repository }, { title: "Binaries for #{result.repository}" }) %>
            </td>
            <% end %>
            <td class="arch">
              <div class="nowrap" style="margin: 0 0.5ex">
                <%= repo_status_icon(result.state, result.details) %> <%= result.architecture %>
              </div>
            </td>
            <%= arch_repo_table_cell(result.repository, result.architecture, package, { "code" => result.code, "details" => result.details }) %>
          </tr>
          <% previous_repo = result.repository %>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>
<% if @package.buildresults.any? %>
<%= javascript_tag do %>
    $('.unresolvable, .blocked').click(function() {
        var title = $(this).attr('title');
        alert(title);
    });
<% end %>
<% end %>
