.modal.fade#delete-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'delete-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#delete-modal-label Do you really want to delete this package?
      .modal-body
        - if package.develpackages.any?
          %p
            %i.fas.fa-exclamation-circle.text-danger
            %span.small Warning: This package is used by the following packages for development
          %ul.list-unstyled
            - package.develpackages.each do |devel_package|
              %li.small
                -# FIXME: get rid of this helper
                = project_or_package_link(project: devel_package.project.name, package: devel_package.name, short: true)
        - else
          %p Please confirm deletion of #{package_link package}
        = form_tag({ controller: :package, action: :remove }, method: :post) do
          = hidden_field_tag(:project, project)
          = hidden_field_tag(:package, package)
          - if package.develpackages.any?
            .custom-control.custom-checkbox
              = check_box_tag(:force, 'cleanup', cleanup_source, class: 'custom-control-input')
              = label_tag(:force, 'Delete anyway?', class: 'custom-control-label')

          .modal-footer
            %a.btn.btn-sm.btn-outline-secondary.px-4{ data: { dismiss: 'modal' } }
              Cancel
            = submit_tag('Delete', class: 'btn btn-sm btn-danger px-4')
