<div class="grid_8 alpha">
  <h3>Provides</h3>
  <table>
    <thead>
      <tr>
        <th style="width: 40%">Symbol</th>
        <th>Required by</th>
      </tr>
    </thead>
    <tbody>
      <% @fileinfo.elements('provides_ext') do |p|  %>
        <tr>
          <td><span title='<%= p['dep'] %>' class='nowrap'>
            <%= truncate(p['dep'], :length => 30) %></span></td>
          <td>
            <% p.elements('requiredby') do |pby| %>
                <%= link_to pby['name'], :action => :dependency,
                            :project => @project,
                            :package => @package,
                            :repository => @repository.name, :arch => @arch.name,
                            :dproject => pby['project'], :drepository => pby['repository'],
                            :dname => pby['name'], :filename => @filename %>
            <% end -%>
          </td>
        </tr>
      <% end -%>
      <% unless @fileinfo['provides_ext'] %>
        <tr><td colspan="2"><em>No provides</em></td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="grid_8 omega">
  <h3>Requires</h3>
  <table>
    <thead>
      <tr>
        <th style="width: 40%">Symbol</th>
        <th>Provided by</th>
      </tr>
    </thead>
    <tbody>
      <% @fileinfo.elements('requires_ext') do |p|  %>
        <tr>
          <td><span title='<%= p.value('dep') %>' class='nowrap'><%= truncate(p.value('dep'), :length => 30) %></span></td>
          <td>
            <% p.elements('providedby') do |pby| %>
                <%= link_to pby['name'], :action => :dependency, :project => @project,
                            :package => @package, :repository => @repository.name, :arch => @arch.name,
                            :dproject => pby['project'], :drepository => pby['repository'],
                            :dname => pby['name'], :filename => @filename %>
            <% end -%>
          </td>
        </tr>
      <% end -%>
      <% unless @fileinfo['requires_ext'] %>
        <tr><td colspan="2"><em>No requires</em></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
