<% unless @files.blank? %>
    <table id="files_table" class="compact">
      <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Changed</th>
        <th style="width: 1%">Actions</th>
      </tr>
      </thead>
      <tbody>
        <%- file_locals = {
          project: @project, package: @package, expand: @expand, is_current_rev: @is_current_rev,
          can_modify: User.current.can_modify?(@package), nobody: User.current.is_nobody?
        } %>
        <%= render partial: 'file', collection: @files, cached: proc { |file| [file[:mtime], file[:md5], file_locals].hash }, locals: file_locals
        %>
      </tbody>
    </table>
    <% content_for :ready_function do %>
        $('#files_table').dataTable({
        'columns': [null, null, null, {'orderable': false}],
        });
    <% end %>
<% else %>
    <p><i>This package has no files yet</i></p>
<% end %>

<% if User.current.can_modify? @package %>
    <p>
      <%= link_to sprited_text('page_white_add', 'Add file'), :action => :add_file, :project => @project, :package => @package %>
    </p>
<% end %>

<% unless @files.blank? || @spider_bot %>
  <% if @revision.present? %>
    <% unless @is_current_rev %>
      <h3>Revision <%= @revision %> (latest revision is <%= @current_rev %>)</h3>
    <% else %>
      <h3>Latest Revision</h3>
    <% end %>
    <div style="margin-left: 1.2em">
      <%= render :partial => 'commit_item', :locals => {:rev => @revision} %>
    </div>
    <% elsif @srcmd5 %>
      <h3>Source MD5 is <%= @srcmd5 %> (latest revision is <%= @current_rev %>)</h3>
  <% end %>
<% end %>
