<p>
  <%= link_to sprite_tag('script_lightning', title: 'Start refresh') + 'Start refresh', '#', :class => 'start_refresh hidden' %>
  <%= link_to sprite_tag('script_link', title: 'Stop refresh') + 'Stop refresh', '#', :class => 'stop_refresh' %>
  <%= link_to sprite_tag('script') + 'Download logfile',
              Rails.application.routes.url_for(controller: :build, action: :logfile, package: @package,
                                               project: @project, arch: @arch, repository: @repo, only_path: true) %>
</p>

<% if User.current.can_modify_package? @package.api_obj %>
    <p>
      <span class="link_trigger_rebuild hidden">
      <%= link_to sprite_tag('rebuild') + 'Trigger Rebuild', {:action => 'trigger_rebuild', :project => @project, :package => @package, :arch => @arch, :repo => @repo}, :method => :delete %>
    </span>
  <span class="link_abort_build hidden">
      <%= link_to "[Abort build]", :action => 'abort_build', :project => @project, :package => @package, :arch => @arch, :repo => @repo %>
    </span></p>
<% end %>
