- diff_content = file.dig('diff', '_content')
.position-relative
  = render partial: 'webui/package/revision_diff_detail_buttons',
  locals: { file_view_path: file_view_path, filename: filename, index: index, last: last, has_content: diff_content.present?, linkinfo: linkinfo }
  - if diff_content.present?
    %details.card{ open: expand_diff?(filename, file['state']), id: "revision_details_#{index}", data: { package: package } }
      %summary.card-header.py-3
        .diff-card-header
          = calculate_filename(filename, file)
          %span.badge{ class: "badge-#{file['state']}" }= file['state'].capitalize
      -# TODO: Remove this `if` condition, and the `else` clause once request_show_redesign is rolled out
      - if Flipper.enabled?(:request_show_redesign, User.session)
        .pre.scroll
          :ruby
            diff_parsed_lines = file.dig('diff', 'parsed_lines') || []
            last_line = diff_parsed_lines.reverse.find { |l| l.original_index || l.changed_index }
            max_index = [last_line.original_index, last_line.changed_index].compact.max if last_line
            index_width = max_index&.digits&.count || 6
          .diff{ class: "digits-#{index_width}" }>
            - diff_parsed_lines&.each do |line|
              - id = "diff_#{index}_n#{line.index}"
              %div{ class: "line #{line.state}", id: }>
                - case line.state
                - when 'comment', 'range'
                  .offset
                    .text-muted.text
                      = line.content
                - else
                  = link_to "##{id}", class: 'd-flex' do
                    .number<
                      = line.original_index
                    .number<
                      = line.changed_index
                  .value<
                    %span.character><
                      = line.content[0]
                    %span.content><
                      = line.content[1..]
      - else
        = render_diff(diff_content, file_index: index)
  - else
    .card{ id: "revision_details_#{index}" }
      .card-header.py-3
        .div.w-75
          = calculate_filename(filename, file)
          %span.badge{ class: "badge-#{file['state']}" }= file['state'].capitalize
