.card-header.p-0
  .scrollable-tabs
    = tab_link('Overview', package_show_path(project, package), 'scrollable-tab-link')
    - if package.name == 'patchinfo'
      = tab_link('Details', show_patchinfo_path(project, package), 'scrollable-tab-link')
    -# haml-lint:disable InstanceVariables
    - unless @spider_bot
      -# haml-lint:enable InstanceVariables
      = tab_link('Repositories', repositories_path(project, package), 'scrollable-tab-link')
      = tab_link('Revisions', package_view_revisions_path(project, package), 'scrollable-tab-link')
      - if Flipper.enabled?(:request_index, User.session)
        = tab_link('Requests', packages_requests_path(project,
                                                      package,
                                                      state: %w[new review]),
                               'scrollable-tab-link', active: controller_name == 'bs_requests')
      - else
        = tab_link('Requests', package_requests_path(project, package), 'scrollable-tab-link')
      = tab_link('Users', package_users_path(project, package), 'scrollable-tab-link')
      = tab_link('Attributes', index_attribs_path(project, package), 'scrollable-tab-link')
      = tab_link('Meta', project_package_meta_path(project, package), 'scrollable-tab-link')
