<%= content_for :ready_function do %>
  $("#advanced_tabs_trigger").click(function() {
    $("#advanced_tabs").show();
    $("#advanced_list_item").hide();
  });
<% end %>

<div class="box-header header-tabs" id="package_tabs">
  <ul>
    <% if @package.name == "patchinfo" %>
      <%= tab 'details', 'Details', :controller => :patchinfo, :action => 'show' %>
    <% end %>
    <%= tab 'overview', 'Overview', :controller => :package, :action => 'show' %>
    <% unless @spider_bot -%>
      <%= tab 'repositories', 'Repositories', :controller => :repositories, :action => 'index' %>
      <%= tab 'revisions', 'Revisions', :controller => :package, :action => 'revisions' %>
      <%= tab 'requests', "Requests", :controller => :package, :action => 'requests' %>
      <%= tab 'users', 'Users', :controller => :package, :action => 'users' %>
    <% end -%>
    <% if is_advanced_tab? %>
      <%= content_for :ready_function do %>
        $("#advanced_tabs").show();
      <% end %>
    <% else %>
      <li id="advanced_list_item"><a href="#" id="advanced_tabs_trigger">Advanced</a></li>
    <% end %>
  </ul>
  <% unless @spider_bot -%>
    <div id="advanced_tabs" class="hidden">
      <ul>
        <%= tab 'attributes', 'Attributes', controller: :attribute, :package => @package, :project => @project, :action => 'index' %>
        <%= tab 'meta', 'Meta', :controller => :package, :action => 'meta' %>
      </ul>
    </div>
  <% end -%>
</div>
