<% @pagetitle = "Revision Log of #{@package}" %>
<% package_bread_crumb 'Revisions'%>

<%= render :partial => 'tabs' %>

<% if @revisions %>
  <h3><%= "#{@pagetitle} (#{@revisions.count})" %></h3>
  <div id="revisions_view" style="margin-left: 1.2em">
    <% @revisions.each do |rev| %>
      <div id="commit_item_<%= rev %>" class="commit_item">
        <%= render(:partial => 'commit_item', :locals => {:rev => rev }) %>
      </div>
    <% end %>
  </div>
  <% unless params[:showall] %>
    <p><%= link_to('Show all', :action  => 'revisions', :project => @project, :package => @package, :showall => 1) %></p>
  <% end %>
<% else %>
  <h3><%= @pagetitle %></h3>
  <p><i>No commits exists yet.</i></p>
<% end %>
