%h1
  Cloud Upload

%div
  %table#upload-jobs
    %thead
      %tr
        %th #
        %th Filename
        %th Platform
        %th Status
        %th
    %tbody
      - @upload_jobs.each do |job|
        %tr
          %td= job.id
          %td= job.filename
          %td= job.platform.upcase
          %td= job.state
          %td
            = link_to "Log", cloud_upload_log_path(job.id)
            - unless ["succeeded", "failed"].include?(job.state)
              |
              = link_to 'Abort', cloud_upload_path(job.id),  method: :delete, data: { confirm: "Do you really want to abort job #{job.id}? Please note that we do NOT clean up AWS (e.g. removing the helper instance)!" }

%div
  %p
    = link_to 'Update your EC2 Configuration', cloud_ec2_configuration_path
