- @pagetitle = 'Cloud Upload'

- content_for :actions do
  %li.nav-item
    = link_to(cloud_configuration_index_path, title: 'Cloud Configuration', class: 'nav-link') do
      %i.fas.fa-fw.me-2.fa-cogs
      %span.nav-item-name Cloud Configuration

.card
  .card-body
    %h3= @pagetitle

    %p
      %table.responsive.table.table-sm.table-bordered.table-hover#upload-jobs
        %thead
          %tr
            %th #
            %th Filename
            %th Details
            %th Platform
            %th Status
            %th Created
            %th
        %tbody
          - job_states_finished = ['succeeded', 'failed']
          - @upload_jobs.each do |job|
            %tr
              %td= job.id
              %td
                = link_to(job.filename, project_package_repository_binaries_path(project_name: job.project,
                                                                                 package_name: job.package,
                                                                                 repository_name: job.repository))
              %td= job.details
              %td= job.target.upcase
              %td= job.state
              %td= time_tag(job.created_at)
              %td
                = link_to 'Log', cloud_upload_log_path(job.id)
                - unless job_states_finished.include?(job.state)
                  |
                  = link_to 'Abort', cloud_upload_path(job.id), method: :delete, data: { confirm: "Do you really want to abort job #{job.id}?" }

- content_for :ready_function do
  initializeDataTable('#upload-jobs', { order: [[0, 'desc']], pageLength: 25, responsive: true });
