.modal.fade#exclude-request-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'exclude-request-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#exclude-request-modal-label Exclude Request
      = form_for Staging::RequestExclusion.new, url: excluded_requests_path do |f|
        .modal-body
          = render partial: 'webui/shared/search_box', locals: { html_id: 'staging_request_exclusion[number]',
                                                                  label: 'Request', value: f.object.number,
                                                                  data: { source: autocomplete_excluded_requests_path(staging_workflow_project) } }
          .mb-3
            = f.label :description
            = f.text_area :description,
              required: true, placeholder: 'Explain why this request will be excluded', class: 'form-control', maxlength: 255
        .modal-footer
          = render partial: 'webui/shared/dialog_action_buttons'
