<div id="search_results">
<% @results.each do |result| %>
  <div class="search_result">
    <h6>
    Responsible for package
    <%= params['search_text'] %>
    for <%= result.rootproject %> set in
    <%= project_or_package_link project: result.project, package: result.package, short: false %>
    </h6>
    <p>
    <%= search_users_list(result.users) %>
    <%# Does it work with group names? %>
    <%= search_users_list(result.groups) %>
    </p>
  </div>
<% end %>

</div>
