.mb-3.row.row-cols-auto
  - search_for_options = [['All', '0'], ['Projects', '1'], ['Packages', '2']]
  - current_val = params.fetch(:search_for, '0')
  - current_label = search_for_options.find { |label, val| val == current_val }&.first || 'All'

  = hidden_field_tag('search_for', current_val, id: 'search_for_input')

  .dropdown
    - btn_opts = { type: 'button', 'data-bs-toggle' => 'dropdown', aria: { expanded: 'false' }, style: 'background: transparent;' }
    %button.btn.dropdown-toggle.border-0.ps-0#search_for_button{ btn_opts }
      = current_label
    %ul.dropdown-menu
      - search_for_options.each do |label, val|
        %li
          %button.dropdown-item{ type: 'button', onclick: "$('#search_for_input').val('#{val}'); $('#search_for_button').text('#{label}');" }
            = label

  %button.btn.btn-outline-secondary.ms-2.collapsed{ type: 'button', aria: { controls: 'collapse-1', expanded: 'false' },
                                                'data-bs-toggle' => 'collapse', href: '#advanced-container', role: 'button' }
    %span.collapser
      %span.d-none.d-md-inline-block Advanced
      %i.fa.fa-caret-up
    %span.expander
      %span.d-none.d-md-inline-block Advanced
      %i.fa.fa-caret-down
