<% @pagetitle = "Search Owner" %>
<% @crumb_list = [@pagetitle] -%>
<% @layouttype = 'custom' %>

<%= content_for :ready_function do %>
  $('#search_text').focus();
  $('#advanced_link' ).click(function() {
    $('#advanced_container').toggle("drop");
    return false;
  });
<% end %>

<div class="grid_16 alpha omega box box-shadow">
<%= render :partial => 'tabs' %>
  <h3>Search for people responsible for package:</h3>
  <div id="search_form">
  <%= form_tag({:controller => 'search', :action => 'owner'}, {:method => :get}) do -%>
  <p>
  <%= text_field_tag 'search_text', params[:search_text], :placeholder => 'Search', :id => 'search_input' -%>
  <input type="hidden" name="owner" value="1" />
  <input type="hidden" name="package" value="0" />
  <input type="hidden" name="project" value="0" />
  <%= submit_tag(nil, :id => 'search_button', :title => 'Search') %>
  <button type="button" id="advanced_link">Advanced</button>
  </p>
    <div id="advanced_container" style="display: none;">
    <h4>Advanced:</h4>
    <p>
    <% if params[:devel] == "off" %>
      <input checked="checked" id="nodevel" name="devel" type="radio" value="off" />
      <label for="nodevel">Ignore Devel Projects</label>
      <input id="devel" name="devel" type="radio" value="on" />
    <% elsif params[:devel] == "on" %>
      <input id="nodevel" name="devel" type="radio" value="off" />
      <label for="nodevel">Ignore Devel Projects</label>
      <input checked="checked" id="devel" name="devel" type="radio" value="on" />
    <% else %>
      <input id="nodevel" name="devel" type="radio" />
      <label for="nodevel">Ignore Devel Projects</label>
      <input id="devel" name="devel" type="radio" />
    <% end %>
    <label for="devel">Follow Devel Projects</label>
    </p>
    <p>
    <% if params[:limit].nil? %>
      <input type="radio" id="old" name="limit" value="-1" />
      <label for="old">Oldest</label>
      <input type="radio" id="all" name="limit" value="0" />
      <label for="all">All</label>
      <input checked="checked" type="radio" id="new" name="limit" value="1" />
      <label for="new">Newest</label>
    <% end %>

    <% if !params[:limit].nil? and params[:limit] == "-1" %>
      <input checked="checked" type="radio" id="old" name="limit" value="-1" />
      <label for="old">Oldest</label>
   <% elsif !params[:limit].nil? %>
      <input type="radio" id="old" name="limit" value="-1" />
      <label for="old">Oldest</label>
    <% end %>

    <% if !params[:limit].nil? and params[:limit] == "0" %>
      <input checked="checked" type="radio" id="all" name="limit" value="0" />
      <label for="all">All</label>
    <% elsif !params[:limit].nil? %>
      <input type="radio" id="all" name="limit" value="0" />
      <label for="all">All</label>
    <% end %>

    <% if !params[:limit].nil? and params[:limit] == "1" %>
      <input checked="checked" type="radio" id="new" name="limit" value="1" />
      <label for="new">Newest</label>
    <% elsif !params[:limit].nil? %>
      <input type="radio" id="new" name="limit" value="1" />
      <label for="new">Newest</label>
    <% end %>

    </p>
    </div> <!-- end advanced_container -->
  <% end %>
  </div> <!-- end search_form -->

<% unless @results.nil? || @results.empty? %>
  <%= render :partial => 'owners' %>

  <div>
  <% projects = [] %>
  <% @results.each do |result| %>
    <% link = Hash["project", result.project, "package", result.package ] %>
    <% projects << link %>
  <% end %>
    <p>
      <%= link_to(image_tag('user_add.png', :title => "Request bugowner change"), {:controller => :request, :action => :set_bugowner_request_dialog, :projects => projects}, :remote => true) %>
      <%= link_to("Request bugowner change", {:controller => :request, :action => :set_bugowner_request_dialog, :projects => projects}, :remote => true) %>
    </p>
  </div>
<% end %>
</div>
