<% if local_assigns[:api_exception] -%>
  <h1 id="exception-error">OBS API Error:</h1>
<% else -%>
  <h1 id="exception-error">OBS Web Interface Error:</h1>
<% end -%>

<% case status
   when 401 -%>
  <h2>Unauthorized Access</h2>
  <p>You need to log in to perform the operation.<br/>
  Please contact your OBS-admin to get an account.</p>
<% when 403 -%>
  <h2>Permission denied</h2>
  <p>The account that is logged into the system lacks proper permissions to perform
    the operation.<br />
  Please contact your OBS-admin to get proper permissions for the user account.</p>
<% when 404 -%>
  <h2>Target not found</h2>
  <p>A non existing page was requested.</p>
<% end if local_assigns[:status] -%>

<h3>Error Details:</h3>
<p>
  <% if local_assigns[:code] %>
    <strong>Errorcode: </strong><%= h code %><br/>
  <% end %>
  <% if local_assigns[:message] %>
    <strong>Message: </strong><%= h message %><br/>
  <% end %>
</p>

<% if local_assigns[:api_exception] -%>
  <h3>Exception from API:</h3>
  <p><strong><%=h api_exception.get_text 'type' %>: </strong><%=h api_exception.get_text 'message' %></p>
  <h4>Stack Trace:</h4>
  <pre>
  <%=h api_exception.get_elements( '//backtrace/line' ).map {|e| e.text }.join("\n") %>
  </pre>
<% end -%>

<% if  local_assigns[:exception] -%>
  <h3>Exception from Webclient:</h3>
  <p><strong><%=h exception.class.name %>: </strong><%=h exception.message %></p>
  <h4>Stack Trace:</h4>
  <pre><%=h(exception.backtrace.join("\n")) %></pre>
<% end -%>

