- if !User.session
  .alert.alert-warning{ role: 'alert' }
    Login required, please
    = link_to('login', new_session_url)
    - if can_register?
      or
      = link_to('signup', new_user_url)
    in order to comment
- else
  - comment_snippets.each do |comment_snippet|
    %hr
    .media
      .media-body
        %p
          = comment_snippet.title
        = render_as_markdown(comment_snippet.body)
        = render partial: 'webui/comment_snippets/edit', locals: { comment_snippet: comment_snippet }
  .comment_new.mt-3
    = render partial: 'webui/comment_snippets/new'

