<% @pagetitle = "Architecture Configuration" %>
<% @crumb_list = [@pagetitle] -%>
<% @layouttype = 'custom' %>

<div class="grid_16 alpha omega box box-shadow">
<%= render :partial => 'webui/configuration/tabs' %>
  <div class="grid_16 alpha">
    <h3>Architecture Availability</h3>
    <p>Toggle the availability of architectures.</p>
    <%= form_tag(bulk_update_availability_path, method: 'patch' ) do %>
      <table>
        <tr>
          <th>Architecture</th>
          <th>Availability</th>
        </tr>
        <%= fields_for :archs do |arch_fields| %>
          <% @architectures.each do |arch| %>
            <tr>
              <td><%= arch.name %></td>
              <td><%= arch_fields.check_box(arch.name, {checked: arch.available}) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <p><%= submit_tag 'Update' %></p>
    <% end %>
  </div>
</div>
