<div class="box-header header-tabs" id="configuration_tabs">
  <ul>
    <%= tab 'configuration', 'Configuration', :controller => :configuration, :action => :index %>
    <%= tab 'users', 'Manage Users', :controller => :configuration, :action => :users %>
    <%= tab 'groups', 'Manage Groups', :controller => :configuration, :action => :groups %>
    <%= tab 'interconnect', 'Interconnect', :controller => :configuration, :action => :connect_instance %>
    <%= tab 'notifications', 'Notifications', :controller => :configuration, :action => :notifications %>
  </ul>
 </div>
