<%= content_for :head_javascript do %>
function useOpenSUSE(){
	document.getElementById('name').value = "openSUSE.org";
	document.getElementById('remoteurl').value = "https://api.opensuse.org/public";
	document.getElementById('title').value = "Standard OBS instance at build.opensuse.org";
	document.getElementById('description').value = "This instance delivers the default build targets for OBS.";
}
function useTizen(){
	document.getElementById('name').value = "tizen.org";
	document.getElementById('remoteurl').value = "https://api.tizen.org/public";
	document.getElementById('title').value = "Official Tizen Project OBS instance at build.tizen.org";
	document.getElementById('description').value = "This instance can be used to access resources from the Tizen project.";
}
function usePackman(){
	document.getElementById('name').value = "Packman";
	document.getElementById('remoteurl').value = "https://pmbs-api.links2linux.de/public";
	document.getElementById('title').value = "Packman Build Service PMBS";
	document.getElementById('description').value = "This instance can be used to access resources from Packman.";
}
<% end %>

<% name = nil -%>
<% remoteurl = nil -%>

<% @pagetitle = "Interconnect" %>
<% @crumb_list = [@pagetitle] -%>
<% @layouttype = 'custom' %>

<div class="grid_16 alpha omega box box-shadow">
  <%= render :partial => 'tabs' %>
  <p>Connect a remote Open Build Service instance</p>
  
  <h3>Use a public OBS for default base distributions</h3>
  <% unless Project.exists?("openSUSE.org") -%>
    <% name = "openSUSE.org" -%>
    <% remoteurl = "https://api.opensuse.org/public" -%>
    <%= button_to_function "openSUSE", "useOpenSUSE()" %>
  <% end -%>
  <% unless Project.exists?("tizen.org") -%>
    <input type='button' onclick='javascript:useTizen()' value='Tizen'/>
  <% end -%>
  <% unless Project.exists?("Packman") -%>
    <input type='button' onclick='javascript:usePackman()' value='PackMan'/>
  <% end -%>

  <h3>Add custom OBS instance</h3>
  <%= form_tag  :action => :save_instance do -%>
  <table id="instance">
    <tr>
      <td><strong>Local Project Name:</strong></td>
      <td><%= text_field_tag( "name", name, :size => 80 ) %></td></tr>
    <tr>
      <td><strong>Remote OBS api url:</strong></td>
      <td><%= text_field_tag( "remoteurl", remoteurl, :size => 80 ) %></td>
    </tr>
    <tr>
      <td><strong>Title:</strong></td>
      <td><%= text_field_tag( "title", "Remote OBS instance", :size => 80 ) %></td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td><%= text_field_tag( "description", "This project is representing a remote build service instance.", :size => 80 ) %></td>
    </tr>
  </table>
  <p><%= submit_tag %></p>
  <% end -%>
</div>

