<% @pagetitle = "Configuration" %>
<% @crumb_list = [@pagetitle] -%>
<% @layouttype = 'custom' %>

<div class="grid_16 alpha omega box box-shadow">
<%= render :partial => 'tabs' %>
  <div class="grid_16 alpha">
    <p>
      Configure your Open Build Service instance.
    </p>

  <%= form_for @configuration, url: {action: :update} do |f| %>
    <h3>Frontpage Greeting</h3>
    <p>Change the text that is displayed as greeting on the frontpage</p>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, size: "80x20" %>
    </p>

    <h3>Base Configuration</h3>
    <p>Note: a backend restart is needed after a change here.</p>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      The instance name which gets generated into each package. Short string only, no white spaces recommended.
    </p>
    <p>
      <%= f.label :unlisted_projects_filter_description %><br>
      <%= f.text_field :unlisted_projects_filter_description %>
      The description that will appear in projects list for explaining the exclusion filter.
    </p>
    <p>
      <%= f.label :unlisted_projects_filter %><br>
      <%= f.text_field :unlisted_projects_filter %>
      The exclusion filter itself. Is a Regular Expression (eg: ^home:.*)
    </p>
    <p><%= f.submit "Update" %></p>
  <% end %>
  </div>
</div>
