<% @pagetitle = 'Global Notification Settings' %>
<% @crumb_list = [@pagetitle] %>
<% @layouttype = 'custom' %>

<div class="grid_16 alpha omega box box-shadow">
  <%= render :partial => 'tabs' %>

  <p><%= @pagetitle %></p>

  <%= form_tag({ :action => :update_notifications }, id: 'notification_form') do %>
      <%= render partial: 'notification_roles' %>
      <p><%= submit_tag 'Update' %></p>
  <% end %>

</div>