<% @pagetitle = (@selected_attribute_name ? "Edit Attribute" : "Add New Attribute") %>
<% project_bread_crumb
  if @package
    @crumb_list << link_to(@package, :controller => 'package', :action => :show, :project => @project.name, :package => @package)
    @crumb_list << link_to('Attributes', :controller => :package, :action => :attributes, :project => @project.name, :package => @package)
  else
    @crumb_list << link_to('Attributes', :controller => :project, :action => :attributes, :project => @project.name)
  end
  @crumb_list << (@selected_attribute_name ? "Edit" : "Add New") %>

<% if @package %>
  <%= render :partial => "package/tabs" %>
<% else %>
  <%= render :partial => "project/tabs" %>
<% end %>

<h2><%= @pagetitle %> <%= @selected_attribute_name %></h2>

<%= form_tag :action => "save" do %>
  <p>
    <% if @selected_attribute_name %>
      <% values =  @selected_attribute_value %>
      <%= hidden_field_tag( :attribute, @selected_attribute_name) %>
    <% else -%>
      <strong>Attribute name:</strong><br/>
      <%= select_tag :attribute, options_for_select(@attribute_list) %><br/>
    <% end %>
    <strong>Values (e.g. "bar,foo,..."):</strong><br/>
    <%= text_area_tag :values, values, :rows => 5, :cols => 50 %><br/>
    <%= hidden_field_tag("project", @project.name) %>
    <%= hidden_field_tag("package", @package) if @package %>
  </p>
  <p><%= submit_tag "Save attribute" %></p>
<% end %>
