%li{class: "#{request[:css]} #{request[:request_type]} request"}
  = link_to request[:package], request_show_path(request[:number])
  - mrs = request[:missing_reviews] || []
  - mrs.each do |mr|
    = link_to content_tag(:i, nil, class: "fa-#{mr[:icon]} fa missing_review"), request_show_path(request[:number])
