%h3= @pagetitle
= form_tag action: :save_person do
  %p
    %label{ for: 'userid' }
      %b User:
    %br/
    = text_field_tag 'userid', params[:userid], required: true
    %br/
    :javascript
      $('#userid').autocomplete({source: '#{url_for controller: 'user', action: 'autocomplete'}', search: function(event, ui) {
        $(this).addClass('loading-spinner');
      },
      response: function(event, ui) {
        $(this).removeClass('loading-spinner');
      }, minLength: 2});
    %b Role:
    %br/
    = select_tag 'role', options_for_select(Role.local_roles, params[:role]), required: true
    %br/
    = hidden_field_tag 'package', @package
    = hidden_field_tag 'project', @project
  %p= submit_tag 'Add user'
