<h3><%= @pagetitle %></h3>

<%= form_tag :action => :save_person do %>
  <p>
    <b>User:</b><br/>
    <%= text_field_tag 'userid', params[:userid] %><br/>
    <%= javascript_tag do %>
      $("#userid").autocomplete({source: '<%= url_for :controller => 'user', :action => 'autocomplete' %>', minLength: 2});
    <% end %>
    <b>Role:</b><br/>
    <%= select_tag 'role', options_for_select(@roles, params[:role]) %><br/>
    <%= hidden_field_tag 'package', @package %>
    <%= hidden_field_tag 'project', @project %>
  </p>
  <p><%= submit_tag "Add user" %></p>
<% end %>
