<h3><%= @pagetitle %></h3>

<%= form_tag :action => :save_group do %>
  <p>
    <label for="groupid"><b>Group:</b></label><br/>
    <%= text_field_tag 'groupid', params[:groupid], :size => '25', required: true %><br/>
    <%= javascript_tag do %>
      $("#groupid").autocomplete({source: '<%= url_for :controller => 'groups', :action => 'autocomplete' %>', minLength: 2});
    <% end %>
    <b>Role:</b><br/>
    <%= select_tag 'role', options_for_select(Role.local_roles, params[:role]), required: true %><br/>
    <%= hidden_field_tag 'package', @package %>
    <%= hidden_field_tag 'project', @project %>
  </p>
  <p><%= submit_tag "Add group" %></p>
<% end %>
