- index ||= ''
- if defined?(package)
  - controller = 'package'
- else
  - controller = 'project'
.box-header.header-tabs
  %ul{id: "result_select_#{index}"}
    %li.selected
      %a{ href: '#', id: "result_select_link_#{index}_0", data: { id: "result_display_#{index}_0" } } Build Results
      = sprite_tag('reload', title: 'Reload', onclick: "update_build_result_#{index}()", class: "result_reload", id: "result_reload_#{index}_0")
      = image_tag('ajax-loader.gif', id: "result_spinner_#{index}_0")
    - if controller == 'package'
      %li
        %a{ href: '#', id: "result_select_link_#{index}_1", data: { id: "result_display_#{index}_1" } } Rpmlint Results
        = sprite_tag('reload', title: 'Reload', onclick: "update_rpmlint_result_#{index}()", class: "result_reload", id: "result_reload_#{index}_1", style: 'display: none')
        = image_tag('ajax-loader.gif', id: "result_spinner_#{index}_1", class: 'hidden')
.content-tabs
  .content-tab{ id: "result_display_#{index}_0" }
  - if controller == 'package'
    %div{ class: "content-tab hidden", id: "result_display_#{index}_1" }

- ajax_data = []
- ajax_data.push("'project': '#{h(project)}'") if defined?(project)
- ajax_data.push("'package': '#{h(package)}'") if defined?(package)
- ajax_data.push("'index': '#{index}'") if defined?(index)
- ajax_data = raw(ajax_data.join ', ')

= javascript_tag do
  - if controller == 'package'
    :plain
      function update_rpmlint_result_#{index}() {
        $('#result_spinner_#{index}_1').show();
        $('#result_reload_#{index}_1').hide();
        $.ajax({
          url: '#{ url_for(controller: controller, action: 'rpmlint_result') }',
          data: {#{ajax_data}},
          success: function(data) {
            $('#result_display_#{index}_1').html(data);
          },
          error: function(data) {
            $('#result_display_#{index}_1').html('<p>No rpmlint results available</p>');
          },
          complete: function(data) {
            $('#result_spinner_#{index}_1').hide();
            if ($('#result_select_link_#{index}_1').parent().hasClass('selected')) {
              $('#result_reload_#{index}_1').show();
            }
          }
        });
      }

      update_rpmlint_result_#{index}();

  :plain
    function update_build_result_#{index}() {
      $('#result_spinner_#{index}_0').show();
      $('#result_reload_#{index}_0').hide();
      $.ajax({
        url: '#{ url_for(controller: controller, action: 'buildresult') }',
        data: {
          'show_all': $('#show_all_#{index}').is(':checked'),
          #{ajax_data}
        },
        success: function(data) {
          $('#result_display_#{index}_0').html(data);
        },
        error: function(data) {
          $('#result_display_#{index}_0').html('<p>No build results available</p>');
        },
        complete: function(data) {
          $('#result_spinner_#{index}_0').hide();
          if ($('#result_select_link_#{index}_0').parent().hasClass('selected')) {
            $('#result_reload_#{index}_0').show();
          }
        }
      });
    }

    update_build_result_#{index}();
