<%- remote = flag.has_children ? false : true %>
<div id="<%= flag.fullname %>">
<div class="flagimage">
  <% if flag.new_record? %>
    <div class="<%= "current_flag_state icons-#{flag.flag}_#{flag.status}_grey" %> icon_24"></div>
  <% else %>
    <div class="<%= "current_flag_state icons-#{flag.flag}_#{flag.status}_blue" %> icon_24"></div>
  <% end %>
    <div class="hidden flagtoggle">
      <% if flag.new_record? %>
        <% if flag.status == 'enable' %>
          <div class="iconwrapper"><div class="icons-<%= flag.flag %>_disable_grey icon_24"></div></div>
          <%= link_to 'Disable', { action: :create_flag,
                                   project: @project,
                                   package: @package,
                                   flag: flag.flag,
                                   status: 'disable',
                                   repository: flag.repo,
                                   architecture: flag.arch },
                                 id: "#{flag.fullname}_disable", class: "flag_spinner_trigger_#{flag.flag}", method: :post, remote: remote %>
        <% else %>
          <div class="iconwrapper"><div class="icons-<%= flag.flag %>_enable_grey icon_24"></div></div>
          <%= link_to 'Enable', { action: :create_flag,
                                  project: @project,
                                  package: @package,
                                  flag: flag.flag,
                                  status: 'enable',
                                  repository: flag.repo,
                                  architecture: flag.arch},
                                id: "#{flag.fullname}_enable", class: "flag_spinner_trigger_#{flag.flag}", method: :post, remote: remote %>
        <% end %>
      <% else %>
        <% if flag.status == 'enable' %>
          <div class="iconwrapper"><div class="icons-<%= flag.flag %>_disable_blue icon_24"></div></div>
          <%= link_to('Disable', { action: :toggle_flag, project: @project, package: @package, flag: flag }, id: "#{flag.fullname}_disable", class: "flag_spinner_trigger_#{flag.flag}", method: :put, remote: remote) %>
        <% else %>
          <div class="iconwrapper"><div class="icons-<%= flag.flag %>_enable_blue icon_24"></div></div>
            <%= link_to 'Enable', { action: :toggle_flag, project: @project, package: @package, flag: flag }, id: "#{flag.fullname}_enable", class: "flag_spinner_trigger_#{flag.flag}", method: :put, remote: remote %>
        <% end %>
        <div class="iconwrapper"><div class="icons-<%= flag.flag %>_<%= Flag.default_status(flag.flag) %>_blue icon_24"></div></div>
        <%= link_to "Take default (#{Flag.default_status(flag.flag)})", { action: :remove_flag, project: @project, package: @package, flag: flag }, id: "#{flag.fullname}_remove", class: "flag_spinner_trigger_#{flag.flag}", method: :delete, remote: remote %>
      <% end %>
    </div>
  </div>
</div>
