<table class="flag_table" id="flag_table_<%= flags['all'].first.flag %>" data-flag="<%= flags['all'].first.flag %>">
  <tr>
    <th>Repository</th>
    <th style="width: 6ex">All</th>
    <% @architectures.each do |architecture| %>
      <th style="width: 6ex"><%= architecture.name %></th>
    <% end %>
  </tr>
  <tr>
    <td class="reponame"><strong>All</strong></td>
    <% flags['all'].each_with_index do |flag, index| %>
      <% if index == 0 %>
        <td class="allrow">
      <% else %>
        <td class="allcolumn">
      <% end %>
          <%= render partial: 'shared/repositories_flag_table_column', :locals => { flag: flag } %>
      </td>
    <% end %>
  </tr>
  <% @project.repositories.each do |repository| %>
    <tr>
      <td class="reponame">
        <strong title="<%= repository.name %>">
          <% if @package %>
            <%= link_to(elide(repository.name, 18), action: "binaries", controller: :package, project: @project, package: @package, repository: repository.name) %>
          <% else %>
            <%= link_to(elide(repository.name, 18), action: :state, project: @project, repository: repository.name) %>
          <% end %>
        </strong>
      </td>
      <% flags[repository.name].each_with_index do |flag, index| %>
        <% if index == 0 %>
          <td class="allrow">
        <% else %>
          <td>
        <% end %>
            <%= render partial: 'shared/repositories_flag_table_column', :locals => { flag: flag } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% content_for :ready_function do %>
  $( ".flag_spinner_trigger_<%= flags['all'].first.flag %>" ).click(function() {
    $( "#spinner_flag_table_<%= flags['all'].first.flag %>" ).show();
  });
<% end %>
