<%
  serverProcessing ||= false
  request_table_id ||= 'request_table'
  hide_state ||= false
  no_target ||= false
  paginate = serverProcessing || (!requests.nil? && requests.count > 25)
  if serverProcessing
    sort_columns = ['null', "{'bSortable': false}", '{\'bSortable\': false}']
  else
    sort_columns = %w(null null null)
  end
%>

<% if !serverProcessing && requests.blank? %>
    <p>No requests.</p>
<% else %>
    <table id="<%= request_table_id %>">
      <thead>
      <tr>
        <th>Created</th>
        <th>Source</th>
        <% if !no_target
             sort_columns << 'null' -%>
            <th>Target</th>
        <% end -%>
        <th>Requester</th>
        <th>Type</th>
        <%
        if serverProcessing
          sort_columns.concat ['null', "{'bSortable': false}"]
        else
          sort_columns.concat %w(null null)
        end
        %>
        <% if !hide_state
             sort_columns << 'null' -%>
            <th>State</th>
            <% sort_columns.concat %w(null) %>
        <% end %>
        <th>Priority</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% requests.each do |req| -%>
          <%= render partial: 'shared/single_request', locals: { req: req, no_target: no_target, hide_state: hide_state } %>
      <% end unless serverProcessing %>
      </tbody>
    </table>
    <% content_for :ready_function do %>
        $('#<%= request_table_id %>').dataTable({
          'aaSorting': [[0,'desc']],
          'aoColumns': [
          <%== sort_columns.join(",\n") %>,
          {'bSortable': false}
          ],
          'bInfo': false,
          'bPaginate': <%= paginate %>,
          sPaginationType: "full_numbers",
          <% if serverProcessing %>
          bProcessing: true,
          bServerSide: true,
          sAjaxSource: '<%= user_requests_path %>',
          <% end %>
        });
    <% end %>
<% end %>
