<%
   cp = common_parts(req)
   source_package = cp[:source_package]
   source_project = cp[:source_project]
   request_type = cp[:request_type]
-%>

<tr id="tr_request_<%= "#{req.id}" %>" class="request-<%= req.priority %>">
  <td class="nowrap">
    <span class="hidden"><%= req.created_at.to_i %> - <%= req.number %></span>
    <%= fuzzy_time(req.created_at) %>
  </td>
  <td class="request_source">
    <%= project_or_package_link(project: source_project, package: source_package, creator: req.user.login, trim_to: 80, short: true) %>
  </td>
  <td class="nowrap"><%= user_with_realname_and_icon(req['creator'], short: true) %></td>
  <td class="nowrap"><%= request_type %></td>
  <td class="nowrap"><%= req.state %></td>
  <td class="nowrap">
    <span class="hidden"><%= priority_number(req.priority) %></span>
    <span title="<%= priority_description(req.priority) %>"><%= req.priority %></span>
  </td>
  <td>
    <%= link_to(sprite_tag('req-showdiff', title: "Show request ##{req.number}"),
                { :controller => :request, :action => :show, :number => req.number }, { :class => 'request_link' }) -%>
  </td>
</tr>
