.editing-form.d-none
  = render partial: 'webui/user/user_profile_redesign/edit_account_form',
           locals: { displayed_user: user, role_titles: role_titles, account_edit_link: account_edit_link }

.basic-info
  - if configuration.accounts_editable?(user) && policy(user).update?
    .d-flex.flex-row-reverse
      = link_to('javascript:void(0);', id: 'toggle-in-place-editing', class: 'nav-link', remote: true, title: 'Edit Your Account') do
        %i.fas.fa-user-edit
        %span.nav-item-name Edit

  .row.mb-3.mb-md-0
    .col-4.col-sm-2.col-md-12.text-center
      = image_tag_for(user, size: 200)
    .col-8.col-sm-10.col-md-12.pl-0.p-md-3
      %h4#home-realname
        = user.realname
      %h5.text-muted#home-login
        = user.login

  - role_titles.each do |title|
    %span.badge.badge-secondary
      = title.upcase
  %p= render_as_markdown(user.biography)

  .mt-4
    - if User.session
      = mail_to(user.email, title: "Send mail to #{user.name}", class: 'd-block') do
        %i.fas.fa-envelope.mr-1
        = user.email


:javascript
  $('#toggle-in-place-editing').on('click', function () {
    $('.in-place-editing .basic-info').toggleClass('d-none');
    $('.in-place-editing .editing-form').toggleClass('d-none');
  });
  $('#cancel-in-place-editing').on('click', function () {
    $('.in-place-editing .basic-info').toggleClass('d-none');
    $('.in-place-editing .editing-form').toggleClass('d-none');
    return false;
  });
