- if is_user
  = render partial: 'webui/user/index_actions', locals: { configuration: configuration, user: user, account_edit_link: account_edit_link }

.card.mb-3
  .card-body
    .in-place-editing
      = render partial: 'webui/user/user_profile_redesign/basic_info',
               locals: { user: user, role_titles: role_titles, configuration: configuration, account_edit_link: account_edit_link }

    - if user.rss_token && is_user
      = link_to(user_rss_notifications_path(token: user.rss_token.string, format: 'rss'),
                                            title: 'RSS Feed for Notifications', class: 'd-block') do
        %i.fas.fa-rss.mr-1
        RSS for Notifications

    - if groups.any?
      .h5.mt-4.mb-0 Member of the #{'group'.pluralize(groups.size)}
      %ul.list-group.list-group-flush
        - groups.each do |group|
          %li.list-group-item.d-flex.justify-content-between.align-items-center.p-2
            = link_to(group.title, group_path(group))
            %span.badge.badge-primary
              #{group.tasks} #{'task'.pluralize(group.tasks)}

    - if is_user
      .mt-4
        = form_tag(user_path, id: 'beta-form', method: :patch) do
          .custom-control.custom-switch
            = hidden_field_tag 'user[in_beta]', false
            = check_box_tag('user[in_beta]', !user.in_beta, user.in_beta, class: 'custom-control-input', id: 'beta-switch')
            = label_tag 'Public Beta Program', nil, class: 'custom-control-label', for: 'beta-switch'
            = hidden_field_tag('user[login]', user.login)
            %i.fa.fa-question-circle.text-info{ data: { placement: 'top', toggle: 'popover', html: 'true',
                                                        content: 'Join the <strong>beta program</strong> to try the latest ' + |
                                                                 'features we develop and give us feedback on them before they go live.' } } |

:javascript
  switchBeta();
