
<% @buildresult.each do |repo, archarray| %>

  <div data-role="collapsible" data-collapsed="true">
    <h3><%= h repo %>
      <% #FIXME: broken, needs to check in @statushash %>
      <% if archarray.flatten.select{|state| ['failed', 'unresolvable', 'broken'].include? state }.empty? %>
        <%= image_tag 'icons/accept.png' %>
      <% else %>
        <%= image_tag 'icons/exclamation.png' %>
      <% end -%>
    </h3>
    <% archarray.each do |arch| -%>
      <%= repo_status_icon @repostatushash[repo][arch] %> <b><%= h(arch) %>:</b>
      <%= status_for( repo, arch, @package.name ).code %>
      <br/>
    <% end %>
  </div>
<% end %>


