
<h3><%=h elide( @project.name, 20 ) %>/<%=h @package.name %><br/>
  <%=h @package.title if( !@package.title.blank? && @package.title.to_s != @package.name.to_s) %></h3>

<% description = @package.description.text %>
<% unless description.blank? %>
  <div data-role="collapsible" data-collapsed="true">
    <h3>Description</h3>
    <p>
      <% description.split( /\n/ ).each do |line| %>
        <%=h line -%><br/>
      <% end %>
    </p>
  </div>
<% end -%>

<!-- Files -->
<div data-role="collapsible" data-collapsed="true">
  <h3>Files (<%= @nr_files %>)</h3>
  <% if @nr_files == 0 %>
    <%= image_tag 'exclamation.png' %>
  <% else %>
    <%= image_tag 'accept.png' %>
  <% end %>
  <%= @nr_files %> <%= link_to "file#{@nr_files == 1 ? "" : "s"}", :action => :files, :project => @project, :package => @package %>
</div>

<!-- Requests -->
<% unless @requests.blank? %>
<div data-role="collapsible" data-collapsed="true">
  <h3>Requests (<%= @requests.size %>)</h3>
  <%= image_tag 'information.png' %> There <%= plural(@requests.size, "is", "are") %>
  <% if @requests.size == 1 -%>
    1 open <%= link_to "request", :action => :show, :controller => :request, :id => @requests[0].value(:id) %>
  <% else -%>
    <%= @requests.size %> open <%= link_to "requests", :action => :requests, :project => @project, :package => @package %>
  <% end -%>
</div>
<% end %>


<!-- Users -->
<div data-role="collapsible" data-collapsed="true">
  <h3>Users</h3>
</div>


<!-- Attributes -->
<div data-role="collapsible" data-collapsed="true">
  <h3>Attributes</h3>
</div>

<!-- Raw Config -->
<div data-role="collapsible" data-collapsed="true">
  <h3>Raw Config</h3>
</div>


<!-- Build status -->
<% if @project.has_element?(:repository) && !@buildresult.blank? %>
  <div data-role="collapsible" data-collapsed="true">
    <h3>Build Status
      <% if @failures == 0 %>
        <%= image_tag 'accept.png' %>
      <% else %>
        <%= image_tag 'exclamation.png' %>
      <% end -%>
    </h3>
    <div id='buildstatus'>
      <%=  render :partial => 'buildstatus' %>
    </div>
  </div>
<% end -%>




