
<% @buildresult.each do |repo, archarray| %>

  <div data-role="collapsible" data-collapsed="true">
    <h3><%= h repo %>
      <% if archarray.flatten.select{|state| ['failed', 'unresolvable', 'broken'].include? state }.empty? %>
        <%= image_tag 'accept.png' %>
      <% else %>
        <%= image_tag 'exclamation.png' %>
      <% end -%>
    </h3>
    <% archarray.each do |arch, counts| -%>
      <%= repo_status_icon @repostatushash[repo][arch] %> <b><%= h(arch) %>:</b>
      <% counts.each do |code, count| -%>
        <%= "#{code}:&nbsp;#{count}".html_safe -%>
      <% end -%>
      <br/>
    <% end %>

  </div>

<% end %>

