<%
@nr_packages = 0
@nr_packages = @packages.size if @packages
-%>

<h3><%=h @project.title %><%=  h( @project ) if @project.title.to_s.blank? -%></h3>

<% description = @project.description.text %>
<% unless description.blank? %>
  <div data-role="collapsible" data-collapsed="true">
    <h3>Description</h3>
    <p>
      <% description.split( /\n/ ).each do |line| %>
        <%=h line -%><br/>
      <% end %>
    </p>
  </div>
<% end -%>

<% if @nr_packages > 0 %>
  <div data-role="collapsible" data-collapsed="true">
    <h3>Packages (<%= @nr_packages %>)</h3>
    <ul data-role="listview" data-inset="true" <%= "data-filter='true'" if @nr_packages > 20 %>>
      <% i = 0 %>
      <% @packages.each do |package| -%>
        <% i = i + 1 %>
        <% break if i > 200 %>
        <li><%= link_to package, :controller => :package, :action => :show, :project => @project, :package => package %></li>
      <% end -%>
      <%= raw "<li>... (only showing the first 200)</li>" if @nr_packages > 200 %>
    </ul>
  </div>
<% end -%>

<!-- Requests -->
<% unless @requests.blank? %>
<div data-role="collapsible" data-collapsed="true">
  <h3>Requests (<%= @requests.size %>)</h3>
  <%= image_tag 'icons/information.png' %> There <%= plural(@requests.size, "is", "are") %>
  <% if @requests.size == 1 -%>
    1 open <%= link_to "request", :action => :show, :controller => :request, :id => @requests[0].value(:id) %>
  <% else -%>
    <%= @requests.size %> open <%= link_to "requests", :action => :requests, :project => @project %>
  <% end -%>
</div>
<% end %>


<% if @project.has_element?(:repository) && !@buildresult.blank? %>
  <div data-role="collapsible" data-collapsed="true">
    <h3>Build Status
      <% if @buildresult.flatten.select{|state| ['failed', 'unresolvable', 'broken'].include? state }.empty? %>
        <%= image_tag 'icons/accept.png' %>
      <% else %>
        <%= image_tag 'icons/exclamation.png' %>
      <% end -%>
    </h3>
    <div id='buildstatus'>
      <%=  render :partial => 'buildstatus' %>
    </div>
  </div>
<% end -%>
