- @pagetitle = "Create label template for #{@project}"
.card
  = render(partial: 'webui/project/tabs', locals: { project: @project })

  .card-body
    %h3= @pagetitle
    .row
      .col-12.col-md-10.col-lg-8
        = form_with(model: @label_template, url: [@project, @label_template], method: :post) do |f|
          = render partial: 'form', locals: { form: f, label_template: @label_template }
          .actions
            = link_to('Cancel', project_label_templates_path(@project), title: 'Cancel', class: 'btn btn-outline-secondary px-4 me-3 mt-3 mt-sm-0')
            = f.submit('Create', class: 'btn btn-primary px-4 mt-3 mt-sm-0')
