= render partial: 'webui/kiwi/tabs'

%h2
  = @image.name
%h3 Repositories
- if @repositories.empty?
  %p There are no repositories.
- else
  %div
    = form_for @image, as: :image, url: kiwi_image_repositories_update_path(@image), method: :post, html: { id: 'kiwi_repository_update_form' } do |f|
      = f.fields_for :repositories do |repository_fields|
        = render 'repository_fields', f: repository_fields
      = button_tag('Save', id: 'kiwi_repository_update_form_save', type: 'button', disabled: true)

:javascript
  function save_repositories() {
    $.ajax({ url: "#{url_for(controller: 'kiwi/images', action: :show, id: @image)}",
      dataType: 'json',
      success: function(json) {
        var is_outdated = json['is_outdated'];
        if (is_outdated && !confirm("This repositories have been modified meanwhile you were editing.\nDo you want to apply the changes anyway?"))
          return;
        $('#kiwi_repository_update_form').submit();
      }
    });
  }

  $('#kiwi_repository_update_form_save').click(save_repositories);

  $('#kiwi_repository_update_form').change(function() {
    $(this).find('#kiwi_repository_update_form_save').prop('disabled', false);
  });
