
<ul data-role="listview" data-theme="a">
  <%- unless @watchlist.blank? -%>
    <li data-role="list-divider" data-theme="a">Watched projects</li>
    <%- @watchlist.slice(0..99).each do |project| -%>
      <li><%= link_to elide(project, 60), :action => :show, :project => project, :controller => :project %></li>
    <%- end -%>
    <%= raw "<li>... (only showing the first 100)</li>" if @watchlist.size > 100 %>
  <%- end -%>

  <% unless @iprojects.blank? -%>
    <li data-role="list-divider">Involved projects (<%= @iprojects.size %>)</li>
    <% @iprojects.slice(0..99).each do |project| -%>
      <li><%= link_to elide(project, 60), :controller => :project, :action => :show, :project => project %></li>
    <% end -%>
    <%= raw "<li>... (only showing the first 100)</li>" if @iprojects.size > 100 %>
  <% end -%>

  <% unless @ipackages.blank? -%>
    <li data-role="list-divider">Involved Packages</li>
    <% @ipackages.each do |prj, packs| -%>
      <% packs.slice(0..99).each do |pkg| -%>
        <li><%= link_to elide(pkg, 60), :controller => :package, :action => :show, :project => prj, :package => pkg %>
          (<%= elide(prj, 60) %>)</li>
      <% end -%>
      <%= raw "<li>... (only showing the first 50 of #{prj})</li>" if packs.size > 100 %>
    <% end -%>

  <% end -%>

</ul>