
<script type="text/javascript">

  // build up a javascript array from the request list
  var requestlist = [
<% @requests.each do |req|
  ae = req.submit if req.has_element? :submit
  ae = req.action if req.has_element? :action
  target = ""
  if ae.has_element?(:target)
    target = elide(ae.target.project, 20)
    if ae.target.has_attribute?(:package)
      target += "/ #{elide(ae.target.package, 12)}"
    end
  end
  -%>
      {"id": "<%= req.value(:id) %>", "target": "<%= target %>", "who": "<%= elide(req.state.who, 12) %>",
        "when": "<%= fuzzy_time_string( req.state.value "when" ) %>", "state": "<%= req.state.name %>"},

<% end -%>
  ];


  // renders the request list based on given sort criteria
  function render_list(criteria) {
    console.debug("rendering list, ordered by: " + criteria);
    var list = $("#request_list");
    $(list).empty();

    var requests = requestlist.sort(function(a, b) {
      switch (criteria) {
        case 'date':
          return a.id < b.id;
        case 'requester':
          return a.who > b.who;
        case 'target':
          return a.target < b.target;
        case 'state':
          return a.state < b.state;
        default:
          return a.id > b.id;
      }
    });

    list.append("<li data-role=\"list-divider\">Your Requests</li>");
    $.each(requests, function() {
      list.append("<a href='<%= url_for :controller => :request, :action => :show %>/" + this.id + "'><li>#" +
        this.id + " to " + this.target + "<br/>from " + this.who + ", <i>" + this.when + ", <i>" + this.state + "</i> </a></li>");
    });

  }

  // initial render after page load
$(document).ready(function(){
    render_list("date");
    $('#request_list:visible').listview('refresh');
  $("input[type='radio']").bind("change", function(){
    var selection=$(this).val();
    //alert("Criterion changed. Selected: "+selection);
    render_list(selection); 
    $('#request_list').listview('refresh');
 })
});

</script>

<div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal" >
         <input type="radio" name="radio-choice-1" id="radio-choice-1" value="date" checked="checked" />
         <label for="radio-choice-1">Date</label>

         <input type="radio" name="radio-choice-1" id="radio-choice-2" value="requester"  />
         <label for="radio-choice-2">Requester</label>

         <input type="radio" name="radio-choice-1" id="radio-choice-3" value="target"  />
         <label for="radio-choice-3">Target</label>

         <input type="radio" name="radio-choice-1" id="radio-choice-4" value="state"  />
         <label for="radio-choice-4">State</label>
    </fieldset>
</div>


<% if @requests.blank? %>
  <p><em>No open requests.</em></p>
<% else %>

  <ul id="request_list" data-role="listview" data-inset="true" data-theme="a" <%= "data-filter='true'" if @requests.size > 5 %>>
  </ul>
<% end %>
