<% @pagetitle = "Home of #{@displayed_user}" %>
<% @crumb_list = [@pagetitle] %>

<h3><%= @pagetitle %></h3>

<h4>User Info</h4>

<p><strong>Profile picture:</strong></p>
<table>
  <tr>
    <td><a href="http://gravatar.com/emails"><%= user_icon(@displayed_user.login, 60) if @displayed_user.email %></a></td>
    <td>Profile pictures are provided by <a href="http://gravatar.com/">Gravatar</a>,<br/> and are based on your email address
      <a href="http://gravatar.com/emails" class="block avatar"><span>Update your picture...</span></a>
    </td>
  </tr>
</table>

<p>
  <strong>Real name:</strong>
  <% if @displayed_user.realname && !@displayed_user.realname.to_s.empty? %>
    <%= @displayed_user.realname %>
  <% else %>
    <em>No real name set.</em>
  <% end %>
</p>
<p><strong>Email address:</strong> <%= mail_to(@displayed_user.email) %></p>

<% if @displayed_user.to_s == session[:login] %>
  <p><%= image_tag('user_edit.png') %> <%= link_to("Edit user data", :controller => "user", :action => "edit") %></p>
  <% if CONFIG['change_passwd'].to_s == 'on' %>
    <p><%= image_tag('key.png') %> <%= link_to("Change password", :controller => "user", :action => "change_my_password") %></p>
  <% end %>
<% end %>

<% if not @displayed_user.groups.empty? %>
  <h4>Groups Memberships</h4>
  <ul>
  <% @displayed_user.groups.each do |group| %>
    <li><%= group %> </li>
  <% end %>
  </ul>
<% end %>

<h4>Related Links</h4>
<ul>
  <li><%= link_to('Home project', :controller => 'project', :action => 'show', :project => "home:#{@displayed_user.to_s}") %></li>
  <li><%= link_to('Involved projects', :action => 'list_my', :user => @displayed_user.to_s) %></li>
  <li><%= link_to('Involved requests', :action => 'requests', :user => @displayed_user.to_s) %></li>
</ul>
