<% @pagetitle = "Projects of #{user}" %>
<% @pagetitle = "My Projects" if user.to_s == session[:login] %>
<% @crumb_list = [@pagetitle] -%>

<h3><%= @pagetitle %></h3>

<h4>Watched Projects</h4>
<%= render :partial => 'watch_list' %>
<br/>

<div style="width: 50%; float: left">
  <h4>Involved Projects</h4>
  <% unless @iprojects.blank? -%>
    <table style="width: 92%" id='involved_prj-table' class='grid' title="Involved Projects">
      <tr>
        <th>Project</th>
        <th style="width: 1%">Actions</th>
      </tr>
      <% @iprojects.each do |project| -%>
        <tr>
          <td><%= link_to elide(project, 60), :controller => :project, :action => :show, :project => project %></td>
          <td><%= link_to image_tag('monitor.png', :size => '16x16', :alt => 'Monitor', :title => 'Monitor'), :controller => :project,
                          :action => :monitor, :project => project %></td>
        </tr>
      <% end -%>
    </table>
  <% else %>
    <p><em>Not involved in any project.</em></p>
  <% end -%>
</div>

<div style="width: 50%; float: left">
  <h4>Involved Packages</h4>
  <% unless @ipackages.blank? -%>
  <table style="width: 92%" id='involved_pkg-table' class='grid' title="Involved Packages">
    <tr>
      <th>Package</th>
      <th>Project</th>
      <th style="width: 1%">Actions</th>
    </tr>
    <% @ipackages.each do |prj, packs| -%>
      <% packs.each do |pkg| -%>
        <tr>
          <td><%= link_to elide(pkg, 20), :controller => :package, :action => :show, :project => prj, :package => pkg %></td>
          <td><%= link_to elide(prj, 35), :controller => :project, :action => :show, :project => prj %></td>
          <td><%= link_to image_tag('monitor.png', :size => '16x16', :alt => 'Monitor', :title => 'Monitor'),
                  :action => :monitor, :project => prj, :pkgname => pkg, :controller => :project  %></td>
        </tr>
      <% end -%>
    <% end -%>
  </table>
  <% else %>
    <p><em>Not involved in any package.</em></p>
  <% end -%>
</div>

<div class="clear" style="margin-bottom: 2em"></div>
