<% @pagetitle = "List My Requests" %>
<%
@crumb_list = ['My Requests']
-%>

<% content_for :content_for_head do %>
  <%= javascript_include_tag 'jquery.tablesorter.js' %>
<% end %>

<% content_for :ready_function do %>
  $("#request_table").tablesorter( {
  widgets: ['zebra'],
  sortList: [[0,1]]
  } );
<% end %>

<%-
setup_buildresult_trigger

unless @requests.size
  return "<p><em>No open requests</em></p>"
end -%>

<h2>Requests concerning me (#<%= @requests.size %>)</h2>

<div id="build_result_popup"><div id="build_result_html"></div></div>

<table cellspacing="1" id='request_table' class="tablesorter">
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Source</th>
      <th>Target</th>
      <th>Requester</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |req| -%>
      <tr>
        <td><!-- <%= req.value(:id) %> --><%= fuzzy_time_string( req.state.data.attributes["when"] ) %></td>
        <td><!-- <%= reqtype(req)  %> -->
          <%= link_to reqtype(req), :controller => :request, :action => :diff, :id => req.value(:id) -%>
        </td>
          <td>
            <% action_elem = req.value :submit %>
            <% action_elem = req.value :action %>
            <%= if action_elem.has_element? :source
              "<!-- " + action_elem.source.project + "/" + action_elem.source.package + "-->" +
                package_link(action_elem.source.project, action_elem.source.package)
            elsif reqtype(req) == "delete"
              "<!-- " + action_elem.target.project + "/" + action_elem.target.package + "-->" +
                package_link(action_elem.target.project, action_elem.target.package)
            end -%>
          </td>
        <td>
          <%= if action_elem.has_element? :target and reqtype(req) != "delete"
            "<!-- " + action_elem.target.project + "/" + action_elem.target.package + "-->" +
              package_link(action_elem.target.project, action_elem.target.package, true)
          end -%>
        </td>
        <td class="nowrap">
          <span title="<%= req.state.who %>"><%=  truncate(req.state.who, :length => 12) %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
