<% @pagetitle = 'My Work' %>
<% @crumb_list = [@pagetitle] %>

<% content_for :content_for_head do %>
  <%= stylesheet_link_tag 'jquery.tooltip' %>
<% end %>
<%= javascript_include_tag 'jquery.tablesorter', 'jquery.tooltip.min' %>

<h3><%= @pagetitle %></h3>

<p>
  This page summarizes all tasks where an action is requested from user <%= @displayed_user.to_s%>.
  <%= link_to('You can also use your complete list of requests.', :action => 'requests', :user => @displayed_user.to_s) %>
</p>

<!-- patchinfos which are still running -->

<% if @open_patchinfos.length > 0 %>
  <h3 title="Maintenance updates where you are assigned as bugowner">Running Maintenance Updates</h3>
  <table id='open_patchinfos-table' class='grid' title="Running Maintenance Updates">
    <tr>
      <th>Project</th>
      <th>Package</th>
      <th>Issues</th>
      <th style="width: 1%">Actions</th>
    </tr>
    <% @open_patchinfos.each do |pi| -%>
        <tr>
          <% shortened_prj, shortened_pkg = elide_two(pi[:package][:project], pi[:package][:name], 60) %>
          <td><%= link_to shortened_prj, :controller => :project, :action => :show, :project => pi[:package][:project] %></td>
          <td><%= link_to shortened_pkg, :controller => :package, :action => :show, :project => pi[:package][:project], :package => pi[:package][:name]%></td>
          <td>
            <% pi[:issues].each do |i| -%>
              <%= link_to i[:label], i[:url], :title => i[:summary]%>,
            <% end -%>
          </td>
          <td><%= link_to image_tag('monitor.png', :size => '16x16', :alt => 'Monitor', :title => 'Monitor'), :action => :monitor, :project => pi[:package][:project], :pkgname => pi[:package][:name], :controller => :project  %></td>
        </tr>
    <% end -%>
  </table>
<% end -%>

<% if @open_reviews.count > 0 %>
<h3 title="Someone asks you to review a change.">Open Reviews</h3>
<%= render(:partial => 'shared/requests', :locals => { :requests => @open_reviews, :request_table_id => 'new_reviews_table', :hide_state => true }) %>
<% end %>

<h3 title="Someone requests to change something in your packages.">New Requests For You</h3>
<%= render(:partial => 'shared/requests', :locals => { :requests => @new_requests, :request_table_id => 'new_requests_table', :hide_state => true }) %>

<% if @declined_requests.count > 0 %>
<h3 title="Some other party has declined a request you created.">Your Declined Requests</h3>
<%= render(:partial => 'shared/requests', :locals => { :requests => @declined_requests, :request_table_id => 'declined_requests_table', :hide_state => true }) %>
<% end %>
