- case action.type
- when 'submit'
  Submit
  = project_or_package_link({ project: action.source_project, package: action.source_package, trim_to: nil })
  %i.fas.fa-long-arrow-alt-right.text-info.mx-2
  = project_or_package_link({ project: action.target_project, package: action.target_package, trim_to: nil })
- when 'delete'
  Delete
  - if action.target_repository
    repository #{link_to(action.target_repository, repositories_path(project: action.target_project, package: action.target_package))} for
  = project_or_package_link({ project: action.target_project, package: action.target_package, trim_to: nil })
- when 'add_role', 'set_bugowner'
  = user_with_realname_and_icon(action.bs_request.creator)
  wants
  = requester_str(action.bs_request.creator, action.person_name, action.group_name)
  to
  = creator_intentions(action.role)
  for
  = project_or_package_link({ project: action.target_project, package: action.target_package, trim_to: nil })
- when 'change_devel'
  Set
  = project_or_package_link({ project: action.source_project, package: action.source_package, trim_to: nil })
  to be devel project/package of
  = project_or_package_link({ project: action.target_project, package: action.target_package, trim_to: nil })
- when 'maintenance_incident'
  Submit update from
  = project_or_package_link({ project: action.source_project, package: action.source_package, trim_to: nil })
  %i.fas.fa-long-arrow-alt-right.text-info.mx-2
  = project_or_package_link({ project: action.target_project, package: action.target_package, trim_to: nil })
- when 'maintenance_release'
  Maintenance release
  = project_or_package_link({ project: action.source_project, package: action.source_package, trim_to: nil })
  %i.fas.fa-long-arrow-alt-right.text-info.mx-2
  = project_or_package_link({ project: action.target_project, package: action.target_package, trim_to: nil })
- when 'release'
  Release (copy sources and binaries)
  = project_or_package_link({ project: action.source_project, package: action.source_package, trim_to: nil })
  %i.fas.fa-long-arrow-alt-right.text-info.mx-2
  = project_or_package_link({ project: action.target_project, package: action.target_package, trim_to: nil })
