%h5 Binary Changes
.card.p-4.mb-2
  %ul.list-group.list-group-flush
    - action.source_project_object.repositories.each do |source_repository|
      - source_repository.release_targets.each do |release_target|
        %li.list-group-item
          Copy binaries of
          - if action.source_package_object.multibuild?
            - multibuild_binary_links = action.source_package_object.multibuild_flavors.map { |flavor| link_to("#{action.source_package}:#{flavor}",
              project_package_repository_binaries_path(project_name: action.source_project, package_name: "#{action.source_package}:#{flavor}",
              repository_name: release_target.repository.name), title: "Binaries for #{release_target.repository.name}") }
            = safe_join(multibuild_binary_links, ', ')
          - else
            = link_to(action.source_package,
                      project_package_repository_binaries_path(project_name: action.source_project, package_name: action.source_package,
                                                               repository_name: release_target.repository.name),
                                                               title: "Binaries for #{release_target.repository.name}")
          from repository
          - release_target_architectures = release_target.repository.architectures.pluck(:name)
          - release_source_architectures = release_target.target_repository.architectures.pluck(:name)
          // only the binaries for architectures set on both source and release repository are released/copied
          - matching_release_target_and_source_architectures = release_target_architectures & release_source_architectures
          = link_to(release_target.repository.name, project_repository_state_path(project: action.source_project,
                                                                                  repository: release_target.repository) )
          (#{matching_release_target_and_source_architectures.join(', ')})
          of project
          = link_to(action.source_project, project_show_path(action.source_project))
          %i.fas.fa-long-arrow-alt-right.text-info.mx-2
          Repository
          = link_to(release_target.target_repository.name, project_repository_state_path(project: action.target_project,
                                                                                         repository: release_target.target_repository) )
          (#{matching_release_target_and_source_architectures.join(', ')})
          of project
          = link_to(action.target_project, project_show_path(action.target_project))
