  <div class="dialog darkgrey_box">
    <div class="box box-shadow">
      <h2 class="box-header">Create Delete Request</h2>
      <div class="dialog-content">
        <p>Do you really want to request the deletion of <%= project_or_package_link project: @project, package: @package %>?</p>

        <%= form_tag({ action: :delete_request, project: @project }, method: :post) do %>
          <%= hidden_field_tag(:package, @package) if defined? @package %>
          <p>
            <% if defined? @package %>
              <%= label_tag(:target_project, 'In target project:') %><br/>
              <%= text_field_tag(:target_project, @project, :size => 40, :disabled => true) %><br/>
            <% end %>
            <%= label_tag(:description, 'Please explain why:') %><br/>
            <%= text_area_tag(:description, '', :size => '40x3') %>
          </p>
          <%= render partial: '/webui/shared/dialog_action_buttons' %>
        <% end %>
      </div>
    </div>
  </div>
