<%= content_for :ready_function do %>
  $('.expandable_event_comment').expander({slicePoint: 48, sliceEarlierAt: '<br>', expandText: '[+]', expandPrefix: ' ', userCollapseText: '[-]',});
<% end %>

<table>
  <tbody>
    <!-- add a history item based on the request creation information -->
    <tr>
      <td class="nowrap" style="width: 1%;">
        <%= user_with_realname_and_icon @bsreq.creator, short: true %>
      </td>
      <td>
        <span style="color: black;">created request</span>
      </td>
      <td class="nowrap" style="width: 1%;">
        <span class="hidden"><%= @bsreq.created_at.to_i %></span>
        <%= fuzzy_time(@bsreq.created_at, :with_fulltime) %>
      </td>
    </tr>
    <tr class="odd">
      <td colspan="3" class="expandable_event_comment"><pre class="plain"><%= @bsreq.description %></pre></td>
    </tr>
    <!-- and now everything from the history log -->
    <% @history.each do |element| %>
      <tr>
        <td class="nowrap" style="width: 1%;">
          <%= user_with_realname_and_icon element.user.login, short: true %>
        </td>
        <td>
          <% if element.class == HistoryElement::RequestSuperseded %>
            <%= link_to(element.description, request_show_path(element.description_extension)) %>
          <% else %>
            <span style="color: <%= element.color %>;"><%= element.description %></span>
          <% end %>
        </td>
        <td class="nowrap" style="width: 1%;">
          <span class="hidden"><%= element.created_at.to_i %></span>
          <%= fuzzy_time(element.created_at, :with_fulltime) %>
        </td>
      </tr>
      <% unless element.comment.blank? %>
        <tr class="odd">
          <td colspan="3" class="expandable_event_comment"><pre class="plain"><%= element.comment %></pre></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
