.border-bottom
  %ul.nav.scrollable-tabs.border-0#request-tabs
    %li.nav-item.scrollable-tab-link
      = link_to('Conversation', request_show_path(bs_request.number, actions_count > 1 ? action : nil),
                class: "nav-link text-nowrap #{active_tab == 'conversation' ? 'active' : ''}")
    - if action.tab_visibility.build
      %li.nav-item.scrollable-tab-link.active
        = link_to('Build Results', request_build_results_path(bs_request.number, actions_count > 1 ? action : nil),
                  class: "nav-link text-nowrap #{active_tab == 'build_results' ? 'active' : ''}")
    - if action.tab_visibility.rpm_lint
      %li.nav-item.scrollable-tab-link
        = link_to('RPM Lint', request_rpm_lint_path(bs_request.number, actions_count > 1 ? action : nil),
                  class: "nav-link text-nowrap #{active_tab == 'rpm_lint' ? 'active' : ''}")
    - if action.tab_visibility.changes
      %li.nav-item.scrollable-tab-link
        = link_to('Changes', request_changes_path(bs_request.number, actions_count > 1 ? action : nil),
                  class: "nav-link text-nowrap #{active_tab == 'changes' ? 'active' : ''}")
    - if action.tab_visibility.issues
      %li.nav-item.scrollable-tab-link
        = link_to(request_mentioned_issues_path(bs_request.number, actions_count > 1 ? action : nil),
                  class: "nav-link text-nowrap #{active_tab == 'mentioned_issues' ? 'active' : ''}") do
          Mentioned Issues
          %span.badge.text-bg-primary.align-text-top= issues.size
