.border-bottom
  %ul.nav.nav-tabs.scrollable-tabs.border-0#request-tabs
    %li.nav-item.scrollable-tab-link
      = link_to('Conversation', request_conversation_path(bs_request.number), class: 'nav-link text-nowrap')
    - if action[:sprj] || action[:spkg]
      %li.nav-item.scrollable-tab-link
        = link_to('Build Results', request_build_results_path(bs_request.number), class: 'nav-link text-nowrap')
      %li.nav-item.scrollable-tab-link
        = link_to('RPM Lint', request_rpm_lint_path(bs_request.number), class: 'nav-link text-nowrap')
    - if action[:type].in?(actions_for_diff)
      %li.nav-item.scrollable-tab-link
        = link_to('Changes', '#changes', class: 'nav-link text-nowrap')
        =# link_to('Changes', '#changes', id: 'changes-tab', class: 'nav-link text-nowrap', 'aria-controls': 'changes',
                  -# 'data-request-number': bs_request.number, 'data-request-action-id': action[:id],
                  -# 'aria-selected': 'false', 'data-bs-toggle': 'tab', role: 'tab')
    - if action[:type].in?(actions_for_diff)
      %li.nav-item.scrollable-tab-link
        = link_to('#mentioned-issues', class: 'nav-link text-nowrap') do
          Mentioned Issues
          %span.badge.bg-primary.align-text-top= issues.size
