- if requests.blank?
  %p No requests.
- else
  %table
    %tbody
      - requests.each do |req|
        %tr
          %td{ style: "border: medium none; padding: 0px;" }
            = check_box_tag('supersede_request_numbers[]', req.number, false, id: "supersede_request_numbers#{req.number}")
            = link_to(req.number, controller: :request, action: :show, number: req.number)
            by
            = user_with_realname_and_icon(req.creator, short: true)
            (#{fuzzy_time(req.created_at)})
