%hr
.media.mt-2
  = image_tag_for(element.user, size: 38, custom_class: 'mr-3')
  .media-body
    %p
      = link_to(element.user, user_path(element.user))
      - if element.instance_of?(HistoryElement::RequestSuperseded)
        = link_to(element.user_action, request_show_path(element.description_extension))
      - else
        = element.user_action
      = link_to("#status-history-#{element.id}", title: l(element.created_at.utc), name: "status-history-#{element.id}") do
        #{time_ago_in_words(element.created_at)} ago

    = render partial: 'webui/shared/collapsible_text', locals: { text: element.comment }
