%h3
  Request #{bs_request.number}
  %small
    = render BsRequestPriorityBadgeComponent.new(priority: bs_request.priority, css_class: 'ms-1', overview: true)
    = render BsRequestStateBadgeComponent.new(state: bs_request.state, css_class: 'ms-1')
  - if User.session
    .d-inline.ms-2#watchlist-icon-wrapper
      = render WatchlistIconComponent.new(user: User.session,
                                          bs_request: bs_request,
                                          current_object: bs_request)

#description-text
  - if bs_request.description.present?
    = render partial: 'webui/shared/collapsible_text', locals: { text: bs_request.description }
  - else
    %i No description set
