-# haml-lint:disable ViewLength
  This will be fixed once the request workflow redesign leaves the beta, since the alert
  at the top of the page will be removed.
:ruby
  @pagetitle = "Request #{@bs_request.number}"
  @pagetitle += ": #{@action[:name]}"
  actions_for_diff = [:submit, :delete, :maintenance_incident, :maintenance_release]

.alert.alert-info{ role: 'alert' }
  As part of the
  = succeed ',' do
    = link_to('beta program', my_beta_features_path)
  we are currently working on a
  = link_to('redesign of this page', 'https://openbuildservice.org/2022/08/15/request-workflow-redesign/')
  to help you in your daily work.
  Certain features might still be missing, but they will be implemented in the future.
  Give us feedback on this redesign at GitHub by
  = link_to('opening an issue', 'https://github.com/openSUSE/open-build-service/issues/new/choose')
  or talk to us on IRC in the
  %i #opensuse-buildservice
  on
  %i Libera.Chat
  \-
  %i The OBS team

.card
  .card-body.p-0
    .card-title.p-4.mb-0
      %h3
        Request #{@bs_request.number}
        %span.badge.ml-1{ class: "badge-#{request_badge_color(@bs_request.state)}" }
          = @bs_request.state
          - if @bs_request.superseded_by.present?
            by
            = link_to(@bs_request.superseded_by, number: @bs_request.superseded_by)
        - if @bs_request.accept_at.present?
          %span.badge.alert-warning.ml-1 auto-accept
        - if User.session
          .d-inline.align-bottom.ml-2#watchlist-icon-wrapper
            = render WatchlistIconComponent.new(user: User.session!, bs_request: @bs_request, current_object: @bs_request)

      %p.font-italic
        Created by
        = user_with_realname_and_icon(@bs_request.creator)
        = fuzzy_time(@bs_request.created_at)
        - if @bs_request.superseding.present?
          = '. Supersedes'
          - @bs_request.superseding.each do |supersed|
            = link_to "##{supersed['number']}", number: supersed['number']

        = render partial: 'actions_details', locals: { bs_request: @bs_request, action: @action, active_action: @active_action,
                                                       diff_to_superseded_id: @diff_to_superseded_id, diff_limit: @diff_limit }

    .border-bottom
      %ul.nav.nav-tabs.scrollable-tabs.border-0#request-tabs{ role: 'tablist' }
        %li.nav-item.scrollable-tab-link{ role: 'presentation' }
          = link_to('Conversation', '#conversation', id: 'conversation-tab', class: 'nav-link text-nowrap', 'aria-controls': 'conversation',
                    'aria-selected': 'false', 'data-toggle': 'tab', role: 'tab')
        - if @action[:sprj] || @action[:spkg]
          %li.nav-item.scrollable-tab-link{ role: 'presentation' }
            = link_to('Build Results', '#build-results', id: 'build-results-tab', class: 'nav-link text-nowrap', 'aria-controls': 'build-results',
                      'aria-selected': 'false', 'data-toggle': 'tab', role: 'tab')
          %li.nav-item.scrollable-tab-link{ role: 'presentation' }
            = link_to('RPM Lint', '#rpm-lint', id: 'rpm-lint-tab', class: 'nav-link text-nowrap', 'aria-controls': 'rpm-lint',
                      'aria-selected': 'false', 'data-toggle': 'tab', role: 'tab')
        - if @action[:type].in?(actions_for_diff)
          %li.nav-item.scrollable-tab-link{ role: 'presentation' }
            = link_to('Changes', '#changes', id: 'changes-tab', class: 'nav-link text-nowrap', 'aria-controls': 'changes',
                      'data-request-number': @bs_request.number, 'data-request-action-id': @action[:id],
                      'aria-selected': 'false', 'data-toggle': 'tab', role: 'tab')
        - if @action[:type].in?(actions_for_diff)
          %li.nav-item.scrollable-tab-link{ role: 'presentation' }
            = link_to('#mentioned-issues', id: 'mentioned-issues-tab', class: 'nav-link text-nowrap', 'aria-controls': 'mentioned-issues',
                      'aria-selected': 'false', 'data-toggle': 'tab', role: 'tab') do
              Mentioned Issues
              %span.badge.badge-primary.align-text-top= @issues.size
    .tab-content.p-4#request-tabs-content
      .tab-pane.fade.p-2#conversation{ 'aria-labelledby': 'conversation-tab', role: 'tabpanel' }
        = render partial: 'webui/request/beta_show_tabs/conversation',
            locals: { bs_request: @bs_request, can_add_reviews: @can_add_reviews,
                      request_reviews: @request_reviews, open_reviews_for_staging_projects: @open_reviews_for_staging_projects,
                      my_open_reviews: @my_open_reviews, package_maintainers: @package_maintainers, action: @action,
                      is_target_maintainer: @is_target_maintainer, is_author: @is_author,
                      project_maintainers: @project_maintainers, show_project_maintainer_hint: @show_project_maintainer_hint }
      - if @action[:sprj] || @action[:spkg]
        .tab-pane.fade.p-2#build-results{ 'aria-labelledby': 'build-results-tab', role: 'tabpanel' }
          = render partial: 'webui/request/beta_show_tabs/build_results', locals: { project: @staging_project || @action[:sprj],
                                                                                    package: @action[:spkg],
                                                                                    is_staged_request: @staging_project.present? }
        .tab-pane.fade.p-2#rpm-lint{ 'aria-labelledby': 'rpm-lint-tab', role: 'tabpanel' }
          = render partial: 'webui/request/beta_show_tabs/rpm_lint', locals: { project: @action[:sprj],
                                                                               package: @action[:spkg],
                                                                               is_staged_request: @staging_project.present? }
      - if @action[:type].in?(actions_for_diff)
        .tab-pane.fade.p-2#changes{ 'aria-labelledby': 'changes-tab', role: 'tabpanel' }
          = render partial: 'webui/request/beta_show_tabs/changes', locals: { bs_request: @bs_request, action: @action, refresh: @refresh }
        .tab-pane.fade.p-2#mentioned-issues{ 'aria-labelledby': 'mentioned-issues-tab', role: 'tabpanel' }
          = render partial: 'webui/request/beta_show_tabs/mentioned_issues', locals: { issues: @issues }

- content_for :ready_function do
  :plain
    var anchor = document.location.hash;
    var result = [];
    if (result = anchor.match(/^#diff_([\d]+)_n\d+$/)) {
      var file_index = result[1];
      $('.nav-tabs:not(.disable-link-generation) .nav-link[href="#changes"]').tab('show');

      $('#revision_details_' + file_index).attr('open', 'open');

      document.location.hash = anchor;
    }
    else if (anchor == '#comments-list') {
      $('#conversation-tab').tab('show');

      document.location.hash = anchor;
    }
-# haml-lint:enable ViewLength
