-# haml-lint:disable ViewLength
:ruby
  @pagetitle = "Request #{@bs_request.number}"
  @pagetitle += ": #{@action[:name]}"

= render partial: 'beta_alert', locals: { bs_request: @bs_request, action: @action }

.card
  .card-body.p-0
    = render partial: 'request_header',
        locals: { bs_request: @bs_request, staging_status: @staging_status, action: @action, active_action: @active_action,
                  prev_action: @prev_action, next_action: @next_action, supported_actions: @supported_actions,
                  diff_to_superseded_id: @diff_to_superseded_id, diff_limit: @diff_limit, page_name: '' }
    = render partial: 'request_tabs',
        locals: { actions_for_diff: @actions_for_diff, bs_request: @bs_request, action: @action, issues: @issues,
                  active_action: @active_action, actions_count: @supported_actions.count, active_tab: @active_tab }
    .container.p-4
      .row
        .col-md-12
          .d-flex.justify-content-between.mb-4
            #description-text
              - if @bs_request.description.present?
                = render partial: 'webui/shared/collapsible_text', locals: { text: @bs_request.description }
              - else
                %i No description set
      .row
        = render partial: 'webui/request/beta_show_tabs/conversation_aside',
                locals: { bs_request: @bs_request,
                  can_add_reviews: @can_add_reviews,
                  my_open_reviews: @my_open_reviews,
                  request_reviews: @request_reviews,
                  package_maintainers: @package_maintainers,
                  project_maintainers: @project_maintainers,
                  show_project_maintainer_hint: @show_project_maintainer_hint }

        .col-md-8.order-md-1.order-sm-2#comments-list
          %h4.list-group.mb-4 Comments & Request History
          .timeline.pb-2.ms-3{ data: { comment_counter: local_assigns[:comment_counter_id] } }
            .timeline-item
              .d-inline-flex
                %i.fas.fa-lg.fa-code-commit.text-dark
                - creator = User.find_by_login(@bs_request.creator) || User.nobody
                = image_tag_for(creator, size: 35, custom_class: 'rounded-circle bg-light border border-gray-400 avatars-counter')
                %p
                  = link_to(realname_with_login(creator), user_path(creator))
                  created this request
                  = link_to('#request-creation', title: I18n.l(@bs_request.created_at.utc), name: 'request-creation') do
                    = render TimeComponent.new(time: @bs_request.created_at)
                  - if @bs_request.superseding.any?
                    superseding
                    - @bs_request.superseding.each do |superseded_request|
                      = link_to("request ##{superseded_request.number}", request_show_path(superseded_request.number, anchor: 'overview'))

            - @bs_request.superseding.each do |superseding_request|
              .timeline-item.pb-4
                = link_to('#collapse-superseding', class: 'd-flex align-items-center',
                    data: { 'bs-toggle': 'collapse' },
                    aria: { expanded: false, controls: 'collapse-superseding' }) do
                  %i.timeline-break.expander>
                  %i.timeline-offset.collapser>

                  %i.fas.fa-fw.fa-chevron-right.expander.me-1{ title: 'Show history' }>
                  %i.fas.fa-fw.fa-chevron-down.collapser.me-1{ title: 'Hide history' }>
                  %span.expander
                    Expand history from superseded request ##{superseding_request.number}
                  %span.collapser
                    Collapse history from superseded request ##{superseding_request.number}
              .collapse.mb-4#collapse-superseding
                = render BsRequestActivityTimelineComponent.new(bs_request: superseding_request,
                                                                request_reviews_for_non_staging_projects: @request_reviews)

            = render BsRequestActivityTimelineComponent.new(bs_request: @bs_request,
                                                            request_reviews_for_non_staging_projects: @request_reviews)

          .comment_new
            = render partial: 'webui/comment/new', locals: { commentable: @bs_request }
          %hr

          - if @bs_request.accept_at.present?
            .alert.alert-warning.p-2
              %i.fas.fa-exclamation-triangle
              %span The current request
              - if BsRequest::FINAL_REQUEST_STATES.include?(@bs_request.state)
                %span
                  was
                  %strong auto-accepted
                  at
                  %span{ title: "#{I18n.l @bs_request.accept_at}" }
                  = succeed '.' do
                    = I18n.l @bs_request.accept_at, format: :only_date
              - elsif @bs_request.accept_at.past?
                %span
                  will be
                  %strong auto-accepted
                  after all the reviews are submitted.
              - else
                will be
                %strong auto-accepted
                = render TimeComponent.new(time: @bs_request.accept_at)

          = render AccordionReviewsComponent.new(@request_reviews, @bs_request.state, can_handle_request: policy(@bs_request).handle_request?)

          = render RequestDecisionComponent.new(bs_request: @bs_request, action: @action,
                                                is_target_maintainer: @is_target_maintainer,
                                                is_author: @is_author)
  = render DeleteConfirmationDialogComponent.new(modal_id: 'delete-comment-modal',
                                                 method: :delete,
                                                 options: { modal_title: 'Delete comment?', remote: true })
-# haml-lint:enable ViewLength
