:ruby
  @pagetitle = "Request #{@bs_request.number}"
  @pagetitle += ": #{@actions.first[:name]}" if @actions.count == 1

- if @can_add_reviews
  = render partial: 'actions'
  = render partial: 'add_reviewer_dialog'

.alert.alert-info{ role: 'alert' }
  As part of the
  = succeed ',' do
    = link_to('beta program', my_beta_features_path)
  we are currently working on a redesign of this page to help you in your daily work.
  Certain features are missing like multi-actions requests, but they will be implemented in the future.
  Give us feedback on this redesign at GitHub by
  = link_to('opening an issue', 'https://github.com/openSUSE/open-build-service/issues/new/choose')
  or talk to us on IRC in the
  %i #opensuse-buildservice
  on
  %i Libera.Chat
  \-
  %i The OBS team

.card
  .card-body.p-0
    .card-title.px-4.pt-4.mb-0
      %h3
        Request #{@bs_request.number}
        %span.badge.ml-1{ class: "badge-#{request_badge_color(@bs_request.state)}" }
          = @bs_request.state
          - if @bs_request.superseded_by.present?
            by
            = link_to(@bs_request.superseded_by, number: @bs_request.superseded_by)
    %p.font-italic.px-4
      Created by
      = user_with_realname_and_icon(@bs_request.creator)
      = fuzzy_time(@bs_request.created_at)
      - if @bs_request.superseding.present?
        = '. Supersedes'
        - @bs_request.superseding.each do |supersed|
          = link_to "##{supersed['number']}", number: supersed['number']
    %p.px-4= request_action_header(@actions.first, @bs_request.creator) # TODO: adapt when handling requests with multiple actions
    %ul.nav.nav-tabs.scrollable-tabs#request-tabs{ role: 'tablist' }
      %li.nav-item.scrollable-tab-link
        = link_to('Conversation', '#conversation', class: 'nav-link text-nowrap active', 'aria-controls': 'conversation',
                  'aria-selected': 'true', 'data-toggle': 'tab', role: 'tab')
      - if @actions.first[:sprj] || @actions.first[:spkg]
        %li.nav-item.scrollable-tab-link
          = link_to('Build Results', '#build-results', class: 'nav-link text-nowrap', 'aria-controls': 'build-results',
                    'aria-selected': 'false', 'data-toggle': 'tab', role: 'tab')
      %li.nav-item.scrollable-tab-link#changes-item{ 'data-request-number': @bs_request.number, 'data-request-action-id': @actions.first[:id] }
        = link_to('Changes', '#changes', class: 'nav-link text-nowrap', 'aria-controls': 'changes', 'aria-selected': 'false',
                  'data-toggle': 'tab', role: 'tab')
      %li.nav-item.scrollable-tab-link
        = link_to('Mentioned Issues', '#mentioned-issues', class: 'nav-link text-nowrap', 'aria-controls': 'mentioned-issues',
                  'aria-selected': 'false', 'data-toggle': 'tab', role: 'tab')
    .tab-content.p-4#request-tabs-content
      .tab-pane.fade.show.p-2.active#conversation{ 'aria-labelledby': 'conversation-tab', role: 'tabpanel' }
        = render partial: 'webui/request/beta_show_tabs/conversation',
                 locals: { bs_request: @bs_request, can_add_reviews: @can_add_reviews,
                           open_reviews: @open_reviews,
                           accepted_reviews: @accepted_reviews,
                           declined_reviews: @declined_reviews,
                           open_reviews_for_staging_projects: @open_reviews_for_staging_projects }
      - if @actions.first[:sprj] || @actions.first[:spkg]
        .tab-pane.fade.p-2#build-results{ 'aria-labelledby': 'build-results-tab', role: 'tabpanel' }
          = render partial: 'webui/request/beta_show_tabs/build_results', locals: { project: @actions.first[:sprj], package: @actions.first[:spkg] }
      .tab-pane.fade.p-2#changes{ 'aria-labelledby': 'changes-tab', role: 'tabpanel' }
        = render partial: 'webui/request/beta_show_tabs/changes'
      .tab-pane.fade.p-2#mentioned-issues{ 'aria-labelledby': 'mentioned-issues-tab', role: 'tabpanel' }
        = render partial: 'webui/request/beta_show_tabs/mentioned_issues'
