:ruby
  @pagetitle = "Request #{@bs_request.number}: #{@action.name}"

.card
  .card-body.p-0
    = render partial: 'request_header',
        locals: { bs_request: @bs_request, staging_status: @staging_status, action: @action,
                  prev_action: @prev_action, next_action: @next_action, actions: @actions,
                  diff_to_superseded_id: @diff_to_superseded_id, page_name: 'request_changes',
                  bs_requests: @watched_requests, packages: @watched_packages, projects: @watched_projects,
                  current_notification: @current_notification }
    = render partial: 'request_tabs',
        locals: { bs_request: @bs_request, action: @action, issues: @issues,
                  actions_count: @actions.count, active_tab: @active_tab }
    - if @actions.count > 1
      .mt-4
        -# action description, prev + dropdown select + next
        = render partial: 'actions_details', locals: { bs_request: @bs_request, action: @action,
                                                        prev_action: @prev_action, next_action: @next_action,
                                                        actions: @actions, diff_to_superseded_id: @diff_to_superseded_id,
                                                        page_name: 'request_changes', notification_id: @current_notification,
                                                        current_notification: @current_notification }
    .container.p-4
      .tab-content.sourcediff{ data: { url: request_action_changes_path(@bs_request.number, @action.id),
                                       diff_to_superseded_id: @diff_to_superseded_id },
                               id: 'sourcediff-container' }
        - if @action.target_releaseproject
          %p.fst-italic Release in #{project_or_package_link(project: @action.target_releaseproject)}

        .result
          = render partial: "webui/request/changes_#{@action.type}",
                   locals: { bs_request: @bs_request, action: @action,
                             diff_to_superseded: @diff_to_superseded, diff_not_cached: @diff_not_cached,
                             current_notification: @current_notification, tarlimit: @tarlimit }

  = render DeleteConfirmationDialogComponent.new(modal_id: 'delete-comment-modal',
                                                 method: :delete,
                                                 options: { modal_title: 'Delete comment?', remote: true })
