:ruby
  @pagetitle = "Request #{@bs_request.number}: #{@action.name}"

= render partial: 'beta_alert', locals: { bs_request: @bs_request, action: @action }

.card
  .card-body.p-0
    = render partial: 'request_header',
        locals: { bs_request: @bs_request, staging_status: @staging_status, action: @action,
                  prev_action: @prev_action, next_action: @next_action, actions: @actions,
                  diff_to_superseded_id: @diff_to_superseded_id, page_name: 'request_changes',
                  bs_requests: @watched_requests, packages: @watched_packages, projects: @watched_projects,
                  current_notification: @current_notification }
    = render partial: 'request_tabs',
        locals: { bs_request: @bs_request, action: @action, issues: @issues,
                  actions_count: @actions.count, active_tab: @active_tab }
    .container.p-4
      .tab-content.sourcediff{ data: { url: request_action_changes_path(@bs_request.number, @action.id),
                                       diff_to_superseded_id: @diff_to_superseded_id },
                               id: 'sourcediff-container' }
        .result
          // The content of this div is set by JavaScript which calls the partial ../_changes_content.html.haml
          = render partial: 'webui/shared/loading', locals: { text: 'Loading changes...' }

          :javascript
            loadChanges();
  = render DeleteConfirmationDialogComponent.new(modal_id: 'delete-comment-modal',
                                                 method: :delete,
                                                 options: { modal_title: 'Delete comment?', remote: true })
