:ruby
  @pagetitle = "Request #{@bs_request.number}: #{@action.name}"

= render partial: 'beta_alert', locals: { bs_request: @bs_request, action: @action }

.card
  .card-body.p-0
    = render partial: 'request_header',
        locals: { bs_request: @bs_request, staging_status: @staging_status, action: @action,
                  prev_action: @prev_action, next_action: @next_action, actions: @actions,
                  diff_to_superseded_id: @diff_to_superseded_id, page_name: 'request_rpm_lint',
                  bs_requests: @watched_requests, packages: @watched_packages, projects: @watched_projects,
                  current_notification: @current_notification }
    = render partial: 'request_tabs',
        locals: { bs_request: @bs_request, action: @action, issues: @issues,
                  actions_count: @actions.count, active_tab: @active_tab }
    .container.p-4
      - if @action.source_package
        .rpm-lint-content{ data: @ajax_data }
          .pt-1.bg-card.d-flex.flex-wrap-reverse.align-items-baseline.sticky-top
            .result
            .btn.btn-outline-primary.rpm-lint-refresh.ms-auto.mb-3{ onclick: 'updateRpmLintResultBeta()',
                                                                    accesskey: 'r', title: 'Refresh Rpm Lint Results',
                                                                    data: { rpm_lint_results_url: rpmlint_result_path } }
              Refresh
              %i.fas.fa-sync-alt{ id: 'rpm-lint-reload' }
          -# For a request staged in a staging project, we display the Build Results / RPM Lint from the staging project instead
          - if @staging_project.present?
            %p.fst-italic
              From staging project
              = link_to(@action.source_project, project_show_path(@action.source_project))
          %pre.rpmlint-result.text-pre-wrap

        :javascript
          updateRpmLintResultBeta();

      - else
        .rpm-lint-content
          .result
            %i No RPM lint results available
