:ruby
  content_for(:meta_title, "Request #{@bs_request.number} (#{@bs_request.state})")
  content_for(:meta_description, @bs_request.description)
  content_for(:meta_image, gravatar_url(User.find_by_login(@bs_request.creator).email))

- if @not_full_diff && User.session
  = render partial: 'webui/shared/truncated_diff_hint', locals: { path: request_show_path(number: @bs_request.number, full_diff: true) }

= render partial: 'superseded_by_message', locals: { superseded_by: @bs_request.superseded_by,
                                                     number: @bs_request.number,
                                                     diff_to_superseded: @diff_to_superseded,
                                                     superseding: @bs_request.superseding }
- @pagetitle = "Request #{@bs_request.number}"
.card.mb-3
  .card-header.d-flex.justify-content-between
    %h5
      Overview
  .card-body
    .row
      .col-md-8
        = render partial: 'show_overview', locals: { bs_request: @bs_request, can_add_reviews: @can_add_reviews }
      .col-md-4
        = render partial: 'show_side_links', locals: { bs_request: @bs_request, package_maintainers: @package_maintainers }
      - if @can_add_reviews
        %ul.list-inline.mb-0
          %li.list-inline-item
            = link_to('#', data: { toggle: 'modal', target: '#add-reviewer-modal' }, class: 'nav-link') do
              %i.fas.fa-plus-circle.text-primary
              Add a Review

.card.mb-3
  .bg-light
    %ul.nav.nav-tabs{ role: 'tablist' }
      - @actions.each_with_index do |action, index|
        %li.nav-item
          = link_to(action[:name], "##{valid_xml_id(action[:name])}", class: " request-tab nav-link text-nowrap #{('active' if index.zero?)}",
            data: { toggle: 'tab' }, role: 'tab')
  .card-body
    .tab-content
      = render partial: 'sourcediff_tab', collection: @actions, as: :action, locals: { bs_request: @bs_request }
.row
  .col-md-8
    .card.mb-3#comments-list
      = render partial: 'request_comments', locals: { comments: @comments, bs_request: @bs_request }
    - if @can_handle_request || (@can_add_reviews && @my_open_reviews.any?)
      .card.mb-3
        .bg-light
          %ul.nav.nav-tabs{ role: 'tablist' }
            - if @can_handle_request
              %li.nav-item
                %a.nav-link.text-nowrap.active{ href: '#decision', data: { toggle: 'tab' }, role: 'tab' }
                  My decision
            - if @can_add_reviews
              - @my_open_reviews.each_with_index do |review, index|
                %li.nav-item
                  %a.nav-link.text-nowrap{ href: "#review-#{index}", data: { toggle: 'tab' }, role: 'tab',
                    class: ('active' if index.zero? && !@can_handle_request) }
                    Review for
                    - if review.by_package
                      #{review.by_project}/#{review.by_package}
                    - else
                      = review.by_user || review.by_group || review.by_project
        .card-body
          - if @can_handle_request && @show_project_maintainer_hint
            .alert.alert-warning
              You are a <strong>project maintainer</strong> but not a <strong>package maintainer</strong>. This package
              has <strong>#{pluralize(@package_maintainers.size, 'package maintainer')}</strong> assigned. Please keep
              in mind that also package maintainers would like to review this request.
          .tab-content
            - if @can_handle_request
              .tab-pane.fade.show.active{ id: 'decision' }
                = render('decision_tab', request_number: @bs_request.number, request_creator: @bs_request.creator,
                         is_target_maintainer: @is_target_maintainer, state: @bs_request.state.to_s,
                         is_author: @is_author, single_action_request: @actions.count == 1, action: @actions.first)
            - if @can_add_reviews
              - @my_open_reviews.each_with_index do |review, index|
                .tab-pane.fade.show{ id: "review-#{index}", class: ('active' if index.zero? && !@can_handle_request) }
                  = render('review_tab', review: review, bs_request: @bs_request)

  .col-md-4
    .card
      .card-header.d-flex.justify-content-between
        %h5
          Request History
      .card-body#request-history
        = render partial: 'request_history', locals: { bs_request: @bs_request, history: @history }

- if User.session
  = render partial: 'webui/request/add_reviewer_dialog'
= render partial: 'webui/request/show_package_maintainers', locals: { package_maintainers: @package_maintainers }
