%ul.nav.nav-pills.justify-content-end
  - if User.session
    = render partial: 'layouts/webui2/logged_in_user_navigation'
  - elsif CONFIG['kerberos_mode']
    = link_to 'Log In', session_new_path
  - elsif CONFIG['proxy_auth_mode'] == :on && CONFIG['proxy_auth_register_page'].present?
    = render partial: 'layouts/webui2/login_form', locals: { signup_url: "#{CONFIG['proxy_auth_register_page']}?%22",
                                                             form_url: CONFIG['proxy_auth_login_page'],
                                                             options: { method: :post, enctype: 'application/x-www-form-urlencoded' },
                                                             proxy: true }
  - elsif can_register
    = render partial: 'layouts/webui2/login_form', locals: { signup_url: user_signup_path,
                                                             form_url: session_create_path,
                                                             options: { method: :post },
                                                             proxy: false }
