%ul.nav.nav-pills.justify-content-end
  - if User.current && !User.current.is_nobody?
    = render partial: 'layouts/webui2/logged_in_user_navigation'
  - elsif CONFIG['kerberos_mode']
    = link_to 'Log In', session_new_path
  - elsif CONFIG['proxy_auth_mode'] == :on && CONFIG['proxy_auth_register_page'].present?
    = render partial: 'layouts/webui2/proxy_auth_navigation'
  - else
    - if can_register
      = link_to 'Sign Up', user_register_user_path
      &nbsp|
    .dropdown
      = link_to('#', id: 'login-trigger', class: 'dropdown-toggle', "data-toggle": "dropdown") do
        &nbsp; Log In
      .dropdown-menu.dropdown-menu-right.shadow-lg.bg-dark{"aria-labelledby": "dropdownMenuButton", style: 'width: 350px'}
        #login-form
          = form_tag(session_create_path, class: 'px-4 py-3') do
            .form-group
              = label_tag(:username, 'Username', class: 'text-light')
              = text_field_tag(:username, nil, placeholder: 'User Name', class: 'form-control')
            .form-group
              = label_tag(:password, 'Password', class: 'text-light')
              = password_field_tag(:password, nil, placeholder: 'Password', class: 'form-control')
            .float-right
              = submit_tag('Log In', class: 'btn btn-success')
