!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    - if @metarobots
      %meta{:content => @metarobots, :name => "robots"}/
    = favicon_link_tag
    %title
      = "#{@pagetitle} - " if @pagetitle
      = @configuration ? @configuration['title'] : 'Open Build Service'
    = stylesheet_link_tag 'webui2/webui2'
    - if content_for?(:head_style)
      :css
        #{yield :head_style}
    = yield :content_for_head
    = javascript_include_tag 'webui/application'
    = javascript_include_tag 'webui2/application'
    = javascript_tag do
      = yield :head_javascript
      var _paq = _paq || [];
      $(function() {
      \#{yield :ready_function}
      - if @configuration['theme'] == 'bento'
        callPiwik();
      });
    = auto_discovery_link_tag(:rss, news_feed_path(format: 'rss'), {:title => 'News'})
    - unless CONFIG['feeds'].nil? or CONFIG['feeds'].empty?
      - CONFIG['feeds'].each do |feed|
        = auto_discovery_link_tag(:rss, feed['url'], {:title => feed['name']})
    = csrf_meta_tag
    - if User.current.try(:rss_token)
      = auto_discovery_link_tag(:rss, user_rss_notifications_url(token: User.current.rss_token.string, format: :rss), { title: 'Notifications' })
  %body
    = render 'peek/bar'
    %nav.navbar.is-dark
      .navbar-brand
        .navbar-burger.burger{"data-target" => "navbarExampleTransparentExample"}
          %span
          %span
          %span
      .navbar-menu
        .navbar-start
          = link_to image_tag('obs-logo_small.png', height: 26), root_path, { id: 'header-logo', class: 'navbar-item' }
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link{:href => "/documentation/overview/start/"}
              Downloads
            .navbar-dropdown.is-boxed
              %a.navbar-item{:href => "https://bulma.io/documentation/layout/container/"}
                Layout
              %a.navbar-item{:href => "https://bulma.io/documentation/form/general/"}
                Form
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link{:href => "/documentation/overview/start/"}
              Support
            .navbar-dropdown.is-boxed
              %a.navbar-item{:href => "https://bulma.io/documentation/layout/container/"}
                Layout
              %a.navbar-item{:href => "https://bulma.io/documentation/form/general/"}
                Form
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link{:href => "/documentation/overview/start/"}
              Comunity
            .navbar-dropdown.is-boxed
              %a.navbar-item{:href => "https://bulma.io/documentation/layout/container/"}
                Layout
              %a.navbar-item{:href => "https://bulma.io/documentation/form/general/"}
                Form
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link.without-arrow{:href => "/documentation/overview/start/"}
              Development
            .navbar-dropdown.is-boxed
              %a.navbar-item{:href => "https://bulma.io/documentation/layout/container/"}
                Layout
              %a.navbar-item{:href => "https://bulma.io/documentation/form/general/"}
                Form

        .navbar-end
          .field.is-grouped
            .navbar-item.has-dropdown.is-hoverable
              %a.navbar-link{:href => "/documentation/overview/start/"}
                Watchlist
              .navbar-dropdown.is-boxed
                %a.navbar-item{:href => "/documentation/overview/start/"}
                  Overview
                %a.navbar-item{:href => "https://bulma.io/documentation/modifiers/syntax/"}
                  Modifiers
                %a.navbar-item{:href => "https://bulma.io/documentation/columns/basics/"}
                  Columns
                %a.navbar-item{:href => "https://bulma.io/documentation/layout/container/"}
                  Layout
                %a.navbar-item{:href => "https://bulma.io/documentation/form/general/"}
                  Form
                %hr.navbar-divider/
                %a.navbar-item{:href => "https://bulma.io/documentation/elements/box/"}
                  Elements
                %a.navbar-item.is-active{:href => "https://bulma.io/documentation/components/breadcrumb/"}
                  Components
            .navbar-item
              = form_tag(search_path(project: 1, package: 1, name: 1), { id: 'global-search-form', class: 'label-overlay' }) do
                .control.has-icons-left
                  = text_field_tag 'search_text', '', id: 'search', class: 'input', placeholder: 'Search...'
                  %span.icon.is-left
                    %i.fa.fa-search
    .container.navigation-bar
      .level
        .level-left
          .level-item
            %nav.breadcrumb.is-small.has-succeeds-separator{"aria-label" => "breadcrumbs"}
              %ul
                %li
                  = sprite_tag( "home_grey", title: 'Logo')
                  = link_to "#{@configuration ? @configuration['title'] : 'Open Build Service'}", root_path
                - if @crumb_list
                  - @crumb_list.each_with_index do |link, link_index|
                    - if link.class == Array
                      - link.each_with_index do |sublink, index|
                        = ':' if index > 0
                        %li
                          = sublink
                    - else
                      - if link_index == @crumb_list.size - 1
                        %li.is-active
                          %a{ href: '#', 'aria-current': "page" }
                            = link
                      - else
                        %li
                          = link
        .level-right
          .level-item
            = render partial: 'layouts/webui2/personal_navigation'
    = render :partial => "layouts/webui2/flash", :object => flash
    .container
      = content_for?(:content) ? yield(:content) : yield
    = render partial: 'webui2/webui/shared/footer'
