!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    - if @metarobots
      %meta{:content => @metarobots, :name => "robots"}/
    = favicon_link_tag
    %title
      = "#{@pagetitle} - " if @pagetitle
      = @configuration ? @configuration['title'] : 'Open Build Service'
    = stylesheet_link_tag 'webui2/webui2'
    - if content_for?(:head_style)
      :css
        #{yield :head_style}
    = yield :content_for_head
    = javascript_include_tag 'webui/application'
    = javascript_include_tag 'webui2/application'
    = javascript_tag do
      = yield :head_javascript
      var _paq = _paq || [];
      $(function() {
      \#{yield :ready_function}
      - if @configuration['theme'] == 'bento'
        callPiwik();
      });
    = auto_discovery_link_tag(:rss, news_feed_path(format: 'rss'), {:title => 'News'})
    - unless CONFIG['feeds'].nil? or CONFIG['feeds'].empty?
      - CONFIG['feeds'].each do |feed|
        = auto_discovery_link_tag(:rss, feed['url'], {:title => feed['name']})
    = csrf_meta_tag
    - if User.current.try(:rss_token)
      = auto_discovery_link_tag(:rss, user_rss_notifications_url(token: User.current.rss_token.string, format: :rss), { title: 'Notifications' })
  %body
    = render 'peek/bar'
    = render :partial => "layouts/webui2/navigation_menu"
    .container.navigation-bar
      .level
        .level-left
          .level-item
            = render :partial => "layouts/webui2/breadcrumb"
        .level-right
          .level-item
            = render partial: 'layouts/webui2/personal_navigation'
    = render :partial => "layouts/webui2/flash", :object => flash
    .container
      = content_for?(:content) ? yield(:content) : yield
    = render partial: 'webui2/webui/shared/footer'
