<% @pagetitle = "Add Group" %>

<h2>Add group <%= params['group'] %></h2>

  <%= form_tag({:action => 'save'}, {:id => 'group_add_form'}) do %>
  <p>
  <%= label_tag :name, 'Name:' %><br/>
  <%= text_field_tag :name, nil, :placeholder => 'Name' %><br/>
  </p>
  <p>
  <%= label_tag :members, 'Members:' %><br/>
  <input type="text" id="members" name="members" style="display: none;" />
  <%= submit_tag 'Save' %>
  </p>
  <% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $("#members").tokenInput("<%= url_for :controller => 'user', :action => 'tokens' %>" ,{
                theme: "facebook",
                tokenValue: "name"
     });
  });
<% end %>
