<% @pagetitle = "Edit User Data" %>

<h2>Edit Group <%= @displayed_group.title %></h2>

<%= form_tag({:action => 'save'}, {:id => 'group_add_form'}) do %>
  <p>
  <input id="name" name="name" type="hidden" value="<%= @displayed_group.title %>" />
  <%= label_tag :members, 'Members:' %><br/>
  <input type="text" id="members" name="members" style="display: none;" />
  <%= submit_tag 'Save' %>
  </p>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $("#members").tokenInput("<%= url_for :controller => 'user', :action => 'tokens' %>" ,{
                theme: "facebook",
                tokenValue: "name",
                prePopulate: <%= raw(@members.to_json) %>
     });
  });
<% end %>
