<% if @attributes.blank? %>
    <p><em>No attributes set</em></p>
<% else %>
    <div>
      <table>
        <tr>
          <th>Attribute</th>
          <th>Values</th>
          <% unless User.current.is_nobody? %>
              <th>Actions</th>
          <% end %>
        </tr>
        <% @attributes.each do |attribute| %>
            <tr class='attribute-values'>
              <td class='<%= "#{attribute.namespace}-#{attribute.name}" %>'><%= attribute.fullname %></td>
              <td class="<%= "#{attribute.namespace}-#{attribute.name}-values" %>">
                <%= attribute.values.map{ |a| a.value }.join(', ') %>
                <%= attribute.issues.map{ |i| i.name }.join(', ') %>
              </td>
              <% unless User.current.is_nobody? %>
                  <td>
                    <%= link_to(sprite_tag('note_edit', title: 'Edit values'),
                                edit_attribs_path(:project => @project.name, :package => @package, :attribute => attribute.fullname),
                                class: 'edit-values') if attribute.values_editable? %>
                    <%= button_to('Delete attribute', attrib_path(attribute),
                                  { data: { confirm: "Really remove attribute '#{attribute.fullname}'?" },
                                    method: :delete, class: 'delete-attribute', id: "#{attribute.namespace}-#{attribute.name}-delete", title: "Delete" }) %>
                  </td>
              <% end %>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>

<% unless User.current.is_nobody? %>
    <p>
      <%= link_to(sprited_text('note_add', 'Add a new attribute'),
                  new_attribs_path(:project => @project.name, :package => @package),
                  id: 'add-new-attribute') %>
    </p>
<% end %>
