<% unless @results.nil? || @results.length < 1 %>
  <div id="search_results">
  <% @results.each do |result| %>
    <% if result[:type] == 'project' %>
      <div class="search_result">
      <% if result[:data].has_element?( 'title' ) and !result[:data].to_hash['title'].empty? %>
        <% linkname = result[:data].to_hash['title'] %>
      <% else %>
        <% linkname = result[:data].to_hash['name'] %>
      <% end %>
      <h6>
      <%= image_tag('project.png', class: 'project') %>
      <%= link_to linkname, { :controller => 'project', :action => :show, :project => result[:data],}, :title => result[:data].to_hash['name'], class: "data-title"-%>
      <span class="data-name"><%= result[:data].to_hash['name'] %></span>
      </h6>
    <% elsif result[:type] == 'package' %>
      <div class="search_result">
      <% if result[:data].has_element?( 'title' ) and !result[:data].to_hash['title'].empty? %>
        <% linkname = result[:data].to_hash['title'] -%>
      <% else %>
        <% linkname = result[:data].to_hash['name'] -%>
      <% end %>
      <h6>
      <%= image_tag('package.png', class: 'package') %>
      <%= link_to linkname, { :controller => 'package', :action => :show, :package => result[:data].name, :project => result[:data].project }, :title => result[:data].to_hash['name'], class: 'data-title'-%>
      </h6>
      <p>
      in project <span class="data-project"><%= result[:data].project %></span>
      </p>
    <% elsif result[:type] == 'owner' %>
      <div class="search_result">
      <h6>
      Responsible for package
      <%= link_to "#{result[:data].package}", { :controller => 'package', :action => :show, :package => result[:data].package, :project => result[:data].project }, class: 'package-link'-%>
      for <%= result[:data].rootproject %> in project
      <%= link_to "#{result[:data].project}", { :controller => 'project', :action => :show, :project => result[:data].project}, class: 'project-link' -%>
      </h6>
      <p>
      <% if result[:users] %>
        <% result[:users].each do |u| %>
          <%= render :partial => 'shared/user_and_role_with_realname_and_icon', :locals => {:user => u['name'], :role => u['role'] }%>
            <% if result[:users].length > 1 %>
              <br />
            <% end %>
        <% end %>
      <% end %>
      <% if result[:groups] %>
        <% result[:groups].each do |g| %>
          <%= render :partial => 'shared/user_and_role_with_realname_and_icon', :locals => {:user => g['name'], :role => g['role'] }%>
            <% if result[:groups].length > 1 %>
              <br />
            <% end %>
        <% end %>
      <% end %>
      </p>
    <% end %>
    <% if result[:data].has_element?( 'description' ) && !result[:data].description.to_s.empty? %>
      <% descr = h result[:data].description.to_s.dup[0,80] + "..." %>
    <% else %>
      <% descr = h excerpt(result[:data].description.to_s.dup, @search_text, 150 ) %>
    <% end %>
    <% if descr %>
      <p class="data-description">
      <% descr.split(/\n/).each do |line| -%>
      <%= highlight(line, @search_text) -%>
    <% end %>
      </p>
    <% end %>
    </div>
  <% end %>
  </div>
<% end %>
