<% unless @results.nil? || @results.length < 1 %>
  <div id="search_results">
  <% @results.each do |result| %>
    <% if result[:type] == 'project' %>
      <div class="search_result">
      <% if result[:data].has_element?( 'title' ) and !result[:data].to_hash['title'].empty? %>
        <% title = result[:data].to_hash['title'] %>
      <% else %>
        <% title = "" %>
      <% end %>
      <h6 class="data-title">
      <%= image_tag('project.png', class: 'project') %>
      <%= link_to result[:data].to_hash['name'], { :controller => 'project', :action => :show, :project => result[:data],}, :title => title, class: "project"-%>
      </h6>
    <% elsif result[:type] == 'package' %>
      <div class="search_result">
      <% if result[:data].has_element?( 'title' ) and !result[:data].to_hash['title'].empty? %>
        <% title = result[:data].to_hash['title'] -%>
      <% else %>
        <% title = "" -%>
      <% end %>
      <h6 class="data-title">
      <%= image_tag('package.png', class: 'package') %>
      <%= link_to result[:data].to_hash['name'], { :controller => 'package', :action => :show, :package => result[:data].name, :project => result[:data].project }, :title => title, class: 'package'-%>
      </h6>
      <% descr = "in project <span class=\"project\">#{result[:data].project}</span>" %>
    <% elsif result[:type] == 'owner' %>
      <div class="search_result">
      <h6>
      Responsible for package 
      <%= params['search_text'] %>
      for <%= result[:data].rootproject %> set in
      <%= render :partial => 'shared/project_or_package_link', :locals => {:project => result[:data].project, :package => result[:data].package, :short => false} %>
      </h6>
      <p>
      <% if result[:users] %>
        <% result[:users].each do |u| %>
          <%= render :partial => 'shared/user_and_role_with_realname_and_icon', :locals => {:user => u['name'], :role => u['role'] }%>
            <% if result[:users].length > 1 %>
              <br />
            <% end %>
        <% end %>
      <% end %>
      <% if result[:groups] %>
        <% result[:groups].each do |g| %>
          <%= render :partial => 'shared/user_and_role_with_realname_and_icon', :locals => {:user => g['name'], :role => g['role'] }%>
            <% if result[:groups].length > 1 %>
              <br />
            <% end %>
        <% end %>
      <% end %>
      </p>
    <% end %>

    <% if result[:data].has_element?( 'description' ) && !result[:data].description.to_s.empty? %>
      <% descr = h result[:data].description.to_s.dup[0,80] + "..." %>
    <% end %>
    <% if descr %>
      <p class="data-description">
      <% descr.split(/\n/).each do |line| -%>
        <%= highlight(line, @search_text) -%>
      <% end %>
      </p>
    <% else %>
      <p class="data-description">
      ...
      </p>
    <% end %>

    </div>
  <% end %>
  </div>
<% end %>
