<% unless @results.nil? || @results.length < 1 %>
  <h3><%= @pagetitle %>
  <% unless @search_text.blank? %> results for &quot;<%= @search_text -%>&quot; <% end %>
  <% unless @attribute.blank? %> with attribute &quot;<%= @attribute -%>&quot; <% end %>
  <% unless @results.nil? %>
    in <%= @search_what.join(", ").pluralize %>
    <% if @results.length > 1%>
      (<%= @results.length -%><%= "+" if @results.length == 200 %>)
    <% end %>
  <% end %>
  </h3>
  <div id="search_results">
  <% @results.each do |result| %>
    <% if result[:type] == 'project' %>
      <div class="search_result">
      <% if result[:data].has_element?( 'title' ) and !result[:data].to_hash['title'].empty? %>
        <% linkname = result[:data].to_hash['title'] %>
      <% else %>
        <% linkname = result[:data].to_hash['name'] %>
      <% end %>
      <h6>
      <%= image_tag('project.png', class: 'project') %>
      <%= link_to linkname, { :controller => 'project', :action => :show, :project => result[:data],}, :title => result[:data].to_hash['name'], class: "data-title"-%>
      <span class="data-name"><%= result[:data].to_hash['name'] %></span>
      </h6>
    <% elsif result[:type] == 'package' %>
      <div class="search_result">
      <% if result[:data].has_element?( 'title' ) and !result[:data].to_hash['title'].empty? %>
        <% linkname = result[:data].to_hash['title'] -%>
      <% else %>
        <% linkname = result[:data].to_hash['name'] -%>
      <% end %>
      <h6>
      <%= image_tag('package.png', class: 'package') %>
      <%= link_to linkname, { :controller => 'package', :action => :show, :package => result[:data].name, :project => result[:data].project }, :title => result[:data].to_hash['name'], class: 'data-title'-%>
      </h6>
      <p>
      in project <span class="data-project"><%= result[:data].project %></span>
      </p>
    <% elsif result[:type] == 'owner' %>
      <% person = result[:data].to_hash['person'] %>
      <% group = result[:data].to_hash['group'] %>
      <% if person and person.class != Array %>
        <% blah = [] %>
        <% blah << person %>
        <% person = blah %>
      <% end %>
      <% if group and group.class != Array %>
        <% blah = [] %>
        <% blah << group %>
        <% group = blah %>
      <% end %>
      <% people = [] %>
      <% people.concat(person) if person %>
      <% people.concat(group) if group %>

      <div class="search_result">
        <h6>
        Maintainer for
        <%= link_to "#{params[:search_text]}", { :controller => 'package', :action => :show, :package => params[:search_text], :project => result[:data].project }, class: 'package-link'-%>
        for <%= result[:data].rootproject %> in
        <%= link_to "#{result[:data].project}", { :controller => 'project', :action => :show, :project => result[:data].project}, class: 'project-link' -%>
        </h6>
        <p>
        <% if people %>
          <% people.each do |p| %>
            <%= render :partial => 'shared/user_with_realname_and_icon', :locals => {:user => p['name'] }%>
            <% if people.length > 1 %>
              <br />
            <% end %>
          <% end %>
        <% end %>

        </p>
        <% end %>
        <% if result[:data].has_element?( 'description' ) && !result[:data].description.to_s.empty? %>
          <% descr = h result[:data].description.to_s.dup[0,80] + "..." %>
         <% else %>
          <% descr = h excerpt(result[:data].description.to_s.dup, @search_text, 150 ) %>
        <% end %>
      <% if descr %>
        <p class="data-description">
        <% descr.split(/\n/).each do |line| -%>
          <%= highlight(line, @search_text) -%>
        <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
