
<% if @results.length > 0 %>

<% if @results.length > 200
  @results = @results[0..199] %>
  <p><i>Your search returned more than 200 results, please use a more exact search</i></p>
<% end %>

<div>
  <table cellspacing='1' id="search_result" >
    <% i = 1 %>

    <% @results.each do |result| %>

      <tr class='<% if i%2 != 0 %>odd<% end %>' valign='top'>
        <% i += 1 %>

        <td>
          <p>
          <% if result[:type] == 'project' %>

            <%= image_tag('project.png', class: 'project') %>
            <strong><%= link_to "#{result[:data].name}", { :controller => 'project',
              :action => :show, :project => result[:data] }, class: 'project-link' -%></strong>

          <% elsif result[:type] == 'package' %>

            <%= image_tag('package.png', class: 'package') %>
            <strong><%= link_to "#{result[:data].name}", { :controller => 'package',
              :action => :show, :package => result[:data], :project => result[:data].project }, class: 'package-link' -%></strong>
            (project <%= link_to result[:data].project, { :controller => 'project',
              :action => :show, :project => result[:data].project }, class: 'project-link' -%>)

          <% end %>

          <% if result[:data].has_element?( 'title' ) && !result[:data].title.to_s.empty? %>
            ( <%= highlight( result[:data].title.to_s.dup, @search_text ) -%> )
          <% end %>
         </p>

          <% if result[:data].has_element?( 'description' ) && !result[:data].description.to_s.empty? %>
            <p>
            <% descr = result[:data].description.to_s.dup[0,150] + '...' if not
            descr = excerpt(result[:data].description.to_s.dup, @search_text, 150 ) %>

            <% descr.split(/\n/).each do |line| -%>
              <%= highlight(line, @search_text) -%><br/>
            <% end %>
            </p>
          <% end %>

      </td></tr>
    <% end %>
  </table>
</div>

<% else %>
  <p><i>Your search returned no results.</i></p>
<% end %>
