<% @pagetitle = "Search" %>
<% @crumb_list = [@pagetitle] -%>

<%= content_for :ready_function do %>
  $('#search_text').focus();
  $('#advanced_link' ).click(function() {
    $('#advanced').toggle( "blind");
  });
<% end %>

<h3><%= @pagetitle %>
  <% unless @search_text.blank? %> for &quot;<%= @search_text -%>&quot; <% end %>
  <% unless @attribute.blank? %> with attribute &quot;<%= @attribute -%>&quot; <% end %>
  <% unless @results.nil? %>
    <% if @results.length > 1%> &nbsp;(
      <%= @results.length -%>
      <%= "+" if @results.length == 200 %>
    )
    <% else %>
      failed
    <% end %>
  <% end %>
</h3>

<div id="search_form">
  <%= form_tag({:controller => 'search', :action => 'index'}, {:method => :get}) do -%>
    <p>
      <%= text_field_tag 'search_text', params[:search_text], :placeholder => 'Search', :id => 'search_input' -%>
      <%= submit_tag(nil, :id => 'search_button', :title => 'Search') %>
      <a href="#" id="advanced_link">Advanced</a>
    </p>
    <p id="advanced" style="display: none; width: 100px; height: 100px; background: #ccc; border: 1px solid #000;">
    Advanced
    </p>
  <% end %>
</div>

<div id="search_results">
<% unless @results.nil? || @results.length < 1 %>
  <table>
    <% @results.each do |result| %>
    <tr class="<%= cycle('even', 'odd') -%>" valign="top">
      <td><p>
      <% if result[:type] == 'project' %>
        <%= image_tag('project.png', class: 'project') %>
        <strong>
        <%= link_to "#{result[:data].name}", { :controller => 'project', :action => :show, :project => result[:data] } -%>
        </strong>
      <% elsif result[:type] == 'package' %>
        <%= image_tag('package.png', class: 'package') %>
        <strong>
        <%= link_to "#{result[:data].name}", { :controller => 'package', :action => :show, :package => result[:data], :project => result[:data].project } -%>
        </strong>
        in project 
        <%= link_to result[:data].project, { :controller => 'project', :action => :show, :project => result[:data].project } -%>
      <% end %>
      </p>
      <% if result[:data].has_element?( 'description' ) && !result[:data].description.to_s.empty? %>
        <% descr = result[:data].description.to_s.dup[0,150] + '...' %>
      <% else %>
        <% descr = excerpt(result[:data].description.to_s.dup, @search_text, 150 ) %>
      <% end %>
      <% if descr %>
      <p>
        <% descr.split(/\n/).each do |line| -%>
          <%= highlight(line, @search_text) -%><br/>
        <% end %>
      </p>
      <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
</div>
