<% @pagetitle = "Search" %>
<% @crumb_list = [@pagetitle] -%>

<%= content_for :ready_function do %>
  $('#search_text').focus();
<% end %>

<h3>Search for Buildservice Projects or Packages</h3>

<p>To search for rpm packages to install on your system, please use the enduser search interface at
<%= link_to 'software.opensuse.org', 'http://software.opensuse.org/search' %>.</p>

<div id="search_form">
  <%= form_tag({:controller => 'search', :action => 'search'}, {:method => :get}) do -%>
    <p>

      <label for="search_text">Search term:</label> <%= text_field_tag 'search_text', params[:search_text], :size => 35 -%>
      <%= submit_tag 'Search', id: 'search-term' -%>
    </p>

    <p>
      <label for="project">Search for:</label> <%= check_box_tag('project', 1, @search_what.include?('project')) -%><label for="project">projects</label>
      <%= check_box_tag 'package', 1, @search_what.include?('package') -%><label for="package">packages</label>
      <br/>
      <label for="name">Search in:</label> <%= check_box_tag 'name', 1, true -%><label for="name">name</label>
      <%= check_box_tag 'title', 1, params[:title] -%><label for="title">title</label>
      <%= check_box_tag 'description', 1, params[:description] -%><label for="description">description</label>
      <br/>
      <label for="attribute">Require attribute:</label> <%= select_tag :attribute, options_for_select(@attribute_list, params[:attribute]) %>
      <%= hidden_field_tag 'advanced', 'on' -%>
    </p>

  <hr/>

    <p>
      Search for packages with tracker issues:
    </p>
    <p>
      <% params[:issue_tracker] = "bnc (Novell Bugzilla)" if params[:issue_tracker].nil? %> <!-- FIXME: default should become configurable on api server -->
      <%= select_tag :issue_tracker, options_for_select(@issue_tracker_list, params[:issue_tracker]) %>
      <%= text_field_tag 'issue_name', params[:issue_name], :size => 10 -%>
      <%= submit_tag 'Search', id: 'search-tracker' -%>
    </p>
  <% end -%>

</div>
