<% @pagetitle = "Search Results"
   @crumb_list = [link_to('Search', :action => :index), 'Results']
-%>

<h3><%= @pagetitle %>
  <% if !@search_text.blank? %>for &quot;<%= @search_text -%>&quot;<% end %>
  <% if !@attribute.blank? %>with attribute &quot;<%= @attribute -%>&quot;<% end %>
  <% if @results %>&nbsp;(<%= @results.length -%>)<% end %>
</h3>

<%= render :partial => 'search_result' %>
