.grid_16
  %h1
    Choose a base template

  %fieldset.templateslist
    - @projects.each do |project|
      %dl.templateslist
        %dt
          = link_to(title_or_name(project), project_show_path(project))
        - project.packages.each do |template|
          %label
            %input{ name: 'image', type: 'radio', class: 'hidden' }
            %dd
              %span.form-radio
              - if template.has_icon?
                %img{ alt: template.title, src: template.source_path('_icon'), width: 64, height: 64 }
              - else
                = image_tag('distributions/kiwi.png', width: 64, height: 64)
              %span.group
                %span.name.break-words
                  = link_to(title_or_name(template), package_show_path(project: project, package: template))
                %span.description.grey.break-words
                  = template.description
        - if project.packages.empty?
          %p
            There are currently no base image templates available for project <strong>#{title_or_name(project)}</strong>.
  - if @projects.empty?
    %p
      There are no templates yet, sorry.
