!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    - if @metarobots
      %meta{name: "robots", content: "#{@metarobots}"}
    = favicon_link_tag 'favicon.ico'
    %title
      = @configuration ? @configuration['title'] : 'Open Build Service'
      = yield :title


    = stylesheet_link_tag "webui/bratwurst"
    - if content_for?(:head_style)
      %style{type: "text/css"}
        = yield :head_style
    = yield :content_for_head

    = javascript_include_tag "webui/bratwurst"
    :javascript
      #{yield :head_javascript}
      var _paq = _paq || [];
      $(function() {
        #{yield :ready_function}
      });

    = auto_discovery_link_tag(:rss, news_feed_path(format: 'rss'), {title: 'News'})
    - if CONFIG['feeds']
      - CONFIG['feeds'].each do |feed|
        = auto_discovery_link_tag(:rss, feed['url'], {title: feed['name']})

    = csrf_meta_tag

  %body
    #wrap
      = render partial: "layouts/webui/navbar"
      .container
        #content
          - if flash
            = render partial: "layouts/webui/alert", flash: flash
          = content_for?(:content) ? yield(:content) : yield
    #footer
      .container
        = render partial: "layouts/webui/footer"
