.modal.fade#change-devel-request-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'change-devel-request-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      = form_tag(change_devel_request_path(project: project, package: package), method: :post) do
        .modal-header
          %h5.modal-title Change Devel Project Request
        .modal-body
          %p
            -# FIXME: get rid of this helper
            Do you want to request to change the devel project for #{package_link(package)} from
            \#{project_or_package_link(project: package.develpackage.project.name)}?
          .form-group
            = label_tag(:devel_project, 'New Devel project (leave free to delete the current one):')
            = text_field_tag(:devel_project, '', required: true, class: 'form-control')
          .form-group
            = label_tag(:description, 'Description:')
            = text_area_tag(:description, '', row: 3, class: 'form-control')
        .modal-footer
          = render partial: 'webui2/shared/dialog_action_buttons'

:javascript
  autocompleteDevelProject('#{autocomplete_projects_path}');
