= form_tag({ action: 'changerequest' }, id: 'request_handle_form') do
  = hidden_field_tag(:number, request_number)
  %p
    = text_area_tag(:reason, nil, placeholder: 'Please add a comment', row: 4, class: 'w-100 form-control')
  - if state.in?(['new', 'review']) && maintainer_option && !action[:creator_is_target_maintainer]
    .custom-control.custom-checkbox
      = check_box_tag('add_submitter_as_maintainer_0', "#{action[:tprj]}_#_#{action[:tpkg]}", false, class: 'custom-control-input')
      %label.custom-control-label{ for: 'add_submitter_as_maintainer_0' }
        Add #{link_to(request_creator, user_show_path(request_creator))} as maintainer for
        #{project_or_package_link(project: action[:tprj], package: action[:tpkg], short: true)}
  %hr
  - if state.in?(['new', 'review'])
    - confirmation = (state == 'review' ? { confirm: 'Do you really want to approve this request, despite of open review requests?' } : {})
    = submit_tag 'Accept request', name: 'accepted', class: 'btn btn-primary', data: confirmation
    - unless is_author
      = submit_tag 'Decline request', name: 'declined', class: 'btn btn-danger'
  - if is_author && state.in?(['new', 'review', 'declined'])
    = submit_tag 'Revoke request', name: 'revoked', class: 'btn btn-danger'
  - if state == 'declined'
    = submit_tag 'Reopen request', name: 'new', class: 'btn btn-warning'
