- if requests.blank?
  %p No requests.
- else
  %ul.list-unstyled
    - requests.each_with_index do |req, index|
      %li
        .custom-control.custom-checkbox
          = check_box_tag('supersede_request_numbers[]', req.number, false,
            id: "supersede_request_numbers#{req.number}", class: 'custom-control-input')
          = label_tag("supersede_request_numbers#{index + 1}", class: 'custom-control-label') do
            = link_to(req.number, controller: :request, action: :show, number: req.number)
            by
            = user_with_realname_and_icon(req.creator, short: true)
            = surround '(', ')' do
              %u{ title: l(req.created_at.utc) }
                #{time_ago_in_words(req.created_at)} ago
