.media.mt-2
  = image_tag_for(element.user, size: 32, custom_class: 'mr-3')
  .media-body
    %h6.mt-0.mb-1
      #{element.user.login} (#{fuzzy_time(element.created_at)})

    - if element.class == HistoryElement::RequestSuperseded
      = link_to(element.description, request_show_path(element.description_extension))
    - else
      = simple_format(element.description, class: 'mb-2')
    .text-muted
      = render partial: 'webui/webui/collapsible_text', locals: { text: element.comment }
