= form_tag(action: 'modify_review') do
  = hidden_field_tag('request_number', bs_request.number)
  = hidden_review_payload(review)
  %p
    = user_name_with_icon(User.find_by(login: review[:who]))
    requested:
  .ml-4
    %p
      #{simple_format(review_request_reason(bs_request, review))}
  %p
    = text_area_tag('comment', review[:reason], rows: 4, class: 'w-100 form-control', placeholder: 'Please comment on your decision')
  %p
    = submit_tag 'Approve', name: 'new_state', title: 'Give this request your blessing, it will continue.', class: 'btn btn-primary mr-2'
    = submit_tag 'Disregard', name: 'new_state', title: 'Veto this request, it will be declined.', class: 'btn btn-danger'
