= form_tag(action: 'modify_review') do
  = hidden_field_tag('request_number', bs_request.number)
  = hidden_review_payload(review)
  - if review[:creator]
    %p
      = user_name_with_icon(User.find_by(login: review[:creator]))
      requested:
    .ml-4
      %p= simple_format(review[:reason] || 'No reason given')
  %p
    = text_area_tag('comment', '', rows: 4, class: 'w-100 form-control', placeholder: 'Please comment on your decision')
  %p
    = submit_tag 'Approve', name: 'new_state', title: 'Give this request your blessing, it will continue.', class: 'btn btn-primary mr-2'
    = submit_tag 'Disregard', name: 'new_state', title: 'Veto this request, it will be declined.', class: 'btn btn-danger'
