.row
  .col
    %b
      = request_action_header(action, request_creator)
- if action[:type] == :maintenance_incident && action[:releaseproject]
  %i
    Release in #{action[:releaseproject]}
%hr
.row
  - (action[:sourcediff] || []).each do |sourcediff|
    .col-md-8
      - if sourcediff[:error]
        %p
          %i.error
            = sourcediff[:error]
      - else
        - if action[:sourcediff].length > 1
          %h4
            #{diff_label(sourcediff['new'])} – #{diff_label(sourcediff['old'])}
        - files = sourcediff['files']
        - diff = diff_data(action[:type], sourcediff)
        - if sourcediff['filenames'].present?
          - sourcediff['filenames'].each_with_index do |filename, file_index|
            .mb-2
              = render partial: 'webui2/webui/package/revision_diff_detail',
                locals: { project: diff[:project],
                package: diff[:package],
                filename: filename,
                file: files[filename],
                diff_content: files[filename].dig('diff', '_content'),
                revision: diff[:rev],
                index: file_index,
                last: sourcediff['filenames'].last == filename }
        - else
          .mb-2
            %p.lead
              No source changes.
    .col-md-4
      = render partial: 'webui2/shared/buildresult_box', locals: { project: action[:sprj], package: action[:spkg], index: index }
      - if sourcediff['issues'].present?
        = render partial: 'issues_table', locals: { issues: sourcediff['issues'] }
