.card.mb-3
  .card-header.d-flex.justify-content-between
    %h5
      Overview
  .card-body
    -# description content
.card.mb-3
  .card-header.d-flex.justify-content-between
    %h5
      Diff
  .card-body
    - @actions.each_with_index do |action, action_index|
      - action[:sourcediff].each do |sourcediff|
        .row
          .col-md-8
            Diff content
          .col-md-4
            = render partial: 'webui2/shared/buildresult_box', locals: { project: action[:sprj], package: action[:spkg], index: action_index }
            - if sourcediff['issues'].present?
              = render partial: 'issues_table', locals: { issues: sourcediff['issues'] }
.row
  .col-md-8
    .card
      .card-header.d-flex.justify-content-between
        %h5
          Comments for request #{@number} (#{@comments.size})
      .card-body#comments
        = render partial: 'webui2/webui/comment/show', locals: { commentable: @bs_request }
  .col-md-4
    .card
      .card-header.d-flex.justify-content-between
        %h5
          Request History
      .card-body
        -# History content
