:ruby
  content_for(:content_for_head, javascript_include_tag('webui2/cm2/index-diff'))
  content_for(:meta_title, "Request #{@bs_request.number} (#{@bs_request.state})")
  content_for(:meta_description, @bs_request.description)
  content_for(:meta_image, gravatar_url(User.find_by_login(@bs_request.creator).email))

- if @not_full_diff
  = render partial: 'webui2/shared/truncated_diff_hint', locals: { path: request_show_path(number: @bs_request.number, full_diff: true) }

= render partial: 'superseded_by_message', locals: { superseded_by: @bs_request.superseded_by,
                                                     number: @bs_request.number,
                                                     diff_to_superseded: @diff_to_superseded,
                                                     superseding: @bs_request.superseding }
- @pagetitle = "Request #{@bs_request.number}"
.card.mb-3
  .card-header.d-flex.justify-content-between
    %h5
      Overview
  .card-body
    .row
      .col-md-8
        %h3
          Request #{@bs_request.number} (#{@bs_request.state})
      .col-md-4
        = render partial: 'show_side_links', locals: { bs_request: @bs_request, package_maintainers: @package_maintainers }

.card.mb-3
  .bg-light
    %ul.nav.nav-tabs{ role: 'tablist' }
      - @actions.each_with_index do |action, index|
        %li.nav-item
          = link_to(action[:name], "##{valid_xml_id(action[:name])}", class: " request-tab nav-link text-nowrap #{('active' if index.zero?)}",
            data: { toggle: 'tab' }, role: 'tab')
  .card-body
    .tab-content
      - @actions.each_with_index do |action, index|
        .tab-pane.fade.show{ id: valid_xml_id(action[:name]), class: ('active' if index.zero?) }
          = render('sourcediff_tab', action: action, request_creator: @bs_request.creator, index: index)

.card.mb-3
  .card-body
    .media
      = request_user_image_tag(User.find_by(login: @bs_request.creator))
      .media-body
        %p
          = link_to(@bs_request.creator, user_show_path(@bs_request.creator))
          opened the request
          %span{ title: l(@bs_request.created_at.utc) }
            #{time_ago_in_words(@bs_request.created_at)} ago
          #description-text
            - if @bs_request.description.present?
              = render partial: 'webui/webui/collapsible_text', locals: { text: @bs_request.description }
            - else
              %i No description set

    - @events.each do |event|
      - if event.is_a?(Comment)
        = render partial: 'webui2/webui/comment/content', locals: { comment: event, commentable: @bs_request, level: 1 }
      - elsif event.is_a?(HistoryElement::Base)
        - history_type = event.class.to_s.gsub('HistoryElement::', '').underscore
        = render partial: "webui2/webui/request/history_#{history_type}", locals: { history_element: event, request: @bs_request }
      - elsif event.is_a?(Review)
        %hr
        = render partial: 'webui2/webui/request/review', locals: { review: event, request: @bs_request }

    - if @can_add_reviews
      %ul.list-inline.mb-0
        %li.list-inline-item
          = link_to(add_reviewer_dialog_path(number: @bs_request.number),
                    data: { toggle: 'modal', target: '#add-reviewer-modal' }, class: 'nav-link') do
            %i.fas.fa-plus-circle.text-primary
            Add a Review

- if User.session
  = render partial: 'webui2/webui/request/add_reviewer_dialog'
= render partial: 'webui2/webui/request/show_package_maintainers', locals: { package_maintainers: @package_maintainers }

= content_for :ready_function do
  :plain
    $('.request-tab').on('shown.bs.tab', function() {
      editors.forEach( function(editor) { editor.refresh(); cmMarkDiffLines(); });
    });
