
<div style="margin-left: 15px;">
<% @binaries.map{|binary| binary.split(/-/)[0..-3].join('-')}.uniq.each do |binary| %> 
  <% key = "binary_#{binary}".gsub(/[:\.]/, '_')  %>
  <div id="<%= key %>">
  <%= image_tag("package.png", :title => "Package") %>
  <input type="hidden" name="binaries[]" value="<%= "#{@package}/#{binary}" %>" /> <%= binary %>
  <a href="#" onclick="remove_element('<%= key %>'); return false;">
  <%= image_tag("package_delete.png", :title => "Remove Package") %></a>
  </div>
<% end %>
</div>
