<% @pagetitle = "Driver Update Disk Wizard" %>

<% package_bread_crumb 'Edit Package Information' -%>
<%= render :partial => "package/tabs" %>

<% content_for :content_for_head do %>
  <%= javascript_include_tag 'jquery.autocomplete.pack' %>
  <%= stylesheet_link_tag 'jquery.autocomplete' %>
<% end %>

<% content_for :ready_function do %> 
  $("#target_project").autocomplete('<%= url_for :controller => :project, :action => :autocomplete_projects %>',
  { minChars: 2, matchCase: true, max: 50 } );

  $('#target_project').result(function(event, data, formatted) {
  if (data) {
  $('#target_repo').html('');
  $.ajax({ url: '<%= url_for :controller => :project, :action => :autocomplete_repositories %>',
  data: {project: $("#target_project").attr('value')},
  success: function(data){
  $('#target_repo').removeAttr('disabled');
  $.each(data.split('\n'), function(idx, val) {
  $('#target_repo').append( new Option( val ) );
  });
  }});
  }
  });

  $("#target_package").autocomplete('<%= url_for :controller => :project, :action => :autocomplete_packages %>', {
  matchCase: true, max: 50,
  extraParams: {
  projects: function() { return $("#inst_repos > div > p > :input").attr('value'); }
  }
  });

  $("#add_repo_toggle").click(function () {
  $("#add_repository").show();
  $("#add_repo_toggle").hide();
  });

  remove_repo = function(key) {
  $("#" + key).remove();
  }

  create_repo_line = function() {
  var project = $("#target_project").attr('value')
  var repo = $("#target_repo").attr('value')
  var key = (project + '_' + repo).replace(/[:\.]/g,'_')
  var html = '<div id="' + key +'"><p><%= image_tag("project.png", :title => "Project") %> ' + project + ' / ' + repo;
  var html = html + '<input type="hidden" name="projects[]" value="' + project + '/' + repo + '" />';
  var html = html + ' <a href="#" onclick="remove_repo(\'' + key + '\')"><%= image_tag("icons/drive_delete.png", :title => "Remove Repository") %></a></p></div>';
  return html;
  }

  $("#add_repo").click(function () {
  $("#no_inst_repos").hide();
  $("#inst_repos").append( create_repo_line() )
  $("#add_repository").hide();
  $("#add_repo_toggle").show();
  });

<% end -%>

<h2>Driver update disk wizard</h2>

<p>This editor helps to create the configuration for a <a href="http://en.opensuse.org/Libzypp/Products/DuD/Installation">driver update disk</a>.
  It will store it's settings in the _service file which generates the full kiwi config on the build server or
  your workstation when using osc.</p>


<% form_tag :controller => "driver_update", :action => "save" do %>


  <h2>Installation repositories:</h2>

  <div id="inst_repos">
    <% @repositories.each do |repo| %>
      <% key = "#{repo[:project]}_#{repo[:repo]}".gsub(/[:\.]/, '_')  %>
      <div id="<%= key %>"><p><%= image_tag("project.png", :title => "Project") %> <%= repo[:project] %> / <%= repo[:repo] %>
          <input type="hidden" name="projects[]" value="<%= "#{repo[:project]}/#{repo[:repo]}" %>" />
          <a href="#" onclick="remove_repo('<%= key %>');"><%= image_tag("icons/drive_delete.png", :title => "Remove Repository") %></a></p></div>
    <% end %>
    <% if @repositories.blank? %>
      <div id="no_inst_repos"><p><i>No installation repositories configured yet.</i></p></div>
    <% end %>
  </div>


  <div id="add_repo_toggle"><p>
      <%= image_tag("icons/drive_add.png", :title => "Add Repository") %>
      <%= link_to 'Add repository', '#' %>
    </p></div>

  <div id="add_repository" class="show_left box show_right" style="display: none">
    <p><strong>Project: </strong><%= text_field_tag 'target_project', '', :size => 60, :id => 'target_project' %> <i>(gets auto-completed)</i> </p>
    <p><strong>Repository: </strong>
      <%= select_tag "target_repo", "<option value=''></option>", :id => 'target_repo', :disabled => true %>
    </p> <p>
      <strong>Architectures: </strong>
      <% VISIBLE_ARCHITECTURES.each do |arch| %>
        <%= check_box_tag "arch[#{arch}]", "", (DEFAULT_ENABLED_ARCHITECTURES.include? arch) %><%=arch%>
      <% end %>
    </p>
    <div id="add_repo"><p>
        <%= image_tag("icons/drive_add.png", :title => "Add Repository") %>
        <%= link_to 'Add this repository', '#' %>
      </p>
    </div>
  </div>


  <h2>Choose packages: </h2>


  <div id="inst_packs">
    <% @packages.each do |pack| %>
    <div id="pack"><p>- <%= pack %></p></div>
    <% end %>
    <% if @packages.blank? %>
    <div id="no_inst_packs"><p><i>No packages selected for installation yet.</i></p></div>
    <% end %>
  </div>

  <p><strong>Add package: </strong><%= text_field_tag 'target_package', '', :size => 60, :id => 'target_package' %> <i>(gets auto-completed)</i> </p>


  <p>
    <%= submit_tag "Generate kiwi file" %>
    <%= hidden_field_tag 'project', @project.name %>
  </p>
<% end %>



