<div class="box box-shadow">
  <h2 class="box-header">System Status</h2>
  <% if @busy %>
      <div class="aligncenter" id="overallgraph" style="height:250px; margin: 0px 20px 20px 20px"></div>
      <p class="description">
        The above graphs show the number of active build jobs last week,
        currently <%= @building_workers %> of <%= @overall_workers %> build hosts
        are busy building packages.
        At the moment <%= @waiting_packages %> packages are waiting on the different architectures.
      </p>
  <% end %>

  <p class="description">
    <%= @configuration['title'] %> hosts <b><%= number_with_delimiter @project_count %></b> projects, with
    <b><%= number_with_delimiter @package_count %></b> packages, in
    <b><%= number_with_delimiter @repo_count %></b> repositories
    and is used by <b><%= number_with_delimiter @user_count %></b> confirmed developers.
  </p>
</div>

<% content_for :ready_function do %>
    plotbusyworkers(<%= Webui::MonitorHelper.print_statistics_array(@busy) %>);
<% end %>

