<% @pagetitle = "Repositories of #{@project.name}"
   @metarobots = 'noindex'
   project_bread_crumb 'Repositories' %>

<%= render :partial => 'tabs' %>

<h3><%= @pagetitle %></h3>
<p>You can configure individual flags for this project here.</p>

<% if @project.has_element? :repository %>
  <!-- renders each line in flag table, excepting the 'all' row -->
  <% @project.each_repository do |repository| %>
    <% repository_id = valid_xml_id(repository.name) %>
    <div style="margin-bottom: 1.2em" id="<%= valid_xml_id(repository.name) %>">
      <div style="margin-left: 15px">
        <strong><%= link_to(repository.name, :action => 'repository_state', :project => @project, :repository => repository) %></strong>
        <i>(<%= repository.each_arch.join(', ') %>)</i>
      </div>
      <div style="margin-left: 30px">
        <% begin -%>
          <% repository.each_path do |path| %>
            <% if path.project == 'deleted' %>
              <%= sprite_tag 'exclamation' %> Target repository has been removed
            <% else %>
              <span><%= path.project + '/' + path.repository %></span><br/>
            <% end %>
          <% end -%>
        <% rescue; end %>

        <div style="margin-top: 1em">
          <% if User.current.can_modify_project?(@project.api_obj) %>
            <%= sprite_tag('drive_edit') %>
            <%= link_to('Edit repository', {:action => :edit_repository, :project => @project, :repository => repository.name}, :id => "edit_repository_link_#{repository_id}", :remote => true) %>
            <% content_for :ready_function do %>
              $('#edit_repository_link_<%= repository_id %>').bind('ajax:success', function (event, data, status, xhr) {
                $("#<%= repository_id %>").html(data);
              });
            <% end %>
            <%= sprite_tag('drive_delete') %>
            <%= link_to('Delete repository', {action: :remove_target, project: @project, target: repository.name},
			{data: { confirm: "Really remove repository '#{repository.name}'?"}, class: 'x', method: :post}) %>
          <% elsif @user %>
            <%= sprite_tag('drive_delete', title: 'Delete repository') %>
            <%= link_to('Request repository deletion', {:action => :remove_target_request_dialog, :project => @project, :repository => repository.name}, :remote => true) %>
          <% end %>
          <%= render :partial => 'shared/download_repository_link', :locals => {:project => @project, :repository => repository} %>
          <% if repository.releasetarget and repository.releasetarget.trigger == "manual" %>
            <%= sprite_tag('flag_green') %>
            <%= link_to('Release repository', {:action => :release_repository_dialog, :project => @project, :repository => repository.name}, :remote => true) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if User.current.can_modify_project?(@project.api_obj) %>
  <p>
    <%= link_to(sprite_tag('drive_add', title: 'Add repository'), :action => 'add_repository_from_default_list', :project => @project) %>
    <%= link_to('Add repositories', :action => 'add_repository_from_default_list', :project => @project) %>
  </p>
<% end %>

<%= render :partial => 'shared/repositories', :locals => { :obj => @project } %>

