
<h3 class="centered">Welcome to Open Build Service <%= @configuration['title'] %></h3>


<% if !session[:login] -%>
  <p class="centered">Please <%= link_to 'login', {:controller => :user, :action => :login}, 'data-rel' => "dialog", 'data-transition' => "slideup" %> with your openSUSE account.</p>
<% end %>


<% if session[:login] -%>
  <%= link_to 'My Projects', {:controller => "home", :action => :list_my}, 'data-transition' => "slide", 'data-icon' => "grid", 'data-role' => "button" %>

  <%= link_to "Requests (#{@nr_requests_that_need_work})", {:controller => "home", :action => :requests}, 'data-transition' => "slide", 'data-icon' => "grid", 'data-role' => "button" %>

<% end %>


<% if @anonymous_forbidden.nil? %>
  <%= link_to 'List of All Projects', {:controller => "project", :action => :list_public}, 'data-transition' => "slide", 'data-icon' => "grid", 'data-role' => "button" %>
  <!-- <%= link_to 'Search', {:controller => 'search', :action => 'index'}, 'data-transition' => "slide", 'data-icon' => "grid", 'data-role' => "button" %>
  <%= link_to 'Status Monitor', {:controller => "monitor", :action => :index}, 'data-transition' => "slide", 'data-icon' => "grid", 'data-role' => "button" %> -->
<% end %>

<p/>
<%= link_to "Switch To Desktop View", {:controller => "main", :action => :index, :force_view => 'normal'}, :rel => "external", 'data-role' => "button" %>

